Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

fix(coordinator): surface socket-listener errors before exiting
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(coordinator): lift retention into FCIS domain + route through SQLite
  src/commands/hooks/jobs.rs
  src/coordinator/domain/mod.rs
  src/coordinator/domain/retention.rs
  src/coordinator/log_store.rs
  src/log_clean.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(coordinator): drop meta.json from production paths
  src/commands/hooks/jobs.rs
  src/coordinator/adapters/sqlite_store.rs
  src/coordinator/log_store.rs
  src/coordinator/process.rs
  src/executor/log_sink.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): persist condition-skipped jobs through the JobsStorePort
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(hooks): rewire log-cleanup scenarios off meta.json onto SQLite
  tests/manual/scenarios/hooks/bg-output-silent.yml
  tests/manual/scenarios/hooks/log-cleanup-dry-run.yml
  tests/manual/scenarios/hooks/log-cleanup-honors-keep-last.yml
  tests/manual/scenarios/hooks/log-cleanup-respects-retention.yml
  tests/manual/scenarios/hooks/log-cleanup-skips-running.yml
  tests/manual/scenarios/hooks/log-cleanup-stale-running-detected.yml
  tests/manual/scenarios/hooks/prune-dry-run-invocations.yml
Due: prettier-format

fix(coordinator): drop dead pid assignment from background job seed
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(coordinator): replace stale redb references with sqlite
  src/commands/hooks/jobs.rs
  src/coordinator/process.rs
  src/core/worktree/prune.rs
  src/executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(commands): rename load_redb_job_meta_index → load_sqlite_job_meta_index
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(store): add CI grep-gate enforcing no format! in src/store/repos/
  mise-tasks/lint/repos-no-format
  mise-tasks/lint/rust
Due: none

perf(test-runner): parallelize YAML scenario execution
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/main.rs
  xtask/src/manual_test/env.rs
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(bench): scaling sweep for the manual-test runner (#510, #509)
  benches/README.md
  benches/baselines/test-manual-scale-2026-05-17.md
  benches/scenarios/test_manual_scale.sh
  mise-tasks/bench/tests/manual/scale
  mise-tasks/bench/tests/manual/scale-baseline
  mise-tasks/bench/tests/manual/scale-compare
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

ci(test-runner): run YAML manual tests with --jobs $(nproc)
  .github/workflows/test.yml
Due: prettier-format

fix(test-runner): suppress orphan log-clean spawns in test env
  xtask/src/manual_test/env.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf(test-runner): parallelize YAML scenario execution (#515)
  .github/workflows/test.yml
  Cargo.lock
  benches/README.md
  benches/baselines/test-manual-scale-2026-05-17.md
  benches/scenarios/test_manual_scale.sh
  mise-tasks/bench/tests/manual/scale
  mise-tasks/bench/tests/manual/scale-baseline
  mise-tasks/bench/tests/manual/scale-compare
  xtask/Cargo.toml
  xtask/src/main.rs
  xtask/src/manual_test/env.rs
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(cli): add top-level -C <path> flag with git semantics
  src/cli/argv.rs
  src/cli/mod.rs
  src/commands/complete.rs
  src/commands/completions/mod.rs
  src/commands/config/mod.rs
  src/commands/docs.rs
  src/commands/doctor.rs
  src/commands/dump_store.rs
  src/commands/hooks/mod.rs
  src/commands/layout.rs
  src/commands/multi_remote.rs
  src/commands/release_notes.rs
  src/commands/repo/mod.rs
  src/commands/repo/remove.rs
  src/commands/setup.rs
  src/commands/shared.rs
  src/commands/shell_init.rs
  src/commands/shortcuts.rs
  src/lib.rs
  src/log_clean.rs
  src/main.rs
  src/trust_prune.rs
  src/update_check.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(test-runner): extract daft::styles into term-styles workspace crate
  Cargo.lock
  Cargo.toml
  src/styles.rs
  term-styles/Cargo.toml
  term-styles/src/lib.rs
  xtask/Cargo.toml
  xtask/src/manual_test/interactive.rs
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(cli): cover -C end-to-end across YAML, integration, wrapper
  src/commands/shell_init.rs
  tests/integration/test_shell_init.sh
  tests/manual/scenarios/global-flags/c-basic.yml
  tests/manual/scenarios/global-flags/c-cd-redirect.yml
  tests/manual/scenarios/global-flags/c-compose.yml
  tests/manual/scenarios/global-flags/c-empty-noop.yml
  tests/manual/scenarios/global-flags/c-hooks-from-new-cwd.yml
  tests/manual/scenarios/global-flags/c-missing.yml
  tests/manual/scenarios/global-flags/c-relative.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor(test-runner): introduce CommandExecutor port at runner/daft seam
  xtask/src/manual_test/daft_executor.rs
  xtask/src/manual_test/executor.rs
  xtask/src/manual_test/interactive.rs
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/runner.rs
  xtask/src/manual_test/sandbox.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(test-runner): add FakeExecutor proving the runner/daft seam holds
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(cli): document -C across completions, man, help, skill, docs site
  SKILL.md
  docs/.vitepress/config.ts
  docs/cli/daft.md
  docs/worktrees/from-anywhere.md
  man/daft.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(test-runner): pass step cwd to CommandExecutor
  xtask/src/manual_test/daft_executor.rs
  xtask/src/manual_test/executor.rs
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(cli): -C trailing-no-arg exits 2 (was 1), drop unused install_for_tests
  src/cli/mod.rs
  tests/manual/scenarios/global-flags/c-missing.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(claude): document the YAML test runner port architecture
  CLAUDE.md
Due: prettier-format

docs(claude): trim YAML test runner section to non-deducible intent
  CLAUDE.md
Due: prettier-format

test(test-runner): regression test for step.cwd plumbing
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(test-runner): use tempfile for sandbox base dirs in daft_executor tests
  xtask/src/manual_test/daft_executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(test-runner): drop spurious daft_dev_build cfg from term-styles
  term-styles/Cargo.toml
Due: none

refactor(test-runner): use to_string_lossy for PATH construction
  xtask/src/manual_test/daft_executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(test-runner): drop Vec<char> allocation in Sandbox::expand_vars
  xtask/src/manual_test/sandbox.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(test-runner): introduce CommandExecutor port at runner/daft seam (#521)
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  src/styles.rs
  term-styles/Cargo.toml
  term-styles/src/lib.rs
  xtask/Cargo.toml
  xtask/src/manual_test/daft_executor.rs
  xtask/src/manual_test/env.rs
  xtask/src/manual_test/executor.rs
  xtask/src/manual_test/interactive.rs
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/runner.rs
  xtask/src/manual_test/sandbox.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(shell-init): surface error on trailing `daft -C`; drop tautological grep
  src/commands/shell_init.rs
  tests/integration/test_shell_init.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(release-plz): give term-styles its own tag namespace
  release-plz.toml
Due: none

chore(release-plz): give term-styles its own tag namespace (#528)
  release-plz.toml
Due: none

feat(exec): add --show-output to dump captured output for successful worktrees
  docs/cli/git-worktree-exec.md
  man/daft-exec.1
  man/git-worktree-exec.1
  src/commands/exec.rs
  src/core/worktree/exec/list_renderer.rs
  src/core/worktree/exec/mod.rs
  tests/manual/scenarios/worktree-exec/show-output-success-dump.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format
