Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

feat: add daft config remote-sync command with TUI
  src/commands/config/mod.rs
  src/commands/config/remote_sync.rs
  src/commands/mod.rs
  src/git/config.rs
  src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add daft doctor check for remote-sync configuration
  src/commands/doctor.rs
  src/doctor/repository.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: register daft config in help, completions, and man pages
  man/daft-config.1
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  src/suggest.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: add YAML scenarios for local-first behavior and flag overrides
  mise-tasks/setup/rust
  tests/manual/scenarios/branch-delete/local-first-remove.yml
  tests/manual/scenarios/branch-delete/local-flag.yml
  tests/manual/scenarios/branch-delete/remote-flag.yml
  tests/manual/scenarios/checkout/local-first-checkout.yml
  tests/manual/scenarios/checkout/local-first-start.yml
  tests/manual/scenarios/checkout/local-flag.yml
Due: prettier-format

docs: document local-first remote sync settings and config command
  SKILL.md
  docs/.vitepress/config.ts
  docs/cli/daft-config.md
  docs/cli/daft-go.md
  docs/cli/daft-remove.md
  docs/cli/daft-start.md
  docs/guide/configuration.md
Due: prettier-format

fix: update integration tests and CLI docs for local-first defaults
  docs/cli/daft-config.md
  tests/integration/test_checkout.sh
  tests/integration/test_config.sh
Due: prettier-format

fix: update tests for local-first defaults (no fetch/push by default)
  tests/manual/scenarios/checkout/direnv.yml
  tests/manual/scenarios/checkout/local-first-start.yml
  tests/manual/scenarios/checkout/local-flag.yml
  tests/manual/scenarios/config/remote-custom.yml
Due: prettier-format

fix: set layout in init unit tests to avoid prompt hang
  src/commands/init.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add layout prompt to init command, shared with clone
  src/commands/clone.rs
  src/commands/init.rs
  src/hints.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: validate init inputs before layout prompt
  src/commands/init.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add layout prompt to init command (#338)
  src/commands/clone.rs
  src/commands/init.rs
  src/hints.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(man): add 5 missing commands to xtask man page generation
  docs/cli/daft-hooks.md
  docs/cli/daft-multi-remote.md
  docs/cli/daft-setup.md
  docs/cli/daft-shell-init.md
  docs/cli/daft-shortcuts.md
  man/daft-hooks.1
  man/daft-multi-remote.1
  man/daft-setup.1
  man/daft-shell-init.1
  man/daft-shortcuts.1
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(man): generate top-level daft.1 man page
  man/daft.1
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(cli): render subcommand details in CLI reference pages
  docs/cli/daft-hooks.md
  docs/cli/daft-layout.md
  docs/cli/daft-multi-remote.md
  docs/cli/daft-shared.md
  docs/cli/daft-shortcuts.md
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(cli-docs): render subcommand long_about text
  docs/cli/daft-hooks.md
  docs/cli/daft-multi-remote.md
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs: add See Also links between setup, shortcuts, and shell-init
  docs/cli/daft-setup.md
  docs/cli/daft-shell-init.md
  docs/cli/daft-shortcuts.md
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs: add top-level daft.1 man page and close man page gaps (#340)
  docs/cli/daft-hooks.md
  docs/cli/daft-layout.md
  docs/cli/daft-multi-remote.md
  docs/cli/daft-setup.md
  docs/cli/daft-shared.md
  docs/cli/daft-shell-init.md
  docs/cli/daft-shortcuts.md
  man/daft-hooks.1
  man/daft-multi-remote.1
  man/daft-setup.1
  man/daft-shell-init.1
  man/daft-shortcuts.1
  man/daft.1
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test: add regression test for --remote delete without local branch
  tests/manual/scenarios/branch-delete/remote-only-no-local.yml
Due: prettier-format

fix: allow --remote delete when local branch does not exist
  src/core/worktree/branch_delete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: add edge-case test for --remote with nonexistent remote branch
  tests/manual/scenarios/branch-delete/remote-only-nonexistent.yml
Due: prettier-format

chore: add implementation plan for remote-only delete fix
  docs/superpowers/plans/2026-03-28-remote-only-delete-without-local-branch.md
Due: prettier-format

fix: allow --remote delete when local branch does not exist (#341)
  docs/superpowers/plans/2026-03-28-remote-only-delete-without-local-branch.md
  src/core/worktree/branch_delete.rs
  tests/manual/scenarios/branch-delete/remote-only-no-local.yml
  tests/manual/scenarios/branch-delete/remote-only-nonexistent.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: prevent auto-upstream tracking on new local-first branches
  src/core/worktree/checkout_branch.rs
  src/git/remote.rs
  tests/manual/scenarios/checkout-branch/no-auto-upstream.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: use --no-track instead of post-hoc upstream removal
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  src/git/remote.rs
  src/git/worktree.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: prevent auto-upstream tracking on new local-first branches (#342)
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  src/git/worktree.rs
  tests/manual/scenarios/checkout-branch/no-auto-upstream.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(shared): add collection execution logic for sync
  src/commands/shared.rs
  src/core/shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: add syntect dependency for syntax highlighting
  Cargo.toml
Due: none

feat(shared): add uncollected file detection logic
  src/core/shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared): add interactive collect picker TUI
  src/output/tui/collect_picker/highlight.rs
  src/output/tui/collect_picker/input.rs
  src/output/tui/collect_picker/mod.rs
  src/output/tui/collect_picker/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(shared): add integration tests for sync collection
  tests/manual/scenarios/shared/sync-collect-materialize.yml
  tests/manual/scenarios/shared/sync-collect-stub.yml
  tests/manual/scenarios/shared/sync-collect.yml
Due: prettier-format

feat(shared): sync detects uncollected files and launches interactive picker
  src/commands/shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared): add collect picker state machine with tests
  src/output/tui/collect_picker/highlight.rs
  src/output/tui/collect_picker/input.rs
  src/output/tui/collect_picker/mod.rs
  src/output/tui/collect_picker/render.rs
  src/output/tui/collect_picker/state.rs
  src/output/tui/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(shared): resolve daft.yml from worktree root with project root fallback
  src/commands/shared.rs
  src/core/shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared): highlight .env files as shell syntax in preview
  src/output/tui/collect_picker/highlight.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared): add arrow/hl navigation to confirmation dialogs
  src/output/tui/collect_picker/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: require hjkl navigation in all TUI interfaces
  CLAUDE.md
Due: prettier-format

docs: add implementation plan for sync declared-collect feature
  docs/superpowers/plans/2026-03-28-sync-declared-collect.md
Due: prettier-format

fix(shared): remove stubbing, add directory preview in collect picker
  src/core/shared.rs
  src/output/tui/collect_picker/render.rs
  src/output/tui/collect_picker/state.rs
  tests/manual/scenarios/shared/sync-collect-stub.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(shared): materialization control, review fixes, help legend
  src/commands/shared.rs
  src/core/shared.rs
  src/output/tui/collect_picker/input.rs
  src/output/tui/collect_picker/render.rs
  src/output/tui/collect_picker/state.rs
  tests/manual/scenarios/shared/sync-collect-sibling.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format
