Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

test(run): cover the parallel and needs DAG cancel short-circuits
  src/executor/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(run): forward words after the task name as task arguments
  SKILL.md
  daft.yml
  docs/cli/daft-run.md
  docs/hooks/yaml-reference.md
  man/daft-run.1
  src/commands/run.rs
  src/core/worktree/exec/mod.rs
  src/utils.rs
  test-plans/tasks-daft-run.md
  tests/integration/test_run.sh
  tests/manual/scenarios/run/args-forwarding.yml
  tests/manual/scenarios/run/unknown-task.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(run): restamp the daft-run man page to the 1.22.0 base
  man/daft-run.1
Due: none

feat(completions): rich repo-aware completion for daft start
  src/commands/checkout.rs
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  tests/integration/test_completions.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(start): decide the two-name guess local-first and fail closed
  docs/cli/daft-start.md
  man/daft-start.1
  src/commands/checkout.rs
  src/core/repo.rs
  tests/manual/scenarios/checkout-branch/start-local-first.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(start): document the positional repo target and relax the grammar rule
  CLAUDE.md
  SKILL.md
  docs/cli/daft-start.md
  docs/graph/concepts.md
  docs/graph/coordinated-changes.md
  docs/graph/index.md
  docs/graph/repo-catalog.md
Due: prettier-format

fix(completions): count positional slots and stop guessing without context
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  tests/integration/test_completions.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(start): teach the local-first precedence and the fail-closed probe
  CLAUDE.md
  SKILL.md
  docs/graph/repo-catalog.md
Due: prettier-format

feat(start): accept a positional repo target (daft start <repo> <branch> [base]) (#731)
  CLAUDE.md
  SKILL.md
  docs/cli/daft-start.md
  docs/graph/concepts.md
  docs/graph/coordinated-changes.md
  docs/graph/index.md
  docs/graph/repo-catalog.md
  man/daft-start.1
  src/commands/checkout.rs
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  src/core/repo.rs
  tests/integration/test_completions.sh
  tests/integration/test_shell_init.sh
  tests/manual/scenarios/checkout-branch/start-cross-repo-errors.yml
  tests/manual/scenarios/checkout-branch/start-cross-repo-untrusted.yml
  tests/manual/scenarios/checkout-branch/start-cross-repo-with-related.yml
  tests/manual/scenarios/checkout-branch/start-cross-repo.yml
  tests/manual/scenarios/checkout-branch/start-local-first.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(git): allow --force-with-lease on set-upstream pushes
  src/commands/multi_remote.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/push.rs
  src/core/worktree/rename.rs
  src/git/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(output): ResolveWorktree stage on the rail
  src/core/stage.rs
  src/output/timeline/plan.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(push): daft push — run pre-push hooks in the pushed branch's worktree
  Cargo.toml
  dist-workspace.toml
  docs/cli/git-worktree-push.md
  docs/cli/git-worktree-sync.md
  flake.nix
  man/daft-push.1
  man/git-worktree-push.1
  mise-tasks/setup/_rust_symlink_lib.sh
  src/commands/docs.rs
  src/commands/mod.rs
  src/commands/push.rs
  src/doctor/installation.rs
  src/lib.rs
  src/main.rs
  src/shortcuts.rs
  src/suggest.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(completions): complete daft push
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(push): scenarios + integration suite
  tests/integration/test_all.sh
  tests/integration/test_framework.sh
  tests/integration/test_push.sh
  tests/manual/scenarios/push/cwd-runs-in-target-worktree.yml
  tests/manual/scenarios/push/force-with-lease.yml
  tests/manual/scenarios/push/gate-rejected.yml
  tests/manual/scenarios/push/multi-ref-rejected.yml
  tests/manual/scenarios/push/no-verify-bypasses.yml
  tests/manual/scenarios/push/no-worktree-plain-push.yml
  tests/manual/scenarios/push/sets-upstream.yml
Due: prettier-format

docs(push): daft-push verb page, SKILL.md register, hooks pointer, sidebar
  SKILL.md
  docs/.vitepress/config.ts
  docs/cli/daft-push.md
  docs/hooks/index.md
Due: prettier-format

fix(push): address xhigh review — validation, attribution, packaging
  SKILL.md
  docs/.vitepress/config.ts
  docs/cli/daft-push.md
  docs/cli/git-worktree-push.md
  docs/getting-started/installation.md
  docs/reference/configuration.md
  man/daft-push.1
  man/git-worktree-push.1
  packaging/aur/PKGBUILD
  packaging/deb/postinst
  packaging/deb/prerm
  src/commands/complete.rs
  src/commands/push.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/push.rs
  src/git/config.rs
  src/git/worktree.rs
  src/output/timeline/mod.rs
  tests/integration/test_push.sh
  tests/manual/scenarios/push/honors-branch-upstream-remote.yml
  tests/manual/scenarios/push/no-arg-pushes-current-branch.yml
  tests/manual/scenarios/push/rejects-non-branch-ref.yml
  tests/manual/scenarios/push/stale-worktree-falls-back.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(integration): fail-closed __dirs preflight so bash suites can't leak into the real catalog
  mise-tasks/test/integration/matrix
  mise-tasks/test/integration/verbose
  tests/integration/test_all.sh
  tests/integration/test_framework.sh
Due: none

test(integration): fail-closed __dirs preflight so bash suites can't leak into the real catalog (#739)
  mise-tasks/test/integration/matrix
  mise-tasks/test/integration/verbose
  tests/integration/test_all.sh
  tests/integration/test_framework.sh
Due: none

feat(git): graduate gitoxide backend to stable (default on; flag becomes opt-out)
  .github/workflows/test.yml
  benches/README.md
  benches/bench_framework.sh
  benches/scenarios/vs_competition.sh
  docs/about/contributing.md
  docs/reference/configuration.md
  mise-tasks/test/integration/gitoxide
  mise-tasks/test/integration/subprocess
  src/commands/branch_delete.rs
  src/commands/carry.rs
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/exec.rs
  src/commands/fetch.rs
  src/commands/flow_adopt.rs
  src/commands/flow_eject.rs
  src/commands/init.rs
  src/commands/prune.rs
  src/commands/repo/remove.rs
  src/commands/sync.rs
  src/commands/worktree_branch.rs
  src/core/settings.rs
  src/git/mod.rs
  tests/README.md
  tests/integration/test_framework.sh
  tests/manual/scenarios/checkout/gitoxide-opt-out.yml
  tests/manual/scenarios/clone/no-experimental-notice.yml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(git): gate the gix ls-remote arm on refspec coverage, not presence
  src/git/mod.rs
  src/git/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(git): keep remote probes CLI-backed where the gix arm answers a different question
  src/git/mod.rs
  src/git/oxide.rs
  src/git/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(git): drop the dead remote-probe chain and its local-ref fast path
  src/git/mod.rs
  src/git/oxide.rs
  src/git/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(git): keep single-ref existence probes on the CLI arm
  src/core/remote.rs
  src/git/mod.rs
  src/git/oxide.rs
  src/git/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(config): honor a repo-local gitoxide opt-out; rename the key off experimental
  .github/workflows/test.yml
  benches/bench_framework.sh
  docs/reference/configuration.md
  src/commands/flow_adopt.rs
  src/commands/flow_eject.rs
  src/commands/layout.rs
  src/commands/repo/remove.rs
  src/core/settings.rs
  src/git/oxide.rs
  tests/integration/test_framework.sh
  tests/manual/scenarios/checkout/gitoxide-opt-out.yml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(config): make the backend matrix key drift-proof
  src/core/settings.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(git): graduate gitoxide backend to stable (default on; flag becomes opt-out) (#734)
  .github/workflows/test.yml
  benches/README.md
  benches/bench_framework.sh
  benches/scenarios/vs_competition.sh
  docs/about/contributing.md
  docs/reference/configuration.md
  mise-tasks/test/integration/gitoxide
  mise-tasks/test/integration/subprocess
  src/commands/branch_delete.rs
  src/commands/carry.rs
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/exec.rs
  src/commands/fetch.rs
  src/commands/flow_adopt.rs
  src/commands/flow_eject.rs
  src/commands/init.rs
  src/commands/layout.rs
  src/commands/prune.rs
  src/commands/repo/remove.rs
  src/commands/sync.rs
  src/commands/worktree_branch.rs
  src/core/remote.rs
  src/core/settings.rs
  src/git/mod.rs
  src/git/oxide.rs
  src/git/remote.rs
  tests/README.md
  tests/integration/test_framework.sh
  tests/manual/scenarios/clone/no-experimental-notice.yml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(output): flip rail density live, with a fold-out for finished rows
  src/output/timeline/mod.rs
  src/output/timeline/rail_hook.rs
  src/output/timeline/region.rs
  src/output/timeline/thread_block.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(output): make rail verbosity one live-readable flag
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/exec.rs
  src/commands/push.rs
  src/commands/worktree_branch.rs
  src/core/worktree/exec/rail_presenter.rs
  src/output/timeline/bridge.rs
  src/output/timeline/mod.rs
  src/output/timeline/rail_hook.rs
  src/output/timeline/region.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(output): PTY coverage for the live verbose toggle, plus docs
  docs/cli/git-worktree-exec.md
  docs/reference/progress-timeline.md
  man/daft-exec.1
  man/git-worktree-exec.1
  src/commands/exec.rs
  test-plans/rail-verbose-toggle.md
  tests/integration/pty_run.py
  tests/integration/test_all.sh
  tests/integration/test_exec_verbose_toggle.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(output): only note a density flip when it heads a fold-out
  docs/reference/progress-timeline.md
  src/output/timeline/mod.rs
  src/output/timeline/region.rs
  test-plans/rail-verbose-toggle.md
  tests/integration/test_exec_verbose_toggle.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(output): read `v` from the rail's terminal to toggle verbosity live
  Cargo.toml
  src/executor/command.rs
  src/output/term_guard.rs
  src/output/timeline/key_listener.rs
  src/output/timeline/mod.rs
  src/output/timeline/region.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(output): pin TERM so the live rail renders under CI's PTY
  tests/integration/test_exec_verbose_toggle.sh
Due: none

feat(output): live v toggle for verbose output on the plan-execute rail (#740)
  Cargo.toml
  docs/cli/git-worktree-exec.md
  docs/reference/progress-timeline.md
  man/daft-exec.1
  man/git-worktree-exec.1
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/exec.rs
  src/commands/push.rs
  src/commands/worktree_branch.rs
  src/core/worktree/exec/rail_presenter.rs
  src/executor/command.rs
  src/output/term_guard.rs
  src/output/timeline/bridge.rs
  src/output/timeline/key_listener.rs
  src/output/timeline/mod.rs
  src/output/timeline/rail_hook.rs
  src/output/timeline/region.rs
  src/output/timeline/thread_block.rs
  test-plans/rail-verbose-toggle.md
  tests/integration/pty_run.py
  tests/integration/test_all.sh
  tests/integration/test_exec_verbose_toggle.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(prune): detect squash merges whose diff drifted from the branch
  src/core/worktree/merged.rs
  src/git/mod.rs
  src/git/refs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(prune): cover context-drifted squash end to end; document detection
  docs/cli/git-worktree-prune.md
  man/daft-prune.1
  man/git-worktree-prune.1
  src/commands/prune.rs
  tests/manual/scenarios/prune/prune-removes-context-drifted-squash.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(prune): accept a branch the forge proves merged
  src/commands/branch_delete.rs
  src/commands/forge_cache.rs
  src/commands/merge.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/commands/sync_shared.rs
  src/commands/worktree_branch.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/merged.rs
  src/core/worktree/ports.rs
  src/core/worktree/prune.rs
  src/forge/github.rs
  src/forge/gitlab.rs
  src/forge/info.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(integration): restore the state-guard escape hatch and quiet its self-test
  tests/integration/test_all.sh
  tests/integration/test_framework.sh
Due: none

fix(prune): address code-review findings in squash-merge detection
  docs/cli/git-worktree-prune.md
  man/daft-prune.1
  man/git-worktree-prune.1
  src/commands/forge_cache.rs
  src/commands/prune.rs
  src/core/worktree/merged.rs
  src/core/worktree/ports.rs
  src/git/mod.rs
  src/git/refs.rs
  src/lib.rs
  src/test_support.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format
