Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

feat(hooks): OS-variant run map for polymorphic platform targeting (#254)
  daft.yml
  src/commands/hooks/run_cmd.rs
  src/hooks/conditions.rs
  src/hooks/executor.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_loader.rs
  src/hooks/yaml_config_validate.rs
  src/hooks/yaml_executor/command.rs
  src/hooks/yaml_executor/dependency.rs
  src/hooks/yaml_executor/mod.rs
  src/hooks/yaml_executor/parallel.rs
  src/hooks/yaml_executor/sequential.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: downgrade version from 1.1.0 to 1.0.31
  CHANGELOG.md
  Cargo.toml
  man/daft-adopt.1
  man/daft-carry.1
  man/daft-clone.1
  man/daft-eject.1
  man/daft-fetch.1
  man/daft-go.1
  man/daft-init.1
  man/daft-prune.1
  man/daft-release-notes.1
  man/daft-remove.1
  man/daft-start.1
  man/git-worktree-branch-delete.1
  man/git-worktree-branch.1
  man/git-worktree-carry.1
  man/git-worktree-checkout.1
  man/git-worktree-clone.1
  man/git-worktree-fetch.1
  man/git-worktree-flow-adopt.1
  man/git-worktree-flow-eject.1
  man/git-worktree-init.1
  man/git-worktree-prune.1
Due: prettier-format

fix(hooks): canonicalize git_dir in checkout commands for trust lookup
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): propagate skip_reason correctly in CommandBridge
  src/core/progress.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): show untrusted-hooks notice in checkout/start commands
  src/commands/checkout.rs
  src/core/progress.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: write go auto-start implementation plan
  docs/plans/2026-02-23-go-auto-start-design.md
Due: prettier-format

feat: wire up auto-start fallback and three-section error in go command
  src/commands/checkout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add go auto-start design document
  docs/plans/2026-02-23-go-auto-start-design.md
Due: prettier-format

refactor: introduce CheckoutError typed error for checkout
  src/core/worktree/checkout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: add generic find_similar for branch name suggestions
  docs/cli/git-worktree-checkout.md
  man/daft-go.1
  man/daft-start.1
  man/git-worktree-checkout.1
  src/commands/checkout.rs
  src/core/settings.rs
  src/core/worktree/checkout.rs
  src/suggest.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor: address code review findings
  src/commands/checkout.rs
  src/core/worktree/checkout.rs
  src/suggest.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: add integration tests for go auto-start and error messages
  tests/integration/test_checkout.sh
Due: none

docs: update help text, man pages, and docs for go auto-start
  SKILL.md
  docs/cli/daft-go.md
  docs/cli/git-worktree-checkout.md
  docs/guide/configuration.md
  man/daft-go.1
  man/daft-start.1
  man/git-worktree-checkout.1
  src/commands/checkout.rs
  src/core/settings.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(completions): add option completions for verb aliases (go, start, carry, fetch)
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): resolve hooks not executing on first run after upgrade (#259)
  src/commands/checkout.rs
  src/core/progress.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(go): auto-start worktrees and improved branch-not-found errors (#257)
  SKILL.md
  docs/cli/daft-go.md
  docs/cli/git-worktree-checkout.md
  docs/guide/configuration.md
  docs/plans/2026-02-23-go-auto-start-design.md
  man/daft-go.1
  man/daft-start.1
  man/git-worktree-checkout.1
  src/commands/checkout.rs
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/core/settings.rs
  src/core/worktree/checkout.rs
  src/suggest.rs
  tests/integration/test_checkout.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(release-notes): render PR links as clickable blue terminal hyperlinks
  src/commands/release_notes.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(release-notes): skip empty Unreleased section in output
  src/commands/release_notes.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(release-notes): improve link rendering and skip empty sections (#260)
  src/commands/release_notes.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add shell completions maintenance instructions to CLAUDE.md
  CLAUDE.md
Due: prettier-format

fix(completions): replace hardcoded fetch with update in shell completions
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(update): rename daft fetch to daft update and add refspec argument
  SKILL.md
  docs/.vitepress/config.ts
  docs/cli/daft-fetch.md
  docs/cli/daft-update.md
  docs/cli/git-worktree-fetch.md
  docs/guide/configuration.md
  man/daft-fetch.1
  man/daft-update.1
  src/commands/completions/mod.rs
  src/commands/docs.rs
  src/commands/fetch.rs
  src/commands/shell_init.rs
  src/core/settings.rs
  src/core/worktree/fetch.rs
  src/git/remote.rs
  src/lib.rs
  src/main.rs
  src/suggest.rs
  tests/integration/test_fetch.sh
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(update): rename daft fetch to daft update with refspec support (#261)
  CLAUDE.md
  SKILL.md
  docs/.vitepress/config.ts
  docs/cli/daft-fetch.md
  docs/cli/daft-update.md
  docs/cli/git-worktree-fetch.md
  docs/guide/configuration.md
  man/daft-fetch.1
  man/daft-update.1
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  src/commands/fetch.rs
  src/commands/shell_init.rs
  src/core/settings.rs
  src/core/worktree/fetch.rs
  src/git/remote.rs
  src/lib.rs
  src/main.rs
  src/suggest.rs
  tests/integration/test_fetch.sh
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(go): add `daft go -` to toggle between previous worktrees
  SKILL.md
  docs/cli/daft-go.md
  docs/cli/git-worktree-checkout.md
  man/daft-go.1
  man/daft-start.1
  man/git-worktree-checkout.1
  src/commands/checkout.rs
  src/core/worktree/mod.rs
  src/core/worktree/previous.rs
  tests/integration/test_checkout.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(go): add `daft go -` to toggle between previous worktrees (#262)
  SKILL.md
  docs/cli/daft-go.md
  docs/cli/git-worktree-checkout.md
  man/daft-go.1
  man/daft-start.1
  man/git-worktree-checkout.1
  src/commands/checkout.rs
  src/core/worktree/mod.rs
  src/core/worktree/previous.rs
  tests/integration/test_checkout.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: add `daft rename` / `git worktree-rename` command
  docs/.vitepress/config.ts
  docs/cli/daft-rename.md
  docs/cli/git-worktree-branch.md
  docs/cli/git-worktree-checkout.md
  docs/cli/git-worktree-rename.md
  man/daft-rename.1
  man/git-worktree-rename.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  src/commands/mod.rs
  src/commands/rename.rs
  src/core/worktree/mod.rs
  src/core/worktree/rename.rs
  src/git/branch.rs
  src/git/remote.rs
  src/lib.rs
  src/main.rs
  src/shortcuts.rs
  src/suggest.rs
  tests/integration/test_all.sh
  tests/integration/test_rename.sh
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor: move `daft branch move` to `daft multi-remote move`
  docs/.vitepress/config.ts
  docs/cli/daft-branch.md
  docs/cli/daft-multi-remote.md
  docs/guide/configuration.md
  src/commands/branch.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  src/commands/mod.rs
  src/commands/multi_remote.rs
  src/main.rs
  src/suggest.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: add rename to shell wrappers for cd support
  src/commands/shell_init.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: consolidate `daft rename` into `git worktree-branch -m`
  docs/.vitepress/config.ts
  docs/cli/daft-rename.md
  docs/cli/git-worktree-branch.md
  docs/cli/git-worktree-checkout.md
  docs/cli/git-worktree-rename.md
  man/daft-remove.1
  man/daft-rename.1
  man/git-worktree-branch.1
  man/git-worktree-rename.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  src/commands/mod.rs
  src/commands/rename.rs
  src/commands/shell_init.rs
  src/commands/worktree_branch.rs
  src/main.rs
  src/shortcuts.rs
  src/suggest.rs
  tests/integration/test_rename.sh
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: make daft remove and daft rename first-class commands
  man/daft-rename.1
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/shell_init.rs
  src/commands/worktree_branch.rs
  src/lib.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(remove): use -f for force delete in daft remove
  docs/cli/daft-remove.md
  src/commands/worktree_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(completions): use inline branch completion for rename verb alias
  src/commands/completions/bash.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(remove): allow -D force delete via daft remove
  src/commands/worktree_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(shell-init): resolve daft binary eagerly before function shadows it
  src/commands/shell_init.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(remove): dedicated RemoveArgs for daft remove with -f flag
  docs/cli/git-worktree-branch.md
  man/daft-remove.1
  src/commands/worktree_branch.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor: decouple daft remove/rename from git-worktree-branch Args
  src/commands/worktree_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: show "daft remove" not "daft-remove" in usage and man pages
  man/daft-remove.1
  man/daft-rename.1
  src/commands/worktree_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(shell-init): use daft-remove/daft-rename symlinks in shell wrappers
  .github/workflows/test-homebrew.yml
  .github/workflows/test.yml
  Cargo.toml
  dist-workspace.toml
  docs/getting-started/installation.md
  flake.nix
  mise-tasks/dev/clean
  mise-tasks/setup/rust
  packaging/aur/PKGBUILD
  packaging/deb/postinst
  packaging/deb/prerm
  src/commands/shell_init.rs
  src/doctor/installation.rs
  src/main.rs
  tests/integration/test_framework.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(sync): add daft sync / git sync command
  .github/workflows/test-homebrew.yml
  .github/workflows/test.yml
  docs/cli/git-sync.md
  docs/cli/git-worktree-fetch.md
  docs/cli/git-worktree-prune.md
  man/daft-sync.1
  man/git-sync.1
  mise-tasks/setup/rust
  packaging/aur/PKGBUILD
  packaging/deb/postinst
  packaging/deb/prerm
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  src/commands/mod.rs
  src/commands/shell_init.rs
  src/commands/sync.rs
  src/doctor/installation.rs
  src/lib.rs
  src/main.rs
  src/shortcuts.rs
  src/suggest.rs
  tests/integration/test_all.sh
  tests/integration/test_sync.sh
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format
