Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

ci: add area:governor label zone for the new governor module
  .github/labeler.yml
Due: prettier-format

feat(list): daft.list.sizeConcurrency config + DAFT_SIZE_WALK_JOBS
  docs/reference/configuration.md
  src/commands/clone.rs
  src/commands/list.rs
  src/commands/list_live.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/commands/sync_shared.rs
  src/core/settings.rs
  src/core/worktree/list.rs
  src/core/worktree/list_stream.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

perf(list): route all size walks through the shared bounded walker
  src/commands/repo/list.rs
  src/core/worktree/list.rs
  src/core/worktree/list_stream.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(size-walk): shared bounded parallel directory-size walker
  src/core/mod.rs
  src/core/size_walk.rs
  src/core/worktree/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(store): worktree_sizes + repo_sizes tables for the size cache
  src/catalog/service.rs
  src/store/migrate.rs
  src/store/migrations/005_worktree_sizes.sql
  src/store/migrations/catalog/002_repo_sizes.sql
  src/store/mod.rs
  src/store/models/mod.rs
  src/store/models/repo_size.rs
  src/store/models/worktree_size.rs
  src/store/repos/mod.rs
  src/store/repos/repo_sizes.rs
  src/store/repos/worktree_sizes.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(repo-list): tri-state Size cell for the catalog live table
  src/output/tui/catalog_table.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(list): tri-state Size cell (loading | stale | fresh) plumbing
  src/output/tui/live_table.rs
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(list): stale-then-refresh Size cache for daft list
  src/commands/list_live.rs
  src/commands/mod.rs
  src/commands/size_cache.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(repo-list): stale-then-refresh Size cache for daft repo list
  src/commands/repo/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(size-cache): dump-store read paths + persistence scenarios
  src/commands/dump_store.rs
  tests/manual/scenarios/list/size-cache-persist.yml
  tests/manual/scenarios/repo/size-cache-persist.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(list): warm the size cache from blocking and piped runs too
  src/commands/list.rs
  src/commands/repo/list.rs
  src/core/worktree/cell_cache.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(skill): document daft.list.sizeConcurrency config key
  SKILL.md
Due: prettier-format

fix(size-walk): report None for an unreadable root, not a poison 0
  src/commands/repo/list.rs
  src/commands/size_cache.rs
  src/core/size_walk.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(size-cache): path-guard the seed, skip sandboxes, evict on repo removal
  src/catalog/service.rs
  src/commands/list.rs
  src/commands/list_live.rs
  src/commands/size_cache.rs
  src/store/repos/worktree_sizes.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(size-cache): fail fast on the persist write so list can't hang
  src/commands/size_cache.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(repo-list): honor daft.list.sizeConcurrency
  docs/reference/configuration.md
  src/commands/repo/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(list): fast, shared, stale-then-refresh size walk for --columns +size (#706)
  SKILL.md
  docs/reference/configuration.md
  src/catalog/service.rs
  src/commands/clone.rs
  src/commands/dump_store.rs
  src/commands/list.rs
  src/commands/list_live.rs
  src/commands/mod.rs
  src/commands/prune.rs
  src/commands/repo/list.rs
  src/commands/size_cache.rs
  src/commands/sync.rs
  src/commands/sync_shared.rs
  src/core/mod.rs
  src/core/settings.rs
  src/core/size_walk.rs
  src/core/worktree/cell_cache.rs
  src/core/worktree/list.rs
  src/core/worktree/list_stream.rs
  src/output/tui/catalog_table.rs
  src/output/tui/live_table.rs
  src/output/tui/render.rs
  src/store/migrate.rs
  src/store/migrations/005_worktree_sizes.sql
  src/store/migrations/catalog/002_repo_sizes.sql
  src/store/mod.rs
  src/store/models/mod.rs
  src/store/models/repo_size.rs
  src/store/models/worktree_size.rs
  src/store/repos/mod.rs
  src/store/repos/repo_sizes.rs
  src/store/repos/worktree_sizes.rs
  tests/manual/scenarios/list/size-cache-persist.yml
  tests/manual/scenarios/repo/size-cache-persist.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore: bump MSRV 1.94 → 1.95
  .github/dependabot.yml
  .github/workflows/test.yml
  Cargo.toml
  README.md
  docs/getting-started/installation.md
  mise.lock
  mise.toml
  term-styles/Cargo.toml
Due: prettier-format

chore: bump MSRV 1.94 → 1.95 (#713)
  .github/dependabot.yml
  .github/workflows/test.yml
  Cargo.toml
  README.md
  docs/getting-started/installation.md
  mise.lock
  mise.toml
  term-styles/Cargo.toml
Due: prettier-format

deps(deps): bump sysinfo from 0.38.4 to 0.39.6
  Cargo.lock
  Cargo.toml
Due: none

docs: rewrite SKILL.md around the short-verb register
  CLAUDE.md
  SKILL.md
Due: prettier-format

feat: daft skill command group with embedded agent skill
  .github/labeler.yml
  docs/cli/git-daft-skill-install.md
  docs/cli/git-daft-skill-show.md
  man/git-daft-skill-install.1
  man/git-daft-skill-show.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  src/commands/mod.rs
  src/commands/skill/install.rs
  src/commands/skill/mod.rs
  src/commands/skill/show.rs
  src/lib.rs
  src/main.rs
  src/skill.rs
  src/suggest.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(doctor): agent-skill freshness check with --fix
  src/commands/doctor.rs
  src/doctor/installation.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: skill scenarios + real-state tripwire for ~/.claude
  tests/manual/scenarios/skill/install-default.yml
  tests/manual/scenarios/skill/install-dir.yml
  tests/manual/scenarios/skill/install-project.yml
  tests/manual/scenarios/skill/show.yml
  xtask/src/real_state_guard.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(release): stamp SKILL.md's daft_version at release time
  release.toml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: isolate HOME in the doctor --fix scenario
  tests/manual/scenarios/doctor/catalog-checks.yml
Due: prettier-format

docs: native agent-skill install path
  README.md
  docs/.vitepress/config.ts
  docs/cli/daft-skill-install.md
  docs/cli/daft-skill-show.md
  docs/reference/agent-skill.md
Due: prettier-format

feat(skill): render and page `skill show` in a terminal
  docs/cli/daft-skill-show.md
  docs/cli/git-daft-skill-show.md
  man/git-daft-skill-show.1
  src/commands/release_notes.rs
  src/commands/skill/show.rs
  src/output/markdown.rs
  src/output/mod.rs
  test-plans/agent-skill-distribution.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(skill): add `daft skill uninstall`
  docs/.vitepress/config.ts
  docs/cli/daft-skill-uninstall.md
  docs/cli/git-daft-skill-uninstall.md
  docs/reference/agent-skill.md
  man/git-daft-skill-uninstall.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  src/commands/skill/install.rs
  src/commands/skill/mod.rs
  src/commands/skill/uninstall.rs
  src/skill.rs
  src/suggest.rs
  test-plans/agent-skill-distribution.md
  tests/manual/scenarios/skill/uninstall.yml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test: manual test plan for agent-skill distribution
  test-plans/agent-skill-distribution.md
Due: prettier-format

test(skill): sandbox-isolate the agent-skill root via DAFT_SKILLS_DIR
  mise-tasks/sandbox/_default
  mise-tasks/sandbox/_lib.sh
  shared-env.sh
  src/commands/skill/mod.rs
  src/skill.rs
  test-plans/agent-skill-distribution.md
  tests/integration/test_framework.sh
  tests/manual/scenarios/doctor/catalog-checks.yml
  tests/manual/scenarios/skill/install-default.yml
  tests/manual/scenarios/skill/install-project.yml
  xtask/src/manual_test/daft_executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(skill): address code-review findings
  src/commands/doctor.rs
  src/commands/skill/mod.rs
  src/doctor/installation.rs
  src/output/markdown.rs
  xtask/src/real_state_guard.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(skill): stamp v1.20.0 and regenerate skill man pages
  SKILL.md
  man/git-daft-skill-install.1
  man/git-daft-skill-show.1
  man/git-daft-skill-uninstall.1
Due: prettier-format

fix(output): defer hook-path warnings while a live region owns stderr
  CLAUDE.md
  src/coordinator/adapters/sqlite_store.rs
  src/executor/log_sink.rs
  src/hooks/trust_skip.rs
  src/hooks/yaml_executor/mod.rs
  src/output/deferred_warn.rs
  src/output/mod.rs
  src/output/tui/driver.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor(output): address PR review nits on the deferred-warn channel
  src/executor/log_sink.rs
  src/hooks/trust.rs
  src/hooks/trust_skip.rs
  src/hooks/yaml_executor/mod.rs
  src/output/deferred_warn.rs
  src/output/tui/driver.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(output): defer hook-path warnings while a live region owns stderr (#721)
  CLAUDE.md
  src/coordinator/adapters/sqlite_store.rs
  src/executor/log_sink.rs
  src/hooks/trust.rs
  src/hooks/trust_skip.rs
  src/hooks/yaml_executor/mod.rs
  src/output/deferred_warn.rs
  src/output/mod.rs
  src/output/tui/driver.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(catalog): comment-preserving relations manifest editor
  src/catalog/mod.rs
  src/catalog/relations_edit.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(repo): daft repo link/unlink — imperative relation editing
  docs/cli/git-daft-repo-link.md
  docs/cli/git-daft-repo-unlink.md
  man/git-daft-repo-link.1
  man/git-daft-repo-unlink.1
  src/commands/docs.rs
  src/commands/repo/link.rs
  src/commands/repo/mod.rs
  src/commands/repo/relation_io.rs
  src/commands/repo/unlink.rs
  src/suggest.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format
