Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

refactor: address slice 2 review feedback
  src/commands/merge.rs
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/basic.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test: cross-worktree merge via --into
  tests/manual/scenarios/merge/cross-worktree.yml
Due: prettier-format

refactor: unify branch-reading across resolve_target arms with gitoxide parity
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/cross-worktree.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: add --into flag to merge Args and StartParams
  docs/cli/git-worktree-merge.md
  man/daft-merge.1
  man/git-worktree-merge.1
  src/commands/merge.rs
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: announce octopus strategy for multi-source merges
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/octopus-conflict.yml
  tests/manual/scenarios/merge/octopus.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor: detect Already-up-to-date and remove redundant --no-stat help text
  docs/cli/git-worktree-merge.md
  man/daft-merge.1
  man/git-worktree-merge.1
  src/commands/merge.rs
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/already-up-to-date.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: full git flag parity for daft merge
  docs/cli/git-worktree-merge.md
  man/daft-merge.1
  man/git-worktree-merge.1
  src/commands/merge.rs
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/already-up-to-date.yml
  tests/manual/scenarios/merge/ff-only.yml
  tests/manual/scenarios/merge/ff.yml
  tests/manual/scenarios/merge/no-ff.yml
  tests/manual/scenarios/merge/signoff.yml
  tests/manual/scenarios/merge/squash.yml
  tests/manual/scenarios/merge/strategy-option.yml
  tests/manual/scenarios/merge/strategy-ours.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor: address slice 4 review feedback
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: refuse merging a branch into itself
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/same-source-target.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: refuse merge when target worktree is dirty
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/dirty-target.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: refuse merge when target worktree is mid-operation
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/target-in-operation.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: add --abort --continue --quit mode flags to merge Args
  docs/cli/git-worktree-merge.md
  man/daft-merge.1
  man/git-worktree-merge.1
  src/commands/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: finish commands --abort/--continue/--quit
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/abort-cross-worktree.yml
  tests/manual/scenarios/merge/abort-no-merge-in-progress.yml
  tests/manual/scenarios/merge/abort.yml
  tests/manual/scenarios/merge/continue.yml
  tests/manual/scenarios/merge/quit.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: suppress double-print on FF-plumbing path and clarify docs
  src/commands/merge.rs
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/no-target-worktree-ff.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: preserve interactive editor path while detecting up-to-date merges via plumbing
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: report conflict target and files on merge conflict
  src/commands/merge.rs
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/conflict.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor: tighten finish-mode flag conflicts and concrete candidate hints
  src/commands/merge.rs
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/abort-hint-elsewhere.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor: ResolvedTarget.path becomes Option<PathBuf> for ref-only targets
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: fast-forward advance target ref when target has no worktree
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/no-target-worktree-ff.yml
  tests/manual/scenarios/merge/no-target-worktree-non-ff.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: add -r and -b cleanup flags to merge Args
  docs/cli/git-worktree-merge.md
  man/daft-merge.1
  man/git-worktree-merge.1
  src/commands/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: ephemeral worktree with prompt for non-FF ref-only merges
  src/commands/merge.rs
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/no-target-worktree-non-ff.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test: ephemeral worktree scenarios (no-tty/flag/no-adopt/-y)
  tests/manual/scenarios/merge/no-target-worktree-flag.yml
  tests/manual/scenarios/merge/no-target-worktree-no-adopt-flag.yml
  tests/manual/scenarios/merge/no-target-worktree-no-tty.yml
  tests/manual/scenarios/merge/yes-flag.yml
Due: prettier-format

feat: promote ephemeral worktree to layout path on conflict
  src/commands/merge.rs
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: rename AdoptChoice fields to match CLI flag names
  src/commands/merge.rs
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: ephemeral-conflict-promote scenario
  tests/manual/scenarios/merge/ephemeral-conflict-promote.yml
Due: prettier-format

feat: add --adopt-target --no-adopt-target -y flags to Args
  docs/cli/git-worktree-merge.md
  man/daft-merge.1
  man/git-worktree-merge.1
  src/commands/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: post-merge cleanup with -r and -rb
  src/commands/merge.rs
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add daft.merge.* settings fields and keys
  src/core/settings.rs
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: register merge-pre and merge-post hook types
  src/hooks/executor.rs
  src/hooks/mod.rs
  src/hooks/yaml_config.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: layered config for merge defaults
  src/commands/merge.rs
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/config-layered-defaults.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test: post-merge cleanup scenarios (-r, -rb, -rb after squash)
  tests/manual/scenarios/merge/remove-source-and-branch.yml
  tests/manual/scenarios/merge/remove-source.yml
  tests/manual/scenarios/merge/remove-unmerged-branch.yml
Due: prettier-format

feat: daft list --merging filters to in-progress merges
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/list.rs
  tests/manual/scenarios/merge/status-list-merging.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: merge hook context env-var construction
  src/core/worktree/merge.rs
  src/hooks/environment.rs
  src/hooks/template.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: shell completions for daft merge and list --merging
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  tests/manual/scenarios/completions/merge-completions.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: tip box and See Also for git-worktree-merge docs
  docs/cli/git-worktree-merge.md
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

style: apply prettier formatting to hook scenarios and docs
  SKILL.md
  docs/guide/hooks.md
  tests/manual/scenarios/merge/hook-env-vars.yml
  tests/manual/scenarios/merge/hook-post-fires-on-success.yml
  tests/manual/scenarios/merge/hook-pre-aborts.yml
Due: prettier-format

test: merge-pre and merge-post hook scenarios
  src/hooks/executor.rs
  tests/manual/scenarios/merge/hook-env-vars.yml
  tests/manual/scenarios/merge/hook-post-fires-on-conflict.yml
  tests/manual/scenarios/merge/hook-post-fires-on-success.yml
  tests/manual/scenarios/merge/hook-pre-aborts.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: fire merge-pre and merge-post hooks around merge execution
  src/commands/merge.rs
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: document merge-pre and merge-post hooks
  SKILL.md
  docs/guide/hooks.md
Due: prettier-format

docs: author daft-merge reference page, update SKILL and help categories
  SKILL.md
  docs/cli/daft-merge.md
  src/commands/docs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format
