Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

fix(hooks): fire move hooks for default branch during layout transform
  docs/cli/git-worktree-branch.md
  src/core/layout/transform/execute.rs
  src/core/layout/transform/plan.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore: add tracks annotation to path-dependent hooks in daft.yml
  daft.yml
Due: prettier-format

feat(hooks): integrate move hooks into rename command
  src/commands/worktree_branch.rs
  src/core/worktree/rename.rs
  tests/manual/scenarios/rename/with-hooks-branch.yml
  tests/manual/scenarios/rename/with-hooks.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(hooks): run teardown hooks before branch rename in move flow
  src/core/worktree/rename.rs
  tests/manual/scenarios/rename/with-hooks-branch.yml
  tests/manual/scenarios/rename/with-hooks.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): integrate move hooks into layout transform executor
  src/commands/layout.rs
  src/core/layout/transform/execute.rs
  src/core/layout/transform/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: show rendered hook commands in verbose mode
  src/commands/layout.rs
  src/commands/worktree_branch.rs
  src/executor/cli_presenter.rs
  src/executor/presenter.rs
  src/executor/runner.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
  src/output/hook_progress/plain.rs
  src/output/tui/presenter.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(tests): use --trust-hooks and env vars in rename hook tests
  tests/manual/scenarios/rename/with-hooks-branch.yml
  tests/manual/scenarios/rename/with-hooks.yml
Due: prettier-format

fix(tests): restructure rename hook tests to not depend on checkout hooks
  tests/manual/scenarios/rename/with-hooks-branch.yml
  tests/manual/scenarios/rename/with-hooks.yml
Due: prettier-format

feat: move hooks — identity-tracked hook replay on worktree move (#326)
  SKILL.md
  daft.yml
  docs/guide/hooks.md
  docs/superpowers/plans/2026-03-25-move-hooks.md
  docs/superpowers/specs/2026-03-25-move-hooks-design.md
  src/commands/flow_adopt.rs
  src/commands/layout.rs
  src/commands/worktree_branch.rs
  src/core/layout/transform/execute.rs
  src/core/layout/transform/legacy.rs
  src/core/layout/transform/mod.rs
  src/core/layout/transform/plan.rs
  src/core/worktree/flow_adopt.rs
  src/core/worktree/rename.rs
  src/executor/cli_presenter.rs
  src/executor/presenter.rs
  src/executor/runner.rs
  src/hooks/environment.rs
  src/hooks/executor.rs
  src/hooks/mod.rs
  src/hooks/move_hooks.rs
  src/hooks/template.rs
  src/hooks/tracking.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_validate.rs
  src/hooks/yaml_executor/mod.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
  src/output/hook_progress/plain.rs
  src/output/tui/presenter.rs
  tests/manual/scenarios/rename/with-hooks-branch.yml
  tests/manual/scenarios/rename/with-hooks.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: prevent fork bomb from recursive background task spawning
  src/main.rs
  src/trust_prune.rs
  src/update_check.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: share daft sandbox config across worktrees via git common dir
  .gitignore
  .mise/env.sh
  mise.toml
Due: none

fix: prevent fork bomb from recursive background task spawning (#332)
  .gitignore
  .mise/env.sh
  mise.toml
  src/main.rs
  src/trust_prune.rs
  src/update_check.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add shared files feature design spec
  docs/superpowers/specs/2026-03-26-shared-files-design.md
Due: prettier-format

docs: add shared files implementation plan
  docs/superpowers/plans/2026-03-26-shared-files.md
Due: prettier-format

deps: updated tools
  mise.lock
Due: none

feat(shared): add shell completions and man page for daft shared
  man/daft-shared.1
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add CLI reference page for daft shared
  docs/cli/daft-shared.md
Due: prettier-format

feat(shared): register shared command in docs, xtask, and completions
  src/commands/completions/mod.rs
  src/commands/docs.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared): add shared field to YamlConfig
  src/hooks/yaml_config.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared): link shared files during worktree creation before hooks
  src/commands/clone.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  tests/manual/scenarios/shared/link-on-create.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(shared): add integration test scenarios for shared files
  src/commands/shared.rs
  tests/manual/scenarios/shared/add-basic.yml
  tests/manual/scenarios/shared/declare.yml
  tests/manual/scenarios/shared/materialize-and-link.yml
  tests/manual/scenarios/shared/remove.yml
  tests/manual/scenarios/shared/sync.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(shared): add daft shared command with add/remove/materialize/link/status/sync
  src/commands/mod.rs
  src/commands/shared.rs
  src/main.rs
  src/suggest.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared): add core shared files module with storage, materialization, and symlink helpers
  src/core/mod.rs
  src/core/shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(shared): exclude bare repo from worktree enumeration
  src/core/shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: add .superpowers/ to .gitignore
  .gitignore
Due: none

feat(shared): show linking progress during worktree creation
  src/commands/clone.rs
  src/core/shared.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(shared): render link results after spinner, add colors to status
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/shared.rs
  src/core/shared.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(shared): render link results before hooks, not after spinner
  src/commands/checkout.rs
  src/commands/clone.rs
  src/core/shared.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(shared): clear spinner line before rendering link results
  src/core/shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared): add optional worktree argument to link and materialize
  src/commands/shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared): add argument completions for all shared subcommands
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: worktree shared files — centralize untracked config across worktrees (#328) (#331)
  .gitignore
  docs/cli/daft-shared.md
  docs/superpowers/plans/2026-03-26-shared-files.md
  docs/superpowers/specs/2026-03-26-shared-files-design.md
  man/daft-shared.1
  mise.lock
  src/commands/clone.rs
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  src/commands/mod.rs
  src/commands/shared.rs
  src/core/mod.rs
  src/core/shared.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  src/hooks/yaml_config.rs
  src/main.rs
  src/suggest.rs
  tests/manual/scenarios/shared/add-basic.yml
  tests/manual/scenarios/shared/declare.yml
  tests/manual/scenarios/shared/link-on-create.yml
  tests/manual/scenarios/shared/materialize-and-link.yml
  tests/manual/scenarios/shared/remove.yml
  tests/manual/scenarios/shared/sync.yml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: move shared-env.sh out of gitignored .mise/ to fix release-plz
  .gitignore
  mise.toml
  shared-env.sh
Due: none

fix: gate unix symlink import with cfg(unix) to fix Windows build
  src/core/shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(ci): update homebrew test for sibling layout and new commands
  .github/workflows/test-homebrew.yml
Due: prettier-format

docs: add local-first remote sync design spec
  docs/superpowers/specs/2026-03-26-local-first-remote-sync-design.md
Due: prettier-format

docs: add local-first remote sync implementation plan
  docs/superpowers/plans/2026-03-26-local-first-remote-sync.md
Due: prettier-format

feat!: add local-first remote sync settings (checkout.fetch, checkout.push default, branchDelete.remote)
  src/core/settings.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: make checkout fetch, checkout-branch fetch, and branch-delete remote conditional on settings
  src/commands/branch_delete.rs
  src/commands/checkout.rs
  src/commands/worktree_branch.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add --local and --remote per-invocation override flags
  docs/cli/git-worktree-branch-delete.md
  docs/cli/git-worktree-branch.md
  docs/cli/git-worktree-checkout.md
  man/daft-go.1
  man/daft-remove.1
  man/daft-start.1
  man/git-worktree-branch-delete.1
  man/git-worktree-branch.1
  man/git-worktree-checkout.1
  src/commands/branch_delete.rs
  src/commands/checkout.rs
  src/commands/worktree_branch.rs
  src/core/worktree/branch_delete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format
