Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

feat(hooks): hook-level setup steps and fail_on_changes
  src/hooks/config_merge.rs
  src/hooks/hook_setup.rs
  src/hooks/mod.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): run a repository's existing hooks config as-is
  src/commands/hooks/install.rs
  src/hooks/executor.rs
  src/hooks/git_stage/dispatch.rs
  src/hooks/incumbent/lefthook.rs
  src/hooks/incumbent/mod.rs
  src/hooks/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): import an existing hooks config into daft.yml
  docs/cli/daft-hooks.md
  man/daft-hooks.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/hooks/import.rs
  src/commands/hooks/mod.rs
  src/hooks/hooks_block_edit.rs
  src/hooks/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): implement the StageRunner port so daft runs its own pre-push
  src/commands/multi_remote.rs
  src/commands/push.rs
  src/commands/sync.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/push.rs
  src/core/worktree/rename.rs
  src/executor/manager_routing.rs
  src/executor/presenter.rs
  src/hooks/git_stage/mod.rs
  src/hooks/git_stage/stage_runner.rs
  src/output/hook_progress/formatting.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): schema tail — templates, groups, file_types, stage_fixed, use_stdin
  src/commands/run.rs
  src/executor/command.rs
  src/executor/mod.rs
  src/executor/runner.rs
  src/hooks/conditions.rs
  src/hooks/config_merge.rs
  src/hooks/executor.rs
  src/hooks/file_types.rs
  src/hooks/groups.rs
  src/hooks/job_adapter.rs
  src/hooks/mod.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_validate.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): dispatch git stages, install shims, chain git-lfs
  docs/cli/daft-hooks.md
  man/daft-hooks.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/git_hook.rs
  src/commands/hooks/install.rs
  src/commands/hooks/mod.rs
  src/commands/hooks/status.rs
  src/commands/mod.rs
  src/commands/run.rs
  src/hooks/config_merge.rs
  src/hooks/environment.rs
  src/hooks/executor.rs
  src/hooks/git_stage/dispatch.rs
  src/hooks/git_stage/install.rs
  src/hooks/git_stage/mod.rs
  src/hooks/git_stage/shim.rs
  src/hooks/template.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_executor/mod.rs
  src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(hooks): carry every job field through takeover and import
  src/commands/hooks/import.rs
  src/hooks/hooks_block_edit.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_loader.rs
  test-plans/git-hooks-drop-in.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(hooks): make status and trust report what will actually run
  src/commands/hooks/mod.rs
  src/commands/hooks/status.rs
  src/commands/hooks/trust.rs
  src/hooks/git_stage/dispatch.rs
  src/hooks/incumbent/lefthook.rs
  src/hooks/job_adapter.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): a background job cannot detach past a git gate
  SKILL.md
  docs/hooks/git-stages.md
  docs/hooks/yaml-reference.md
  docs/reference/configuration.md
  src/commands/hooks/run_cmd.rs
  src/hooks/git_stage/dispatch.rs
  src/hooks/mod.rs
  test-plans/git-hooks-drop-in.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(layout): carry per-worktree git state through a transform instead of rebuilding it
  docs/cli/daft-layout.md
  src/commands/layout.rs
  src/core/fs_volume.rs
  src/core/layout/transform/decide.rs
  src/core/layout/transform/execute.rs
  src/core/layout/transform/mod.rs
  src/core/layout/transform/plan.rs
  src/core/layout/transform/preflight.rs
  src/core/layout/transform/print.rs
  src/core/layout/transform/report.rs
  src/core/layout/transform/state.rs
  src/core/layout/transform/status_snapshot.rs
  src/core/mod.rs
  src/core/repo_move/plan.rs
  src/core/worktree/list.rs
  src/core/worktree/sandbox.rs
  src/git/worktree_state.rs
  tests/manual/scenarios/layout/transform-carry-modified-to-contained.yml
  tests/manual/scenarios/layout/transform-classic-drifted-refused.yml
  tests/manual/scenarios/layout/transform-classic-drifted-renames-main.yml
  tests/manual/scenarios/layout/transform-nondefault-root-dirty-refused.yml
  tests/manual/scenarios/layout/transform-pivot-required-non-tty.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(layout): transform asks instead of refusing, reports every blocker at once, drops --force
  SKILL.md
  docs/cli/daft-layout.md
  docs/worktrees/layouts.md
  src/commands/checkout.rs
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/layout.rs
  src/core/layout/transform/execute.rs
  src/core/layout/transform/report.rs
  src/core/layout/transform/state.rs
  src/prompt.rs
  test-plans/transform-carry-any-tree-state.md
  tests/manual/scenarios/layout/transform-blocked-in-progress-ops.yml
  tests/manual/scenarios/layout/transform-blocked-submodule.yml
  tests/manual/scenarios/layout/transform-blocked-two-at-once.yml
  tests/manual/scenarios/layout/transform-carry-anystate-round-trips.yml
  tests/manual/scenarios/layout/transform-detached-main-as-flag.yml
  tests/manual/scenarios/layout/transform-flags-force-gone-yes-accepted.yml
  tests/manual/scenarios/layout/transform-matrix-dry-run.yml
  tests/manual/scenarios/layout/transform-mirror-pivot-relocates.yml
  tests/manual/scenarios/layout/transform-mirror-sole-worktree-collapses.yml
  tests/manual/scenarios/layout/transform-nondefault-root-round-trip.yml
  tests/manual/scenarios/layout/transform-nondefault-root-to-contained-classic.yml
  tests/manual/scenarios/layout/transform-nondefault-root-to-contained-flat.yml
  tests/manual/scenarios/layout/transform-nondefault-root-to-contained.yml
  tests/manual/scenarios/layout/transform-nondefault-root-with-linked-worktree.yml
  tests/manual/scenarios/layout/transform-pivot-required-non-tty.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(layout): close the gaps a review found in the transform relocation
  SKILL.md
  docs/graph/concepts.md
  docs/worktrees/layouts.md
  src/commands/completions/fish.rs
  src/commands/layout.rs
  src/core/layout/transform/execute.rs
  src/core/layout/transform/plan.rs
  src/core/layout/transform/preflight.rs
  src/core/layout/transform/report.rs
  src/core/layout/transform/status_snapshot.rs
  src/doctor/installation.rs
  src/git/worktree_state.rs
  tests/manual/scenarios/layout/transform-blocked-destination-occupied.yml
  tests/manual/scenarios/layout/transform-blocked-rebase-without-a-bare-flip.yml
  tests/manual/scenarios/layout/transform-flags-force-gone-yes-accepted.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(git): answer worktree-scoped gix questions for the cwd, not the first one
  src/commands/forge_cache.rs
  src/core/layout/transform/execute.rs
  src/core/worktree/list_stream.rs
  src/git/mod.rs
  src/git/stash.rs
  tests/manual/scenarios/fetch/all-untracked-neighbors.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(git): answer worktree-scoped gix questions for the cwd, not the first one (#886)
  src/commands/forge_cache.rs
  src/core/layout/transform/execute.rs
  src/core/worktree/list_stream.rs
  src/git/mod.rs
  src/git/stash.rs
  tests/manual/scenarios/fetch/all-untracked-neighbors.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(git): name an unborn branch from the gix arm like git symbolic-ref does
  src/git/oxide.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(git): a bare GitCommand takes the gix arm
  src/git/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(git): say what the default flip changed where the old contract was written
  docs/reference/configuration.md
  src/commands/repo/remove.rs
  src/core/settings_spec.rs
  src/git/mod.rs
  src/git/oxide.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(checkout): hold the -x command open while daft's SIGINT handler fires
  tests/manual/scenarios/checkout/exec-interrupt-keeps-cd.yml
Due: prettier-format

refactor(git): a bare GitCommand takes the gix arm (#883 part 1) (#891)
  docs/reference/configuration.md
  src/commands/repo/remove.rs
  src/core/settings_spec.rs
  src/git/mod.rs
  src/git/oxide.rs
  tests/manual/scenarios/checkout/exec-interrupt-keeps-cd.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs: check in the repository's merge policy as rulesets and prose
  .github/CODEOWNERS
  .github/rulesets/README.md
  .github/rulesets/master.json
  .github/rulesets/release-tags.json
  CLAUDE.md
  CONTRIBUTING.md
  SECURITY.md
  docs/about/contributing.md
  mise-tasks/validate/rulesets
  scripts/check-rulesets.sh
Due: prettier-format

ci: one required check, ci-gate, that fans in every test.yml job
  .github/workflows/bench.yml
  .github/workflows/docs.yml
  .github/workflows/test.yml
  daft.yml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

ci: pin every GitHub Action to a full commit SHA
  .github/dependabot.yml
  .github/workflows/bench.yml
  .github/workflows/docs.yml
  .github/workflows/mise-tool-updates.yml
  .github/workflows/msrv-staleness-check.yml
  .github/workflows/release-flow.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  mise-tasks/validate/_default
  mise-tasks/validate/actions-pinned
  scripts/check-actions-pinned.sh
  scripts/pin-actions.sh
Due: prettier-format

ci: arm auto-merge on Dependabot's patch/minor PRs; CI on mise-tool PRs
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/mise-tool-updates.yml
Due: prettier-format

ci: squash-only merges, a ci-gate required check, and Dependabot auto-merge (#893)
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/rulesets/README.md
  .github/rulesets/master.json
  .github/rulesets/release-tags.json
  .github/workflows/bench.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/docs.yml
  .github/workflows/mise-tool-updates.yml
  .github/workflows/msrv-staleness-check.yml
  .github/workflows/release-flow.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  CLAUDE.md
  CONTRIBUTING.md
  SECURITY.md
  daft.yml
  docs/about/contributing.md
  mise-tasks/validate/_default
  mise-tasks/validate/actions-pinned
  mise-tasks/validate/rulesets
  scripts/check-actions-pinned.sh
  scripts/check-rulesets.sh
  scripts/pin-actions.sh
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor(git): typed branch-name accessors replace the for-each-ref emulator
  src/commands/list.rs
  src/commands/sync.rs
  src/core/worktree/checkout.rs
  src/core/worktree/exec/mod.rs
  src/core/worktree/list.rs
  src/core/worktree/prune.rs
  src/core/worktree/rebase.rs
  src/git/oxide.rs
  src/git/refs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(git): list_remote_branches is the one typed remote-heads read
  src/core/remote.rs
  src/git/oxide.rs
  src/git/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(git): typed branch tracking replaces the branch -vv emulator and two config text reads
  src/commands/complete.rs
  src/commands/list.rs
  src/core/worktree/pr_rows.rs
  src/core/worktree/prune.rs
  src/git/branch.rs
  src/git/config.rs
  src/git/mod.rs
  src/git/oxide.rs
  tests/manual/scenarios/prune/ignores-tracking-lookalike-subject.yml
  tests/manual/scenarios/prune/plus-marker.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor(git): typed returns replace the gix arm's porcelain-text mimicry (#884) (#899)
  src/commands/complete.rs
  src/commands/list.rs
  src/commands/sync.rs
  src/core/remote.rs
  src/core/worktree/checkout.rs
  src/core/worktree/exec/mod.rs
  src/core/worktree/list.rs
  src/core/worktree/pr_rows.rs
  src/core/worktree/prune.rs
  src/core/worktree/rebase.rs
  src/git/branch.rs
  src/git/config.rs
  src/git/mod.rs
  src/git/oxide.rs
  src/git/refs.rs
  src/git/remote.rs
  tests/manual/scenarios/prune/ignores-tracking-lookalike-subject.yml
  tests/manual/scenarios/prune/plus-marker.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

ci: fold the integration-tests matrix into one job
  .claude/agents/rust-architect.md
  .github/workflows/test.yml
  CLAUDE.md
  Cargo.lock
  daft.yml
  docs/about/contributing.md
  mise-tasks/completions/test
  mise-tasks/test/integration/_default
  mise-tasks/test/integration/_release_bin_lib.sh
  mise-tasks/test/integration/_suites_lib.sh
  mise-tasks/test/integration/matrix
  mise-tasks/test/integration/verbose
  tests/README.md
  tests/integration/test_completions.sh
  tests/integration/test_framework.sh
  tests/manual/scenarios/simple/help.yml
  xtask/Cargo.toml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

ci: fold the integration-tests matrix into one job (#900)
  .claude/agents/rust-architect.md
  .github/workflows/test.yml
  CLAUDE.md
  Cargo.lock
  daft.yml
  docs/about/contributing.md
  mise-tasks/completions/test
  mise-tasks/test/integration/_default
  mise-tasks/test/integration/_release_bin_lib.sh
  mise-tasks/test/integration/_suites_lib.sh
  mise-tasks/test/integration/matrix
  mise-tasks/test/integration/verbose
  tests/README.md
  tests/integration/test_completions.sh
  tests/integration/test_framework.sh
  tests/manual/scenarios/simple/help.yml
  xtask/Cargo.toml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(yaml): close the gaps the bash suite still covered alone (#447 B1)
  tests/README.md
  tests/manual/scenarios/activate/creates-backup.yml
  tests/manual/scenarios/activate/creates-config.yml
  tests/manual/scenarios/activate/dry-run.yml
  tests/manual/scenarios/activate/help.yml
  tests/manual/scenarios/activate/idempotent.yml
  tests/manual/scenarios/activate/shell-detection.yml
  tests/manual/scenarios/branch-delete/remove-unresolvable-path-error.yml
  tests/manual/scenarios/copy/warm-git-daft-verb.yml
  tests/manual/scenarios/prune/keeps-nonstandard-default-branch.yml
  tests/manual/scenarios/repo/remove-bare-name-guards.yml
  tests/manual/scenarios/repo/remove-bare-only-no-worktrees.yml
  tests/manual/scenarios/shell-init/bash-output.yml
  tests/manual/scenarios/shell-init/fish-output.yml
  tests/manual/scenarios/shell-init/zsh-output.yml
  tests/manual/scenarios/visitor-propagation/checkout-propagates-visitor-files.yml
  tests/manual/scenarios/visitor-propagation/merge-git-conflict-rolls-back-consolidation.yml
  tests/manual/scenarios/visitor-propagation/merge-refined-source-keeps-every-field.yml
  tests/manual/scenarios/visitor-propagation/merge-source-only-daft-yml-propagates.yml
Due: prettier-format

test(yaml): the coverage the review found the string audit had missed
  .claude/skills/profiling-daft/SKILL.md
  src/core/worktree/branch_delete.rs
  src/core/worktree/exec/alias_cache.rs
  tests/manual/scenarios/clone/quiet.yml
  tests/manual/scenarios/config/behavior-at-one-layer.yml
  tests/manual/scenarios/config/cli-set-get-unset.yml
  tests/manual/scenarios/copy/warm-git-daft-verb.yml
  tests/manual/scenarios/env/cross-repo-address.yml
  tests/manual/scenarios/env/task-injection.yml
  tests/manual/scenarios/exec/failing-command.yml
  tests/manual/scenarios/repo/remove-bare-only-no-worktrees.yml
  tests/manual/scenarios/worktree-exec/compact-rows-without-testing-env.yml
  tests/manual/scenarios/worktree-exec/fail-fast-skipped.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(merge): stop counting a whole-file consolidation as one key
  src/commands/merge.rs
  src/core/mod.rs
  src/core/progress.rs
  src/core/worktree/branch_delete.rs
  src/hooks/visitor_seeds.rs
  tests/manual/scenarios/visitor-propagation/merge-source-only-daft-yml-propagates.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

ci: build every symlink farm from the one shared list
  .github/workflows/test.yml
  CLAUDE.md
  tests/integration/test_framework.sh
  tests/manual/scenarios/simple/help.yml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format
