Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

perf(copy): clone whole directory trees in one clonefile(2) syscall on macOS
  src/cow_copy.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(copy): daft.copy.enabled — a per-machine opt-out for the creation copy stage
  docs/reference/configuration.md
  docs/worktrees/copying-caches.md
  src/commands/checkout.rs
  src/core/settings.rs
  src/core/settings_spec.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/sandbox.rs
  tests/manual/scenarios/copy/disabled-by-config.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(bench): copy/warm regression benchmark over a pnpm-shaped fixture
  benches/README.md
  benches/fixtures/gen_pnpm_tree.py
  benches/run_all.sh
  benches/scenarios/copy_warm.sh
  mise-tasks/bench/copy
Due: prettier-format

fix(output): keep unverified stale values muted when the refresh gives up
  src/commands/list_live.rs
  src/output/tui/catalog_table.rs
  src/output/tui/live_table.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(copy): close the review findings on the clone fast path
  SKILL.md
  benches/README.md
  benches/run_all.sh
  benches/scenarios/copy_warm.sh
  src/core/copy_paths.rs
  src/cow_copy.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(env): build daft's DAFT_* answers from the job environment
  docs/cli/daft-env.md
  man/daft-env.1
  src/commands/env.rs
  src/core/env_values/mod.rs
  src/hooks/environment.rs
  tests/manual/scenarios/env/context-vars.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs: correct what daft env promises about DAFT_* variables
  SKILL.md
  docs/hooks/lifecycle.md
  docs/hooks/yaml-reference.md
Due: prettier-format

fix(env): point the unknown-variable error at a page that exists
  src/commands/env.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf(copy): clone whole trees in one syscall — 6.4x faster, and 3.2x faster than pnpm (#808)
  SKILL.md
  benches/README.md
  benches/fixtures/gen_pnpm_tree.py
  benches/run_all.sh
  benches/scenarios/copy_warm.sh
  docs/reference/configuration.md
  docs/worktrees/copying-caches.md
  mise-tasks/bench/copy
  src/commands/checkout.rs
  src/core/copy_paths.rs
  src/core/settings.rs
  src/core/settings_spec.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/sandbox.rs
  src/cow_copy.rs
  tests/manual/scenarios/copy/disabled-by-config.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: breathe stale cached cells in the live list until fresh values land (#806)
  src/commands/list_live.rs
  src/output/tui/catalog_table.rs
  src/output/tui/driver.rs
  src/output/tui/live_table.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

ci(docs): deploy the site on release tags, not every master push
  .github/workflows/docs.yml
Due: prettier-format

ci(docs): deploy the site on release tags, not every master push (#810)
  .github/workflows/docs.yml
Due: prettier-format

feat: show -x commands as rows on the plan-execute rail
  docs/reference/progress-timeline.md
  src/commands/checkout.rs
  src/core/progress.rs
  src/exec.rs
  tests/manual/scenarios/exec/start-sequence-tail.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: flatten arbitrary user text in rail row labels
  src/output/live_line.rs
  src/output/timeline/region.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: cover the -x on-rail path under a PTY
  tests/integration/test_checkout.sh
Due: none

docs: scope the -x rail bullet to the commands that plan it
  docs/reference/progress-timeline.md
  src/exec.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor: give the discarded exec tail a single documented drop point
  src/commands/checkout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: show -x commands as rows on the plan-execute rail (#814)
  docs/reference/progress-timeline.md
  src/commands/checkout.rs
  src/core/progress.rs
  src/exec.rs
  src/output/live_line.rs
  src/output/timeline/region.rs
  tests/integration/test_checkout.sh
  tests/manual/scenarios/exec/start-sequence-tail.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: write the cd target before -x runs, so an interrupt cannot cost it
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/init.rs
  src/exec.rs
  tests/integration/test_shell_init.sh
  tests/manual/scenarios/checkout-branch/start-fork-exec-failure-cd.yml
  tests/manual/scenarios/checkout/exec-interrupt-keeps-cd.yml
  tests/manual/scenarios/checkout/exec-nested-cd-no-hijack.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: exit on SIGINT during -x so the shell wrapper still cds
  src/exec.rs
  src/executor/command.rs
  src/interrupt.rs
  tests/integration/test_checkout.sh
  tests/integration/test_shell_init.sh
  tests/manual/scenarios/checkout-branch/start-fork-exec-failure-cd.yml
  tests/manual/scenarios/checkout/exec-interrupt-keeps-cd.yml
  tests/manual/scenarios/hooks/hook-cd-file-scrub.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: write the cd target before -x runs, so an interrupt cannot cost it (#815)
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/init.rs
  src/exec.rs
  src/executor/command.rs
  src/interrupt.rs
  tests/integration/test_checkout.sh
  tests/integration/test_shell_init.sh
  tests/manual/scenarios/checkout-branch/start-fork-exec-failure-cd.yml
  tests/manual/scenarios/checkout/exec-interrupt-keeps-cd.yml
  tests/manual/scenarios/checkout/exec-nested-cd-no-hijack.yml
  tests/manual/scenarios/hooks/hook-cd-file-scrub.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

deps(deps): finish the gix 0.86 bump (manifest + config API migration)
  Cargo.toml
  src/git/oxide.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): --hooks <auto|foreground|background|off> for a run's hook execution mode
  SKILL.md
  docs/cli/daft-go.md
  docs/cli/daft-merge.md
  docs/cli/daft-start.md
  docs/cli/git-worktree-checkout.md
  docs/cli/git-worktree-clone.md
  docs/cli/git-worktree-flow-adopt.md
  docs/cli/git-worktree-merge.md
  docs/hooks/yaml-reference.md
  docs/reference/configuration.md
  man/daft-adopt.1
  man/daft-clone.1
  man/daft-go.1
  man/daft-merge.1
  man/daft-start.1
  man/git-worktree-checkout.1
  man/git-worktree-clone.1
  man/git-worktree-flow-adopt.1
  man/git-worktree-merge.1
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/flow_adopt.rs
  src/commands/merge.rs
  src/commands/run.rs
  src/hooks/executor.rs
  src/hooks/mod.rs
  src/hooks/run_mode.rs
  src/hooks/yaml_executor/mod.rs
  tests/manual/scenarios/hooks/hooks-mode-clone-and-merge.yml
  tests/manual/scenarios/hooks/hooks-mode-foreground-failure.yml
  tests/manual/scenarios/hooks/hooks-mode-foreground.yml
  tests/manual/scenarios/hooks/hooks-mode-fork-and-sandbox.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(hooks): close the --hooks gaps a review found — inert wirings, and background's two guards
  SKILL.md
  docs/cli/daft-go.md
  docs/cli/daft-merge.md
  docs/cli/daft-start.md
  docs/hooks/yaml-reference.md
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/completions/fig.rs
  src/commands/completions/mod.rs
  src/commands/flow_adopt.rs
  src/commands/merge.rs
  src/hooks/executor.rs
  src/hooks/mod.rs
  src/hooks/run_mode.rs
  src/hooks/yaml_executor/mod.rs
  tests/manual/scenarios/hooks/hooks-mode-guards.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): --hooks <auto|foreground|background|off> to pick a run's hook execution mode (#821)
  SKILL.md
  docs/cli/daft-go.md
  docs/cli/daft-merge.md
  docs/cli/daft-start.md
  docs/cli/git-worktree-checkout.md
  docs/cli/git-worktree-clone.md
  docs/cli/git-worktree-flow-adopt.md
  docs/cli/git-worktree-merge.md
  docs/hooks/yaml-reference.md
  docs/reference/configuration.md
  man/daft-adopt.1
  man/daft-clone.1
  man/daft-go.1
  man/daft-merge.1
  man/daft-start.1
  man/git-worktree-checkout.1
  man/git-worktree-clone.1
  man/git-worktree-flow-adopt.1
  man/git-worktree-merge.1
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/flow_adopt.rs
  src/commands/merge.rs
  src/commands/run.rs
  src/hooks/executor.rs
  src/hooks/mod.rs
  src/hooks/run_mode.rs
  src/hooks/yaml_executor/mod.rs
  tests/manual/scenarios/hooks/hooks-mode-clone-and-merge.yml
  tests/manual/scenarios/hooks/hooks-mode-foreground-failure.yml
  tests/manual/scenarios/hooks/hooks-mode-foreground.yml
  tests/manual/scenarios/hooks/hooks-mode-fork-and-sandbox.yml
  tests/manual/scenarios/hooks/hooks-mode-guards.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(remove): name the worktree, not the path argument, on the rail
  src/commands/worktree_branch.rs
  src/core/stage.rs
  src/core/worktree/branch_delete.rs
  tests/integration/test_branch_delete.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(brand): seed reference assets for #467 visual rebrand
  docs/public/brand/reference/daft-logo-dodo-donut.png
  docs/public/brand/reference/daft-logo-reference.png
  docs/public/brand/reference/daft-rebranding-brief.md
Due: prettier-format

fix(remove): explain an unresolvable path instead of leaking git's refname error
  src/core/worktree/branch_delete.rs
  tests/integration/test_branch_delete.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(go): name the sandbox, not the spelling that summoned it
  src/commands/checkout.rs
  tests/integration/test_checkout.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: wire Donut brand into VitePress theme and landing
  docs/.vitepress/config.ts
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/index.ts
  docs/index.md
Due: prettier-format, biome-check

docs(brand): add Donut brand assets and self-hosted DM Sans
  docs/public/brand/daft-donut-accent-white.svg
  docs/public/brand/daft-donut-accent.svg
  docs/public/brand/daft-donut-circle.svg
  docs/public/brand/daft-donut-favicon.svg
  docs/public/brand/daft-donut-rounded-square.svg
  docs/public/brand/daft-donut-white.svg
  docs/public/brand/daft-donut.svg
  docs/public/brand/glyph-graph-dark.svg
  docs/public/brand/glyph-graph.svg
  docs/public/brand/glyph-hooks-dark.svg
  docs/public/brand/glyph-hooks.svg
  docs/public/brand/glyph-recipes-dark.svg
  docs/public/brand/glyph-recipes.svg
  docs/public/brand/glyph-worktrees-dark.svg
  docs/public/brand/glyph-worktrees.svg
  docs/public/brand/reference/daft-rebranding-brief.md
  docs/public/brand/social/github-avatar.png
  docs/public/brand/social/github-social-preview.png
  docs/public/favicon.png
  docs/public/fonts/dm-sans-latin-wght-normal.woff2
  docs/public/og-image.png
Due: prettier-format

docs: repair tip containers mangled into single-line form
  docs/getting-started/quick-start.md
  docs/worktrees/index.md
Due: prettier-format

docs: tighten hero tagline, drop strike-through from before pane
  docs/.vitepress/theme/home.css
  docs/index.md
Due: prettier-format

refactor(go): one source for a sandbox's name, and skip the header probe off the rail
  src/commands/checkout.rs
  src/commands/worktree_branch.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/sandbox.rs
  src/output/timeline/mod.rs
  tests/integration/test_checkout.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: rebuild landing around a live terminal-driven repo graph
  docs/.vitepress/theme/components/DemoStage.vue
  docs/.vitepress/theme/components/HomeLanding.vue
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/home.css
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/repo-graph.ts
  docs/index.md
Due: prettier-format, biome-check

docs: tighten landing feature copy, drop pillar jargon from links
  docs/index.md
Due: prettier-format

docs: rebrand README header with Donut lockup
  README.md
Due: prettier-format

docs: move landing CTAs into the hero above the demo
  docs/.vitepress/theme/components/DemoStage.vue
  docs/.vitepress/theme/home.css
  docs/index.md
Due: prettier-format

docs: rebuild hero animation as a steppable multi-repo diagram engine
  docs/.vitepress/theme/components/DemoStage.vue
  docs/.vitepress/theme/graph/CLAUDE.md
  docs/.vitepress/theme/graph/RepoDiagram.vue
  docs/.vitepress/theme/graph/engine.ts
  docs/.vitepress/theme/graph/hero-script.ts
  docs/.vitepress/theme/home.css
  docs/.vitepress/theme/repo-graph.ts
Due: prettier-format, biome-check
