Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

feat(manual-test): auto-advance on successful checks
  xtask/src/manual_test/interactive.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(manual-test): clean up test environment on Ctrl+C and Esc
  xtask/Cargo.toml
  xtask/src/manual_test/interactive.rs
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style(manual-test): use cyan for step counter indicator
  src/styles.rs
  xtask/src/manual_test/interactive.rs
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(manual-test): show cleanup message on quit, use bright blue steps
  src/styles.rs
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(manual-test): show test environment path in interactive header
  xtask/src/manual_test/interactive.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: auto-format Rust code on commit instead of just checking
  lefthook.yml
Due: prettier-format

feat(manual-test): add setup-test and reset-test sandbox commands
  mise-tasks/sandbox/_default
  xtask/src/main.rs
  xtask/src/manual_test/env.rs
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(manual-test): run steps during setup-test, add --step flag
  mise-tasks/sandbox/_default
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: remove unused exported_vars method
  xtask/src/manual_test/env.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(manual-test): add sync rebase conflict scenario
  tests/manual/scenarios/sync/rebase-conflict-skips-push.yml
Due: prettier-format

feat(sandbox): auto-cd into test work dir after setup-test
  mise-tasks/sandbox/_default
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(sandbox): unify init script (completions + shell-init)
  mise-tasks/sandbox/_default
Due: none

feat: manual testing framework (#301)
  build.rs
  lefthook.yml
  mise-tasks/bench/tests/integration/_default
  mise-tasks/bench/tests/integration/exec
  mise-tasks/sandbox/_default
  mise-tasks/test/manual
  mise.lock
  mise.toml
  src/styles.rs
  tests/manual/fixtures/repos/standard-remote.yml
  tests/manual/scenarios/clone-basic.yml
  tests/manual/scenarios/exec/checkout-branch-single.yml
  tests/manual/scenarios/exec/checkout-existing.yml
  tests/manual/scenarios/exec/checkout-single.yml
  tests/manual/scenarios/exec/clone-single.yml
  tests/manual/scenarios/exec/failing-command.yml
  tests/manual/scenarios/exec/init-multiple.yml
  tests/manual/scenarios/exec/init-single.yml
  tests/manual/scenarios/exec/no-commands.yml
  tests/manual/scenarios/hooks-lifecycle.yml
  tests/manual/scenarios/sync/rebase-conflict-skips-push.yml
  xtask/Cargo.toml
  xtask/src/main.rs
  xtask/src/manual_test/env.rs
  xtask/src/manual_test/interactive.rs
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/repo_gen.rs
  xtask/src/manual_test/runner.rs
  xtask/src/manual_test/schema.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: add output assertions and recursive scenario discovery
  tests/manual/scenarios/unknown-command/error.yml
  tests/manual/scenarios/unknown-command/git-daft-error.yml
  tests/manual/scenarios/unknown-command/no-args.yml
  tests/manual/scenarios/unknown-command/no-suggestions.yml
  tests/manual/scenarios/unknown-command/suggestion.yml
  xtask/src/manual_test/interactive.rs
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/runner.rs
  xtask/src/manual_test/schema.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test: add 25 checkout YAML test scenarios
  tests/manual/scenarios/checkout/auto-start-config.yml
  tests/manual/scenarios/checkout/basic.yml
  tests/manual/scenarios/checkout/carry-default.yml
  tests/manual/scenarios/checkout/carry-flag.yml
  tests/manual/scenarios/checkout/carry-help.yml
  tests/manual/scenarios/checkout/carry-mixed.yml
  tests/manual/scenarios/checkout/carry-no-carry.yml
  tests/manual/scenarios/checkout/carry-no-changes.yml
  tests/manual/scenarios/checkout/carry-shorthand.yml
  tests/manual/scenarios/checkout/carry-staged.yml
  tests/manual/scenarios/checkout/complex-branches.yml
  tests/manual/scenarios/checkout/dash-deleted-previous.yml
  tests/manual/scenarios/checkout/dash-no-previous.yml
  tests/manual/scenarios/checkout/dash-toggle.yml
  tests/manual/scenarios/checkout/dash-with-create-branch.yml
  tests/manual/scenarios/checkout/error-message.yml
  tests/manual/scenarios/checkout/errors.yml
  tests/manual/scenarios/checkout/existing-worktree.yml
  tests/manual/scenarios/checkout/from-subdirectory.yml
  tests/manual/scenarios/checkout/fuzzy-suggestions.yml
  tests/manual/scenarios/checkout/remote-branch.yml
  tests/manual/scenarios/checkout/start-existing.yml
  tests/manual/scenarios/checkout/start-flag.yml
  tests/manual/scenarios/checkout/start-shorthand.yml
  tests/manual/scenarios/checkout/uncommitted-changes.yml
Due: prettier-format

test: add init, simple, and clone YAML test scenarios
  tests/manual/scenarios/clone/all-branches.yml
  tests/manual/scenarios/clone/default-branch.yml
  tests/manual/scenarios/clone/direnv.yml
  tests/manual/scenarios/clone/empty-repo.yml
  tests/manual/scenarios/clone/existing-directory.yml
  tests/manual/scenarios/clone/help.yml
  tests/manual/scenarios/clone/invalid-url.yml
  tests/manual/scenarios/clone/no-checkout.yml
  tests/manual/scenarios/clone/quiet.yml
  tests/manual/scenarios/clone/ssh-url.yml
  tests/manual/scenarios/init/bare.yml
  tests/manual/scenarios/init/basic.yml
  tests/manual/scenarios/init/branch-conventions.yml
  tests/manual/scenarios/init/custom-branch.yml
  tests/manual/scenarios/init/direnv.yml
  tests/manual/scenarios/init/errors.yml
  tests/manual/scenarios/init/help.yml
  tests/manual/scenarios/init/paths.yml
  tests/manual/scenarios/init/quiet.yml
  tests/manual/scenarios/init/repo-name-formats.yml
  tests/manual/scenarios/init/security.yml
  tests/manual/scenarios/init/workflow.yml
  tests/manual/scenarios/simple/binaries.yml
  tests/manual/scenarios/simple/help.yml
Due: prettier-format

test: add branch-delete, fetch, config, flow, rename, setup scenarios
  tests/manual/scenarios/branch-delete/basic.yml
  tests/manual/scenarios/branch-delete/branch-d-basic.yml
  tests/manual/scenarios/branch-delete/deprecated-warning.yml
  tests/manual/scenarios/branch-delete/force-unmerged.yml
  tests/manual/scenarios/branch-delete/nonexistent.yml
  tests/manual/scenarios/branch-delete/refuses-default.yml
  tests/manual/scenarios/branch-delete/refuses-dirty.yml
  tests/manual/scenarios/branch-delete/refuses-unmerged.yml
  tests/manual/scenarios/config/defaults.yml
  tests/manual/scenarios/fetch/current.yml
  tests/manual/scenarios/flow/adopt-basic.yml
  tests/manual/scenarios/flow/eject-basic.yml
  tests/manual/scenarios/rename/basic.yml
  tests/manual/scenarios/setup/dry-run.yml
  tests/manual/scenarios/setup/help.yml
Due: prettier-format

test: add checkout-branch, list, and prune YAML test scenarios
  tests/manual/scenarios/checkout-branch/basic.yml
  tests/manual/scenarios/checkout-branch/errors.yml
  tests/manual/scenarios/checkout-branch/from-subdirectory.yml
  tests/manual/scenarios/checkout-branch/help.yml
  tests/manual/scenarios/checkout-branch/naming.yml
  tests/manual/scenarios/checkout-branch/outside-repo.yml
  tests/manual/scenarios/checkout-branch/with-base.yml
  tests/manual/scenarios/list/basic.yml
  tests/manual/scenarios/list/branch-age.yml
  tests/manual/scenarios/list/commit-subject.yml
  tests/manual/scenarios/list/current-marker.yml
  tests/manual/scenarios/list/dirty-marker.yml
  tests/manual/scenarios/list/from-subdirectory.yml
  tests/manual/scenarios/list/head-column.yml
  tests/manual/scenarios/list/help.yml
  tests/manual/scenarios/list/json.yml
  tests/manual/scenarios/list/outside-repo.yml
  tests/manual/scenarios/list/relative-path.yml
  tests/manual/scenarios/prune/basic.yml
  tests/manual/scenarios/prune/empty-parent-cleanup.yml
  tests/manual/scenarios/prune/errors.yml
  tests/manual/scenarios/prune/force-dirty.yml
  tests/manual/scenarios/prune/from-subdirectory.yml
  tests/manual/scenarios/prune/help.yml
  tests/manual/scenarios/prune/multiple.yml
  tests/manual/scenarios/prune/no-deletion.yml
  tests/manual/scenarios/prune/plus-marker.yml
  tests/manual/scenarios/prune/removes-clean.yml
  tests/manual/scenarios/prune/skips-untracked.yml
Due: prettier-format

feat: add benchmark for YAML manual tests
  mise-tasks/bench/tests/manual/_default
Due: none

fix: include YAML manual tests in integration benchmark
  mise-tasks/bench/tests/integration/_default
Due: none

feat: add per-command bash vs YAML benchmarks
  mise-tasks/bench/tests/integration/_bench_command
  mise-tasks/bench/tests/integration/_default
  mise-tasks/bench/tests/integration/branch-delete
  mise-tasks/bench/tests/integration/checkout
  mise-tasks/bench/tests/integration/checkout-branch
  mise-tasks/bench/tests/integration/clone
  mise-tasks/bench/tests/integration/exec
  mise-tasks/bench/tests/integration/init
  mise-tasks/bench/tests/integration/list
  mise-tasks/bench/tests/integration/prune
Due: none

fix: rewrite integration benchmark as single sequential run
  mise-tasks/bench/tests/integration/_default
Due: none

feat: add benchmarks for all converted command suites
  mise-tasks/bench/tests/integration/_default
  mise-tasks/bench/tests/integration/completions
  mise-tasks/bench/tests/integration/config
  mise-tasks/bench/tests/integration/hooks
  mise-tasks/bench/tests/integration/rename
  mise-tasks/bench/tests/integration/setup
  mise-tasks/bench/tests/integration/shell-init
  mise-tasks/bench/tests/integration/sync
Due: none

fix: exclude stale bash tests from benchmark
  mise-tasks/bench/tests/integration/_default
Due: none

feat: run YAML tests alongside bash tests in matrix
  .github/workflows/test.yml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: TUI benchmark runner with live spinner table
  mise-tasks/bench/tests/integration/_default
  xtask/src/bench.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: align totals row and show live running timers
  xtask/src/bench.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: graceful Ctrl+C cancellation in benchmark TUI
  xtask/src/bench.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: update test documentation for YAML manual test framework
  CLAUDE.md
  tests/README.md
Due: prettier-format

docs: add YAML tests, sandbox, and benchmarks to contributing guide
  docs/contributing.md
Due: prettier-format

fix(ci): build and upload xtask binary for YAML tests
  .github/workflows/test.yml
Due: prettier-format

feat(ci): run bash and YAML tests as parallel matrix dimensions
  .github/workflows/test.yml
Due: prettier-format

test: add remaining hooks scenarios for full test parity
  tests/manual/scenarios/hooks/hooks-execute-in-tui.yml
  tests/manual/scenarios/hooks/migrate-basic.yml
  tests/manual/scenarios/hooks/migrate-conflict.yml
  tests/manual/scenarios/hooks/migrate-dry-run.yml
  tests/manual/scenarios/hooks/post-create-execution.yml
  tests/manual/scenarios/hooks/pre-create-abort.yml
Due: prettier-format

fix: build.rs rerun-if-changed watches wrong paths in worktrees
  build.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: build.rs rerun-if-changed watches wrong paths in worktrees (#303)
  build.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: rename git-sync to git-worktree-sync to avoid Homebrew conflicts
  .github/workflows/test-homebrew.yml
  .github/workflows/test.yml
  Cargo.toml
  SKILL.md
  dist-workspace.toml
  docs/.vitepress/config.ts
  docs/cli/daft-sync.md
  docs/cli/git-worktree-fetch.md
  docs/cli/git-worktree-prune.md
  docs/cli/git-worktree-sync.md
  docs/guide/shortcuts.md
  man/git-worktree-sync.1
  mise-tasks/setup/rust
  packaging/aur/PKGBUILD
  packaging/deb/postinst
  packaging/deb/prerm
  src/commands/completions/bash.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/shell_init.rs
  src/commands/sync.rs
  src/doctor/installation.rs
  src/main.rs
  src/shortcuts.rs
  tests/integration/test_sync.sh
  tests/manual/scenarios/simple/binaries.yml
  tests/manual/scenarios/sync/autostash-without-rebase.yml
  tests/manual/scenarios/sync/basic.yml
  tests/manual/scenarios/sync/cd-target.yml
  tests/manual/scenarios/sync/diverged-no-rebase.yml
  tests/manual/scenarios/sync/diverged-with-rebase.yml
  tests/manual/scenarios/sync/force.yml
  tests/manual/scenarios/sync/help.yml
  tests/manual/scenarios/sync/nothing-to-prune.yml
  tests/manual/scenarios/sync/outside-repo.yml
  tests/manual/scenarios/sync/rebase-autostash.yml
  tests/manual/scenarios/sync/rebase-conflict-skips-push.yml
  tests/manual/scenarios/sync/verbose.yml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs: add PR tagging requirements to CLAUDE.md
  CLAUDE.md
Due: prettier-format
