Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

refactor: sync command uses shared OperationTable
  src/commands/prune.rs
  src/commands/sync.rs
  src/commands/sync_shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: prune command uses shared OperationTable
  src/commands/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: make -b flag repeatable with Vec<String> and BranchSource
  docs/cli/git-worktree-clone.md
  man/daft-clone.1
  man/git-worktree-clone.1
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: integrate BranchPlan into clone core logic
  src/commands/clone.rs
  src/core/worktree/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: resolve path and upstream issues in satellite worktree creation
  src/commands/clone.rs
  src/git/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: wire TUI table for multi-branch clone with per-worktree hooks
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: propagate hook executor init failures in clone TUI
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: document repeatable -b flag in clone reference
  docs/cli/git-worktree-clone.md
Due: prettier-format

feat: add HEAD/@ completions for -b flag, regenerate man pages
  docs/cli/git-worktree-clone.md
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test: add YAML scenarios for multi-branch clone
  tests/manual/scenarios/clone/multi-branch-contained.yml
  tests/manual/scenarios/clone/multi-branch-head-token.yml
  tests/manual/scenarios/clone/multi-branch-hooks.yml
  tests/manual/scenarios/clone/multi-branch-missing.yml
  tests/manual/scenarios/clone/multi-branch-remote-conflict.yml
  tests/manual/scenarios/clone/multi-branch-sibling.yml
Due: prettier-format

test: document --all-branches hook behavior (no per-worktree hooks)
  tests/manual/scenarios/clone/all-branches-hooks.yml
Due: prettier-format

feat: add partial failure summary for multi-branch clone
  src/commands/clone.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: TUI shows base worktree, hooks display inside table, no bare duplicate
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: change clone -v from bool to u8 count for three verbosity levels
  docs/cli/git-worktree-clone.md
  man/daft-clone.1
  man/git-worktree-clone.1
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: fire worktree-post-create for every worktree during clone
  src/commands/clone.rs
  tests/manual/scenarios/clone/all-branches-hooks.yml
  tests/manual/scenarios/clone/layout-contained-hooks.yml
  tests/manual/scenarios/clone/multi-branch-hooks.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: add --columns flag to clone with defaults (base, age, last-commit)
  docs/cli/git-worktree-clone.md
  man/daft-clone.1
  man/git-worktree-clone.1
  src/commands/clone.rs
  src/core/columns.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: populate clone TUI columns with git metadata and repo-relative paths
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add path to clone TUI default columns
  src/core/columns.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: show repo-relative paths in clone TUI (repo/branch not just branch)
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: use parent directory as cwd for clone TUI path display
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: use actual Phase 4 worktree path for base row in clone TUI
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: use parent_dir for satellite worktree paths in contained-classic
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: canonicalize parent_dir before Phase 4 for contained-classic
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: use current_dir() for canonical parent path after bare clone
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: cd to base worktree for contained-classic satellite creation
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: add explicit sha1 feature for gix 0.81 compatibility
  Cargo.toml
Due: none

feat: repeatable -b flag for multi-branch clone (#324)
  docs/cli/git-worktree-clone.md
  docs/superpowers/plans/2026-03-24-clone-multiple-branches.md
  docs/superpowers/specs/2026-03-24-clone-multiple-branches-design.md
  man/daft-clone.1
  man/git-worktree-clone.1
  src/commands/clone.rs
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/commands/sync_shared.rs
  src/core/columns.rs
  src/core/worktree/branch_source.rs
  src/core/worktree/clone.rs
  src/core/worktree/mod.rs
  src/core/worktree/sync_dag.rs
  src/git/oxide.rs
  src/git/remote.rs
  src/output/tui/mod.rs
  src/output/tui/operation_table.rs
  src/output/tui/state.rs
  tests/manual/scenarios/clone/all-branches-hooks.yml
  tests/manual/scenarios/clone/layout-contained-hooks.yml
  tests/manual/scenarios/clone/multi-branch-contained.yml
  tests/manual/scenarios/clone/multi-branch-head-token.yml
  tests/manual/scenarios/clone/multi-branch-hooks.yml
  tests/manual/scenarios/clone/multi-branch-missing.yml
  tests/manual/scenarios/clone/multi-branch-remote-conflict.yml
  tests/manual/scenarios/clone/multi-branch-sibling.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs: add move hooks design spec
  docs/superpowers/specs/2026-03-25-move-hooks-design.md
Due: prettier-format

feat(hooks): add TrackedAttribute enum and tracks field to JobDef
  src/hooks/mod.rs
  src/hooks/tracking.rs
  src/hooks/yaml_config.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add move hooks implementation plan
  docs/superpowers/plans/2026-03-25-move-hooks.md
Due: prettier-format

feat(hooks): add move-specific fields to HookContext
  src/hooks/environment.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): add MoveHookRunner for four-phase move hook flow
  src/hooks/mod.rs
  src/hooks/move_hooks.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): add filter_tracked_jobs for move hook job selection
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): add old_worktree_path and old_branch template vars
  src/hooks/template.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): handle is_move in get_hook_source_worktree and working_directory
  src/hooks/environment.rs
  src/hooks/executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(hooks): add validation tests for tracks field
  src/hooks/yaml_config_validate.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): implicit tracking detection from template variables
  src/hooks/tracking.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(hooks): deduplicate MoveHookParams in transform executor
  src/core/layout/transform/execute.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add move hooks documentation
  SKILL.md
  docs/cli/git-worktree-branch.md
  docs/guide/hooks.md
Due: prettier-format

feat(hooks): integrate move hooks into adopt (convert_to_bare)
  src/commands/flow_adopt.rs
  src/core/layout/transform/legacy.rs
  src/core/worktree/flow_adopt.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs
