Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

fix(hooks): render whole-hook --skip-hooks skip as per-job skips
  src/hooks/yaml_executor/mod.rs
  tests/manual/scenarios/hooks/skip-hooks-by-hook-name.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(completions): complete --skip-hooks selector values
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(hooks): align --skip-hooks integration with FCIS conventions
  src/hooks/job_adapter.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(hooks): prove whole-hook skip via markers, not uncapturable render text
  tests/manual/scenarios/hooks/skip-hooks-by-hook-name.yml
Due: prettier-format

docs(hooks): make job root attribute discoverable in search
  docs/hooks/yaml-reference.md
Due: prettier-format

test(hooks): cover cascade cycle-safety; document --skip-hooks completion scope
  src/commands/complete.rs
  src/hooks/job_adapter.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: DAG-aware --skip-hooks flag for worktree hooks (replaces --no-hooks) (#617)
  SKILL.md
  docs/cli/daft-go.md
  docs/cli/daft-start.md
  docs/cli/git-worktree-checkout.md
  docs/cli/git-worktree-clone.md
  docs/cli/git-worktree-flow-adopt.md
  docs/hooks/job-orchestration.md
  docs/hooks/yaml-reference.md
  man/daft-adopt.1
  man/daft-clone.1
  man/daft-go.1
  man/daft-start.1
  man/git-worktree-checkout.1
  man/git-worktree-clone.1
  man/git-worktree-flow-adopt.1
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/flow_adopt.rs
  src/commands/hooks/run_cmd.rs
  src/core/worktree/flow_adopt.rs
  src/hooks/job_adapter.rs
  src/hooks/yaml_executor/mod.rs
  tests/integration/test_hooks.sh
  tests/manual/scenarios/hooks/flags-exclusive.yml
  tests/manual/scenarios/hooks/no-hooks-flag.yml
  tests/manual/scenarios/hooks/skip-hooks-by-hook-name.yml
  tests/manual/scenarios/hooks/skip-hooks-cascade.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

deps: bump tabled manifest requirement to 0.21
  Cargo.toml
Due: none

deps: bump gix manifest requirement to 0.84
  Cargo.toml
Due: none

feat(git): route every push through run_push, honoring pre-push hooks
  src/commands/multi_remote.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/push.rs
  src/core/worktree/rename.rs
  src/git/mod.rs
  src/git/push_porcelain.rs
  src/git/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(store): record trust-skipped hook invocations (migration 002)
  src/coordinator/adapters/sqlite_store.rs
  src/coordinator/domain/reconcile.rs
  src/coordinator/ports/store.rs
  src/store/migrate.rs
  src/store/migrations/002_invocation_status.sql
  src/store/models/invocation.rs
  src/store/repos/invocations.rs
  src/store/repos/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(worktree): add StageRunner port and push_with_hooks composition
  src/core/worktree/mod.rs
  src/core/worktree/ports.rs
  src/core/worktree/push.rs
  src/git/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): trust-skip notice registry with TUI-deferred flush
  src/hooks/mod.rs
  src/hooks/trust_skip.rs
  src/output/buffering.rs
  src/output/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): centralize the untrusted-hook notice at the trust gates
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/flow_adopt.rs
  src/core/progress.rs
  src/hooks/executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): flush deferred untrusted-hook notices after TUI runs
  src/commands/clone.rs
  src/commands/prune.rs
  src/commands/repo/remove.rs
  src/commands/sync.rs
  src/core/tui_bridge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): suggest replaying trust-skipped hooks after `hooks trust`
  src/commands/dump_store.rs
  src/commands/hooks/trust.rs
  src/store/repos/invocations.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(push): wire all six push sites through push_with_hooks with reporting
  docs/cli/daft-multi-remote.md
  docs/cli/git-worktree-branch-delete.md
  docs/cli/git-worktree-branch.md
  docs/cli/git-worktree-checkout.md
  docs/cli/git-worktree-sync.md
  man/daft-go.1
  man/daft-remove.1
  man/daft-rename.1
  man/daft-start.1
  man/daft-sync.1
  man/git-worktree-branch-delete.1
  man/git-worktree-branch.1
  man/git-worktree-checkout.1
  man/git-worktree-sync.1
  src/commands/branch_delete.rs
  src/commands/checkout.rs
  src/commands/merge.rs
  src/commands/multi_remote.rs
  src/commands/sync.rs
  src/commands/worktree_branch.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/push.rs
  src/core/worktree/rename.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(hooks): regression scenarios + docs for untrusted-hook warnings
  SKILL.md
  docs/about/troubleshooting.md
  docs/cli/daft-hooks.md
  docs/hooks/trust-and-security.md
  src/commands/hooks/mod.rs
  src/hooks/trust_skip.rs
  tests/manual/scenarios/hooks/replay-clears-skips.yml
  tests/manual/scenarios/hooks/skip-hooks-suppresses-untrusted-warning.yml
  tests/manual/scenarios/hooks/trust-suggests-replay.yml
  tests/manual/scenarios/hooks/untrusted-warning-clone-multi-branch.yml
  tests/manual/scenarios/hooks/untrusted-warning-clone-postclone.yml
  tests/manual/scenarios/hooks/untrusted-warning-remove.yml
  tests/manual/scenarios/hooks/untrusted-warning-stderr-only.yml
  tests/manual/scenarios/hooks/untrusted-warning-sync.yml
  tests/manual/scenarios/hooks/untrusted-warning-yaml-checkout.yml
  tests/manual/scenarios/hooks/untrusted.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(tui): report the pre-push stage on sync TUI rows via DagHookPhase
  src/commands/clone.rs
  src/commands/prune.rs
  src/commands/repo/remove.rs
  src/commands/sync.rs
  src/commands/sync_shared.rs
  src/core/tui_bridge.rs
  src/core/worktree/sync_dag.rs
  src/output/tui/presenter.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style(hooks): align replay suggestion with the trust line in the notice
  src/hooks/trust_skip.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(push): YAML regression scenarios for pre-push hook gating
  tests/manual/scenarios/push-hooks/branch-delete-remote-rejected.yml
  tests/manual/scenarios/push-hooks/checkout-branch-autopush-rejected.yml
  tests/manual/scenarios/push-hooks/rename-remote-rejected.yml
  tests/manual/scenarios/push-hooks/sync-push-no-verify-bypasses.yml
  tests/manual/scenarios/push-hooks/sync-push-passing-and-up-to-date.yml
  tests/manual/scenarios/push-hooks/sync-push-rejected.yml
Due: prettier-format

docs(hooks): document pre-push honoring and the --no-verify escape hatch
  SKILL.md
  docs/hooks/index.md
  docs/reference/configuration.md
Due: prettier-format

test: add RED scenarios for visitor-config provenance flows
  tests/manual/scenarios/file-merge/conflict-prompt-and-yes.yml
  tests/manual/scenarios/file-merge/three-way-with-seed.yml
  tests/manual/scenarios/prune/prune-merged-stale-pristine-removes-silently.yml
  tests/manual/scenarios/prune/prune-refined-skipped-with-summary.yml
  tests/manual/scenarios/prune/prune-skips-gone-but-unmerged.yml
  tests/manual/scenarios/visitor-propagation/forced-remove-stale-pristine-never-writes.yml
  tests/manual/scenarios/visitor-propagation/interactive-remove-consolidates-on-yes.yml
  tests/manual/scenarios/visitor-propagation/merge-conflicting-key-aborts-noninteractive.yml
  tests/manual/scenarios/visitor-propagation/merge-pristine-source-keeps-target.yml
  tests/manual/scenarios/visitor-propagation/merge-refined-source-announces-keys.yml
  tests/manual/scenarios/visitor-propagation/unforced-remove-refined-refuses-then-forced-stashes.yml
  tests/manual/scenarios/visitor-propagation/unforced-remove-stale-pristine-frictionless.yml
Due: prettier-format

feat(store): record visitor daft-file seed provenance per worktree
  src/commands/dump_store.rs
  src/coordinator/adapters/sqlite_store.rs
  src/coordinator/ports/mod.rs
  src/coordinator/ports/store.rs
  src/core/install/mod.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/prune.rs
  src/hooks/mod.rs
  src/hooks/visitor_seeds.rs
  src/store/migrate.rs
  src/store/migrations/002_visitor_seeds.sql
  src/store/mod.rs
  src/store/models/mod.rs
  src/store/models/visitor_seed.rs
  src/store/repos/mod.rs
  src/store/repos/visitor_seeds.rs
  xtask/src/manual_test/daft_executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): three-way config merge, seed classification, discard stash
  src/hooks/config_merge.rs
  src/hooks/visitor_propagation.rs
  src/hooks/visitor_seeds.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(worktree): provenance-gated removal — consolidate, discard, never write the target
  src/commands/branch_delete.rs
  src/commands/merge.rs
  src/commands/worktree_branch.rs
  src/core/mod.rs
  src/core/progress.rs
  src/core/tui_bridge.rs
  src/core/worktree/branch_delete.rs
  tests/manual/scenarios/visitor-propagation/refuse-remove-on-divergence.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(merge): three-way visitor consolidation with announce and conflict abort
  src/commands/merge.rs
  src/core/worktree/branch_delete.rs
  src/hooks/visitor_propagation.rs
  src/hooks/visitor_seeds.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(prune): verify merge status and provenance before destroying state
  src/commands/prune.rs
  src/commands/sync.rs
  src/commands/sync_shared.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/merged.rs
  src/core/worktree/mod.rs
  src/core/worktree/prune.rs
  src/core/worktree/sync_dag.rs
  src/output/tui/state.rs
  tests/manual/scenarios/prune/basic.yml
  tests/manual/scenarios/prune/cd-default-branch-not-first.yml
  tests/manual/scenarios/prune/cd-default-branch.yml
  tests/manual/scenarios/prune/empty-parent-cleanup.yml
  tests/manual/scenarios/prune/from-current-worktree.yml
  tests/manual/scenarios/prune/from-subdirectory.yml
  tests/manual/scenarios/prune/local-branch-visible.yml
  tests/manual/scenarios/prune/many-worktrees.yml
  tests/manual/scenarios/prune/multiple.yml
  tests/manual/scenarios/prune/prune-skips-gone-but-unmerged.yml
  tests/manual/scenarios/prune/remote-config.yml
  tests/manual/scenarios/prune/removes-clean.yml
  tests/manual/scenarios/sync/basic.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(file-merge): three-way merge with preview, conflict prompts, and backup
  src/commands/file/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: visitor provenance behavior across skill, docs site, and man pages
  SKILL.md
  docs/about/faq.md
  docs/about/glossary.md
  docs/cli/daft-file.md
  docs/cli/git-worktree-branch-delete.md
  docs/cli/git-worktree-branch.md
  docs/cli/git-worktree-prune.md
  docs/recipes/visitor-adoption.md
  man/daft-file.1
  man/daft-prune.1
  man/daft-remove.1
  man/git-worktree-branch-delete.1
  man/git-worktree-branch.1
  man/git-worktree-prune.1
  src/commands/branch_delete.rs
  src/commands/file/merge.rs
  src/commands/prune.rs
  src/commands/worktree_branch.rs
  test-plans/visitor-provenance.md
  tests/manual/scenarios/hooks/bg-output-silent.yml
  tests/manual/scenarios/hooks/hooks-execute-in-tui.yml
  tests/manual/scenarios/hooks/log-cleanup-budget-evicts-oldest.yml
  tests/manual/scenarios/hooks/log-cleanup-dry-run.yml
  tests/manual/scenarios/hooks/log-cleanup-honors-keep-last.yml
  tests/manual/scenarios/hooks/log-cleanup-respects-retention.yml
  tests/manual/scenarios/hooks/log-cleanup-skips-running.yml
  tests/manual/scenarios/hooks/log-cleanup-stale-running-detected.yml
  tests/manual/scenarios/hooks/prune-budget-accounting.yml
  tests/manual/scenarios/hooks/prune-dry-run-invocations.yml
  xtask/src/manual_test/daft_executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test: align bash merge-consolidation test with seed provenance
  tests/integration/test_daft_merge_visitor_rollback.sh
  tests/integration/test_framework.sh
Due: none

test: mark fixture branches merged in bash prune/sync tests
  tests/integration/test_prune.sh
  tests/integration/test_sync.sh
Due: none

test: poll for silent-ok-job log deletion in bg-output-silent
  tests/manual/scenarios/hooks/bg-output-silent.yml
Due: prettier-format

ci: extend daft-binary artifact retention to 5 days
  .github/workflows/test.yml
Due: prettier-format

test: drop duplicated log path from bg-output-silent failure message
  tests/manual/scenarios/hooks/bg-output-silent.yml
Due: prettier-format

ci: de-flake bg-output-silent test and extend artifact retention (#635)
  .github/workflows/test.yml
  tests/manual/scenarios/hooks/bg-output-silent.yml
Due: prettier-format
