Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

fix(output): flatten multi-line commands on the thread's provenance line
  src/output/timeline/rail_hook.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(output): give each verbose thread its own air
  docs/reference/progress-timeline.md
  src/output/timeline/rail_hook.rs
  test-plans/plan-execute-timeline.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(output): keep the thread's air inside the section, elapsed in the annotation
  docs/reference/progress-timeline.md
  examples/timeline_spike.rs
  src/output/timeline/rail_hook.rs
  test-plans/plan-execute-timeline.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(output): keep unplanned hook phases off the raw output mid-region
  src/core/progress.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(output): curve the section note closed, tick the pending footer
  docs/reference/progress-timeline.md
  src/output/timeline/mod.rs
  src/output/timeline/rail_hook.rs
  src/output/timeline/region.rs
  src/output/timeline/render.rs
  test-plans/plan-execute-timeline.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(output): tick the pending footer from the first frame
  docs/reference/progress-timeline.md
  src/output/timeline/mod.rs
  src/output/timeline/region.rs
  test-plans/plan-execute-timeline.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(timeline): planning face — the rail opens before the plan commits
  src/output/timeline/mod.rs
  src/output/timeline/region.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(timeline): survive prompts under a live region
  src/core/progress.rs
  src/interrupt.rs
  src/prompt.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(checkout): open the rail at t=0 for daft go and daft start
  src/commands/checkout.rs
  src/core/worktree/checkout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(remove): open the rail at t=0 for daft remove
  src/commands/worktree_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(reference): the rail opens the moment the command starts
  docs/reference/progress-timeline.md
  test-plans/plan-execute-timeline.md
Due: prettier-format

feat(timeline): planning-label updates; pin pre-completed rows over the face
  src/output/timeline/mod.rs
  src/output/timeline/region.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(clone): open the rail at t=0 — the bare phase runs under the planning face
  src/commands/clone.rs
  src/hints.rs
  src/output/timeline/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(reference): clone on the planning face
  docs/reference/progress-timeline.md
  test-plans/plan-execute-timeline.md
Due: prettier-format

fix(output): scrub receipt URLs, keep redirected stdout, interrupt-safe prompts
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/worktree_branch.rs
  src/core/progress.rs
  src/core/repo.rs
  src/interrupt.rs
  src/output/term_guard.rs
  src/output/timeline/mod.rs
  src/prompt.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(output): honest receipts — clone failures, push blame, quiet config skips
  src/commands/clone.rs
  src/core/progress.rs
  src/core/shared.rs
  src/core/worktree/checkout_branch.rs
  src/executor/cli_presenter.rs
  src/hooks/executor.rs
  src/output/timeline/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(output): rail geometry — tense-wide columns, in-group hook sections, one morph rail
  docs/reference/progress-timeline.md
  src/commands/checkout.rs
  src/core/worktree/checkout.rs
  src/executor/cli_presenter.rs
  src/executor/presenter.rs
  src/hooks/yaml_executor/mod.rs
  src/output/timeline/mod.rs
  src/output/timeline/rail_hook.rs
  src/output/timeline/region.rs
  test-plans/plan-execute-timeline.md
  tests/manual/scenarios/checkout-branch/hook-output-verbose-plain.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor: review cleanups — shared routing, single loads, canonical constants
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/worktree_branch.rs
  src/core/progress.rs
  src/core/settings.rs
  src/core/shared.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/mod.rs
  src/hints.rs
  src/hooks/yaml_config_loader.rs
  src/output/timeline/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(catalog): global repo catalog store and ambient registration
  .github/labeler.yml
  src/catalog/mod.rs
  src/catalog/normalize.rs
  src/catalog/registration.rs
  src/catalog/service.rs
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/exec.rs
  src/commands/fetch.rs
  src/commands/flow_adopt.rs
  src/commands/flow_eject.rs
  src/commands/init.rs
  src/commands/list.rs
  src/commands/prune.rs
  src/core/worktree/remove_repo.rs
  src/lib.rs
  src/store/connection.rs
  src/store/migrate.rs
  src/store/migrations/catalog/001_catalog.sql
  src/store/mod.rs
  src/store/models/catalog_repo.rs
  src/store/models/mod.rs
  src/store/paths.rs
  src/store/pool.rs
  src/store/repos/catalog_repos.rs
  src/store/repos/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(go): cross-repo navigation through the repo catalog
  man/daft-go.1
  src/commands/checkout.rs
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  tests/manual/scenarios/checkout/go-cross-repo-outside.yml
  tests/manual/scenarios/checkout/go-cross-repo-previous.yml
  tests/manual/scenarios/checkout/go-cross-repo.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(fleet): catalog-aware list/fetch/prune/doctor, hooks jobs --repo, clone by name
  docs/cli/daft-doctor.md
  docs/cli/daft-hooks.md
  docs/cli/git-worktree-fetch.md
  docs/cli/git-worktree-list.md
  docs/cli/git-worktree-prune.md
  man/daft-doctor.1
  man/daft-list.1
  man/daft-prune.1
  man/daft-update.1
  man/git-worktree-fetch.1
  man/git-worktree-list.1
  man/git-worktree-prune.1
  src/catalog/fleet.rs
  src/catalog/mod.rs
  src/catalog/normalize.rs
  src/commands/clone.rs
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/doctor.rs
  src/commands/fetch.rs
  src/commands/hooks/jobs.rs
  src/commands/list.rs
  src/commands/prune.rs
  src/commands/repo/info.rs
  src/doctor/catalog_checks.rs
  src/doctor/mod.rs
  tests/manual/scenarios/clone/by-catalog-name.yml
  tests/manual/scenarios/completions/bash.yml
  tests/manual/scenarios/doctor/catalog-checks.yml
  tests/manual/scenarios/fetch/fleet-repos.yml
  tests/manual/scenarios/hooks/jobs-removed-repo.yml
  tests/manual/scenarios/list/fleet-repos.yml
  tests/manual/scenarios/prune/fleet-repos.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(graph): relations manifest, exec --repo/--all-repos/--related, start --with-related
  docs/cli/git-worktree-exec.md
  man/daft-exec.1
  man/daft-start.1
  man/git-worktree-exec.1
  src/catalog/mod.rs
  src/catalog/relations.rs
  src/catalog/service.rs
  src/commands/checkout.rs
  src/commands/exec.rs
  src/core/repo.rs
  src/core/worktree/exec/list_renderer.rs
  src/core/worktree/exec/mod.rs
  src/core/worktree/exec/progress_renderer.rs
  src/hooks/config_merge.rs
  src/hooks/yaml_config.rs
  tests/manual/scenarios/checkout-branch/start-with-related.yml
  tests/manual/scenarios/exec/cross-repo.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(repo): add, info, and list verbs for the repo catalog
  docs/cli/git-daft-repo-add.md
  docs/cli/git-daft-repo-info.md
  docs/cli/git-daft-repo-list.md
  man/git-daft-repo-add.1
  man/git-daft-repo-info.1
  man/git-daft-repo-list.1
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  src/commands/repo/add.rs
  src/commands/repo/info.rs
  src/commands/repo/list.rs
  src/commands/repo/mod.rs
  src/suggest.rs
  tests/manual/scenarios/repo/catalog-add-rename.yml
  tests/manual/scenarios/repo/catalog-basic.yml
  tests/manual/scenarios/repo/catalog-collision-suffix.yml
  tests/manual/scenarios/repo/catalog-reclone-same-path.yml
  tests/manual/scenarios/repo/catalog-remove-marks.yml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(output): current-row background parity across blocking and live tables
  src/commands/list.rs
  src/commands/repo/list.rs
  src/output/tui/catalog_table.rs
  src/output/tui/render.rs
  term-styles/src/lib.rs
  test-plans/repo-catalog.md
  tests/manual/scenarios/list/current-marker.yml
  tests/manual/scenarios/repo/catalog-basic.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor(columns): share one selection parser across column families
  src/core/columns.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(graph): Graph pillar, cookbook recipes, design artifacts, agent skill
  SKILL.md
  docs/.vitepress/config.ts
  docs/about/comparison.md
  docs/about/why-daft.md
  docs/cli/daft-repo-add.md
  docs/cli/daft-repo-info.md
  docs/cli/daft-repo-list.md
  docs/graph/concepts.md
  docs/graph/coordinated-changes.md
  docs/graph/index.md
  docs/graph/repo-catalog.md
  docs/hooks/yaml-reference.md
  docs/index.md
  docs/public/_redirects
  docs/recipes/coordinating-service-and-client.md
  docs/recipes/index.md
  docs/recipes/polyrepo-monorepo.md
  docs/superpowers/plans/2026-07-10-repo-catalog.md
  docs/superpowers/specs/2026-07-10-repo-catalog-design.md
  test-plans/repo-catalog.md
Due: prettier-format

refactor(tui): generalize the inline driver behind a LiveScreen trait
  src/output/tui/catalog_table.rs
  src/output/tui/driver.rs
  src/output/tui/mod.rs
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(repo): adopt the house --columns grammar on repo list
  SKILL.md
  docs/cli/daft-repo-list.md
  docs/cli/git-daft-repo-list.md
  docs/graph/repo-catalog.md
  man/git-daft-repo-list.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/repo/list.rs
  src/core/columns.rs
  src/output/tui/catalog_table.rs
  src/output/tui/driver.rs
  test-plans/repo-catalog.md
  tests/manual/scenarios/repo/catalog-basic.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(repo): house-style repo list with worktree counts, remotes, and live sizes
  SKILL.md
  docs/cli/daft-repo-list.md
  docs/cli/git-daft-repo-list.md
  docs/graph/repo-catalog.md
  man/git-daft-repo-list.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/list.rs
  src/commands/repo/list.rs
  test-plans/repo-catalog.md
  tests/manual/scenarios/repo/catalog-basic.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(list): take a cataloged repo as an optional positional argument
  SKILL.md
  docs/cli/daft-list.md
  docs/cli/git-worktree-list.md
  docs/graph/index.md
  docs/graph/repo-catalog.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/list.rs
  tests/manual/scenarios/list/fleet-repos.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs: codify the repo-aware command grammar in CLAUDE.md
  CLAUDE.md
Due: prettier-format

fix(repo): render repo list paths relative to the cwd like daft list
  docs/cli/daft-repo-list.md
  src/commands/repo/list.rs
  tests/manual/scenarios/repo/catalog-basic.yml
  tests/manual/scenarios/repo/catalog-worktrees.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(repo): opt-in layout column on repo list
  SKILL.md
  docs/cli/daft-repo-list.md
  docs/cli/git-daft-repo-list.md
  man/git-daft-repo-list.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/repo/list.rs
  src/core/columns.rs
  src/output/tui/catalog_table.rs
  test-plans/repo-catalog.md
  tests/manual/scenarios/repo/catalog-basic.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(repo): expand repo list rows into worktree trees with --worktrees
  SKILL.md
  docs/cli/daft-repo-list.md
  docs/cli/git-daft-repo-list.md
  docs/graph/repo-catalog.md
  man/git-daft-repo-list.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/repo/list.rs
  src/output/emit/formats/template.rs
  src/output/tui/catalog_table.rs
  src/output/tui/mod.rs
  test-plans/repo-catalog.md
  tests/manual/scenarios/repo/catalog-worktrees.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(completions): surface catalog repos in daft go first-argument completions
  src/commands/complete.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/repo/list.rs
  src/output/format.rs
  tests/manual/scenarios/completions/fish.yml
  tests/manual/scenarios/completions/zsh.yml
  tests/manual/scenarios/repo/catalog-basic.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(repo): rebuild the repo info card as the single-repo deep view
  SKILL.md
  docs/cli/daft-repo-info.md
  docs/cli/git-daft-repo-info.md
  man/git-daft-repo-info.1
  src/catalog/mod.rs
  src/catalog/worktrees.rs
  src/commands/repo/info.rs
  src/commands/repo/list.rs
  tests/manual/scenarios/repo/catalog-basic.yml
  tests/manual/scenarios/repo/catalog-worktrees.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(repo): address repo remove by catalog name and add --keep-files
  SKILL.md
  docs/cli/daft-repo-remove.md
  docs/cli/git-daft-repo-remove.md
  docs/graph/repo-catalog.md
  man/git-daft-repo-remove.1
  src/catalog/mod.rs
  src/catalog/registration.rs
  src/catalog/service.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/repo/remove.rs
  tests/manual/scenarios/repo/remove-keep-files.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(repo): render repo info fields one per line
  src/commands/repo/info.rs
  tests/manual/scenarios/repo/catalog-basic.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(clone): compose catalog registration into the rail region
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs
