Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

feat(man): generate man page for git-daft-repo-remove
  man/git-daft-repo-remove.1
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(completions): add `daft repo remove` to all shells
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(repo-remove): bail in TUI mode when a non-warned hook fails
  src/commands/repo/remove.rs
  src/commands/sync_shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sandbox): clean-repos task tears down test repos via `daft repo remove`
  mise-tasks/sandbox/_default
  mise-tasks/sandbox/clean-repos
Due: none

docs(site): CLI reference page for `daft repo remove`
  docs/.vitepress/config.ts
  docs/cli/daft-repo-remove.md
Due: prettier-format

test(repo-remove): exercise clean-repos sandbox helper denylist
  tests/integration/test_repo_remove.sh
Due: none

deps: updated mise tools lock file
  mise.lock
Due: none

fix(repo-remove): populate TUI rows and remove synthetic bare row
  src/commands/repo/remove.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(repo-remove): adopt new TableConfig.seeded_fields field
  src/commands/repo/remove.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(repo-remove): support gitoxide backend for read paths
  src/commands/repo/remove.rs
  src/core/worktree/remove_repo.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

ci: add build-check to pre-push hook
  lefthook.yml
Due: prettier-format

fix(repo-remove): never delete the directory containing the project root
  src/core/worktree/remove_repo.rs
  tests/integration/test_repo_remove.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(repo-remove): pin row count after full repo-remove event flow
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(repo-remove): hide bare row and populate HEAD metadata in TUI
  src/commands/repo/remove.rs
  src/core/worktree/sync_dag.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(repo-remove): use load_global so the command works outside any repo
  man/git-daft-repo-remove.1
  src/commands/repo/remove.rs
  tests/integration/test_repo_remove.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(repo-remove): capture cwd before removal + harden hook context
  docs/cli/daft-repo-remove.md
  docs/cli/git-daft-repo-remove.md
  man/git-daft-repo-remove.1
  src/commands/repo/remove.rs
  src/commands/sync_shared.rs
  tests/manual/scenarios/repo/remove-from-inside.yml
  tests/manual/scenarios/repo/remove-with-hooks.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(shell-init): wire DAFT_CD_FILE for daft repo subcommand
  src/commands/shell_init.rs
  tests/integration/test_shell_init.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(repo-remove): canonicalize start path before gix discover
  src/core/worktree/remove_repo.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(repo-remove): retire stale Bundle G TODO comments
  src/commands/repo/remove.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(repo-remove): use sequential output when no worktrees exist
  src/commands/repo/remove.rs
  tests/integration/test_repo_remove.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(sandbox): re-point daft env to per-worktree sandbox in clean tasks
  mise-tasks/sandbox/_lib.sh
  mise-tasks/sandbox/clean-repos
  shared-env.sh
Due: none

fix(hooks): use explicit ctx.git_dir for repo_id in YAML hook execution
  src/hooks/yaml_executor/mod.rs
  tests/manual/scenarios/repo/remove-with-hooks-cwd-outside.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(repo-remove): add SKILL.md entry and workflow guide section
  SKILL.md
  docs/guide/worktree-workflow.md
Due: prettier-format

docs(claude): require shell-wrapper cd-redirect for layout-changing commands
  CLAUDE.md
Due: prettier-format

feat(sandbox): run clean-repos before rm -rf in sandbox:clean
  mise-tasks/sandbox/clean
Due: none

deps: removed unused mise tool
  mise.lock
Due: none

chore(sandbox): flip --trust-hooks to default; add --no-trust-hooks opt-out
  mise-tasks/sandbox/clean
  mise-tasks/sandbox/clean-repos
Due: none

feat(sandbox): halt-by-default + --trust-hooks for safer cleanup
  mise-tasks/sandbox/clean
  mise-tasks/sandbox/clean-repos
Due: none

test(sandbox): add stress-cleanup task for randomized cleanup verification
  mise-tasks/sandbox/stress-cleanup
Due: none

docs(man): refresh version stamp on git-daft-repo-remove
  man/git-daft-repo-remove.1
Due: none

fix(repo-remove): address PR #448 review findings #1-#6
  src/commands/repo/mod.rs
  src/commands/repo/remove.rs
  src/core/worktree/remove_repo.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(clone): reject --no-checkout for non-bare layouts
  docs/cli/git-worktree-clone.md
  man/daft-clone.1
  man/git-worktree-clone.1
  src/commands/clone.rs
  tests/manual/scenarios/clone/no-checkout-non-bare-rejected.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(clone): cd into project root after successful --no-checkout
  src/commands/clone.rs
  tests/manual/scenarios/clone/no-checkout.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(completions): offer path completions and out-of-repo path remove
  docs/cli/daft-remove.md
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/worktree_branch.rs
  tests/manual/scenarios/branch-delete/daft-remove-outside-repo-by-path.yml
  tests/manual/scenarios/branch-delete/daft-remove-outside-repo-sibling-layout.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(clone): broaden no-checkout rejection coverage
  src/commands/clone.rs
  tests/manual/scenarios/clone/no-checkout-non-bare-rejected.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(clone): reject --no-checkout for non-bare layouts and cd into root on success (#458)
  docs/cli/git-worktree-clone.md
  man/daft-clone.1
  man/git-worktree-clone.1
  src/commands/clone.rs
  tests/manual/scenarios/clone/no-checkout-non-bare-rejected.yml
  tests/manual/scenarios/clone/no-checkout.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(completions): address PR review
  src/commands/completions/bash.rs
  src/commands/completions/mod.rs
  src/commands/worktree_branch.rs
  tests/manual/scenarios/branch-delete/daft-remove-cross-repo-rejected.yml
  tests/manual/scenarios/rename/outside-repo-by-path.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(completions): offer path completions and out-of-repo path remove (#459)
  docs/cli/daft-remove.md
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/worktree_branch.rs
  tests/manual/scenarios/branch-delete/daft-remove-cross-repo-rejected.yml
  tests/manual/scenarios/branch-delete/daft-remove-outside-repo-by-path.yml
  tests/manual/scenarios/branch-delete/daft-remove-outside-repo-sibling-layout.yml
  tests/manual/scenarios/rename/outside-repo-by-path.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(hooks): honor user git-config in commands that fire hooks
  src/commands/branch_delete.rs
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/flow_adopt.rs
  src/commands/flow_eject.rs
  src/commands/hooks/run_cmd.rs
  src/commands/layout.rs
  src/commands/prune.rs
  src/commands/repo/remove.rs
  src/commands/sync.rs
  src/commands/worktree_branch.rs
  tests/manual/scenarios/hooks/config-disabled-respected.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
