Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

feat(completions): add author name column to rich branch completions
  src/commands/complete.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(completions): add configurable columns and dirty status indicators
  src/commands/complete.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/core/columns.rs
  src/core/settings.rs
  src/git/oxide.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(completions): enable dirty status indicators by default
  src/core/columns.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): fix linked worktree detection, graceful no-repo, shell registrations
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/zsh.rs
  tests/integration/test_completions.sh
  tests/manual/scenarios/completions/bash.yml
  tests/manual/scenarios/completions/zsh.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(completions): rich grouped completions with configurable columns (#365)
  Cargo.toml
  benches/run_all.sh
  benches/scenarios/complete.sh
  docs/cli/daft-go.md
  docs/superpowers/plans/2026-04-11-go-command-completions.md
  docs/superpowers/specs/2026-04-11-go-command-completions-design.md
  mise-tasks/bench/complete
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/completion_spinner.rs
  src/core/columns.rs
  src/core/settings.rs
  src/git/config.rs
  src/git/oxide.rs
  src/lib.rs
  test-plans/go-completions.md
  tests/integration/test_completions.sh
  tests/manual/scenarios/completions/bash.yml
  tests/manual/scenarios/completions/go-grouped.yml
  tests/manual/scenarios/completions/zsh.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore: fix clippy warnings new in Rust 1.95
  src/commands/config/remote_sync.rs
  src/git/oxide.rs
  src/output/tui/shared_picker/add_modal.rs
  src/output/tui/shared_picker/manage_mode.rs
  src/output/tui/shared_picker/remove_modal.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: fix clippy warnings new in Rust 1.95 (#368)
  src/commands/config/remote_sync.rs
  src/git/oxide.rs
  src/output/tui/shared_picker/add_modal.rs
  src/output/tui/shared_picker/manage_mode.rs
  src/output/tui/shared_picker/remove_modal.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(output): keep outer spinner alive across hook boundary
  src/core/progress.rs
  src/output/cli.rs
  src/output/mod.rs
  src/output/test.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(output): keep outer spinner alive across hook boundary (#367)
  src/core/progress.rs
  src/output/cli.rs
  src/output/mod.rs
  src/output/test.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(config): add background, background_output, and log fields to YAML schema
  src/hooks/yaml_config.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(config): validate background job fields and detect foreground promotion
  src/hooks/yaml_config_validate.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(coordinator): add log store for background job persistence
  Cargo.toml
  src/coordinator/log_store.rs
  src/coordinator/mod.rs
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(executor): add background and log fields to JobSpec
  src/executor/mod.rs
  src/hooks/job_adapter.rs
  src/hooks/yaml_config.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(executor): add foreground/background job partitioning
  src/hooks/yaml_executor/mod.rs
  src/hooks/yaml_executor/partition.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(coordinator): add daft_state_dir() for XDG state directory
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(coordinator): implement coordinator state and fork-based background execution
  Cargo.toml
  src/coordinator/mod.rs
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): integrate background job partitioning and coordinator dispatch
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(cli): add daft hooks jobs command for background job management
  src/commands/hooks/jobs.rs
  src/commands/hooks/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): cancel background jobs when removing a worktree
  src/core/worktree/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(coordinator): add IPC client and socket listener
  src/coordinator/client.rs
  src/coordinator/mod.rs
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(config): merge log config across configuration layers
  src/hooks/yaml_config_loader.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(coordinator): add DAFT_IS_COORDINATOR guard to prevent recursive background spawning
  src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(completions): add hooks jobs subcommand to shell completions
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): list background jobs by name before dispatching to coordinator
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add design spec and implementation plan for background hook jobs
  docs/superpowers/plans/2026-03-27-background-hook-jobs.md
  docs/superpowers/specs/2026-03-27-background-hook-jobs-design.md
Due: prettier-format

test: add scenario for DAFT_NO_BACKGROUND_JOBS escape hatch
  tests/manual/scenarios/hooks/background-jobs-disabled.yml
Due: prettier-format

feat(hooks): show background jobs in summary with blue indicator
  src/executor/cli_presenter.rs
  src/executor/presenter.rs
  src/executor/runner.rs
  src/hooks/yaml_executor/mod.rs
  src/output/hook_progress/formatting.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
  src/output/hook_progress/plain.rs
  src/output/tui/presenter.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): show background jobs in live progress area with blue tint
  src/executor/cli_presenter.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
  src/output/hook_progress/plain.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: add YAML integration tests for background hook jobs
  tests/manual/scenarios/hooks/background-jobs.yml
Due: prettier-format

docs: document background hook jobs feature
  SKILL.md
  docs/cli/daft-hooks-jobs.md
  docs/guide/configuration.md
  docs/guide/hooks.md
Due: prettier-format

fix(hooks): use mp.println for background job progress lines
  src/output/hook_progress/interactive.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style(hooks): use "(background)" label in live progress area
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/plain.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): add InvocationMeta struct and LogStore query methods
  src/coordinator/log_store.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): resolve hook-level background default in job adapter
  docs/cli/daft-hooks.md
  man/daft-hooks.1
  src/hooks/job_adapter.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(sandbox): remind to run source init when entering sandbox
  mise-tasks/sandbox/_default
Due: none

fix(hooks): register background jobs before on_phase_complete
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): add background and finished_at fields to JobMeta
  src/commands/hooks/jobs.rs
  src/coordinator/log_store.rs
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): add JobAddress parser and resolver for composite addressing
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): plumb metadata at dispatch site and retry path
  src/commands/hooks/jobs.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): redesign CLI interface and grouped display
  docs/cli/daft-hooks.md
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format
