Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

ci: switch release-plz workflow to client-id input
  .github/workflows/release-plz.yml
Due: prettier-format

fix(ci): scope claude-pr-review concurrency to the job
  .github/workflows/claude-pr-review.yml
Due: prettier-format

fix(ci): scope claude-pr-review concurrency to the job (#440)
  .github/workflows/claude-pr-review.yml
Due: prettier-format

fix(ci): pass OAuth token via claude_code_oauth_token input
  .github/workflows/claude-pr-review.yml
Due: prettier-format

ci: narrow path filters on test.yml and bench.yml
  .github/workflows/bench.yml
  .github/workflows/test.yml
Due: prettier-format

ci: gate test.yml jobs by changed file categories
  .github/workflows/test.yml
Due: prettier-format

ci: fix Claude review auth + narrow path filters + gate test.yml jobs (#442)
  .github/workflows/bench.yml
  .github/workflows/claude-pr-review.yml
  .github/workflows/test.yml
Due: prettier-format

ci: switch release-plz workflow to client-id input (#438)
  .github/workflows/release-plz.yml
Due: prettier-format

deps: bump mise tools
  mise.lock
Due: none

fix: do not create default-branch worktree for multi-branch bare clones
  src/commands/clone.rs
  tests/manual/scenarios/clone/multi-branch-all-missing.yml
  tests/manual/scenarios/clone/multi-branch-contained.yml
  tests/manual/scenarios/clone/multi-branch-missing.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test: call out load-bearing #451 assertion in multi-branch-all-missing
  tests/manual/scenarios/clone/multi-branch-all-missing.yml
Due: prettier-format

fix: do not create default-branch worktree for multi-branch bare clones (#453)
  src/commands/clone.rs
  tests/manual/scenarios/clone/multi-branch-all-missing.yml
  tests/manual/scenarios/clone/multi-branch-contained.yml
  tests/manual/scenarios/clone/multi-branch-missing.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

ci: point client-id at existing WHEATLEY_BOT_APP_ID secret
  .github/workflows/release-plz.yml
Due: prettier-format

ci: point client-id at existing WHEATLEY_BOT_APP_ID secret (#455)
  .github/workflows/release-plz.yml
Due: prettier-format

docs(spec): design for `daft repo remove`
  docs/superpowers/specs/2026-04-28-remove-repo-design.md
Due: prettier-format

feat(sync-dag): add RemoveWorktree/RemoveBare task ids
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/worktree/sync_dag.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync-dag): add SyncDag::build_remove_repo
  src/core/worktree/sync_dag.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync-dag): add RemoveRepo operation phase
  src/core/worktree/sync_dag.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(plan): implementation plan for `daft repo remove`
  docs/superpowers/plans/2026-04-29-remove-repo.md
Due: prettier-format

feat(remove-repo): bare dir removal with empty-parent walk + trust cleanup
  src/core/worktree/remove_repo.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(remove-repo): gate trust-db save on reset_repo return value
  src/core/worktree/clone.rs
  src/core/worktree/remove_repo.rs
  src/hooks/trust.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(remove-repo): enumerate worktrees of a repo target
  src/core/worktree/remove_repo.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(remove-repo): add RepoTarget + resolve_repo path resolution
  src/core/worktree/mod.rs
  src/core/worktree/remove_repo.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(remove-repo): per-worktree filesystem removal helper
  src/core/worktree/remove_repo.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(repo): route `daft repo <verb>` and register subcommand list
  src/main.rs
  src/suggest.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync-shared): add remove-repo task execution helpers
  src/commands/sync_shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(repo): scaffold `daft repo` subcommand category and remove stub
  src/commands/mod.rs
  src/commands/repo/mod.rs
  src/commands/repo/remove.rs
  src/suggest.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(repo-remove): implement --dry-run plan output
  src/commands/repo/remove.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(repo-remove): TUI execution path with OperationTable
  src/commands/repo/remove.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(prune): derive Clone+Debug on WorktreeEntry, simplify TUI capture
  src/commands/repo/remove.rs
  src/core/worktree/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(repo-remove): sequential execution path with confirmation + summary
  src/commands/repo/remove.rs
  src/commands/sync_shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(repo-remove): redirect cwd via DAFT_CD_FILE when inside removed repo
  src/commands/repo/remove.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(repo-remove): exit non-zero when an aborted hook failed
  src/commands/repo/remove.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(repo-remove): propagate -v to TUI verbosity and gate extra rows
  src/commands/repo/remove.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(repo-remove): soft-fail instead of panicking when DAG entry missing
  src/commands/repo/remove.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(help): list `daft repo remove` in command categories
  src/commands/docs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(repo-remove): write DAFT_CD_FILE even on partial-failure path
  src/commands/repo/remove.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(repo-remove): YAML manual scenarios for repo remove
  tests/manual/scenarios/repo/remove-basic.yml
  tests/manual/scenarios/repo/remove-dry-run.yml
  tests/manual/scenarios/repo/remove-force.yml
  tests/manual/scenarios/repo/remove-from-inside.yml
  tests/manual/scenarios/repo/remove-non-git-fails.yml
  tests/manual/scenarios/repo/remove-vanilla.yml
  tests/manual/scenarios/repo/remove-with-hooks.yml
Due: prettier-format

docs(cli): commit generated reference for git-daft-repo-remove
  docs/cli/git-daft-repo-remove.md
Due: prettier-format

test(integration): bash integration tests for daft repo remove
  tests/integration/test_all.sh
  tests/integration/test_repo_remove.sh
Due: none

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
