Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

test(exec): sequential-stop and keep-going scheduler behavior
  src/core/worktree/exec.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(exec): parallel scheduler with stable-order aggregated report
  src/core/worktree/exec.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(exec): shell-form regression tests (-c not -i, arithmetic expansion)
  src/core/worktree/exec.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(exec): list-mode renderer with commands header, rows, failure dump
  src/commands/exec.rs
  src/core/worktree/exec/list_renderer.rs
  src/core/worktree/exec/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(exec): end-to-end scheduler plumbing with plain-text summary
  src/commands/exec.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(exec): single-target stdio pass-through
  src/commands/exec.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(exec): windows-mode renderer via JobPresenter extraction
  src/commands/exec.rs
  src/core/worktree/exec/mod.rs
  src/core/worktree/exec/windows_renderer.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(exec): SIGINT propagation with SIGTERM-then-SIGKILL escalation
  Cargo.toml
  src/commands/exec.rs
  src/core/worktree/exec/mod.rs
  src/core/worktree/exec/windows_renderer.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(exec): register worktree-exec in completions and xtask registries
  docs/cli/git-worktree-exec.md
  man/daft-exec.1
  man/git-worktree-exec.1
  src/commands/completions/mod.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(exec): rich branch-name completions (worktree-only)
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(exec): umbrella daft-verb completion dispatch in bash/zsh/fish
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(exec): help-text categories, CLI reference, guide
  docs/.vitepress/config.ts
  docs/cli/daft-exec.md
  docs/guide/running-commands-across-worktrees.md
  src/commands/docs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(exec): YAML scenarios for worktree-exec UX matrix
  mise-tasks/setup/rust
  tests/manual/scenarios/worktree-exec/failure-dump.yml
  tests/manual/scenarios/worktree-exec/glob-and-all.yml
  tests/manual/scenarios/worktree-exec/multi-target-parallel.yml
  tests/manual/scenarios/worktree-exec/orphan-branch-skip.yml
  tests/manual/scenarios/worktree-exec/sequential-and-keep-going.yml
  tests/manual/scenarios/worktree-exec/single-target-passthrough.yml
  tests/manual/scenarios/worktree-exec/unmatched-positional.yml
  tests/manual/scenarios/worktree-exec/verbose-windows.yml
  tests/manual/scenarios/worktree-exec/x-pipeline-stops-on-failure.yml
Due: prettier-format

test(exec): bash integration tests for worktree-exec command
  tests/integration/test_all.sh
  tests/integration/test_framework.sh
  tests/integration/test_worktree_exec.sh
Due: none

docs(exec): update SKILL.md and CHANGELOG for worktree-exec
  CHANGELOG.md
  SKILL.md
Due: prettier-format

feat(settings): add compact_finalization knob to HookOutputConfig
  src/core/settings.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hook_progress): add format_compact_row helper for compact finalization
  src/output/hook_progress/formatting.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hook_progress): compact finalization branch in PlainHookRenderer
  src/output/hook_progress/mod.rs
  src/output/hook_progress/plain.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hook_progress): tighten format_compact_row style and color tests
  src/output/hook_progress/formatting.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hook_progress): compact finalization branch in HookProgressRenderer
  src/output/hook_progress/formatting.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(exec): rename windows_renderer to progress_renderer
  src/commands/exec.rs
  src/core/worktree/exec/mod.rs
  src/core/worktree/exec/progress_renderer.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: updated ignore list
  .gitignore
Due: none

feat(exec): progress renderer prints neutral header, skips phase events
  src/core/worktree/exec/progress_renderer.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(exec): scrub stale 'windows'/'verbose' refs in progress_renderer docs
  src/core/worktree/exec/progress_renderer.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(exec): drop no-op init_logging + simplify OutputConfig; tighten verbose-rejection test
  src/commands/exec.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(exec): drop -v references; describe unified live progress UI
  SKILL.md
  docs/cli/daft-exec.md
  docs/guide/running-commands-across-worktrees.md
Due: prettier-format

feat(exec): drop -v flag; progress renderer is now the only multi-worktree UI
  docs/cli/git-worktree-exec.md
  man/daft-exec.1
  man/git-worktree-exec.1
  src/commands/exec.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(exec): drop verbose-windows manual scenario (flag removed)
  tests/manual/scenarios/worktree-exec/verbose-windows.yml
Due: prettier-format

docs(superpowers): add spec and plan for exec UI revision
  docs/superpowers/plans/2026-04-22-worktree-exec-ui-revision.md
  docs/superpowers/specs/2026-04-22-worktree-exec-ui-revision-design.md
Due: prettier-format

fix(exec): prevent TTY ^C echo from orphaning spinner lines
  src/core/worktree/exec/progress_renderer.rs
  src/output/hook_progress/interactive.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(changelog): exec entry now describes live-progress UI
  CHANGELOG.md
Due: prettier-format

fix(exec): add blank spacer between parallel job blocks in live UI
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(superpowers): spec row labels and skip states for exec UI
  docs/superpowers/specs/2026-04-24-exec-row-labels-and-skip-states-design.md
Due: prettier-format

feat(hook_progress): add RowState and extend format_compact_row
  src/output/hook_progress/formatting.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/plain.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(superpowers): plan row labels and skip states for exec UI
  docs/superpowers/plans/2026-04-24-exec-row-labels-and-skip-states.md
  docs/superpowers/specs/2026-04-24-exec-row-labels-and-skip-states-design.md
Due: prettier-format

fix(hook_progress): tighten RowState tests and extract column width constant
  src/output/hook_progress/formatting.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(hook_progress): plumb command preview + cancelled/skipped states
  src/executor/cli_presenter.rs
  src/executor/presenter.rs
  src/executor/runner.rs
  src/output/hook_progress/formatting.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
  src/output/hook_progress/plain.rs
  src/output/tui/presenter.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(exec): emit cancelled and skipped events per pipeline step
  src/core/worktree/exec/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hook_progress): live spinner shows \`branch ❯ command\`
  src/output/hook_progress/interactive.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hook_progress): document cancel semantics + dedupe bar teardown
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
  src/output/hook_progress/plain.rs
  src/output/tui/presenter.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
