Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

feat(completions): repo link/unlink shell completions
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(repo): link/unlink manual test scenarios
  tests/manual/scenarios/repo/link-by-url-uncloned.yml
  tests/manual/scenarios/repo/link-errors.yml
  tests/manual/scenarios/repo/link-idempotent-upsert.yml
  tests/manual/scenarios/repo/link-preserves-comments.yml
  tests/manual/scenarios/repo/link-unlink-basic.yml
  tests/manual/scenarios/repo/unlink-missing-friendly.yml
Due: prettier-format

test(repo): cover unlink by a non-matching URL form
  tests/manual/scenarios/repo/link-idempotent-upsert.yml
Due: prettier-format

docs: relations authoring via repo link/unlink
  SKILL.md
  docs/.vitepress/config.ts
  docs/cli/daft-repo-link.md
  docs/cli/daft-repo-unlink.md
  docs/graph/concepts.md
  docs/graph/repo-catalog.md
  docs/hooks/yaml-reference.md
  docs/recipes/coordinating-service-and-client.md
Due: prettier-format

feat(repo): resolve `repo info <path>` via the enclosing repo
  SKILL.md
  docs/cli/daft-repo-info.md
  docs/cli/git-daft-repo-info.md
  docs/graph/repo-catalog.md
  man/git-daft-repo-info.1
  src/catalog/service.rs
  src/commands/repo/info.rs
  src/core/repo.rs
  tests/manual/scenarios/repo/info-by-path.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(completions): repo info path fallback + case-insensitive repo-name completion
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  tests/integration/test_completions.sh
  tests/manual/scenarios/completions/zsh.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore: link web-turf repo
  daft.yml
Due: prettier-format

fix(catalog): keep block-header comments when unlinking the first relation
  src/catalog/relations_edit.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): stop bash word-splitting directory and label completions
  src/commands/completions/bash.rs
  src/commands/completions/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): complete unlink labels from the edited manifest, not the merged view
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(repo): reuse git_common_dir_at for common-dir discovery
  src/commands/repo/list.rs
  src/commands/worktree_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf(repo): open the read-only catalog once per link/unlink
  src/commands/repo/link.rs
  src/commands/repo/relation_io.rs
  src/commands/repo/unlink.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

ci: split unit tests out of the lint job
  .github/workflows/test.yml
Due: prettier-format

ci: split unit tests out of the lint job (#728)
  .github/workflows/test.yml
Due: prettier-format

test: finish integration-suite state isolation — completions sandbox + wider tripwire
  CLAUDE.md
  mise-tasks/completions/test
  mise-tasks/test/_default
  tests/integration/test_completions.sh
  tests/integration/test_framework.sh
  xtask/src/real_state_guard.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test: address code-review findings on the state-isolation hardening
  CLAUDE.md
  tests/integration/test_completions.sh
  xtask/src/real_state_guard.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test: finish integration-suite state isolation — completions sandbox + wider tripwire (#730)
  CLAUDE.md
  mise-tasks/completions/test
  mise-tasks/test/_default
  tests/integration/test_completions.sh
  tests/integration/test_framework.sh
  xtask/src/real_state_guard.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(forge): add ForgeBranchRef format + branch-tracking plumbing
  src/core/worktree/forge_ref.rs
  src/core/worktree/mod.rs
  src/git/config.rs
  src/git/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(forge): add src/forge/ CLI-passthrough resolution layer
  src/forge/cli.rs
  src/forge/github.rs
  src/forge/gitlab.rs
  src/forge/info.rs
  src/forge/mod.rs
  src/forge/parse.rs
  src/forge/provider.rs
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(forge): thread ForgeCheckout through core checkout execute
  src/commands/checkout.rs
  src/core/stage.rs
  src/core/worktree/checkout.rs
  src/output/timeline/plan.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(forge): wire pr:/mr:/URL checkout into the command layer
  src/commands/checkout.rs
  src/forge/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(forge): add opt-in PR/MR column to daft list
  src/commands/list.rs
  src/commands/list_live.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/columns.rs
  src/core/worktree/info_field.rs
  src/core/worktree/list.rs
  src/core/worktree/list_stream.rs
  src/core/worktree/sync_dag.rs
  src/forge/mod.rs
  src/output/format.rs
  src/output/tui/columns.rs
  src/output/tui/live_table.rs
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(forge): forge config keys + daft doctor forge category
  src/commands/checkout.rs
  src/commands/doctor.rs
  src/core/settings.rs
  src/doctor/forge_checks.rs
  src/doctor/mod.rs
  src/forge/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(forge): help, man pages, SKILL, docs, scenarios, labeler for #127
  .github/labeler.yml
  SKILL.md
  docs/.vitepress/config.ts
  docs/cli/git-worktree-checkout.md
  docs/cli/git-worktree-list.md
  docs/reference/configuration.md
  docs/worktrees/pull-requests.md
  man/daft-list.1
  man/git-worktree-checkout.1
  man/git-worktree-list.1
  src/commands/checkout.rs
  src/commands/list.rs
  test-plans/forge-pr-checkout.md
  tests/manual/scenarios/checkout/pr-fork.yml
  tests/manual/scenarios/checkout/pr-not-a-branch.yml
  tests/manual/scenarios/checkout/pr-same-repo.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(forge): forge-PR cache refresh — write-through + background snapshot
  src/commands/checkout.rs
  src/commands/fetch.rs
  src/commands/forge_cache.rs
  src/commands/mod.rs
  src/commands/sync.rs
  src/core/worktree/forge_ref.rs
  src/forge/cli.rs
  src/forge/github.rs
  src/forge/gitlab.rs
  src/forge/info.rs
  src/forge/mod.rs
  src/forge/provider.rs
  src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(store): forge_prs table — cached PR/MR snapshots per repo
  src/commands/dump_store.rs
  src/store/migrate.rs
  src/store/migrations/006_forge_prs.sql
  src/store/models/forge_pr.rs
  src/store/models/mod.rs
  src/store/repos/forge_prs.rs
  src/store/repos/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(completions): complete pr:/mr: forge targets on checkout and go
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  tests/integration/test_completions.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(list): decorate the PR column from the forge cache — outbound PRs + CI glyph
  src/commands/forge_cache.rs
  src/commands/list.rs
  src/commands/list_live.rs
  src/core/worktree/forge_ref.rs
  src/forge/info.rs
  src/output/format.rs
  src/output/tui/columns.rs
  src/output/tui/live_table.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(forge): PR-cache round-trip scenario, docs, SKILL, test plan
  SKILL.md
  docs/worktrees/pull-requests.md
  test-plans/forge-pr-checkout.md
  tests/manual/scenarios/checkout/pr-cache.yml
Due: prettier-format

fix(completions): put the bash colon idiom in the generator checkout/go actually use
  src/commands/completions/bash.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(list): merged PR fates and a color-carried PR column with links
  src/commands/forge_cache.rs
  src/commands/list.rs
  src/core/worktree/forge_ref.rs
  src/forge/github.rs
  src/forge/gitlab.rs
  src/forge/mod.rs
  src/forge/provider.rs
  src/output/format.rs
  src/output/tui/render.rs
  src/store/migrations/006_forge_prs.sql
  src/store/repos/forge_prs.rs
  term-styles/src/lib.rs
  tests/manual/scenarios/checkout/pr-cache.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(list): populate the PR column mid-run when the refresh lands
  src/commands/list_live.rs
  src/core/worktree/sync_dag.rs
  src/output/tui/live_table.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(store): forge_health singleton table for repo forge health
  src/store/migrate.rs
  src/store/migrations/007_forge_health.sql
  src/store/models/forge_health.rs
  src/store/models/mod.rs
  src/store/repos/forge_health.rs
  src/store/repos/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(forge): PR-column fate vocabulary, live refresh, and links
  SKILL.md
  docs/worktrees/pull-requests.md
  test-plans/forge-pr-checkout.md
Due: prettier-format

test(forge): PR-column visibility contract — scenario, docs, doctor dump
  SKILL.md
  docs/worktrees/pull-requests.md
  src/commands/dump_store.rs
  src/commands/forge_cache.rs
  test-plans/forge-pr-checkout.md
  tests/manual/scenarios/list/pr-default-column.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(list): re-verify PR statuses on every list call
  docs/worktrees/pull-requests.md
  src/commands/forge_cache.rs
  src/commands/list_live.rs
  src/store/migrations/007_forge_health.sql
  src/store/models/forge_health.rs
  test-plans/forge-pr-checkout.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(list): live PR cells wait for the refresh — skeleton, then status
  src/commands/forge_cache.rs
  src/commands/list_live.rs
  src/core/worktree/forge_ref.rs
  src/core/worktree/list_stream.rs
  src/core/worktree/sync_dag.rs
  src/output/tui/live_table.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(list): default PR column, silently health-gated per repo
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/forge_cache.rs
  src/commands/list.rs
  src/commands/list_live.rs
  src/core/columns.rs
  src/doctor/forge_checks.rs
  src/forge/cli.rs
  src/forge/github.rs
  src/forge/gitlab.rs
  src/forge/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(list): show every open PR as a row by default
  src/commands/list.rs
  src/commands/list_live.rs
  src/commands/sync.rs
  src/core/worktree/list.rs
  src/core/worktree/mod.rs
  src/core/worktree/pr_rows.rs
  src/git/config.rs
  src/output/format.rs
  src/output/tui/live_table.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
