Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

feat(start): mint anonymous fork worktrees with --fork
  man/daft-start.1
  src/commands/checkout.rs
  src/core/settings.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/fork_names.rs
  src/core/worktree/mod.rs
  tests/integration/test_shell_init.sh
  tests/manual/scenarios/checkout-branch/start-fork-base.yml
  tests/manual/scenarios/checkout-branch/start-fork-basic.yml
  tests/manual/scenarios/checkout-branch/start-fork-count.yml
  tests/manual/scenarios/checkout-branch/start-fork-naming-memorable.yml
  tests/manual/scenarios/checkout-branch/start-from-detached.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(completions): offer tags and sandbox names where they now navigate
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: teach the fan-out-and-merge-back workflow for fork worktrees
  SKILL.md
  docs/.vitepress/config.ts
  docs/cli/daft-start.md
  docs/worktrees/anonymous-worktrees.md
  docs/worktrees/index.md
  docs/worktrees/merging.md
Due: prettier-format

docs: name commit-ish in go/start usage lines and base slots
  man/daft-go.1
  man/daft-start.1
  src/commands/checkout.rs
  src/core/worktree/checkout_branch.rs
  tests/manual/scenarios/checkout-branch/start-commitish-base.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

perf(completions): filter tag names before peeling commit metadata
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(go): report the sandbox's real position on revisit
  src/core/worktree/branch_delete.rs
  src/core/worktree/sandbox.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): label sandbox job invocations by worktree dirname
  src/hooks/environment.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: extend go/start help summaries beyond branches
  man/daft-go.1
  man/daft-start.1
  man/daft.1
  src/commands/checkout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(remove): expand wildcard patterns over sandbox names
  SKILL.md
  docs/cli/daft-remove.md
  docs/worktrees/anonymous-worktrees.md
  man/daft-remove.1
  src/commands/worktree_branch.rs
  src/core/worktree/branch_delete.rs
  tests/manual/scenarios/branch-delete/remove-sandbox-wildcard.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(remove): cancel the right background job and outlive it before deleting
  src/commands/hooks/jobs.rs
  src/coordinator/client.rs
  src/coordinator/mod.rs
  src/coordinator/process.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(list): give sandbox rows instant cells instead of skeletons
  src/commands/list.rs
  src/commands/list_live.rs
  src/commands/size_cache.rs
  src/core/worktree/info_field.rs
  src/core/worktree/list.rs
  src/core/worktree/list_stream.rs
  src/output/tui/live_table.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(remove): claim sandbox hook rows on the rail by worktree label
  src/core/progress.rs
  src/hooks/executor.rs
  tests/manual/scenarios/branch-delete/remove-sandbox-pre-remove-hook.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(coordinator): teach the non-Unix client stub the cancel kill flag
  src/coordinator/client.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): changed-files glob engine for hook jobs
  SKILL.md
  docs/hooks/yaml-reference.md
  src/hooks/changed_files/mod.rs
  src/hooks/changed_files/provider.rs
  src/hooks/conditions.rs
  src/hooks/job_adapter.rs
  src/hooks/mod.rs
  src/hooks/template.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_executor/mod.rs
  tests/manual/scenarios/merge/changed-rule-conditions.yml
  tests/manual/scenarios/merge/glob-jobs-filter-by-changed-files.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(merge): native gate policy — committed merge: config, flags, landing re-verification
  SKILL.md
  docs/cli/daft-merge.md
  docs/cli/git-worktree-merge.md
  docs/hooks/yaml-reference.md
  docs/reference/configuration.md
  man/daft-merge.1
  man/git-worktree-merge.1
  src/commands/merge.rs
  src/core/worktree/merge.rs
  src/hooks/config_merge.rs
  src/hooks/yaml_config.rs
  tests/manual/scenarios/merge/gate-ff-only-flag-supplies.yml
  tests/manual/scenarios/merge/gate-ff-only.yml
  tests/manual/scenarios/merge/gate-landing-reverify.yml
  tests/manual/scenarios/merge/gate-single-source-with-hooks.yml
  tests/manual/scenarios/merge/gate-source-worktree-clean.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(merge): symmetric merge context — source paths, pinned target sha, fail-closed root templating
  SKILL.md
  docs/hooks/lifecycle.md
  docs/hooks/yaml-reference.md
  src/core/worktree/merge.rs
  src/hooks/executor.rs
  src/hooks/job_adapter.rs
  src/hooks/template.rs
  src/hooks/yaml_config.rs
  tests/manual/scenarios/merge/hook-env-vars.yml
  tests/manual/scenarios/merge/ring-in-source-worktree.yml
  tests/manual/scenarios/merge/root-template-fail-closed.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): tag selection — --skip-tag/--only-tag, --skip-hooks on merge
  SKILL.md
  docs/cli/daft-hooks.md
  docs/cli/daft-merge.md
  docs/cli/daft-run.md
  docs/cli/git-worktree-merge.md
  man/daft-merge.1
  man/daft-run.1
  man/git-worktree-merge.1
  src/commands/hooks/mod.rs
  src/commands/hooks/run_cmd.rs
  src/commands/merge.rs
  src/commands/run.rs
  src/hooks/yaml_executor/mod.rs
  tests/manual/scenarios/hooks/run-skip-tag.yml
  tests/manual/scenarios/merge/gate-skip-tag-deep.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(governor): extract to an executor-level service — unit classes, governed job runs, gate lane
  SKILL.md
  docs/reference/configuration.md
  src/commands/sync.rs
  src/core/worktree/merge.rs
  src/core/worktree/sync_dag.rs
  src/executor/runner.rs
  src/governor/domain.rs
  src/governor/jobserver.rs
  src/governor/lane.rs
  src/governor/mod.rs
  src/governor/ports.rs
  src/hooks/yaml_executor/mod.rs
  tests/integration/test_all.sh
  tests/integration/test_merge_gate_lane.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): output & interrogation — merge rail, skip kinds, failure breadcrumb, jobs navigation
  SKILL.md
  docs/cli/daft-hooks.md
  src/commands/hooks/jobs.rs
  src/commands/merge.rs
  src/core/stage.rs
  src/hooks/executor.rs
  src/hooks/job_adapter.rs
  src/hooks/yaml_executor/mod.rs
  src/output/timeline/plan.rs
  tests/manual/scenarios/hooks/jobs-last-failed-and-tails.yml
  tests/manual/scenarios/merge/squash-rb-source-moved.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs: record the CI ↔ merge-gate parity rule in CLAUDE.md
  CLAUDE.md
Due: prettier-format

docs(recipes): add merge gate parity pattern
  docs/.vitepress/config.ts
  docs/recipes/ci-parity.md
  docs/recipes/index.md
  docs/recipes/merge-gate-parity.md
Due: prettier-format

docs: document the merge gate on the pillar pages
  docs/hooks/index.md
  docs/worktrees/merging.md
Due: prettier-format

fix(merge): close four fail-open holes in the gate
  docs/hooks/lifecycle.md
  src/core/worktree/merge.rs
  src/hooks/changed_files/provider.rs
  src/hooks/yaml_config.rs
  tests/integration/test_merge_gate_lane.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(merge): gate --continue on the tree it is about to land
  docs/cli/daft-merge.md
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(governor): honor ctx.state_dir when opening the profile store
  src/governor/adapters/sqlite_profiles.rs
  src/governor/mod.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf(governor): exempt foreground phases from the AIMD ramp
  src/governor/domain.rs
  src/governor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): three correctness defects in job execution
  src/commands/merge.rs
  src/executor/runner.rs
  src/hooks/executor.rs
  src/hooks/job_adapter.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(output): four ways the gate could run without being seen
  src/commands/hooks/jobs.rs
  src/commands/merge.rs
  src/core/worktree/merge.rs
  src/governor/lane.rs
  src/output/mod.rs
  src/output/notice.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): register merge's gate flags in all four generators
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  tests/integration/test_completions.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(merge): type the gate refusals
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(merge): machine-readable merge verdict via --format
  docs/cli/git-worktree-merge.md
  man/daft-merge.1
  man/git-worktree-merge.1
  src/commands/hooks/jobs.rs
  src/commands/hooks/mod.rs
  src/commands/merge.rs
  src/core/worktree/merge.rs
  src/hooks/executor.rs
  src/hooks/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(merge): cover the --format verdict end to end
  tests/manual/scenarios/merge/format-gate-failed.yml
  tests/manual/scenarios/merge/format-json.yml
  tests/manual/scenarios/merge/format-refused.yml
Due: prettier-format

docs: register merge's --format across every surface
  SKILL.md
  docs/cli/daft-merge.md
  docs/reference/output-formats.md
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  tests/integration/test_completions.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(merge): cover the conflicted --format path
  tests/manual/scenarios/merge/format-conflicted.yml
Due: prettier-format

test(merge): pin the finish-mode rejection to both flag names
  tests/manual/scenarios/merge/format-refused.yml
Due: prettier-format

docs: fix the dead output-formats link on the merge page
  docs/cli/daft-merge.md
Due: prettier-format

ci: add a mise task for the xtask unit tests
  .github/workflows/test.yml
  mise-tasks/test/xtask
Due: prettier-format

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
