Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

chore(config): relate daft to dumbshow
  daft.yml
Due: prettier-format

docs: record the evidence-bridging principle for facts git does not hold
  ARCHITECTURE.md
  CLAUDE.md
Due: prettier-format

fix(prune): decide on recorded provenance, not absence from the remote
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/mod.rs
  src/core/worktree/provenance.rs
  src/core/worktree/prune.rs
  src/core/worktree/push.rs
  src/git/config.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(prune): state that a branch has to be attested to be in scope
  SKILL.md
  docs/cli/git-worktree-prune.md
  man/daft-prune.1
  man/git-worktree-prune.1
  src/commands/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(prune): cover both halves of the provenance rule
  tests/manual/scenarios/prune/keeps-never-published-branch-with-excluded-file.yml
  tests/manual/scenarios/prune/keeps-never-published-branch.yml
  tests/manual/scenarios/prune/prune-removes-context-drifted-squash.yml
  tests/manual/scenarios/prune/prune-removes-squash-merged-multi-commit.yml
  tests/manual/scenarios/prune/prune-skips-gone-but-unmerged.yml
  tests/manual/scenarios/prune/prunes-recorded-push-without-upstream.yml
  tests/manual/scenarios/sync/keeps-never-published-branch.yml
Due: prettier-format

style(push): drop an allow the split did not need
  src/core/worktree/push.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(sync): skip worktrees with no upstream instead of failing the run
  src/core/worktree/fetch.rs
  tests/integration/test_prune.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(prune): keep the push placeholder from breaking the docs build
  docs/cli/git-worktree-prune.md
  man/daft-prune.1
  man/git-worktree-prune.1
  src/commands/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(sync): ask the same upstream question the sequential path asks
  src/core/worktree/fetch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(push): record provenance at the batched push seam too
  ARCHITECTURE.md
  CLAUDE.md
  src/core/worktree/provenance.rs
  src/core/worktree/push.rs
  tests/manual/scenarios/push-hooks/sync-push-batched.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(prune): render the executable the way the user invoked it
  src/core/worktree/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(composer): dress the editor chrome in the daft palette through --dx-* tokens
  docs/.vitepress/theme/custom.css
Due: none

docs: pin @dumbshow/core+vue 0.4.1 and own the document's seed and placements
  .dep-age-allowlist
  docs/.vitepress/theme/graph/CLAUDE.md
  docs/.vitepress/theme/graph/composer/InspectorPane.vue
  docs/.vitepress/theme/graph/composer/elements.ts
  docs/.vitepress/theme/graph/pack.ts
  docs/.vitepress/theme/graph/seed.ts
  docs/bun.lock
  docs/package.json
  docs/tests/golden/__goldens__/composer-doc.json
  docs/tests/golden/compiled.test.ts
  docs/tests/golden/elements.test.ts
  docs/tests/golden/shell.test.ts
  docs/tests/ui/editor.lifecycle.spec.ts
Due: prettier-format, biome-check

fix(update): ask each worktree about its own upstream
  src/core/worktree/fetch.rs
  tests/manual/scenarios/sync/keeps-never-published-branch.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(landing): write the landing discipline
  CLAUDE.md
  docs/.vitepress/theme/graph/CLAUDE.md
  docs/.vitepress/theme/landing/CLAUDE.md
Due: prettier-format

docs(landing): restructure the home page as install, session, five points, close
  docs/.vitepress/theme/components/DemoStage.vue
  docs/.vitepress/theme/components/HomeLanding.vue
  docs/.vitepress/theme/graph/viewers.css
  docs/.vitepress/theme/home.css
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/landing/DemoStage.vue
  docs/.vitepress/theme/landing/HomeLanding.vue
  docs/.vitepress/theme/landing/InstallCta.vue
  docs/.vitepress/theme/landing/PointScene.vue
  docs/.vitepress/theme/landing/home.css
  docs/.vitepress/theme/landing/install.ts
  docs/.vitepress/theme/landing/points.ts
  docs/index.md
  docs/tests/golden/__goldens__/landing-points.json
  docs/tests/golden/compiled.test.ts
  docs/tests/ui/pack.landing.spec.ts
Due: prettier-format, biome-check

feat(prune): record publications daft observed but did not perform
  ARCHITECTURE.md
  CLAUDE.md
  SKILL.md
  docs/cli/git-worktree-prune.md
  man/daft-prune.1
  man/git-worktree-prune.1
  src/commands/prune.rs
  src/core/worktree/provenance.rs
  src/core/worktree/prune.rs
  tests/manual/scenarios/prune/backfills-branch-daft-never-pushed.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(prune): state the attestation rule on the daft prune page too
  docs/cli/daft-prune.md
Due: prettier-format

fix(docs): scope an entity rename to the entity
  docs/.vitepress/theme/graph/composer/EntityAttributes.vue
  docs/.vitepress/theme/graph/composer/InspectorPane.vue
  docs/.vitepress/theme/graph/seed.ts
  docs/tests/golden/compiled.test.ts
  docs/tests/golden/rename.test.ts
Due: biome-check

fix(docs): make the language say what it does
  docs/.vitepress/theme/graph/composer/elements.ts
  docs/.vitepress/theme/graph/shell.ts
  docs/.vitepress/theme/graph/verbs.ts
  docs/tests/golden/elements.test.ts
  docs/tests/golden/semantics.test.ts
  docs/tests/golden/shell.test.ts
Due: biome-check

docs: stop the catalog and the pack's own file from drifting
  docs/.vitepress/theme/graph/CLAUDE.md
  docs/.vitepress/theme/graph/catalog.ts
  docs/tests/golden/catalog.test.ts
Due: prettier-format, biome-check

fix(git): scope the branch-provenance read to repo-local config
  src/git/config.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(prune): take tracking information from config, not rendered output
  src/core/worktree/provenance.rs
  src/core/worktree/prune.rs
  tests/manual/scenarios/prune/ignores-gone-lookalike-subject.yml
  tests/manual/scenarios/prune/ignores-tracking-lookalike-subject.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(update): repair a truncated comment and name the pull-args trade-off
  src/core/worktree/fetch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

ci: gate the docs on the diagram language's golden suite
  .github/workflows/docs.yml
  daft.yml
  docs/.vitepress/theme/graph/CLAUDE.md
  mise-tasks/docs/test/ui
Due: prettier-format

ci: keep the docs-build ring mirroring its trigger
  daft.yml
  docs/.vitepress/theme/graph/seed.ts
Due: prettier-format, biome-check

fix: prune only reclaims branches something attests were published (#872)
  ARCHITECTURE.md
  CLAUDE.md
  SKILL.md
  docs/cli/daft-prune.md
  docs/cli/git-worktree-prune.md
  man/daft-prune.1
  man/git-worktree-prune.1
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/fetch.rs
  src/core/worktree/mod.rs
  src/core/worktree/provenance.rs
  src/core/worktree/prune.rs
  src/core/worktree/push.rs
  src/git/config.rs
  tests/integration/test_prune.sh
  tests/manual/scenarios/prune/backfills-branch-daft-never-pushed.yml
  tests/manual/scenarios/prune/ignores-gone-lookalike-subject.yml
  tests/manual/scenarios/prune/ignores-tracking-lookalike-subject.yml
  tests/manual/scenarios/prune/keeps-never-published-branch-with-excluded-file.yml
  tests/manual/scenarios/prune/keeps-never-published-branch.yml
  tests/manual/scenarios/prune/prune-removes-context-drifted-squash.yml
  tests/manual/scenarios/prune/prune-removes-squash-merged-multi-commit.yml
  tests/manual/scenarios/prune/prune-skips-gone-but-unmerged.yml
  tests/manual/scenarios/prune/prunes-recorded-push-without-upstream.yml
  tests/manual/scenarios/push-hooks/sync-push-batched.yml
  tests/manual/scenarios/sync/keeps-never-published-branch.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(layout): key transform's root role on the main working tree
  docs/cli/daft-layout.md
  man/daft-layout.1
  src/commands/layout.rs
  src/core/layout/transform/execute.rs
  src/core/layout/transform/plan.rs
  src/core/layout/transform/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(layout): cover transform rollback in a real repository
  src/core/layout/transform/execute.rs
  src/core/layout/transform/legacy.rs
  src/core/layout/transform/plan.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(layout): scenarios for a main working tree on a non-default branch
  SKILL.md
  docs/worktrees/adopting-existing-repos.md
  docs/worktrees/layouts.md
  src/commands/layout.rs
  tests/manual/scenarios/layout/transform-classic-drifted-refused.yml
  tests/manual/scenarios/layout/transform-mirror-ambiguous-refuses.yml
  tests/manual/scenarios/layout/transform-mirror-pivot-relocates.yml
  tests/manual/scenarios/layout/transform-mirror-sole-worktree-collapses.yml
  tests/manual/scenarios/layout/transform-nondefault-root-dirty-refused.yml
  tests/manual/scenarios/layout/transform-nondefault-root-round-trip.yml
  tests/manual/scenarios/layout/transform-nondefault-root-to-centralized.yml
  tests/manual/scenarios/layout/transform-nondefault-root-to-contained-classic.yml
  tests/manual/scenarios/layout/transform-nondefault-root-to-contained-flat.yml
  tests/manual/scenarios/layout/transform-nondefault-root-to-contained.yml
  tests/manual/scenarios/layout/transform-nondefault-root-to-nested.yml
  tests/manual/scenarios/layout/transform-nondefault-root-with-linked-worktree.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor(layout): fold the index-init passthrough into its helper
  src/core/layout/transform/execute.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(layout): fail closed in the transform engine, and reap what a collapse empties
  src/core/layout/transform/execute.rs
  src/core/layout/transform/legacy.rs
  src/core/layout/transform/mod.rs
  src/core/layout/transform/plan.rs
  tests/manual/scenarios/layout/transform-classic-drifted-refused.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(layout): restore the default-branch dirty check and correct the relocation notice
  src/commands/layout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: key layout transform's root role on the main working tree (#873)
  SKILL.md
  docs/cli/daft-layout.md
  docs/worktrees/adopting-existing-repos.md
  docs/worktrees/layouts.md
  man/daft-layout.1
  src/commands/layout.rs
  src/core/layout/transform/execute.rs
  src/core/layout/transform/legacy.rs
  src/core/layout/transform/mod.rs
  src/core/layout/transform/plan.rs
  src/core/layout/transform/state.rs
  tests/manual/scenarios/layout/transform-classic-drifted-refused.yml
  tests/manual/scenarios/layout/transform-mirror-ambiguous-refuses.yml
  tests/manual/scenarios/layout/transform-mirror-pivot-relocates.yml
  tests/manual/scenarios/layout/transform-mirror-sole-worktree-collapses.yml
  tests/manual/scenarios/layout/transform-nondefault-root-dirty-refused.yml
  tests/manual/scenarios/layout/transform-nondefault-root-round-trip.yml
  tests/manual/scenarios/layout/transform-nondefault-root-to-centralized.yml
  tests/manual/scenarios/layout/transform-nondefault-root-to-contained-classic.yml
  tests/manual/scenarios/layout/transform-nondefault-root-to-contained-flat.yml
  tests/manual/scenarios/layout/transform-nondefault-root-to-contained.yml
  tests/manual/scenarios/layout/transform-nondefault-root-to-nested.yml
  tests/manual/scenarios/layout/transform-nondefault-root-with-linked-worktree.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): git-stage foundation — recursion guard and git-dir resolution
  src/core/worktree/ports.rs
  src/hooks/git_stage/gitdir.rs
  src/hooks/git_stage/mod.rs
  src/hooks/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): carry git's stage payload into hook context and templates
  src/hooks/environment.rs
  src/hooks/template.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): named file sources, quoting variants, and exec-safe chunking
  src/commands/run.rs
  src/executor/mod.rs
  src/executor/runner.rs
  src/hooks/changed_files/expand.rs
  src/hooks/changed_files/mod.rs
  src/hooks/changed_files/provider.rs
  src/hooks/changed_files/sources.rs
  src/hooks/config_merge.rs
  src/hooks/executor.rs
  src/hooks/git_stage/mod.rs
  src/hooks/job_adapter.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): git stages as first-class hook types
  SKILL.md
  docs/cli/daft-hooks.md
  docs/cli/git-daft-hooks.md
  man/daft-hooks.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/hooks/add.rs
  src/commands/hooks/mod.rs
  src/commands/hooks/run_cmd.rs
  src/core/settings.rs
  src/core/settings_spec.rs
  src/core/stage.rs
  src/core/worktree/sync_dag.rs
  src/hooks/executor.rs
  src/hooks/git_stage/mod.rs
  src/hooks/mod.rs
  src/hooks/trust_skip.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_validate.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(hooks): git stages, the lefthook migration, and the adoption recipe
  SKILL.md
  docs/.vitepress/config.ts
  docs/about/comparison.md
  docs/about/faq.md
  docs/hooks/git-stages.md
  docs/hooks/index.md
  docs/hooks/lefthook-migration.md
  docs/hooks/roadmap.md
  docs/hooks/yaml-reference.md
  docs/recipes/adopting-from-lefthook.md
  docs/reference/configuration.md
  test-plans/git-hooks-drop-in.md
Due: prettier-format

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
