Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

refactor(init): extract business logic into core::worktree
  src/commands/init.rs
  src/core/worktree/init.rs
  src/core/worktree/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(fetch): extract business logic into core::worktree
  src/commands/fetch.rs
  src/core/worktree/fetch.rs
  src/core/worktree/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(checkout): extract business logic into core::worktree
  src/commands/checkout.rs
  src/core/mod.rs
  src/core/progress.rs
  src/core/worktree/checkout.rs
  src/core/worktree/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(checkout-branch): extract business logic into core::worktree
  src/commands/checkout_branch.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(clone): extract business logic into core::worktree
  src/commands/clone.rs
  src/core/worktree/clone.rs
  src/core/worktree/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(flow-adopt): extract business logic into core::worktree
  src/commands/flow_adopt.rs
  src/core/worktree/flow_adopt.rs
  src/core/worktree/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(flow-eject): extract business logic into core::worktree
  src/commands/flow_eject.rs
  src/core/worktree/flow_eject.rs
  src/core/worktree/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(prune): extract business logic into core::worktree
  src/commands/prune.rs
  src/core/worktree/mod.rs
  src/core/worktree/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(branch-delete): extract business logic into core::worktree
  src/commands/branch_delete.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: move business logic modules into src/core/
  src/commands/multi_remote.rs
  src/core/config.rs
  src/core/mod.rs
  src/core/multi_remote/config.rs
  src/core/multi_remote/migration.rs
  src/core/multi_remote/mod.rs
  src/core/multi_remote/path.rs
  src/core/remote.rs
  src/core/settings.rs
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: consolidate lib.rs utility functions into core
  src/core/mod.rs
  src/core/repo.rs
  src/core/worktree/mod.rs
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: removed plans
  docs/plans/2026-02-20-benchmark-dashboard-design.md
  docs/plans/2026-02-20-benchmark-dashboard-plan.md
Due: prettier-format

refactor(hooks): convert dump, validate, install, migrate to Output trait
  src/commands/hooks/dump.rs
  src/commands/hooks/install.rs
  src/commands/hooks/migrate.rs
  src/commands/hooks/mod.rs
  src/commands/hooks/validate.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(hooks): convert run_cmd, status, trust to Output trait
  src/commands/hooks/run_cmd.rs
  src/commands/hooks/status.rs
  src/commands/hooks/trust.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(multi-remote): convert status and set-default to Output trait
  src/commands/multi_remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(shortcuts): convert to Output trait, remove create_symlink_silent
  src/commands/shortcuts.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(setup): convert to Output trait
  src/commands/setup.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(doctor): convert to Output trait
  src/commands/doctor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(ci): prevent test workflow from running twice on release PRs
  .github/workflows/release-plz.yml
Due: prettier-format

fix: correct version from 1.1.0 to 1.0.30
  CHANGELOG.md
  Cargo.toml
  man/daft-release-notes.1
  man/git-worktree-branch-delete.1
  man/git-worktree-carry.1
  man/git-worktree-checkout-branch.1
  man/git-worktree-checkout.1
  man/git-worktree-clone.1
  man/git-worktree-fetch.1
  man/git-worktree-flow-adopt.1
  man/git-worktree-flow-eject.1
  man/git-worktree-init.1
  man/git-worktree-prune.1
Due: prettier-format

docs: reorient documentation to use daft verbs as primary commands
  docs/cli/git-worktree-branch-delete.md
  docs/cli/git-worktree-carry.md
  docs/cli/git-worktree-checkout.md
  docs/cli/git-worktree-clone.md
  docs/cli/git-worktree-fetch.md
  docs/cli/git-worktree-flow-adopt.md
  docs/cli/git-worktree-flow-eject.md
  docs/cli/git-worktree-init.md
  docs/cli/git-worktree-prune.md
  docs/contributing.md
  docs/getting-started/quick-start.md
  docs/getting-started/shell-integration.md
  docs/guide/adopting-existing-repos.md
  docs/guide/claude-skill.md
  docs/guide/configuration.md
  docs/guide/hooks.md
  docs/guide/multi-remote.md
  docs/guide/shortcuts.md
  docs/guide/worktree-workflow.md
  docs/index.md
Due: prettier-format

fix: generate daft verb tip boxes in xtask CLI doc generator
  man/git-worktree-flow-adopt.1
  src/commands/flow_adopt.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add man pages for daft verb commands
  man/daft-adopt.1
  man/daft-carry.1
  man/daft-clone.1
  man/daft-eject.1
  man/daft-fetch.1
  man/daft-go.1
  man/daft-init.1
  man/daft-prune.1
  man/daft-remove.1
  man/daft-start.1
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(gitoxide): detect gone upstream branches in branch_list_verbose
  src/git/oxide.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(gitoxide): detect gone upstream branches in branch_list_verbose (#252)
  src/git/oxide.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: consolidate worktree-branch-delete into worktree-branch -d/-D
  SKILL.md
  docs/.vitepress/config.ts
  docs/cli/daft-remove.md
  docs/cli/git-worktree-branch.md
  docs/cli/git-worktree-checkout.md
  docs/cli/git-worktree-prune.md
  docs/guide/configuration.md
  docs/guide/shortcuts.md
  man/git-worktree-branch.1
  mise-tasks/setup/rust
  src/commands/complete.rs
  src/commands/docs.rs
  src/commands/mod.rs
  src/commands/shell_init.rs
  src/commands/worktree_branch.rs
  src/doctor/installation.rs
  src/main.rs
  src/shortcuts.rs
  src/suggest.rs
  tests/integration/test_branch_delete.sh
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(ci): add git-worktree-branch symlinks to CI workflows
  .github/workflows/test-homebrew.yml
  .github/workflows/test.yml
Due: prettier-format

feat: consolidate worktree-branch-delete into worktree-branch -d/-D (#253)
  .github/workflows/test-homebrew.yml
  .github/workflows/test.yml
  SKILL.md
  docs/.vitepress/config.ts
  docs/cli/daft-remove.md
  docs/cli/git-worktree-branch.md
  docs/cli/git-worktree-checkout.md
  docs/cli/git-worktree-prune.md
  docs/guide/configuration.md
  docs/guide/shortcuts.md
  man/git-worktree-branch.1
  mise-tasks/setup/rust
  src/commands/complete.rs
  src/commands/docs.rs
  src/commands/mod.rs
  src/commands/shell_init.rs
  src/commands/worktree_branch.rs
  src/doctor/installation.rs
  src/main.rs
  src/shortcuts.rs
  src/suggest.rs
  tests/integration/test_branch_delete.sh
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs: add OS-variant run map design
  docs/plans/2026-02-22-os-variant-run-map-design.md
Due: prettier-format

docs: add OS-variant run map implementation plan
  docs/plans/2026-02-22-os-variant-run-map-plan.md
Due: prettier-format

feat(hooks): add RunCommand enum for polymorphic run field
  src/hooks/yaml_config.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): add Platform variant to SkipCondition and OnlyCondition
  src/hooks/yaml_config.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): platform-aware skip/only evaluation and remove OS constraint check
  src/hooks/conditions.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): integrate RunCommand resolution into execution layer
  src/commands/hooks/run_cmd.rs
  src/hooks/executor.rs
  src/hooks/yaml_config_loader.rs
  src/hooks/yaml_config_validate.rs
  src/hooks/yaml_executor/command.rs
  src/hooks/yaml_executor/dependency.rs
  src/hooks/yaml_executor/mod.rs
  src/hooks/yaml_executor/parallel.rs
  src/hooks/yaml_executor/sequential.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: migrate daft.yml to OS-variant run map syntax
  daft.yml
Due: prettier-format

fix(hooks): check platform skip before rendering in sequential executor
  src/hooks/yaml_executor/sequential.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: remove implementation plan documents
  docs/plans/2026-02-22-os-variant-run-map-design.md
  docs/plans/2026-02-22-os-variant-run-map-plan.md
Due: prettier-format

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
