Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

test(layout): add failing tests for layout default command
  tests/manual/scenarios/layout/default-conflict.yml
  tests/manual/scenarios/layout/default-reset.yml
  tests/manual/scenarios/layout/default-set.yml
  tests/manual/scenarios/layout/default-show.yml
Due: prettier-format

docs: add implementation plan for daft layout default
  docs/superpowers/plans/2026-03-22-layout-default-command.md
Due: prettier-format

fix(layout): use core.bare config for bare detection in transform
  tests/manual/scenarios/layout/transform-contained-to-sibling-master-branch.yml
Due: prettier-format

feat(config): add remove_default_layout for layout reset
  src/core/global_config.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): add completions for layout default
  docs/cli/daft-layout.md
  man/daft-layout.1
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(layout): add daft layout default command
  man/daft-layout.1
  src/commands/layout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): add daft_data_dir template variable
  src/core/layout/template.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(config): expose load_config_from_bare for pre-layout clone
  src/hooks/yaml_config_loader.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add daft_data_dir() for XDG data directory resolution
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(layout): update centralized layout to XDG data dir in spec and tests
  docs/superpowers/specs/2026-03-20-progressive-adoption-layout-system-design.md
  tests/manual/scenarios/layout/centralized-workflow.yml
Due: prettier-format

fix(layout): relocate worktrees before collapsing bare to non-bare
  src/commands/layout.rs
  tests/manual/scenarios/layout/transform-contained-to-sibling-name-collision.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(clone): add clone_bare_phase with BareCloneParams/Result
  src/core/worktree/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): change centralized template to XDG data dir
  src/core/layout/bare.rs
  src/core/layout/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: add DAFT_DATA_DIR isolation to manual test framework
  xtask/src/manual_test/env.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(clone): rewire run_clone to use bare-first phases
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add implementation plans for centralized XDG data dir and clone bare-first
  docs/superpowers/plans/2026-03-22-centralized-layout-xdg-data-dir.md
  docs/superpowers/plans/2026-03-22-clone-always-bare-first.md
Due: prettier-format

test(clone): update daft.yml scenarios for bare-first clone flow
  tests/manual/scenarios/clone/layout-from-daft-yml.yml
  tests/manual/scenarios/clone/layout-prompt-skipped-for-daft-yml.yml
Due: prettier-format

refactor(clone): remove old execute/CloneParams/clone_regular
  src/core/worktree/clone.rs
  src/git/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add specs for centralized XDG data dir and clone bare-first refactor
  docs/superpowers/specs/2026-03-22-centralized-layout-xdg-data-dir.md
  docs/superpowers/specs/2026-03-22-clone-always-bare-first-design.md
Due: prettier-format

docs: add XDG conventions section to CLAUDE.md
  CLAUDE.md
Due: prettier-format

feat(clone): add setup_bare_worktrees and unbare_and_checkout phases
  src/core/worktree/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): use config_get for bare detection in find_project_hooks
  src/commands/hooks/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(layout): skip linked worktrees during non-bare to bare conversion
  src/core/layout/transform.rs
  tests/manual/scenarios/layout/transform-nested-to-contained.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(sandbox): isolate DAFT_DATA_DIR to prevent centralized layout leaking
  mise-tasks/sandbox/_default
Due: none

docs: add comprehensive layout system documentation
  SKILL.md
  docs/.vitepress/config.ts
  docs/cli/daft-layout.md
  docs/cli/git-worktree-clone.md
  docs/cli/git-worktree-init.md
  docs/getting-started/quick-start.md
  docs/guide/adopting-existing-repos.md
  docs/guide/configuration.md
  docs/guide/layouts.md
  docs/guide/worktree-workflow.md
Due: prettier-format

docs: updated test plan
  test-plans/progressive-adoption.md
Due: prettier-format

docs: fix review findings in layout documentation
  docs/getting-started/quick-start.md
  docs/guide/layouts.md
Due: prettier-format

fix(init): store layout in repos.json and regenerate CLI docs
  docs/cli/daft-layout.md
  docs/cli/git-worktree-clone.md
  docs/cli/git-worktree-init.md
  src/commands/init.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test: fix init_quiet and hash-column CI failures
  tests/integration/test_init.sh
  tests/manual/scenarios/list/hash-column.yml
Due: prettier-format

docs: spec contained-classic layout and repo filter for template engine
  docs/superpowers/specs/2026-03-20-progressive-adoption-layout-system-design.md
Due: prettier-format

feat(layout): implement contained-classic and contained-sanitized layouts
  docs/cli/daft-layout.md
  man/daft-layout.1
  src/commands/clone.rs
  src/commands/layout.rs
  src/core/layout/bare.rs
  src/core/layout/mod.rs
  src/core/layout/template.rs
  src/core/worktree/checkout.rs
  src/core/worktree/clone.rs
  tests/manual/scenarios/clone/layout-contained-classic.yml
  tests/manual/scenarios/clone/layout-contained-sanitized.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(layout): adjust project_root for contained-classic in checkout_branch
  src/core/worktree/checkout_branch.rs
  tests/manual/scenarios/clone/layout-contained-classic.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor(layout): rename contained-sanitized to contained-flat
  docs/cli/daft-layout.md
  docs/superpowers/specs/2026-03-20-progressive-adoption-layout-system-design.md
  man/daft-layout.1
  src/commands/layout.rs
  src/core/layout/bare.rs
  src/core/layout/mod.rs
  tests/manual/scenarios/clone/layout-contained-flat.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(completions): add layout completions for transform and default
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): convert tab to colon for zsh _describe format
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style(completions): align layout description and template columns
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: spec template-driven layout transform engine
  docs/superpowers/specs/2026-03-23-template-driven-layout-transform-design.md
Due: prettier-format

docs: add implementation plan for template-driven layout transform
  docs/superpowers/plans/2026-03-23-template-driven-layout-transform.md
Due: prettier-format

refactor(transform): convert to module directory and add state data model
  src/core/layout/transform/legacy.rs
  src/core/layout/transform/mod.rs
  src/core/layout/transform/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(transform): add source and target state readers
  src/core/layout/transform/mod.rs
  src/core/layout/transform/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs
