Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

chore(bench): add init, prune, fetch, branch-delete benchmark scenarios
  benches/scenarios/branch_delete.sh
  benches/scenarios/fetch.sh
  benches/scenarios/init.sh
  benches/scenarios/prune.sh
Due: none

chore(bench): add full workflow benchmark scenario
  benches/scenarios/workflow_full.sh
Due: none

chore(bench): add competition comparison scenario
  benches/scenarios/vs_competition.sh
Due: none

chore(bench): add benchmark orchestrator
  benches/run_all.sh
Due: none

fix(bench): remove dead code in clone_with_hooks, add hooks+prune to workflow_full
  benches/scenarios/clone_with_hooks.sh
  benches/scenarios/workflow_full.sh
Due: none

chore(bench): add mise tasks for all benchmark scenarios
  mise-tasks/bench/_default
  mise-tasks/bench/baseline
  mise-tasks/bench/branch-delete
  mise-tasks/bench/checkout
  mise-tasks/bench/checkout-hooks
  mise-tasks/bench/clone
  mise-tasks/bench/clone-hooks
  mise-tasks/bench/compare
  mise-tasks/bench/competition
  mise-tasks/bench/fetch
  mise-tasks/bench/init
  mise-tasks/bench/prune
  mise-tasks/bench/workflow
Due: none

ci: add benchmark workflow
  .github/workflows/bench.yml
Due: prettier-format

docs: add benchmarks page to docs site
  docs/.vitepress/config.ts
  docs/benchmarks/index.md
Due: prettier-format

feat(hooks): add manual hook execution with `hooks run` command
  SKILL.md
  docs/cli/git-daft-hooks.md
  src/commands/complete.rs
  src/commands/hooks.rs
  src/hooks/executor.rs
  src/hooks/yaml_executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(bench): fix daft CLI invocations across all scenarios
  benches/scenarios/checkout.sh
  benches/scenarios/checkout_with_hooks.sh
  benches/scenarios/clone.sh
  benches/scenarios/clone_with_hooks.sh
  benches/scenarios/init.sh
  benches/scenarios/vs_competition.sh
  benches/scenarios/workflow_full.sh
Due: none

fix(hooks): don't modify existing config in `hooks install`
  docs/cli/git-daft-hooks.md
  src/commands/hooks.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor(hooks): remove post-init hook type
  CLAUDE.md
  SKILL.md
  docs/cli/git-daft-hooks.md
  docs/guide/configuration.md
  docs/guide/hooks.md
  src/commands/hooks.rs
  src/commands/init.rs
  src/hooks/executor.rs
  src/hooks/mod.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_loader.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore: removed plans
  docs/plans/2026-02-20-benchmark-design.md
  docs/plans/2026-02-20-benchmark-implementation.md
Due: prettier-format

docs: add benchmark dashboard design doc
  docs/plans/2026-02-20-benchmark-dashboard-design.md
Due: prettier-format

docs: add benchmark dashboard implementation plan
  docs/plans/2026-02-20-benchmark-dashboard-plan.md
Due: prettier-format

chore(bench): add three-way comparison (daft vs gitoxide vs git)
  benches/bench_framework.sh
  benches/scenarios/vs_competition.sh
Due: none

feat(completions): add shell completions for `daft` subcommands
  .envrc
  src/commands/completions.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(bench): add result packaging script
  benches/package_results.sh
Due: none

chore(bench): remove in-repo publishing, push to private repo
  .github/workflows/bench.yml
  benches/history/.gitkeep
  docs/.vitepress/config.ts
  docs/benchmarks/index.md
Due: prettier-format

docs(hooks): align subcommand order and add manual execution to guide
  SKILL.md
  docs/cli/git-daft-hooks.md
  docs/guide/hooks.md
  src/commands/hooks.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): add manual hook execution with `hooks run` command (#245)
  .envrc
  CLAUDE.md
  SKILL.md
  daft.yml
  docs/cli/git-daft-hooks.md
  docs/guide/configuration.md
  docs/guide/hooks.md
  mise-tasks/dev/verify
  src/commands/complete.rs
  src/commands/completions.rs
  src/commands/hooks.rs
  src/commands/init.rs
  src/hooks/executor.rs
  src/hooks/mod.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_loader.rs
  src/hooks/yaml_executor.rs
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore: add benchmark suite with dashboard (#244)
  .github/workflows/bench.yml
  .gitignore
  benches/bench_framework.sh
  benches/fixtures/create_repo.sh
  benches/fixtures/real_repos.sh
  benches/package_results.sh
  benches/run_all.sh
  benches/scenarios/branch_delete.sh
  benches/scenarios/checkout.sh
  benches/scenarios/checkout_with_hooks.sh
  benches/scenarios/clone.sh
  benches/scenarios/clone_with_hooks.sh
  benches/scenarios/fetch.sh
  benches/scenarios/init.sh
  benches/scenarios/prune.sh
  benches/scenarios/vs_competition.sh
  benches/scenarios/workflow_full.sh
  docs/plans/2026-02-20-benchmark-dashboard-design.md
  docs/plans/2026-02-20-benchmark-dashboard-plan.md
  mise-tasks/bench/_default
  mise-tasks/bench/baseline
  mise-tasks/bench/branch-delete
  mise-tasks/bench/checkout
  mise-tasks/bench/checkout-hooks
  mise-tasks/bench/clone
  mise-tasks/bench/clone-hooks
  mise-tasks/bench/compare
  mise-tasks/bench/competition
  mise-tasks/bench/fetch
  mise-tasks/bench/init
  mise-tasks/bench/prune
  mise-tasks/bench/workflow
  mise-tasks/test/perf
Due: prettier-format

fix(bench): add target/release to PATH so benchmarks find daft
  benches/package_results.sh
  mise-tasks/bench/_default
  mise-tasks/bench/branch-delete
  mise-tasks/bench/checkout
  mise-tasks/bench/checkout-hooks
  mise-tasks/bench/clone
  mise-tasks/bench/clone-hooks
  mise-tasks/bench/competition
  mise-tasks/bench/fetch
  mise-tasks/bench/init
  mise-tasks/bench/prune
  mise-tasks/bench/workflow
Due: none

fix(bench): add target/release to PATH so benchmarks find daft (#246)
  benches/package_results.sh
  mise-tasks/bench/_default
  mise-tasks/bench/branch-delete
  mise-tasks/bench/checkout
  mise-tasks/bench/checkout-hooks
  mise-tasks/bench/clone
  mise-tasks/bench/clone-hooks
  mise-tasks/bench/competition
  mise-tasks/bench/fetch
  mise-tasks/bench/init
  mise-tasks/bench/prune
  mise-tasks/bench/workflow
Due: none

fix(bench): missing symlink, jq overflow, and worktree cleanup
  benches/bench_framework.sh
  benches/package_results.sh
  benches/scenarios/checkout.sh
  benches/scenarios/checkout_with_hooks.sh
  mise-tasks/setup/rust
Due: none

fix(bench): missing symlink, jq overflow, and worktree cleanup (#247)
  benches/bench_framework.sh
  benches/package_results.sh
  benches/scenarios/checkout.sh
  benches/scenarios/checkout_with_hooks.sh
  mise-tasks/setup/rust
Due: none

feat(hooks): add job descriptions, skip descriptions, and OS/arch conditions
  SKILL.md
  daft.yml
  docs/guide/hooks.md
  src/commands/complete.rs
  src/commands/completions.rs
  src/commands/hooks.rs
  src/hooks/conditions.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_executor.rs
  src/output/hook_progress.rs
  src/settings.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore: renamed post-clone jobs
  daft.yml
Due: prettier-format

fix(hooks): render skipped jobs distinctly from successful jobs
  src/hooks/conditions.rs
  src/hooks/executor.rs
  src/hooks/yaml_executor.rs
  src/output/hook_progress.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: replace direnv with mise for PATH management
  .envrc
  daft.yml
  mise.toml
Due: prettier-format

feat(hooks): add job descriptions, skip descriptions, and OS/arch conditions (#248)
  .envrc
  SKILL.md
  daft.yml
  docs/guide/hooks.md
  mise.toml
  src/commands/complete.rs
  src/commands/completions.rs
  src/commands/hooks.rs
  src/hooks/conditions.rs
  src/hooks/executor.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_executor.rs
  src/output/hook_progress.rs
  src/settings.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor(hooks): replace lefthook install with mise in post-clone
  daft.yml
Due: prettier-format

refactor(git): split monolithic git.rs into focused submodules
  src/git.rs
  src/git/branch.rs
  src/git/clone.rs
  src/git/config.rs
  src/git/mod.rs
  src/git/oxide.rs
  src/git/refs.rs
  src/git/remote.rs
  src/git/stash.rs
  src/git/worktree.rs
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(hooks): split yaml_executor into execution strategy modules
  src/hooks/yaml_executor.rs
  src/hooks/yaml_executor/command.rs
  src/hooks/yaml_executor/dependency.rs
  src/hooks/yaml_executor/mod.rs
  src/hooks/yaml_executor/parallel.rs
  src/hooks/yaml_executor/sequential.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(hooks): split hooks command into per-subcommand modules
  src/commands/hooks.rs
  src/commands/hooks/dump.rs
  src/commands/hooks/formatting.rs
  src/commands/hooks/install.rs
  src/commands/hooks/migrate.rs
  src/commands/hooks/mod.rs
  src/commands/hooks/run_cmd.rs
  src/commands/hooks/status.rs
  src/commands/hooks/trust.rs
  src/commands/hooks/validate.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(completions): split into per-shell generator modules
  src/commands/completions.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(output): split hook_progress into renderer modules
  src/output/hook_progress.rs
  src/output/hook_progress/formatting.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
  src/output/hook_progress/plain.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: define core ProgressSink and HookRunner abstractions
  src/core/mod.rs
  src/core/progress.rs
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(carry): extract business logic into core::worktree
  src/commands/carry.rs
  src/core/mod.rs
  src/core/worktree/carry.rs
  src/core/worktree/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
