Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

docs(plans): add go completion overhaul implementation plan
  docs/superpowers/plans/2026-04-11-go-command-completions.md
Due: prettier-format

style(plans): apply prettier reformat to go-completions plan
  docs/superpowers/plans/2026-04-11-go-command-completions.md
Due: prettier-format

fix(yaml_executor): report invocation write errors
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(hooks): basket overview for hooks-jobs redesign sub-projects
  docs/superpowers/specs/2026-04-11-hooks-jobs-basket-overview.md
Due: prettier-format

fix(completions): gate zsh flag completions on leading dash
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(completions): broaden zsh flag-gating regression test
  src/commands/completions/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(settings): add go.fetchOnMiss to DaftSettings
  src/core/settings.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(completions): add pure grouping function for daft-go completions
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(completions): tighten grouping fn and add boundary tests
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(completions): collect grouped go completions from live git data
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): drop bare remote name + simplify current-branch lookup
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(hooks): add spec for bulk retry shorthands (sub-project B)
  docs/superpowers/specs/2026-04-11-hooks-jobs-bulk-retry.md
Due: prettier-format

test(completions): add go-grouped integration scenario
  tests/manual/scenarios/completions/go-grouped.yml
Due: prettier-format

feat(completions): add fetch cooldown marker helpers
  Cargo.toml
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(completions): add /dev/tty braille-dot spinner
  src/completion_spinner.rs
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(completions): fetch-on-miss with spinner for daft-go
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(completions): grouped zsh completion for daft-go
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(completions): grouped bash completion for daft-go
  src/commands/completions/bash.rs
  src/commands/completions/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(completions): grouped fish completion for daft-go
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(completions): color daft-go groups in zsh via zstyle
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(completions): pin zsh umbrella delegation for daft go
  src/commands/completions/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(cli): document daft go completion grouping and fetch-on-miss
  docs/cli/daft-go.md
Due: prettier-format

test(plan): add manual test plan for daft go completion overhaul
  test-plans/go-completions.md
Due: prettier-format

fix(completions): replace _describe -t with compadd -V for zsh groups
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): show group label in zsh completion descriptions
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): use _describe without -t for auto-aligned columns
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): use named _describe groups for proper column alignment
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): padded compadd with ANSI colors for zsh groups
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): use list-colors zstyle for group coloring
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): use compadd -X for colored group headers in zsh
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): color branch names per group using list-colors tags
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): simplify to cyan worktrees only, default color for rest
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): drop list-colors, use -X cyan header for worktrees
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): add age+path columns for worktrees, remove headers
  src/commands/complete.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): don't exclude bare repo HEAD from worktree group
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf(completions): replace git subprocesses with gitoxide, add timing
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(completions): add hyperfine benchmark scenario for completions
  benches/run_all.sh
  benches/scenarios/complete.sh
  mise-tasks/bench/complete
Due: none

perf(completions): use gitoxide for config reads, drop DaftSettings::load
  src/commands/complete.rs
  src/git/config.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(completions): extend rich grouped completions to all branch commands
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): show relative worktree paths instead of absolute
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
