Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

chore: remove mise tasks restructure plan docs
  docs/plans/2026-02-18-mise-tasks-restructure-design.md
  docs/plans/2026-02-18-mise-tasks-restructure-plan.md
Due: prettier-format

chore: remove implementation plan files
  docs/plans/2026-02-18-doctor-fix-improvements-design.md
  docs/plans/2026-02-18-doctor-fix-improvements-plan.md
Due: prettier-format

fix: run post-clone hook before worktree-post-create during clone (#233)
  SKILL.md
  docs/guide/hooks.md
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: cd to safe directory when branch-delete removes current worktree (#234)
  src/commands/branch_delete.rs
  src/commands/shell_init.rs
  tests/integration/test_branch_delete.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: doctor --fix now creates missing shortcuts and --dry-run shows concrete actions (#232)
  SKILL.md
  docs/cli/daft-doctor.md
  man/daft-doctor.1
  src/commands/doctor.rs
  src/doctor/hooks_checks.rs
  src/doctor/installation.rs
  src/doctor/mod.rs
  src/doctor/repository.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: check remote tracking branch when validating merge status for deletion
  src/commands/branch_delete.rs
  tests/integration/test_branch_delete.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: check remote tracking branch when validating merge status for deletion (#236)
  src/commands/branch_delete.rs
  tests/integration/test_branch_delete.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: removed unused WARP.md
  WARP.md
Due: prettier-format

chore: removed plans
  docs/plans/2026-02-16-hook-output-design.md
  docs/plans/2026-02-16-hook-output-plan.md
Due: prettier-format

test: add get_tail_line_count helper for hook progress tests
  src/output/hook_progress.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: add failing tests for dynamic hook output window growth
  src/output/hook_progress.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: grow hook output window dynamically instead of pre-allocating blank lines
  src/output/hook_progress.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: grow hook output window dynamically instead of pre-allocating blank lines (#237)
  src/output/hook_progress.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add -x/--exec option to run commands in worktree after setup
  SKILL.md
  docs/cli/git-worktree-checkout-branch.md
  docs/cli/git-worktree-checkout.md
  docs/cli/git-worktree-clone.md
  docs/cli/git-worktree-init.md
  man/git-worktree-checkout-branch.1
  man/git-worktree-checkout.1
  man/git-worktree-clone.1
  man/git-worktree-init.1
  mise-tasks/test/integration/exec
  src/commands/checkout.rs
  src/commands/checkout_branch.rs
  src/commands/clone.rs
  src/commands/init.rs
  src/exec.rs
  src/lib.rs
  tests/integration/test_all.sh
  tests/integration/test_exec.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: add -x/--exec option to run commands in worktree after setup (#238)
  SKILL.md
  docs/cli/git-worktree-checkout-branch.md
  docs/cli/git-worktree-checkout.md
  docs/cli/git-worktree-clone.md
  docs/cli/git-worktree-init.md
  man/git-worktree-checkout-branch.1
  man/git-worktree-checkout.1
  man/git-worktree-clone.1
  man/git-worktree-init.1
  mise-tasks/test/integration/exec
  src/commands/checkout.rs
  src/commands/checkout_branch.rs
  src/commands/clone.rs
  src/commands/init.rs
  src/exec.rs
  src/lib.rs
  tests/integration/test_all.sh
  tests/integration/test_exec.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: accept worktree paths as arguments in branch-delete
  docs/cli/git-worktree-branch-delete.md
  man/git-worktree-branch-delete.1
  src/commands/branch_delete.rs
  tests/integration/test_branch_delete.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: prevent prune from deleting worktrees with uncommitted changes or untracked files
  docs/cli/git-worktree-prune.md
  man/git-worktree-prune.1
  src/commands/prune.rs
  tests/integration/test_prune.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: prevent prune from deleting worktrees with uncommitted changes or untracked files (#240)
  docs/cli/git-worktree-prune.md
  man/git-worktree-prune.1
  src/commands/prune.rs
  tests/integration/test_prune.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: accept worktree paths as arguments in branch-delete (#239)
  docs/cli/git-worktree-branch-delete.md
  man/git-worktree-branch-delete.1
  src/commands/branch_delete.rs
  tests/integration/test_branch_delete.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore: change release version from v1.1.0 to v1.0.29
  CHANGELOG.md
  Cargo.toml
  man/daft-release-notes.1
  man/git-worktree-branch-delete.1
  man/git-worktree-carry.1
  man/git-worktree-checkout-branch.1
  man/git-worktree-checkout.1
  man/git-worktree-clone.1
  man/git-worktree-fetch.1
  man/git-worktree-flow-adopt.1
  man/git-worktree-flow-eject.1
  man/git-worktree-init.1
  man/git-worktree-prune.1
Due: prettier-format

fix: use \$SHELL -i for exec commands to support aliases and shell functions
  src/exec.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: use \$SHELL -i for exec commands to support aliases and shell functions (#242)
  src/exec.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): hooks accepts optional path
  src/commands/hooks.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): aligned nomenclature
  mise-tasks/dev/verify
  src/commands/hooks.rs
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(hooks): added direnv configurations for testing local build
  .envrc
  daft.yml
Due: prettier-format

feat(hooks): show commands hint at root level
  src/commands/hooks.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): consolidated list and reset commands under trust
  src/commands/hooks.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): updated docs
  docs/cli/git-daft-hooks.md
  docs/guide/hooks.md
  src/commands/hooks.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(hooks): hooks identification in status
  src/commands/hooks.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): hooks dump more usable now
  src/commands/hooks.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): resolved hook dependency typos
  daft.yml
Due: prettier-format

docs: add benchmark suite design doc
  docs/plans/2026-02-20-benchmark-design.md
Due: prettier-format

docs: add benchmark suite implementation plan
  docs/plans/2026-02-20-benchmark-implementation.md
Due: prettier-format

chore: remove test:perf (replaced by proper benchmark suite)
  mise-tasks/test/perf
Due: none

chore(bench): add shared benchmark framework
  benches/bench_framework.sh
Due: none

chore(bench): add synthetic repo fixture generator
  benches/fixtures/create_repo.sh
Due: none

chore(bench): add real repo fixture downloader and gitignore entries
  .gitignore
  benches/fixtures/real_repos.sh
  benches/history/.gitkeep
Due: none

chore(bench): add clone benchmark scenarios
  benches/scenarios/clone.sh
  benches/scenarios/clone_with_hooks.sh
Due: none

chore(bench): add checkout benchmark scenarios
  benches/scenarios/checkout.sh
  benches/scenarios/checkout_with_hooks.sh
Due: none

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
