Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

fix(completions): render the forge PR/MR group in zsh
  src/commands/completions/bash.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  tests/manual/scenarios/completions/bash.yml
  tests/manual/scenarios/completions/zsh.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(list): scenario, docs, skill, and help for default open-PR rows
  SKILL.md
  docs/cli/git-worktree-list.md
  docs/worktrees/pull-requests.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/list.rs
  src/commands/list_live.rs
  src/core/worktree/pr_rows.rs
  test-plans/forge-pr-checkout.md
  tests/manual/scenarios/list/pr-rows-default.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(list): reconcile the open-PR row set when the fresh verdict lands
  src/commands/list.rs
  src/commands/list_live.rs
  src/core/worktree/pr_rows.rs
  src/core/worktree/sync_dag.rs
  src/output/tui/live_table.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(forge): carry open-PR row fields through the cache into the lookup
  src/commands/dump_store.rs
  src/commands/forge_cache.rs
  src/commands/list.rs
  src/core/worktree/forge_ref.rs
  src/forge/github.rs
  src/forge/gitlab.rs
  src/forge/info.rs
  src/output/format.rs
  src/output/tui/live_table.rs
  src/store/migrate.rs
  src/store/migrations/008_forge_pr_row_fields.sql
  src/store/models/forge_pr.rs
  src/store/repos/forge_prs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(completions): status and owner columns on pr:<Tab> candidates
  docs/worktrees/pull-requests.md
  src/commands/complete.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  test-plans/forge-pr-checkout.md
  tests/manual/scenarios/checkout/pr-cache.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(forge): owner cells show the author's full name, not the login
  docs/worktrees/pull-requests.md
  src/forge/github.rs
  src/forge/gitlab.rs
  tests/manual/scenarios/checkout/pr-cache.yml
  tests/manual/scenarios/list/pr-rows-default.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(completions): forge words no longer trigger the go fetch-on-miss spinner
  docs/worktrees/pull-requests.md
  src/commands/complete.rs
  test-plans/forge-pr-checkout.md
  tests/manual/scenarios/checkout/pr-cache.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(completions): complete only PRs whose branch still exists
  docs/worktrees/pull-requests.md
  src/commands/complete.rs
  test-plans/forge-pr-checkout.md
  tests/manual/scenarios/checkout/pr-cache.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(forge): compile the forge code on Windows
  src/commands/forge_cache.rs
  src/forge/cli.rs
  src/forge/github.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(forge): tolerate null JSON fields and normalize GitLab MR state
  src/forge/github.rs
  src/forge/gitlab.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(completions): complete forge targets at the cross-repo go branch slot
  SKILL.md
  docs/worktrees/pull-requests.md
  src/commands/complete.rs
  tests/manual/scenarios/checkout/pr-cache.yml
  tests/manual/scenarios/checkout/pr-cross-repo.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(forge): prevent URL-parse panic and honor pasted enterprise-URL host
  src/forge/mod.rs
  src/forge/parse.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(doctor): probe the configured gh/glab override binary
  src/doctor/forge_checks.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(list): share PR status colors and open the forge store once
  src/commands/forge_cache.rs
  src/commands/list.rs
  src/commands/list_live.rs
  src/core/worktree/forge_ref.rs
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(git): scrub inherited GIT_DIR in branch_merge_refs
  src/git/config.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(columns): reject the pr column on sync/prune/clone
  src/core/columns.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(completions): share the branch-merge-ref parser with list
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(list): keep worktree owners and structured PR rows across forge states
  src/commands/list.rs
  src/core/worktree/pr_rows.rs
  tests/manual/scenarios/list/pr-rows-default.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(columns): PR column by default on sync and prune
  SKILL.md
  docs/cli/git-worktree-prune.md
  docs/cli/git-worktree-sync.md
  docs/worktrees/pull-requests.md
  man/daft-prune.1
  man/daft-sync.1
  man/git-worktree-prune.1
  man/git-worktree-sync.1
  src/commands/clone.rs
  src/commands/prune.rs
  src/commands/repo/remove.rs
  src/commands/sync.rs
  src/core/columns.rs
  src/output/format.rs
  src/output/tui/columns.rs
  src/output/tui/operation_table.rs
  src/output/tui/render.rs
  tests/integration/test_prune.sh
  tests/integration/test_sync.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(checkout): same-repo PRs follow the base remote and survive deleted branches
  src/commands/checkout.rs
  src/commands/forge_cache.rs
  src/core/worktree/checkout.rs
  tests/manual/scenarios/checkout/pr-merged-branch-deleted.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(tests): immunize git fixtures against ambient GIT_DIR and gpg signing
  src/commands/install.rs
  src/hooks/yaml_config_loader.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(tests): isolate git signing config; serialize the last cwd-racing test
  mise-tasks/test/_state_guard_lib.sh
  src/commands/repo/remove.rs
  src/core/worktree/remove_repo.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(tests): pin the forge_cache capability probe to its own repo
  src/commands/forge_cache.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): expand templates in job env values + {worktree_slug}
  src/hooks/job_adapter.rs
  src/hooks/template.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(executor): optional job timeout + two-stage cancellation
  src/coordinator/process.rs
  src/executor/command.rs
  src/executor/dag.rs
  src/executor/log_sink.rs
  src/executor/mod.rs
  src/executor/runner.rs
  src/hooks/job_adapter.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: daft run — user-invoked tasks in daft.yml
  docs/cli/daft-run.md
  man/daft-run.1
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  src/commands/mod.rs
  src/commands/run.rs
  src/main.rs
  src/suggest.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): task execution options + task identity in HookContext
  src/hooks/environment.rs
  src/hooks/executor.rs
  src/hooks/job_adapter.rs
  src/hooks/template.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): tasks: section in daft.yml
  src/hooks/config_merge.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_validate.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: YAML scenarios + integration tests for daft run
  test-plans/tasks-daft-run.md
  tests/integration/test_all.sh
  tests/integration/test_run.sh
  tests/manual/scenarios/run/default-task.yml
  tests/manual/scenarios/run/env-slug.yml
  tests/manual/scenarios/run/local-overlay.yml
  tests/manual/scenarios/run/named-task.yml
  tests/manual/scenarios/run/unknown-task.yml
  tests/manual/scenarios/run/untrusted.yml
Due: prettier-format

docs: provision on create, serve on demand
  SKILL.md
  docs/.vitepress/config.ts
  docs/hooks/yaml-reference.md
  docs/recipes/declarative-envs.md
  docs/recipes/services-with-ports.md
  docs/reference/configuration.md
Due: prettier-format

fix(run): label the header "daft run", guard the cancel cascade
  src/commands/run.rs
  src/core/settings.rs
  src/executor/dag.rs
  src/output/hook_progress/formatting.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
  src/output/hook_progress/plain.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): scaffold a commented tasks: block in daft hooks install
  src/commands/hooks/install.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: dogfood tasks — run + docs entries in daft.yml
  daft.yml
  mise-tasks/daft
Due: prettier-format

feat(run): passthrough single-job tasks, rail interface for multi-job
  SKILL.md
  docs/cli/daft-run.md
  docs/hooks/yaml-reference.md
  man/daft-run.1
  src/commands/run.rs
  src/core/stage.rs
  src/executor/cli_presenter.rs
  src/executor/command.rs
  src/hooks/yaml_executor/mod.rs
  src/output/hook_progress/mod.rs
  src/output/timeline/mod.rs
  src/output/timeline/plan.rs
  src/output/timeline/rail_hook.rs
  src/output/timeline/render.rs
  test-plans/tasks-daft-run.md
  tests/manual/scenarios/run/passthrough-output.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(start): cross-repo scenarios and shell-wrapper cwd regression
  tests/integration/test_shell_init.sh
  tests/manual/scenarios/checkout-branch/start-cross-repo-errors.yml
  tests/manual/scenarios/checkout-branch/start-cross-repo-untrusted.yml
  tests/manual/scenarios/checkout-branch/start-cross-repo-with-related.yml
  tests/manual/scenarios/checkout-branch/start-cross-repo.yml
Due: prettier-format

feat(start): accept a positional repo target (daft start <repo> <branch> [base])
  man/daft-start.1
  src/commands/checkout.rs
  src/commands/docs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(run): report passthrough cancellation only on a hard kill
  src/executor/command.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(run): keep passthrough stdout verbatim and key the footer on cancellation
  src/commands/run.rs
  tests/manual/scenarios/run/untrusted.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(run): mark cancel-skipped jobs cancelled so an interrupted run exits 130
  src/executor/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs
