Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

perf(remove): rename worktrees aside instead of walking them
  src/core/worktree/branch_delete.rs
  src/core/worktree/mod.rs
  src/core/worktree/trash.rs
  src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(remove): do not claim background reclamation when the reap ran inline
  src/core/worktree/branch_delete.rs
  src/core/worktree/prune.rs
  src/core/worktree/trash.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(remove): make a declined fast path visible, and lock every reap
  src/core/worktree/trash.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(remove): never delete a worktree git has not disowned
  docs/about/troubleshooting.md
  src/core/worktree/branch_delete.rs
  src/core/worktree/prune.rs
  src/core/worktree/trash.rs
  src/doctor/repository.rs
  tests/integration/test_branch_delete.sh
  tests/manual/scenarios/branch-delete/remove-frees-the-path-immediately.yml
  tests/manual/scenarios/branch-delete/remove-sweeps-stranded-deletions.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(remove): do not report a lost guard file as a failed removal
  src/core/worktree/trash.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf: defer worktree deletion to a background reaper (#832)
  docs/about/troubleshooting.md
  src/commands/doctor.rs
  src/core/size_walk.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/mod.rs
  src/core/worktree/prune.rs
  src/core/worktree/trash.rs
  src/doctor/repository.rs
  src/main.rs
  tests/integration/test_branch_delete.sh
  tests/manual/scenarios/branch-delete/remove-frees-the-path-immediately.yml
  tests/manual/scenarios/branch-delete/remove-sweeps-stranded-deletions.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

deps: raise serial_test requirement to 4.0 to match the lockfile
  Cargo.toml
Due: none

feat(repo): repo remove stops deleting files by default
  SKILL.md
  docs/cli/daft-repo-remove.md
  docs/cli/git-daft-repo-remove.md
  docs/graph/concepts.md
  docs/graph/repo-catalog.md
  docs/worktrees/index.md
  man/git-daft-repo-remove.1
  mise-tasks/sandbox/clean-repos
  src/catalog/mod.rs
  src/catalog/registration.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/repo/mod.rs
  src/commands/repo/remove.rs
  test-plans/repo-catalog.md
  test-plans/sync-cancellation.md
  tests/integration/test_completions.sh
  tests/integration/test_repo_remove.sh
  tests/integration/test_shell_init.sh
  tests/manual/scenarios/clone/by-catalog-name.yml
  tests/manual/scenarios/hooks/jobs-removed-repo.yml
  tests/manual/scenarios/repo/catalog-reclone-same-path.yml
  tests/manual/scenarios/repo/catalog-remove-marks.yml
  tests/manual/scenarios/repo/remove-basic.yml
  tests/manual/scenarios/repo/remove-default-catalog-only.yml
  tests/manual/scenarios/repo/remove-dry-run.yml
  tests/manual/scenarios/repo/remove-force.yml
  tests/manual/scenarios/repo/remove-from-inside.yml
  tests/manual/scenarios/repo/remove-keep-files.yml
  tests/manual/scenarios/repo/remove-non-git-fails.yml
  tests/manual/scenarios/repo/remove-vanilla.yml
  tests/manual/scenarios/repo/remove-with-detached-worktree.yml
  tests/manual/scenarios/repo/remove-with-hooks-cwd-outside.yml
  tests/manual/scenarios/repo/remove-with-hooks.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(integration): let a run choose its own integration base dir
  tests/integration/test_framework.sh
Due: none

fix(repo): stop repo remove resolution from stranding or escalating
  CLAUDE.md
  docs/cli/daft-repo-remove.md
  docs/cli/git-daft-repo-remove.md
  docs/worktrees/index.md
  man/git-daft-repo-remove.1
  mise-tasks/sandbox/clean-repos
  src/catalog/mod.rs
  src/catalog/registration.rs
  src/catalog/service.rs
  src/commands/repo/remove.rs
  src/core/worktree/warm.rs
  tests/integration/test_repo_remove.sh
  tests/manual/scenarios/repo/remove-resolution-guards.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor(repo): one path-shape predicate, one catalog open, one completion helper
  src/catalog/mod.rs
  src/catalog/registration.rs
  src/catalog/service.rs
  src/commands/completions/bash.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/repo/remove.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(repo): accept a bare repo's own git dir as a guessed target
  src/commands/repo/remove.rs
  tests/integration/test_repo_remove.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(core): plan and apply a repository relocation
  src/core/mod.rs
  src/core/repo_move/execute.rs
  src/core/repo_move/mod.rs
  src/core/repo_move/plan.rs
  src/core/repo_move/print.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): re-key trust and layout when a repo moves
  src/hooks/trust.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(store): re-point worktree identities and evict sizes on a repo move
  src/commands/size_cache.rs
  src/core/worktree/identity_store.rs
  src/store/repos/worktree_identities.rs
  src/store/repos/worktree_sizes.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(repo-move): move the wrapper, create layout-owned parents, split the re-key report
  docs/cli/daft-repo-move.md
  src/commands/repo/move_repo.rs
  src/core/repo_move/execute.rs
  src/core/repo_move/plan.rs
  src/hooks/mod.rs
  src/hooks/trust.rs
  tests/manual/scenarios/repo/move-centralized-layout.yml
  tests/manual/scenarios/repo/move-wrapper-layout.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(repo): add `daft repo move` and `daft repo rename`
  SKILL.md
  docs/.vitepress/config.ts
  docs/cli/daft-repo-move.md
  docs/cli/daft-repo-rename.md
  docs/cli/git-daft-repo-move.md
  docs/cli/git-daft-repo-rename.md
  man/git-daft-repo-move.1
  man/git-daft-repo-rename.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  src/commands/repo/mod.rs
  src/commands/repo/move_repo.rs
  src/commands/repo/rename.rs
  src/suggest.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(repo): cover move and rename end to end
  src/core/repo_move/plan.rs
  tests/integration/test_shell_init.sh
  tests/manual/scenarios/repo/move-dry-run.yml
  tests/manual/scenarios/repo/move-from-inside.yml
  tests/manual/scenarios/repo/move-keeps-trust-and-history.yml
  tests/manual/scenarios/repo/move-name-and-hand-placed-worktree.yml
  tests/manual/scenarios/repo/move-refusals.yml
  tests/manual/scenarios/repo/move-sibling-worktrees.yml
  tests/manual/scenarios/repo/rename-basic.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(repo): pin the re-key report to the setting that actually moved
  tests/manual/scenarios/repo/move-keeps-trust-and-history.yml
  tests/manual/scenarios/repo/move-sibling-worktrees.yml
Due: prettier-format

fix(repo-move): report trust re-key from the re-key, not a re-read
  src/core/repo_move/execute.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(repo-move): only move the wrapper when the repo is actually wrapped
  SKILL.md
  src/core/repo_move/plan.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(hooks): drop a stale grant at a moved repo's destination
  src/hooks/trust.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(repo-move): preflight every destination, and fail closed on the name probe
  src/commands/repo/move_repo.rs
  src/core/repo_move/execute.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(repo-move): check a worktree's move against its own destination
  src/core/repo_move/plan.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(docs): backtick the <DEST> placeholder so the docs site builds
  docs/cli/git-daft-repo-move.md
  man/git-daft-repo-move.1
  src/commands/repo/move_repo.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(test): gate the two symlink tests behind cfg(unix)
  src/core/repo_move/plan.rs
  src/hooks/trust.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(repo): add `daft repo move` and `daft repo rename` (#844)
  SKILL.md
  docs/.vitepress/config.ts
  docs/cli/daft-repo-move.md
  docs/cli/daft-repo-rename.md
  docs/cli/git-daft-repo-move.md
  docs/cli/git-daft-repo-rename.md
  man/git-daft-repo-move.1
  man/git-daft-repo-rename.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  src/commands/repo/mod.rs
  src/commands/repo/move_repo.rs
  src/commands/repo/rename.rs
  src/commands/size_cache.rs
  src/core/mod.rs
  src/core/repo_move/execute.rs
  src/core/repo_move/mod.rs
  src/core/repo_move/plan.rs
  src/core/repo_move/print.rs
  src/core/worktree/identity_store.rs
  src/hooks/mod.rs
  src/hooks/trust.rs
  src/store/repos/worktree_identities.rs
  src/store/repos/worktree_sizes.rs
  src/suggest.rs
  tests/integration/test_shell_init.sh
  tests/manual/scenarios/repo/move-centralized-layout.yml
  tests/manual/scenarios/repo/move-dry-run.yml
  tests/manual/scenarios/repo/move-from-inside.yml
  tests/manual/scenarios/repo/move-keeps-trust-and-history.yml
  tests/manual/scenarios/repo/move-name-and-hand-placed-worktree.yml
  tests/manual/scenarios/repo/move-refusals.yml
  tests/manual/scenarios/repo/move-sibling-worktrees.yml
  tests/manual/scenarios/repo/move-wrapper-layout.yml
  tests/manual/scenarios/repo/rename-basic.yml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(deps): bump h2 to 0.4.18 (RUSTSEC-2026-0258)
  .dep-age-allowlist
  Cargo.lock
Due: none

fix(deps): bump h2 to 0.4.18 (RUSTSEC-2026-0258) (#855)
  .dep-age-allowlist
  Cargo.lock
Due: none

docs: wire the toolchain for the docs test net and the dumbshow package
  .gitignore
  bunfig.toml
  docs/bun.lock
  docs/bunfig.toml
  docs/package.json
  mise.lock
  mise.toml
Due: none

docs: rebrand the site around the Donut and a live diagram landing
  README.md
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/DemoStage.vue
  docs/.vitepress/theme/components/HomeLanding.vue
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/home.css
  docs/.vitepress/theme/index.ts
  docs/getting-started/quick-start.md
  docs/index.md
  docs/playground.md
  docs/public/brand/daft-donut-accent-white.svg
  docs/public/brand/daft-donut-accent.svg
  docs/public/brand/daft-donut-circle.svg
  docs/public/brand/daft-donut-favicon.svg
  docs/public/brand/daft-donut-rounded-square.svg
  docs/public/brand/daft-donut-white.svg
  docs/public/brand/daft-donut.svg
  docs/public/brand/glyph-graph-dark.svg
  docs/public/brand/glyph-graph.svg
  docs/public/brand/glyph-hooks-dark.svg
  docs/public/brand/glyph-hooks.svg
  docs/public/brand/glyph-recipes-dark.svg
  docs/public/brand/glyph-recipes.svg
  docs/public/brand/glyph-worktrees-dark.svg
  docs/public/brand/glyph-worktrees.svg
  docs/public/brand/reference/daft-logo-dodo-donut.png
  docs/public/brand/reference/daft-logo-reference.png
  docs/public/brand/reference/daft-rebranding-brief.md
  docs/public/brand/social/github-avatar.png
  docs/public/brand/social/github-social-preview.png
  docs/public/favicon.png
  docs/public/fonts/dm-sans-latin-wght-normal.woff2
  docs/public/og-image.png
  docs/worktrees/index.md
Due: prettier-format, biome-check

docs: make the composer canvas point, light up, and drag live
  docs/.vitepress/theme/graph/CLAUDE.md
  docs/.vitepress/theme/graph/composer/EntityAttributes.vue
  docs/.vitepress/theme/graph/composer/InspectorPane.vue
  docs/.vitepress/theme/graph/composer/elements.ts
  docs/.vitepress/theme/graph/composer/test-scenarios.md
  docs/.vitepress/theme/graph/pack.ts
  docs/.vitepress/theme/graph/render.ts
  docs/tests/ui/editor.canvas.spec.ts
  docs/tests/ui/helpers.ts
  docs/tests/ui/pack.relations.spec.ts
Due: prettier-format, biome-check

docs: land the composer test net — goldens, UI suite, pixel anchor
  docs/biome.json
  docs/playwright.config.ts
  docs/tests/golden/__goldens__/catalog-demos.json
  docs/tests/golden/__goldens__/composer-doc.json
  docs/tests/golden/__goldens__/gallery-hero.json
  docs/tests/golden/__goldens__/gallery-ship-a-feature.json
  docs/tests/golden/__goldens__/gallery-vocabulary.json
  docs/tests/golden/catalog.test.ts
  docs/tests/golden/compiled.test.ts
  docs/tests/golden/elements.test.ts
  docs/tests/golden/registry.test.ts
  docs/tests/golden/semantics.test.ts
  docs/tests/golden/shell.test.ts
  docs/tests/ui/editor.attributes.spec.ts
  docs/tests/ui/editor.canvas.spec.ts
  docs/tests/ui/editor.catalog.spec.ts
  docs/tests/ui/editor.chrome.spec.ts
  docs/tests/ui/editor.dnd.spec.ts
  docs/tests/ui/editor.exports.spec.ts
  docs/tests/ui/editor.lifecycle.spec.ts
  docs/tests/ui/editor.player.spec.ts
  docs/tests/ui/editor.timeline.spec.ts
  docs/tests/ui/helpers.ts
  docs/tests/ui/pack.hero.spec.ts
  docs/tests/ui/pack.rename.spec.ts
  docs/tests/ui/pack.shell.spec.ts
  docs/tests/ui/pack.views.spec.ts
  mise-tasks/docs/test/golden
  mise-tasks/docs/test/setup
  mise-tasks/docs/test/ui
Due: none

docs: mount the dumbshow composer with daft's pack side
  CLAUDE.md
  docs/.vitepress/theme/graph/composer/EntityAttributes.vue
  docs/.vitepress/theme/graph/composer/InspectorPane.vue
  docs/.vitepress/theme/graph/composer/elements.ts
  docs/.vitepress/theme/graph/composer/export/embed.ts
  docs/.vitepress/theme/graph/composer/test-scenarios.md
  docs/.vitepress/theme/graph/composer/views.ts
  docs/composer.md
Due: prettier-format, biome-check

docs: link the docs to a local dumbshow checkout for development
  docs/.vitepress/config.ts
  docs/.vitepress/theme/graph/CLAUDE.md
  docs/playwright.config.ts
  docs/tests/ui/helpers.ts
  mise-tasks/docs/site/_default
Due: prettier-format

docs: speak daft as a diagram language over the dumbshow machinery
  docs/.vitepress/theme/graph/CLAUDE.md
  docs/.vitepress/theme/graph/Playground.vue
  docs/.vitepress/theme/graph/RepoDiagram.vue
  docs/.vitepress/theme/graph/RepoTerminal.vue
  docs/.vitepress/theme/graph/catalog.ts
  docs/.vitepress/theme/graph/gallery.ts
  docs/.vitepress/theme/graph/hero-script.ts
  docs/.vitepress/theme/graph/pack.ts
  docs/.vitepress/theme/graph/render.ts
  docs/.vitepress/theme/graph/seed.ts
  docs/.vitepress/theme/graph/shell.ts
  docs/.vitepress/theme/graph/verbs.ts
Due: prettier-format, biome-check

ci: allowlist the pinned @avihut/dumbshow in the lockfile-age gate
  .dep-age-allowlist
Due: none

docs: pin @avihut/dumbshow 0.2.0 and key Vite's dep cache on bun.lock
  .dep-age-allowlist
  docs/.vitepress/theme/graph/CLAUDE.md
  docs/bun.lock
  docs/package.json
  mise-tasks/docs/site/setup
Due: prettier-format

docs: move the docs onto @dumbshow/core and @dumbshow/vue
  .dep-age-allowlist
  CLAUDE.md
  bunfig.toml
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/DemoStage.vue
  docs/.vitepress/theme/graph/CLAUDE.md
  docs/.vitepress/theme/graph/Playground.vue
  docs/.vitepress/theme/graph/RepoDiagram.vue
  docs/.vitepress/theme/graph/RepoTerminal.vue
  docs/.vitepress/theme/graph/composer/EntityAttributes.vue
  docs/.vitepress/theme/graph/composer/InspectorPane.vue
  docs/.vitepress/theme/graph/composer/elements.ts
  docs/.vitepress/theme/graph/composer/export/embed.ts
  docs/.vitepress/theme/graph/composer/test-scenarios.md
  docs/.vitepress/theme/graph/hero-script.ts
  docs/.vitepress/theme/graph/pack.ts
  docs/.vitepress/theme/graph/render.ts
  docs/.vitepress/theme/graph/seed.ts
  docs/.vitepress/theme/graph/verbs.ts
  docs/bun.lock
  docs/bunfig.toml
  docs/composer.md
  docs/package.json
  docs/tests/golden/compiled.test.ts
  docs/tests/golden/elements.test.ts
  docs/tests/golden/semantics.test.ts
  docs/tests/golden/shell.test.ts
  docs/tests/ui/editor.lifecycle.spec.ts
  docs/tests/ui/helpers.ts
Due: prettier-format, biome-check

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
