Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

fix: collect uncollected shared files from manage TUI via Enter/Space (#351)
  docs/superpowers/specs/2026-03-28-shared-manage-design.md
  src/output/tui/shared_picker/manage_mode.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: dynamically size worktree name column in shared status output
  src/commands/shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: default `daft shared` to status when no subcommand given
  docs/cli/daft-shared.md
  man/daft-shared.1
  mise.lock
  src/commands/shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: shared status column alignment and default subcommand (#352)
  docs/cli/daft-shared.md
  man/daft-shared.1
  mise.lock
  src/commands/shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: shared status/sync/manage work from contained layout root
  src/commands/shared.rs
  tests/manual/scenarios/shared/status-from-container-root.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: shared status/sync/manage work from contained layout root (#353)
  src/commands/shared.rs
  tests/manual/scenarios/shared/status-from-container-root.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: add daft-go/daft-start to all packaging symlink lists
  .github/workflows/test.yml
  Cargo.toml
  dist-workspace.toml
  docs/getting-started/installation.md
  flake.nix
  packaging/aur/PKGBUILD
  packaging/deb/postinst
  packaging/deb/prerm
  src/doctor/installation.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: add daft-go/daft-start to all packaging symlink lists (#358)
  .github/workflows/test.yml
  Cargo.toml
  dist-workspace.toml
  docs/getting-started/installation.md
  flake.nix
  packaging/aur/PKGBUILD
  packaging/deb/postinst
  packaging/deb/prerm
  src/doctor/installation.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(ci): run test-homebrew clone from a clean workspace subdir
  .github/workflows/test-homebrew.yml
Due: prettier-format

fix(ci): run test-homebrew clone from a clean workspace subdir (#360)
  .github/workflows/test-homebrew.yml
Due: prettier-format

chore: add --env flag to sandbox help command
  mise-tasks/sandbox/_default
Due: none

chore: add --env flag to sandbox help command (#362)
  mise-tasks/sandbox/_default
Due: none

fix(ci): verify remote/ clone directly in test-homebrew
  .github/workflows/test-homebrew.yml
Due: prettier-format

fix(ci): verify remote/ clone directly in test-homebrew (#363)
  .github/workflows/test-homebrew.yml
Due: prettier-format

feat(coordinator): add daft_state_dir() for XDG state directory
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(coordinator): add IPC client and socket listener
  src/coordinator/client.rs
  src/coordinator/mod.rs
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(coordinator): implement coordinator state and fork-based background execution
  Cargo.toml
  src/coordinator/mod.rs
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(config): add background, background_output, and log fields to YAML schema
  src/hooks/yaml_config.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(coordinator): add log store for background job persistence
  Cargo.toml
  src/coordinator/log_store.rs
  src/coordinator/mod.rs
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(executor): add background and log fields to JobSpec
  src/executor/mod.rs
  src/hooks/job_adapter.rs
  src/hooks/yaml_config.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(executor): add foreground/background job partitioning
  src/hooks/yaml_executor/mod.rs
  src/hooks/yaml_executor/partition.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(config): validate background job fields and detect foreground promotion
  src/hooks/yaml_config_validate.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): integrate background job partitioning and coordinator dispatch
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): cancel background jobs when removing a worktree
  src/core/worktree/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(completions): add hooks jobs subcommand to shell completions
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: add scenario for DAFT_NO_BACKGROUND_JOBS escape hatch
  tests/manual/scenarios/hooks/background-jobs-disabled.yml
Due: prettier-format

feat(config): merge log config across configuration layers
  src/hooks/yaml_config_loader.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(coordinator): add DAFT_IS_COORDINATOR guard to prevent recursive background spawning
  src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: add YAML integration tests for background hook jobs
  tests/manual/scenarios/hooks/background-jobs.yml
Due: prettier-format

feat(cli): add daft hooks jobs command for background job management
  src/commands/hooks/jobs.rs
  src/commands/hooks/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style(hooks): use "(background)" label in live progress area
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/plain.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): use mp.println for background job progress lines
  src/output/hook_progress/interactive.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): register background jobs before on_phase_complete
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): show background jobs in live progress area with blue tint
  src/executor/cli_presenter.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
  src/output/hook_progress/plain.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: document background hook jobs feature
  SKILL.md
  docs/cli/daft-hooks-jobs.md
  docs/guide/configuration.md
  docs/guide/hooks.md
Due: prettier-format

docs: add design spec and implementation plan for background hook jobs
  docs/superpowers/plans/2026-03-27-background-hook-jobs.md
  docs/superpowers/specs/2026-03-27-background-hook-jobs-design.md
Due: prettier-format

feat(hooks): list background jobs by name before dispatching to coordinator
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): show background jobs in summary with blue indicator
  src/executor/cli_presenter.rs
  src/executor/presenter.rs
  src/executor/runner.rs
  src/hooks/yaml_executor/mod.rs
  src/output/hook_progress/formatting.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
  src/output/hook_progress/plain.rs
  src/output/tui/presenter.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): resolve hook-level background default in job adapter
  docs/cli/daft-hooks.md
  man/daft-hooks.1
  src/hooks/job_adapter.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(jobs): add CoordinatorState metadata and propagate through pipeline
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs
