Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

feat(test-runner): introduce ProgressSink port with Noop impl
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/progress/mod.rs
  xtask/src/manual_test/reporter/mod.rs
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(test-runner): gate progress sink on stderr TTY + CI/NO_PROGRESS
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(test-runner): implement IndicatifProgressSink for TTY live region
  xtask/src/manual_test/progress/indicatif_sink.rs
  xtask/src/manual_test/progress/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(test-runner): stream scenario buffers in completion order on TTY
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/progress/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(test-runner): add §8 live progress region to design language
  tests/README.md
  xtask/src/manual_test/reporter/CLAUDE.md
Due: prettier-format

docs(test-runner): rewrite TTY-region prose to avoid prettier list mangle
  tests/README.md
Due: prettier-format

fix(test-runner): drop in-flight row indent, add per-scenario elapsed
  xtask/src/manual_test/progress/indicatif_sink.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(test-runner): right-align summary stat columns
  xtask/src/manual_test/reporter/pretty.rs
  xtask/src/manual_test/reporter/tests.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(test-runner): left-pad scenario footer name to align durations
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/reporter/mod.rs
  xtask/src/manual_test/reporter/pretty.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(test-runner): pad in-flight row into three aligned columns
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/progress/indicatif_sink.rs
  xtask/src/manual_test/progress/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(test-runner): triage review feedback for live progress region
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/progress/indicatif_sink.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

revert(test-runner): drop scenario footer name column padding
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/reporter/mod.rs
  xtask/src/manual_test/reporter/pretty.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(test): cap rust unit-test parallelism to prevent EMFILE flakes
  mise-tasks/test/unit
Due: none

chore(test-runner): address /claude review findings
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/progress/indicatif_sink.rs
  xtask/src/manual_test/reporter/mod.rs
  xtask/src/manual_test/reporter/pretty.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(test-runner): invoke xtask directly in runner-output smoke
  tests/manual/scenarios/runner-output/end-to-end.yml
Due: prettier-format

feat(test-runner): auto-default --jobs to available_parallelism + add -j alias
  benches/scenarios/test_manual_scale.sh
  xtask/src/main.rs
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(test-runner): print pre-run worker-count banner
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(test-runner): graceful SIGINT — cancel mid-run scenarios instead of marking them failed
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/progress/indicatif_sink.rs
  xtask/src/manual_test/progress/mod.rs
  xtask/src/manual_test/reporter/mod.rs
  xtask/src/manual_test/reporter/pretty.rs
  xtask/src/manual_test/reporter/tests.rs
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(test-runner): isolate subprocesses from terminal SIGINT + skip never-started scenarios on cancel
  xtask/src/manual_test/daft_executor.rs
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/repo_gen.rs
  xtask/src/manual_test/sandbox.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(test-runner): no ghost rows on cancel; precise cancelled count; explicit "did not run" line
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/progress/indicatif_sink.rs
  xtask/src/manual_test/progress/mod.rs
  xtask/src/manual_test/reporter/mod.rs
  xtask/src/manual_test/reporter/pretty.rs
  xtask/src/manual_test/reporter/tests.rs
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(test-runner): show cancelled scenarios in scrollback + fix ghost row from suspend/write race
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/progress/indicatif_sink.rs
  xtask/src/manual_test/progress/mod.rs
  xtask/src/manual_test/reporter/pretty.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(test-runner): use multi.remove for bar cleanup to avoid zombie-line scrollback ghosts
  xtask/src/manual_test/progress/indicatif_sink.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(test-runner): close indicatif line-accounting race that strands in-flight rows in scrollback
  xtask/src/manual_test/progress/indicatif_sink.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(test-runner): merge footer-print and row-remove into one worker-thread call to close the ghost-row race
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/progress/indicatif_sink.rs
  xtask/src/manual_test/progress/mod.rs
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(test-runner): serialize all multi state changes through a global mutex
  xtask/src/manual_test/progress/indicatif_sink.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(test-runner): reverse complete_scenario to remove-then-print
  xtask/src/manual_test/progress/indicatif_sink.rs
  xtask/src/manual_test/progress/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(test-runner): test runner output improvements (#518) (#551)
  .claude/skills/daft-tui-design/SKILL.md
  .claude/skills/daft-tui-design/references/design-principles.md
  .claude/skills/daft-tui-design/references/tui-references.md
  .claude/skills/daft-tui/SKILL.md
  .claude/skills/rust-async-patterns/SKILL.md
  .claude/skills/rust-best-practices/SKILL.md
  .claude/skills/rust-best-practices/references/chapter_01.md
  .claude/skills/rust-best-practices/references/chapter_02.md
  .claude/skills/rust-best-practices/references/chapter_03.md
  .claude/skills/rust-best-practices/references/chapter_04.md
  .claude/skills/rust-best-practices/references/chapter_05.md
  .claude/skills/rust-best-practices/references/chapter_06.md
  .claude/skills/rust-best-practices/references/chapter_07.md
  .claude/skills/rust-best-practices/references/chapter_08.md
  .claude/skills/rust-best-practices/references/chapter_09.md
  .gitignore
  CLAUDE.md
  Cargo.lock
  benches/scenarios/test_manual_scale.sh
  mise-tasks/test/unit
  skills-lock.json
  term-styles/src/lib.rs
  tests/README.md
  tests/manual/scenarios/runner-output/_fixtures/fail.yml
  tests/manual/scenarios/runner-output/end-to-end.yml
  xtask/Cargo.toml
  xtask/src/main.rs
  xtask/src/manual_test/daft_executor.rs
  xtask/src/manual_test/interactive.rs
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/progress/indicatif_sink.rs
  xtask/src/manual_test/progress/mod.rs
  xtask/src/manual_test/repo_gen.rs
  xtask/src/manual_test/reporter/CLAUDE.md
  xtask/src/manual_test/reporter/mod.rs
  xtask/src/manual_test/reporter/pretty.rs
  xtask/src/manual_test/reporter/tests.rs
  xtask/src/manual_test/runner.rs
  xtask/src/manual_test/sandbox.rs
  xtask/src/manual_test/schema.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(hooks): strip foreground names from background job needs in partitioner
  src/hooks/yaml_executor/partition.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(test-runner): flip default to automatic; add --interactive (-i)
  .github/workflows/test.yml
  Cargo.lock
  benches/scenarios/test_manual_scale.sh
  mise-tasks/bench/tests/integration/_bench_command
  mise-tasks/bench/tests/manual/_default
  tests/manual/scenarios/runner-output/end-to-end.yml
  xtask/src/bench.rs
  xtask/src/main.rs
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/reporter/CLAUDE.md
  xtask/src/manual_test/reporter/mod.rs
  xtask/src/manual_test/reporter/pretty.rs
  xtask/src/manual_test/reporter/tests.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(sandbox): reflect manual-test default flip in completions + help
  mise-tasks/sandbox/_default
Due: none

feat(coordinator): cascade prefailed background jobs to DepFailed before wave loop
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: reframe test-runner examples around automatic-by-default
  CLAUDE.md
  docs/about/contributing.md
  tests/README.md
Due: prettier-format

fix(hooks): cascade foreground failures to dependent background jobs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): expand inline prefailed cascade through BG→BG needs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(test-runner): default to automatic; add --interactive (-i) for step-through (#557)
  .github/workflows/test.yml
  CLAUDE.md
  Cargo.lock
  benches/scenarios/test_manual_scale.sh
  docs/about/contributing.md
  mise-tasks/bench/tests/integration/_bench_command
  mise-tasks/bench/tests/manual/_default
  mise-tasks/sandbox/_default
  tests/README.md
  tests/manual/scenarios/runner-output/end-to-end.yml
  xtask/src/bench.rs
  xtask/src/main.rs
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/reporter/CLAUDE.md
  xtask/src/manual_test/reporter/mod.rs
  xtask/src/manual_test/reporter/pretty.rs
  xtask/src/manual_test/reporter/tests.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(hooks): support background jobs depending on foreground jobs (#558)
  src/coordinator/process.rs
  src/hooks/yaml_executor/mod.rs
  src/hooks/yaml_executor/partition.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(cow_copy): add reflink-based file/directory copy helper
  Cargo.lock
  Cargo.toml
  src/cow_copy.rs
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf(test-runner): use reflink for sandbox template snapshot and reset
  xtask/src/manual_test/sandbox.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(test-runner): inline cow_copy in xtask to honor runner-core port
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/manual_test/cow_copy.rs
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/sandbox.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf(test-runner): emit per-phase timing under DAFT_MANUAL_TEST_EMIT_TIMING
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
