Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

docs: update verbosity documentation for prune and sync
  SKILL.md
  docs/cli/daft-sync.md
Due: prettier-format

fix: address spec compliance issues in hook event chain
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/tui_bridge.rs
  src/core/worktree/sync_dag.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: compute viewport extra rows for hook sub-rows
  src/commands/prune.rs
  src/commands/sync.rs
  src/output/tui/driver.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: remove implementation plan and spec files
  docs/superpowers/plans/2026-03-11-hooks-in-sync-tui.md
  docs/superpowers/specs/2026-03-11-hooks-in-sync-tui-design.md
Due: prettier-format

fix(tui): prevent layout jumps from hook status labels and fix sub-row rendering
  src/output/tui/columns.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(executor): add module skeleton with core types and presenter trait
  src/executor/cli_presenter.rs
  src/executor/mod.rs
  src/executor/presenter.rs
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(executor): improve docs and mutex error messages
  src/executor/cli_presenter.rs
  src/executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(executor): move command execution to generic executor module
  src/executor/command.rs
  src/executor/mod.rs
  src/hooks/yaml_executor/command.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(executor): add generic DAG scheduler with parallel and sequential execution
  src/executor/dag.rs
  src/executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(executor): add high-level job runner with scheduling dispatch
  src/executor/mod.rs
  src/executor/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): add job_adapter to convert hook inputs into JobSpec values
  src/hooks/job_adapter.rs
  src/hooks/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(hooks): route legacy execute() through generic executor
  src/commands/clone.rs
  src/commands/flow_adopt.rs
  src/commands/hooks/run_cmd.rs
  src/core/progress.rs
  src/core/tui_bridge.rs
  src/hooks/executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(tui): add TuiPresenter to send hook events through DagEvent channel
  src/output/tui/mod.rs
  src/output/tui/presenter.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(tui): add TuiPresenter for real-time hook event forwarding
  src/output/tui/mod.rs
  src/output/tui/presenter.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(tui): replace NullPresenter with TuiPresenter in TuiBridge
  src/core/tui_bridge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(hooks): replace yaml_executor modules with generic executor
  src/hooks/executor.rs
  src/hooks/yaml_executor/command.rs
  src/hooks/yaml_executor/dependency.rs
  src/hooks/yaml_executor/mod.rs
  src/hooks/yaml_executor/parallel.rs
  src/hooks/yaml_executor/sequential.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: remove unused standalone hook rendering functions
  src/output/hook_progress/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(tui): render hook sub-rows as full-width overlays
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(tui): add job sub-rows, accent color hooks, and pruned strikethrough
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/worktree/sync_dag.rs
  src/output/tui/driver.rs
  src/output/tui/presenter.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
  src/styles.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(tui): continuous strikethrough for pruned worktree rows
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: removed old pland
  docs/plans/2026-02-25-developer-sandbox-design.md
  docs/plans/2026-02-25-developer-sandbox-plan.md
Due: prettier-format

fix(sync): treat non-fast-forwardable branches as warnings, not failures
  src/commands/sync.rs
  src/core/worktree/fetch.rs
  src/core/worktree/sync_dag.rs
  src/output/tui/columns.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
  tests/integration/test_sync.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(sync): treat non-fast-forwardable branches as warnings (#291)
  src/commands/sync.rs
  src/core/worktree/fetch.rs
  src/core/worktree/sync_dag.rs
  src/output/tui/columns.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
  tests/integration/test_sync.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync): add --autostash flag for rebase phase
  SKILL.md
  docs/cli/daft-sync.md
  docs/cli/git-sync.md
  man/daft-sync.1
  man/git-sync.1
  src/commands/sync.rs
  src/core/worktree/rebase.rs
  src/git/remote.rs
  tests/integration/test_sync.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(sync): add --autostash flag for rebase phase (#292)
  SKILL.md
  docs/cli/daft-sync.md
  docs/cli/git-sync.md
  man/daft-sync.1
  man/git-sync.1
  src/commands/sync.rs
  src/core/worktree/rebase.rs
  src/git/remote.rs
  tests/integration/test_sync.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(sync): add --push and --force-with-lease flags
  SKILL.md
  docs/cli/daft-sync.md
  docs/cli/git-sync.md
  man/daft-sync.1
  man/git-sync.1
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/worktree/mod.rs
  src/core/worktree/push.rs
  src/core/worktree/sync_dag.rs
  src/git/config.rs
  src/git/remote.rs
  src/output/tui/columns.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(sync): add --push and --force-with-lease flags (#293)
  SKILL.md
  docs/cli/daft-sync.md
  docs/cli/git-sync.md
  man/daft-sync.1
  man/git-sync.1
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/worktree/mod.rs
  src/core/worktree/push.rs
  src/core/worktree/sync_dag.rs
  src/git/config.rs
  src/git/remote.rs
  src/output/tui/columns.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore: release v1.0.36
  CHANGELOG.md
  Cargo.toml
  man/daft-adopt.1
  man/daft-carry.1
  man/daft-clone.1
  man/daft-eject.1
  man/daft-go.1
  man/daft-init.1
  man/daft-list.1
  man/daft-prune.1
  man/daft-release-notes.1
  man/daft-remove.1
  man/daft-rename.1
  man/daft-start.1
  man/daft-sync.1
  man/daft-update.1
  man/git-sync.1
  man/git-worktree-branch-delete.1
  man/git-worktree-branch.1
  man/git-worktree-carry.1
  man/git-worktree-checkout.1
  man/git-worktree-clone.1
  man/git-worktree-fetch.1
  man/git-worktree-flow-adopt.1
  man/git-worktree-flow-eject.1
  man/git-worktree-init.1
  man/git-worktree-list.1
  man/git-worktree-prune.1
  xtask/Cargo.toml
Due: prettier-format

feat: add Homebrew installation detection module
  src/homebrew.rs
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add effective_install_dir() for Homebrew-aware path resolution
  src/commands/shortcuts.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: use effective_install_dir() for shortcut symlink management
  src/commands/shortcuts.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: use effective_install_dir() in daft setup for Homebrew
  src/commands/setup.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: make command symlink checks Homebrew-aware in doctor
  src/doctor/installation.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: use effective_install_dir() for shortcut symlink checks in doctor
  src/doctor/installation.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: prevent brew link failures with Homebrew-aware symlink management (#294)
  src/commands/setup.rs
  src/commands/shortcuts.rs
  src/doctor/installation.rs
  src/homebrew.rs
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

deps: updated tools
  mise.lock
Due: none

deps: update lefthook 2.1.3 -> 2.1.4 (#296)
  mise.lock
Due: none

fix(sync): refresh remote tracking info after push in TUI output
  src/commands/sync.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(sync): show dirty status instead of pruned for unremovable worktrees
  src/commands/sync_shared.rs
  src/core/worktree/prune.rs
  src/core/worktree/sync_dag.rs
  src/output/tui/columns.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs
