Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

test: add manual test plan for progressive adoption feature
  test-plans/progressive-adoption.md
Due: prettier-format

fix: use modern nvim-treesitter opts API in test-plan config
  tools/nvim/test-plan/init.lua
Due: none

chore: use Space for checkbox toggle, fix line numbers in test-plan
  tools/nvim/test-plan/init.lua
Due: none

chore: nest nvim XDG dirs under sandbox config/
  mise-tasks/sandbox/_default
Due: none

test: simplify test plan to cheat sheet format
  test-plans/progressive-adoption.md
Due: prettier-format

refactor(layout): simplify nested template and bare inference
  docs/superpowers/specs/2026-03-20-progressive-adoption-layout-system-design.md
  src/core/layout/bare.rs
  src/core/layout/mod.rs
  test-plans/progressive-adoption.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore: add lazy-lock.json for test-plan neovim plugins
  tools/nvim/test-plan/lazy-lock.json
Due: none

refactor(layout): explicit template anchoring with repo_path and repo variables
  docs/superpowers/specs/2026-03-20-progressive-adoption-layout-system-design.md
  src/core/layout/bare.rs
  src/core/layout/mod.rs
  src/core/layout/template.rs
  test-plans/progressive-adoption.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

style(layout): improve layout list/show with table alignment, syntax highlighting, and indicators
  src/commands/layout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: extract shared SyntaxPalette for consistent syntax highlighting
  src/commands/hooks/formatting.rs
  src/commands/layout.rs
  src/styles.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): default layout subcommand to show, one-line output
  man/daft-layout.1
  src/commands/layout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): relocate worktrees during layout transform
  src/commands/layout.rs
  tests/manual/scenarios/layout/transform-relocates-worktrees.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

style(layout): proper Jinja2-style syntax highlighting for templates
  src/commands/layout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(layout): remove double space before pipe in template display
  src/commands/layout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style(layout): improve template syntax highlighting hierarchy
  src/commands/layout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: hooks discovery for non-bare repos and main worktree removal guard
  src/commands/hooks/mod.rs
  src/core/worktree/branch_delete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(layout): shell CD after transform and bare-to-non-bare worktree order
  src/commands/layout.rs
  src/commands/shell_init.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(layout): transform from linked worktree and CD to correct branch
  src/commands/layout.rs
  tests/manual/scenarios/layout/transform-from-linked-worktree.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(layout): prevent infinite recursion in shell wrapper for layout command
  src/commands/shell_init.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style(layout): show "repo setting" instead of "repos.json" in layout show
  src/commands/layout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(clone): reset registry entry on re-clone to same path
  src/core/worktree/clone.rs
  src/hooks/trust.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): support "default" as reserved name in layout transform
  src/commands/layout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(clone): show correct path in clone message for each layout
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(clone): use reset_repo() for clean re-clone registry reset
  src/core/worktree/clone.rs
  src/hooks/trust.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(layout): bare-to-non-bare transform from non-default worktree
  src/commands/layout.rs
  src/core/layout/transform.rs
  tests/manual/scenarios/layout/transform-contained-to-sibling-from-linked.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore: add reload-sandbox shell function to sandbox init
  mise-tasks/sandbox/_default
Due: none

docs: updated test plan
  test-plans/progressive-adoption.md
Due: prettier-format

feat(clone): show one-time layout hint on first clone with default layout
  src/commands/clone.rs
  src/hints.rs
  tests/manual/scenarios/clone/layout-first-time-hint.yml
  tests/manual/scenarios/clone/layout-hint-suppressed-by-env.yml
  tests/manual/scenarios/clone/layout-hint-suppressed-by-flag.yml
  tests/manual/scenarios/clone/layout-hint-suppressed-by-global-config.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test: add 17 layout scenarios and fix implementation gaps
  src/commands/clone.rs
  src/commands/layout.rs
  tests/manual/scenarios/clone/layout-contained-hooks.yml
  tests/manual/scenarios/clone/layout-from-daft-yml.yml
  tests/manual/scenarios/clone/layout-sibling-hooks.yml
  tests/manual/scenarios/layout/bare-inference-custom-override.yml
  tests/manual/scenarios/layout/centralized-workflow.yml
  tests/manual/scenarios/layout/custom-template-clone.yml
  tests/manual/scenarios/layout/graceful-degradation-warning.yml
  tests/manual/scenarios/layout/repo-store-persists-across-commands.yml
  tests/manual/scenarios/layout/repo-store-reset-on-reclone.yml
  tests/manual/scenarios/layout/resolution-cli-overrides-repo-store.yml
  tests/manual/scenarios/layout/resolution-daft-yml.yml
  tests/manual/scenarios/layout/resolution-global-config.yml
  tests/manual/scenarios/layout/show-source.yml
  tests/manual/scenarios/layout/transform-default-keyword.yml
  tests/manual/scenarios/layout/transform-nested-to-sibling.yml
  tests/manual/scenarios/layout/transform-same-layout-noop.yml
  tests/manual/scenarios/layout/transform-sibling-to-nested.yml
  tests/manual/scenarios/layout/transform-with-multiple-worktrees.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(layout): contained-to-sibling transform preserves default branch at root
  src/commands/layout.rs
  tests/manual/scenarios/layout/transform-contained-to-sibling.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor(layout): move bare/non-bare conversion logic into layout::transform
  src/commands/layout.rs
  src/core/layout/mod.rs
  src/core/layout/transform.rs
  src/core/worktree/flow_adopt.rs
  src/core/worktree/flow_eject.rs
  src/core/worktree/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: require regression tests for every bug fix
  CLAUDE.md
Due: prettier-format

chore: add reset-sandbox command to wipe and recreate sandbox
  mise-tasks/sandbox/_default
Due: none

refactor(prompt): replace stty plumbing with console crate
  Cargo.toml
  src/hints.rs
  src/lib.rs
  src/prompt.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style: inline layout prompt cursor on same line with padding
  src/hints.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: layout prompt Ctrl+C handling and false bare warning
  src/commands/checkout.rs
  src/hints.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(clone): replace layout hint with interactive prompt
  Cargo.toml
  src/commands/clone.rs
  src/hints.rs
  tests/manual/scenarios/clone/layout-first-time-hint.yml
  tests/manual/scenarios/clone/layout-hint-suppressed-by-env.yml
  tests/manual/scenarios/clone/layout-hint-suppressed-by-flag.yml
  tests/manual/scenarios/clone/layout-hint-suppressed-by-global-config.yml
  tests/manual/scenarios/clone/layout-prompt-accept-contained.yml
  tests/manual/scenarios/clone/layout-prompt-skipped-for-daft-yml.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(clone): three-option layout prompt with global default persistence
  src/core/global_config.rs
  src/hints.rs
  tests/manual/scenarios/clone/layout-first-time-hint.yml
  tests/manual/scenarios/clone/layout-hint-suppressed-by-env.yml
  tests/manual/scenarios/clone/layout-hint-suppressed-by-flag.yml
  tests/manual/scenarios/clone/layout-hint-suppressed-by-global-config.yml
  tests/manual/scenarios/clone/layout-prompt-accept-contained.yml
  tests/manual/scenarios/clone/layout-prompt-set-default.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs: add spec for daft layout default command
  docs/superpowers/specs/2026-03-22-layout-default-command-design.md
Due: prettier-format

docs(layout): add layout default to help text and man page
  src/commands/layout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
