Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

feat(jobs): add InvocationMeta struct and LogStore query methods
  src/coordinator/log_store.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): add background and finished_at fields to JobMeta
  src/commands/hooks/jobs.rs
  src/coordinator/log_store.rs
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(sandbox): remind to run source init when entering sandbox
  mise-tasks/sandbox/_default
Due: none

feat(jobs): plumb metadata at dispatch site and retry path
  src/commands/hooks/jobs.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): add CoordinatorState metadata and propagate through pipeline
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): add JobAddress parser and resolver for composite addressing
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): add nested JSON output for hooks jobs --json
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): redesign CLI interface and grouped display
  docs/cli/daft-hooks.md
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(jobs): add shell completions for job addresses (bash/zsh/fish)
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(jobs): duration format, zsh completions, and sandbox state dir
  mise-tasks/sandbox/_default
  src/commands/completions/zsh.rs
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): invocation-only logs, pager, meaningful short IDs
  src/commands/hooks/jobs.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(jobs): add spec and implementation plan for hooks jobs redesign
  docs/superpowers/plans/2026-04-10-hooks-jobs-redesign.md
  docs/superpowers/specs/2026-04-10-hooks-jobs-redesign.md
Due: prettier-format

docs(hooks): implementation plan + spec update for universal hook logging
  docs/superpowers/plans/2026-04-11-universal-hook-logging.md
  docs/superpowers/specs/2026-04-11-universal-hook-logging.md
Due: prettier-format

docs(hooks): add spec for universal hook invocation logging
  docs/superpowers/specs/2026-04-11-universal-hook-logging.md
Due: prettier-format

refactor(output): unify pager handling across commands
  Cargo.toml
  src/commands/hooks/jobs.rs
  src/commands/hooks/trust.rs
  src/commands/release_notes.rs
  src/output/mod.rs
  src/output/pager.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(log_store): attach path context to write_meta errors
  src/coordinator/log_store.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(log_store): add JobStatus::Skipped and write_job_record helper
  src/commands/complete.rs
  src/commands/hooks/jobs.rs
  src/coordinator/log_store.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(executor): add LogSink trait
  src/executor/log_sink.rs
  src/executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(executor): add BufferingLogSink for foreground job logging
  src/executor/log_sink.rs
  src/executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(log_sink): report write errors and panic on non-terminal status
  src/executor/log_sink.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(runner): thread optional LogSink through run_jobs
  src/executor/runner.rs
  src/hooks/executor.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(job_adapter): evaluate per-job skip: conditions
  src/hooks/job_adapter.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(job_adapter): return (kept, skipped) from yaml_jobs_to_specs
  src/hooks/job_adapter.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(runner): skip JobSpec clone when no sink; test DAG dep-failed
  src/executor/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(hooks): move invocation.json write from coordinator to main
  src/coordinator/log_store.rs
  src/coordinator/process.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(job_adapter): strip needs: references to skipped dependencies
  src/hooks/job_adapter.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(job_adapter): evaluate per-job only: conditions
  src/hooks/job_adapter.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(yaml_executor): write sparse log records for skipped jobs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): render skipped jobs in hooks jobs listing and json
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(yaml_executor): pass BufferingLogSink to foreground runner
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(manual_test): commit daft.yml before creating feature branches
  xtask/src/manual_test/repo_gen.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(hooks): integration scenario for foreground-only hook visibility
  tests/manual/scenarios/hooks/foreground-only-hook.yml
Due: prettier-format

feat(jobs): show (no jobs declared) for empty hook invocations
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(hooks): integration scenario for per-job skip/only records
  tests/manual/scenarios/hooks/per-job-skip-records.yml
Due: prettier-format

test(hooks): simplify foreground-only scenario to use daft wt add
  tests/manual/scenarios/hooks/foreground-only-hook.yml
Due: prettier-format

test(hooks): integration scenario for mixed fg+bg invocation
  tests/manual/scenarios/hooks/mixed-fg-bg-invocation.yml
Due: prettier-format

test(hooks): integration scenario for empty hook placeholder
  tests/manual/scenarios/hooks/empty-hook-placeholder.yml
Due: prettier-format

test(hooks): regression scenario for remove-hook visibility
  tests/manual/scenarios/hooks/remove-hook-visibility.yml
Due: prettier-format

fix(yaml_executor): write invocation before jobs-empty early returns
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(hooks): integration scenario for promoted bg->fg recording
  tests/manual/scenarios/hooks/promoted-bg-to-fg.yml
Due: prettier-format
