Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

chore: forbid unsafe_code in production paths
  src/lib.rs
  src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(coordinator): canonicalize current_exe() before spawning __coordinator
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(claude.md): document forbid-unsafe policy + spawn-self pattern
  CLAUDE.md
Due: prettier-format

ci: install rustfmt+clippy for mise-managed toolchain in lint job
  .github/workflows/test.yml
Due: prettier-format

test(hooks): wait for terminal status of specific bg jobs
  tests/manual/scenarios/hooks/mixed-fg-bg-invocation.yml
  tests/manual/scenarios/hooks/retry-mixed-fg-bg.yml
Due: prettier-format

chore: bump MSRV 1.91 → 1.93
  .github/workflows/test.yml
  Cargo.toml
  README.md
  docs/getting-started/installation.md
  mise.lock
  mise.toml
Due: prettier-format

docs(claude.md): document MSRV policy
  CLAUDE.md
Due: prettier-format

ci: add monthly MSRV staleness check
  .github/workflows/msrv-staleness-check.yml
Due: prettier-format

docs(coordinator): refresh fork-era comments after spawn refactor
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(coordinator): clean up state tempfile when child spawn fails
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(main): surface coordinator startup failures with non-zero exit
  src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(docs): install Diátaxis skills for project-wide doc IA work
  .claude/skills/diataxis-organize-docs/SKILL.md
  .claude/skills/writing-documentation-with-diataxis/SKILL.md
  .claude/skills/writing-documentation-with-diataxis/principles.md
  .claude/skills/writing-documentation-with-diataxis/reference.md
  skills-lock.json
Due: prettier-format

docs(spec): design for docs IA restructure with cookbook section
  docs/superpowers/specs/2026-05-03-docs-ia-restructure-design.md
Due: prettier-format

docs(worktrees): write pillar Overview, retire guide/worktree-workflow
  docs/getting-started/quick-start.md
  docs/guide/worktree-workflow.md
  docs/index.md
  docs/worktrees/index.md
Due: prettier-format

docs(worktrees): migrate layouts page to pillar
  docs/getting-started/quick-start.md
  docs/guide/adopting-existing-repos.md
  docs/superpowers/plans/2026-05-03-docs-ia-restructure.md
  docs/superpowers/specs/2026-05-03-docs-ia-restructure-design.md
  docs/worktrees/layouts.md
Due: prettier-format

docs: scaffold pillar directory placeholders
  docs/about/index.md
  docs/cookbook/index.md
  docs/hooks/index.md
  docs/reference/index.md
  docs/worktrees/index.md
Due: prettier-format

docs(vitepress): adopt pillar IA in sidebar + nav + URL rewrites
  docs/.vitepress/config.ts
Due: none

docs(plan): implementation plan for docs IA restructure
  docs/superpowers/plans/2026-05-03-docs-ia-restructure.md
Due: prettier-format

docs: add Cloudflare redirects for legacy URLs
  docs/public/_redirects
Due: none

docs(spec): unify follow-up issues with feature tickets
  docs/superpowers/specs/2026-05-03-docs-ia-restructure-design.md
Due: prettier-format

docs(spec,plan): restore historical /guide/X references corrupted by 8100bdf9
  docs/superpowers/plans/2026-05-03-docs-ia-restructure.md
  docs/superpowers/specs/2026-05-03-docs-ia-restructure-design.md
Due: prettier-format

docs(worktrees): rename running-commands-across-worktrees to running-commands
  docs/cli/daft-exec.md
  docs/public/_redirects
  docs/worktrees/running-commands.md
Due: prettier-format

docs: restore _redirects circular-redirect lines from corruption
  docs/public/_redirects
Due: none

docs(worktrees): move multi-remote to pillar with cross-links
  docs/worktrees/multi-remote.md
Due: prettier-format

docs(worktrees): move shortcuts to pillar
  docs/getting-started/quick-start.md
  docs/public/_redirects
  docs/worktrees/shortcuts.md
Due: prettier-format

docs(hooks): extract lifecycle reference from guide/hooks.md
  docs/hooks/lifecycle.md
Due: prettier-format

docs(worktrees): move adopting-existing-repos to pillar
  docs/public/_redirects
  docs/worktrees/adopting-existing-repos.md
  docs/worktrees/layouts.md
Due: prettier-format

docs(hooks): write pillar Overview with boundaries thesis
  docs/hooks/index.md
Due: prettier-format

docs(reference): move output-formats page to reference/
  docs/cli/daft-hooks-jobs.md
  docs/cli/daft-hooks.md
  docs/cli/daft-layout.md
  docs/cli/daft-list.md
  docs/cli/daft-multi-remote.md
  docs/cli/daft-release-notes.md
  docs/cli/daft-shared.md
  docs/cli/git-worktree-list.md
  docs/reference/output-formats.md
Due: prettier-format

docs(reference): move configuration page to reference/
  docs/cli/git-daft-hooks.md
  docs/getting-started/quick-start.md
  docs/reference/configuration.md
  docs/worktrees/layouts.md
Due: prettier-format

docs(hooks): write roadmap stub for #330 (merge) and #468 (commit drop-in)
  docs/hooks/roadmap.md
Due: prettier-format

docs(hooks): write trust-and-security explanation page
  docs/hooks/trust-and-security.md
Due: prettier-format

docs(hooks): write job-orchestration explanation page
  docs/hooks/job-orchestration.md
Due: prettier-format

docs(hooks): retire guide/hooks.md (content migrated to pillar pages)
  docs/cli/daft-hooks-jobs.md
  docs/cli/git-daft-hooks.md
  docs/getting-started/quick-start.md
  docs/guide/hooks.md
Due: prettier-format

docs(reference): move agent skill page to reference/ with multi-agent name
  docs/reference/agent-skill.md
Due: prettier-format

docs(hooks): extract daft.yml schema reference from guide/hooks.md
  docs/hooks/yaml-reference.md
Due: prettier-format

docs(about): write comparison page (vs git worktree, lefthook, gitup, Actions)
  docs/about/comparison.md
Due: prettier-format

docs(about): write glossary
  docs/about/glossary.md
Due: prettier-format

docs(reference): write reference hub overview
  docs/reference/index.md
Due: prettier-format
