Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

feat(exec): add --show-output to dump captured output for successful worktrees (#530)
  docs/cli/git-worktree-exec.md
  man/daft-exec.1
  man/git-worktree-exec.1
  src/commands/exec.rs
  src/core/worktree/exec/list_renderer.rs
  src/core/worktree/exec/mod.rs
  tests/manual/scenarios/worktree-exec/show-output-success-dump.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

ci(release-plz): unblock by versioning internal path deps
  .github/workflows/release-plz.yml
  Cargo.toml
  xtask/Cargo.toml
Due: prettier-format

chore: release v1.14.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  man/daft-adopt.1
  man/daft-carry.1
  man/daft-clone.1
  man/daft-eject.1
  man/daft-exec.1
  man/daft-go.1
  man/daft-init.1
  man/daft-list.1
  man/daft-merge.1
  man/daft-prune.1
  man/daft-release-notes.1
  man/daft-remove.1
  man/daft-rename.1
  man/daft-shared.1
  man/daft-start.1
  man/daft-sync.1
  man/daft-update.1
  man/git-daft-repo-remove.1
  man/git-worktree-branch-delete.1
  man/git-worktree-branch.1
  man/git-worktree-carry.1
  man/git-worktree-checkout.1
  man/git-worktree-clone.1
  man/git-worktree-exec.1
  man/git-worktree-fetch.1
  man/git-worktree-flow-adopt.1
  man/git-worktree-flow-eject.1
  man/git-worktree-init.1
  man/git-worktree-list.1
  man/git-worktree-merge.1
  man/git-worktree-prune.1
  man/git-worktree-sync.1
  xtask/Cargo.toml
Due: prettier-format

chore: release v1.14.1 (#537)
  .github/workflows/release-plz.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  man/daft-adopt.1
  man/daft-carry.1
  man/daft-clone.1
  man/daft-eject.1
  man/daft-exec.1
  man/daft-go.1
  man/daft-init.1
  man/daft-list.1
  man/daft-merge.1
  man/daft-prune.1
  man/daft-release-notes.1
  man/daft-remove.1
  man/daft-rename.1
  man/daft-shared.1
  man/daft-start.1
  man/daft-sync.1
  man/daft-update.1
  man/git-daft-repo-remove.1
  man/git-worktree-branch-delete.1
  man/git-worktree-branch.1
  man/git-worktree-carry.1
  man/git-worktree-checkout.1
  man/git-worktree-clone.1
  man/git-worktree-exec.1
  man/git-worktree-fetch.1
  man/git-worktree-flow-adopt.1
  man/git-worktree-flow-eject.1
  man/git-worktree-init.1
  man/git-worktree-list.1
  man/git-worktree-merge.1
  man/git-worktree-prune.1
  man/git-worktree-sync.1
  xtask/Cargo.toml
Due: prettier-format

fix(ci): install Node 24 in docs deploy to satisfy wrangler 4
  .github/workflows/docs.yml
Due: prettier-format

ci(release): migrate from release-plz to cargo-release
  .github/workflows/release-cut.yml
  .github/workflows/release-plz.yml
  CHANGELOG.md
  cliff.toml
  release-plz.toml
  release.toml
  term-styles/Cargo.toml
  xtask/Cargo.toml
Due: prettier-format

fix(ci): install Node 24 in docs deploy to satisfy wrangler 4 (#541)
  .github/workflows/docs.yml
Due: prettier-format

ci(release): reproduce release-plz auto-PR UX on cargo-release
  .github/workflows/release-cut.yml
  .github/workflows/release-flow.yml
Due: prettier-format

ci(release): allow manual version override via workflow_dispatch input
  .github/workflows/release-flow.yml
Due: prettier-format

ci(release): migrate from release-plz to cargo-release (auto-PR UX preserved) (#542)
  .github/workflows/release-flow.yml
  .github/workflows/release-plz.yml
  CHANGELOG.md
  cliff.toml
  release-plz.toml
  release.toml
  term-styles/Cargo.toml
  xtask/Cargo.toml
Due: prettier-format

fix(ci): allow cargo-release to run from release-pr branch in workflow
  .github/workflows/release-flow.yml
Due: prettier-format

fix(ci): allow cargo-release to run from release-pr branch in workflow (#544)
  .github/workflows/release-flow.yml
Due: prettier-format

ci(release): include changelog section in release PR body
  .github/workflows/release-flow.yml
Due: prettier-format

ci(release): skip heavy test jobs on release PRs; clean up release-plz residue
  .github/workflows/bench.yml
  .github/workflows/test.yml
  CLAUDE.md
  docs/.vitepress/config.ts
  mise-tasks/test/version-format
Due: prettier-format

ci(release): address review findings on PR #547
  .github/workflows/release-flow.yml
Due: prettier-format

chore: ignore .understand-anything/ knowledge graph artifacts
  .gitignore
Due: none

ci(release): include changelog in PR body + skip heavy tests on release PRs + clean up release-plz residue (#547)
  .github/workflows/bench.yml
  .github/workflows/release-flow.yml
  .github/workflows/test.yml
  CLAUDE.md
  docs/.vitepress/config.ts
  mise-tasks/test/version-format
Due: prettier-format

fix(ci): allow squash-merge ' (#nnn)' suffix in tag-merged-release regex
  .github/workflows/release-flow.yml
Due: prettier-format

fix(ci): allow squash-merge ' (#nnn)' suffix in tag-merged-release regex (#549)
  .github/workflows/release-flow.yml
Due: prettier-format

feat(test-runner): legible output — scenario PASS/FAIL footers, failed-scenarios + reproduce blocks, verbosity ladder
  tests/README.md
  tests/manual/scenarios/runner-output/_fixtures/fail.yml
  tests/manual/scenarios/runner-output/end-to-end.yml
  xtask/src/main.rs
  xtask/src/manual_test/interactive.rs
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/reporter/mod.rs
  xtask/src/manual_test/reporter/pretty.rs
  xtask/src/manual_test/reporter/quiet.rs
  xtask/src/manual_test/reporter/tests.rs
  xtask/src/manual_test/runner.rs
  xtask/src/manual_test/sandbox.rs
  xtask/src/manual_test/schema.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(test-runner): vitest-style polish — banner, durations, source-line citations
  tests/README.md
  tests/manual/scenarios/runner-output/end-to-end.yml
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/reporter/mod.rs
  xtask/src/manual_test/reporter/pretty.rs
  xtask/src/manual_test/reporter/quiet.rs
  xtask/src/manual_test/reporter/tests.rs
  xtask/src/manual_test/runner.rs
  xtask/src/manual_test/schema.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(test-runner): attach cleanup note to its scenario, separate from next
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/reporter/pretty.rs
  xtask/src/manual_test/reporter/tests.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(skills): add daft-tui-design synthesis skill
  .claude/skills/daft-tui-design/SKILL.md
  .claude/skills/daft-tui-design/references/design-principles.md
  .claude/skills/daft-tui-design/references/tui-references.md
Due: prettier-format

feat(test-runner): apply reporter design language across pretty + quiet
  term-styles/src/lib.rs
  tests/README.md
  tests/manual/scenarios/runner-output/end-to-end.yml
  xtask/src/manual_test/interactive.rs
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/reporter/mod.rs
  xtask/src/manual_test/reporter/pretty.rs
  xtask/src/manual_test/reporter/quiet.rs
  xtask/src/manual_test/reporter/tests.rs
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(test-runner): write reporter design language as a scoped CLAUDE.md
  CLAUDE.md
  xtask/src/manual_test/reporter/CLAUDE.md
Due: prettier-format

feat(test-runner): move failure location to its own terminal-clickable line
  tests/manual/scenarios/runner-output/end-to-end.yml
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/reporter/mod.rs
  xtask/src/manual_test/reporter/pretty.rs
  xtask/src/manual_test/reporter/tests.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore(skills): install Rust skills and add daft-tui project skill
  .claude/skills/daft-tui/SKILL.md
  .claude/skills/rust-async-patterns/SKILL.md
  .claude/skills/rust-best-practices/SKILL.md
  .claude/skills/rust-best-practices/references/chapter_01.md
  .claude/skills/rust-best-practices/references/chapter_02.md
  .claude/skills/rust-best-practices/references/chapter_03.md
  .claude/skills/rust-best-practices/references/chapter_04.md
  .claude/skills/rust-best-practices/references/chapter_05.md
  .claude/skills/rust-best-practices/references/chapter_06.md
  .claude/skills/rust-best-practices/references/chapter_07.md
  .claude/skills/rust-best-practices/references/chapter_08.md
  .claude/skills/rust-best-practices/references/chapter_09.md
  .gitignore
  skills-lock.json
Due: prettier-format

fix(test-runner): render diff labels at full saturation, drop dim on detail lines
  term-styles/src/lib.rs
  xtask/src/manual_test/reporter/CLAUDE.md
  xtask/src/manual_test/reporter/pretty.rs
  xtask/src/manual_test/reporter/tests.rs
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

style(test-runner): pass-quiet, fail-loud at the footer line itself
  xtask/src/manual_test/reporter/CLAUDE.md
  xtask/src/manual_test/reporter/pretty.rs
  xtask/src/manual_test/reporter/tests.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(test-runner): compress -vv design notes to match the file's existing style
  xtask/src/manual_test/reporter/CLAUDE.md
Due: prettier-format

feat(test-runner): shift verbosity ladder one notch quieter
  xtask/src/manual_test/reporter/CLAUDE.md
  xtask/src/manual_test/reporter/mod.rs
  xtask/src/manual_test/reporter/pretty.rs
  xtask/src/manual_test/reporter/quiet.rs
  xtask/src/manual_test/reporter/tests.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(test-runner): rewrite verbosity ladder for default footer-only output
  xtask/src/manual_test/reporter/CLAUDE.md
Due: prettier-format

docs(test-runner): update verbosity ladder in tests/README and smoke
  tests/README.md
  tests/manual/scenarios/runner-output/end-to-end.yml
Due: prettier-format

docs(test-runner): add "hierarchy is contextual" meta-rule + -vv indent ladder spec
  xtask/src/manual_test/reporter/CLAUDE.md
Due: prettier-format

style(test-runner): give -vv a three-level visual hierarchy
  xtask/src/manual_test/reporter/CLAUDE.md
  xtask/src/manual_test/reporter/pretty.rs
  xtask/src/manual_test/reporter/tests.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

style(test-runner): -vv indent ladder, drop --- decoration, blank between steps
  xtask/src/manual_test/reporter/pretty.rs
  xtask/src/manual_test/reporter/tests.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style(test-runner): add step + command colors, multiline command support, dim capture
  term-styles/src/lib.rs
  xtask/src/manual_test/reporter/CLAUDE.md
  xtask/src/manual_test/reporter/pretty.rs
  xtask/src/manual_test/reporter/tests.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

style(test-runner): swap step name from bright purple to plain cyan
  term-styles/src/lib.rs
  xtask/src/manual_test/reporter/CLAUDE.md
  xtask/src/manual_test/reporter/pretty.rs
  xtask/src/manual_test/reporter/tests.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

style(test-runner): keep step name bright purple, promote [N/M] counter to cyan
  term-styles/src/lib.rs
  xtask/src/manual_test/reporter/CLAUDE.md
  xtask/src/manual_test/reporter/pretty.rs
  xtask/src/manual_test/reporter/tests.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore(test-runner): add indicatif dep for live progress region
  Cargo.lock
  xtask/Cargo.toml
Due: none
