Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

feat(emit): scaffold structured output module with shape-typed payloads
  Cargo.toml
  src/output/emit/args.rs
  src/output/emit/dispatch.rs
  src/output/emit/format.rs
  src/output/emit/formats/csv.rs
  src/output/emit/formats/json.rs
  src/output/emit/formats/markdown.rs
  src/output/emit/formats/mod.rs
  src/output/emit/formats/ndjson.rs
  src/output/emit/formats/template.rs
  src/output/emit/formats/toon.rs
  src/output/emit/formats/tsv.rs
  src/output/emit/formats/yaml.rs
  src/output/emit/mod.rs
  src/output/emit/payload.rs
  src/output/emit/test_fixtures.rs
  src/output/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(emit): json serializer for all four shapes
  src/output/emit/formats/json.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(emit): ndjson serializer for tabular and matrix shapes
  src/output/emit/formats/ndjson.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(emit): tsv serializer with whitespace normalization and matrix long-form
  src/output/emit/formats/tsv.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(emit): csv serializer via csv crate with matrix long-form
  src/output/emit/formats/csv.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(emit): yaml serializer for all four shapes
  src/output/emit/formats/yaml.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(emit): toon serializer via toon-format crate
  src/output/emit/formats/toon.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(emit): markdown serializer with per-shape rendering
  src/output/emit/formats/markdown.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(emit): tera template serializer
  src/output/emit/formats/template.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(emit): broken-pipe passthrough helper
  src/output/emit/dispatch.rs
  src/output/emit/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(list): regenerate man pages and CLI docs after --format migration
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(list): preserve "remote" kind value in JSON output
  src/commands/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(release-notes): migrate --json to --format
  docs/cli/daft-release-notes.md
  man/daft-release-notes.1
  src/commands/release_notes.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks-trust-list): add --format support
  docs/cli/daft-hooks.md
  docs/cli/daft-layout.md
  docs/cli/daft-multi-remote.md
  docs/cli/daft-shared.md
  src/commands/hooks/mod.rs
  src/commands/hooks/trust.rs
  src/output/emit/args.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(layout-list): add --format support
  src/commands/layout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared-status): add --format with Matrix payload
  src/commands/shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(multi-remote-status): add --format with Sectioned payload
  src/commands/multi_remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks-run): add --format to listing mode with Sectioned payload
  src/commands/hooks/run_cmd.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(list): migrate --json scenarios to --format json
  tests/manual/scenarios/list/branches-json.yml
  tests/manual/scenarios/list/columns-json.yml
  tests/manual/scenarios/list/json-ahead-behind.yml
  tests/manual/scenarios/list/json-branch-age.yml
  tests/manual/scenarios/list/json-head-remote.yml
  tests/manual/scenarios/list/json-single.yml
  tests/manual/scenarios/list/json.yml
  tests/manual/scenarios/list/owner-json-shape.yml
  tests/manual/scenarios/list/stat-lines-json.yml
Due: prettier-format

test(list): format coverage scenarios for every --format value
  tests/manual/scenarios/list/format-csv.yml
  tests/manual/scenarios/list/format-errors.yml
  tests/manual/scenarios/list/format-markdown.yml
  tests/manual/scenarios/list/format-ndjson.yml
  tests/manual/scenarios/list/format-template.yml
  tests/manual/scenarios/list/format-toon.yml
  tests/manual/scenarios/list/format-tsv.yml
  tests/manual/scenarios/list/format-yaml.yml
Due: prettier-format

test: format coverage for release-notes, hooks, layout, shared, multi-remote
  tests/manual/scenarios/hooks/hooks-run-format-errors.yml
  tests/manual/scenarios/hooks/hooks-run-format-json.yml
  tests/manual/scenarios/hooks/hooks-run-format-template.yml
  tests/manual/scenarios/hooks/hooks-run-format-yaml.yml
  tests/manual/scenarios/hooks/trust-list-format-errors.yml
  tests/manual/scenarios/hooks/trust-list-format-json.yml
  tests/manual/scenarios/hooks/trust-list-format-template.yml
  tests/manual/scenarios/hooks/trust-list-format-tsv.yml
  tests/manual/scenarios/hooks/trust-list-format-yaml.yml
  tests/manual/scenarios/layout/layout-list-format-errors.yml
  tests/manual/scenarios/layout/layout-list-format-json.yml
  tests/manual/scenarios/layout/layout-list-format-template.yml
  tests/manual/scenarios/layout/layout-list-format-tsv.yml
  tests/manual/scenarios/layout/layout-list-format-yaml.yml
  tests/manual/scenarios/multi-remote/format-errors.yml
  tests/manual/scenarios/multi-remote/format-json.yml
  tests/manual/scenarios/multi-remote/format-template.yml
  tests/manual/scenarios/multi-remote/format-yaml.yml
  tests/manual/scenarios/release-notes/format-errors.yml
  tests/manual/scenarios/release-notes/format-json.yml
  tests/manual/scenarios/release-notes/format-template.yml
  tests/manual/scenarios/release-notes/format-yaml.yml
  tests/manual/scenarios/shared/shared-status-format-errors.yml
  tests/manual/scenarios/shared/shared-status-format-json.yml
  tests/manual/scenarios/shared/shared-status-format-template.yml
  tests/manual/scenarios/shared/shared-status-format-tsv.yml
  tests/manual/scenarios/shared/shared-status-format-yaml.yml
Due: prettier-format

docs(guide): shared structured-output reference
  docs/.vitepress/config.ts
  docs/guide/output-formats.md
Due: prettier-format

docs(cli): per-command structured-output sections; drop --json references
  docs/cli/daft-hooks.md
  docs/cli/daft-layout.md
  docs/cli/daft-list.md
  docs/cli/daft-multi-remote.md
  docs/cli/daft-release-notes.md
  docs/cli/daft-shared.md
  docs/cli/git-worktree-list.md
  docs/guide/worktree-workflow.md
Due: prettier-format

docs: SKILL and CHANGELOG entries for multi-format emit
  CHANGELOG.md
  SKILL.md
Due: prettier-format

test(list): migrate bash integration tests to --format json
  tests/integration/test_list.sh
Due: none

feat(completions): per-command --format value completion
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: commit Cargo.lock and bump gix to 0.82
  .gitignore
  Cargo.lock
  Cargo.toml
Due: none

chore: commit Cargo.lock and bump gix to 0.82 (#382)
  .gitignore
  Cargo.lock
  Cargo.toml
Due: none

docs(spec): design for daft worktree-exec
  docs/superpowers/specs/2026-04-21-worktree-exec-design.md
Due: prettier-format

docs(plan): implementation plan for daft worktree-exec
  docs/superpowers/plans/2026-04-21-worktree-exec.md
Due: prettier-format

test(exec): argument-parsing and mutual-exclusion tests
  src/commands/exec.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(exec): validate target and command-form requirements
  src/commands/exec.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(exec): scaffold worktree-exec command with CLI surface
  src/commands/exec.rs
  src/commands/mod.rs
  src/lib.rs
  src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(exec): exact-match target resolution
  src/core/worktree/exec.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(exec): core types (ResolvedTarget, CommandSpec, ExecMode, ExecReport)
  src/core/worktree/exec.rs
  src/core/worktree/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(exec): TailBuffer for bounded per-worktree output capture
  src/core/worktree/exec.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(exec): worktree snapshot adapter over parse_worktree_list
  src/core/worktree/exec.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(exec): per-worktree pipeline runner with bounded capture
  src/core/worktree/exec.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(exec): glob-aware target resolution with orphan-branch reporting
  src/core/worktree/exec.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
