Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

feat(config): surface the keys that are set and do nothing
  src/commands/config/screen/render.rs
  src/commands/config/screen/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(config): the settings screen
  src/commands/config/mod.rs
  src/commands/config/screen/input.rs
  src/commands/config/screen/mod.rs
  src/commands/config/screen/render.rs
  src/commands/config/screen/state.rs
  src/output/tui/mod.rs
  src/output/tui/shared_picker/mod.rs
  src/output/tui/shared_picker/shell.rs
  src/output/tui/shell.rs
  tests/integration/test_all.sh
  tests/integration/test_config_tui.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(config): edit daft.yml scalars in place
  src/commands/config/resolve.rs
  src/commands/config/write.rs
  src/hooks/mod.rs
  src/hooks/yaml_scalar_edit.rs
  tests/manual/scenarios/config/yml-scalars.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(config): enforce the merge-gate tightening rule, and stop re-walking for it
  src/commands/config/resolve.rs
  src/commands/config/screen/mod.rs
  src/commands/config/write.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(config): document the settings interface that now exists
  SKILL.md
  docs/hooks/yaml-reference.md
  docs/reference/configuration.md
  test-plans/config-management.md
Due: prettier-format

fix(config): mark the layer the ladder's effective line names
  src/commands/config/resolve.rs
  src/commands/config/screen/render.rs
  test-plans/config-management.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(config): breathe between sections, and light the whole cursor row
  src/commands/config/screen/render.rs
  src/commands/config/screen/state.rs
  test-plans/config-management.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(config): read the whole daft.yml chain, and open the editor on it
  src/commands/config/resolve.rs
  src/commands/config/screen/modal.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(config): measure the list against the pane it is drawn in
  src/commands/config/screen/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(git): tell git's two meanings for exit 5 apart
  src/git/config.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): let `daft config` finish completing its own name
  src/commands/completions/bash.rs
  src/commands/completions/zsh.rs
  tests/integration/test_completions.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(config): keep daft.yml comments where their authors put them
  src/hooks/yaml_scalar_edit.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(config): tell the truth about which file a daft.yml write lands in
  src/commands/config/write.rs
  tests/manual/scenarios/config/yml-scalars.yml
  tests/manual/scenarios/config/yml-without-a-main-config.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(config): walk the sections with [ and ], on a footer that fits
  src/commands/config/screen/input.rs
  src/commands/config/screen/render.rs
  src/commands/config/screen/state.rs
  test-plans/config-management.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(config): assert the default state exactly rather than by substring
  tests/manual/scenarios/config/behaviors.yml
Due: prettier-format

feat(config): fold remote-sync into the settings screen as a behavior
  SKILL.md
  docs/cli/daft-config.md
  docs/hooks/job-orchestration.md
  docs/hooks/yaml-reference.md
  docs/reference/configuration.md
  man/daft-config.1
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/config/mod.rs
  src/commands/config/remote_sync.rs
  src/commands/config/resolve.rs
  src/commands/config/screen/input.rs
  src/commands/config/screen/mod.rs
  src/commands/config/screen/modal.rs
  src/commands/config/screen/render.rs
  src/commands/config/screen/state.rs
  src/commands/config/write.rs
  src/core/settings_spec.rs
  src/doctor/repository.rs
  src/suggest.rs
  tests/manual/scenarios/config/behaviors.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(config): finish the scope story the last commit only half-told
  docs/cli/daft-config.md
  man/daft-config.1
  src/commands/config/mod.rs
  src/commands/config/resolve.rs
  src/commands/config/screen/render.rs
  src/commands/config/write.rs
  src/git/config.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(config): cover behaviors under a real PTY, and fix what the new first row broke
  test-plans/config-management.md
  tests/integration/test_config_tui.sh
Due: prettier-format

fix(config): rebuild the behavior editor as a preset selector
  docs/reference/configuration.md
  src/commands/config/resolve.rs
  src/commands/config/screen/modal.rs
  src/commands/config/screen/render.rs
  test-plans/config-management.md
  tests/integration/test_config_tui.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(config): keep the drill-down through a rebuild, and teach --help behaviors
  SKILL.md
  docs/cli/daft-config.md
  docs/hooks/job-orchestration.md
  docs/hooks/yaml-reference.md
  man/daft-config.1
  src/commands/config/mod.rs
  src/commands/config/screen/input.rs
  src/commands/config/screen/state.rs
  src/doctor/repository.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(config): read and write one layer at a time, and emit for machines
  SKILL.md
  docs/cli/daft-config.md
  docs/reference/configuration.md
  docs/reference/progress-timeline.md
  man/daft-config.1
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/config/document.rs
  src/commands/config/mod.rs
  src/commands/config/resolve.rs
  src/commands/config/screen/mod.rs
  src/commands/config/write.rs
  test-plans/config-management.md
  tests/integration/test_config.sh
  tests/manual/scenarios/config/cli-layer-flags.yml
  tests/manual/scenarios/config/cli-structured-output.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(config): pin the ladder's mark and the exit code --format must not move
  src/commands/config/mod.rs
  tests/integration/test_config.sh
  tests/manual/scenarios/config/cli-structured-output.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor: lift worktree slug derivation into core::slug
  src/core/mod.rs
  src/core/slug.rs
  src/hooks/template.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add env: section to daft.yml schema
  src/hooks/config_merge.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_validate.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: pure derivation core for per-worktree env values
  src/core/env_values/address.rs
  src/core/env_values/hash.rs
  src/core/env_values/mod.rs
  src/core/env_values/offsets.rs
  src/core/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: daft env — query deterministic per-worktree values
  src/commands/docs.rs
  src/commands/env.rs
  src/commands/mod.rs
  src/lib.rs
  src/main.rs
  src/suggest.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: completions and doc plumbing for daft env
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

ci(mise): bump tool pins in the daily upgrade job
  .github/workflows/mise-tool-updates.yml
Due: prettier-format

docs: generated man page and CLI reference for daft env
  docs/.vitepress/config.ts
  docs/cli/daft-env.md
  docs/reference/output-formats.md
  man/daft-env.1
Due: prettier-format

refactor: env field + Default on exec's ResolvedTarget
  src/commands/exec.rs
  src/core/worktree/exec/list_renderer.rs
  src/core/worktree/exec/mod.rs
  src/core/worktree/exec/progress_renderer.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: inject derived env values into hooks and tasks
  src/commands/run.rs
  src/hooks/environment.rs
  src/hooks/executor.rs
  src/hooks/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: inject derived env values into daft exec targets
  src/commands/exec.rs
  src/core/worktree/exec/mod.rs
  src/hooks/environment.rs
  src/hooks/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: teach derived env values across recipes, yaml reference, and SKILL
  SKILL.md
  docs/hooks/yaml-reference.md
  docs/recipes/env-vars-and-secrets.md
  docs/recipes/services-with-ports.md
  docs/recipes/walkthroughs/node-monorepo-services.md
Due: prettier-format

test: YAML scenarios and bash integration suite for daft env
  tests/integration/test_all.sh
  tests/integration/test_env.sh
  tests/manual/scenarios/env/basic.yml
  tests/manual/scenarios/env/export-write.yml
  tests/manual/scenarios/env/strictness.yml
  tests/manual/scenarios/env/task-injection.yml
  tests/manual/scenarios/env/two-worktrees.yml
Due: prettier-format

feat(output): breathe stale cached cells until the fresh value lands
  src/output/tui/catalog_table.rs
  src/output/tui/driver.rs
  src/output/tui/live_table.rs
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

ci(mise): bump tool pins in the daily upgrade job (#804)
  .github/workflows/mise-tool-updates.yml
Due: prettier-format

feat(output): breathe stale PR values while the forge refresh runs
  src/commands/list_live.rs
  src/output/tui/live_table.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: answer daft's own DAFT_* variables from daft env
  SKILL.md
  docs/cli/daft-env.md
  docs/hooks/lifecycle.md
  docs/hooks/yaml-reference.md
  man/daft-env.1
  src/commands/env.rs
  src/core/env_values/mod.rs
  src/hooks/environment.rs
  src/hooks/mod.rs
  tests/manual/scenarios/env/context-vars.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

perf(copy): parallelize the walking copier, sized by a reflink probe
  src/cow_copy.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
