Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

fix(remove): address code-review findings on --repo targeting
  docs/cli/daft-remove.md
  man/daft-remove.1
  src/catalog/fleet.rs
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/worktree_branch.rs
  tests/integration/test_completions.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(remove): repo-aware targeting via --repo (#762)
  CLAUDE.md
  SKILL.md
  docs/cli/daft-remove.md
  man/daft-remove.1
  src/catalog/fleet.rs
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/worktree_branch.rs
  src/core/progress.rs
  tests/integration/test_completions.sh
  tests/integration/test_shell_init.sh
  tests/manual/scenarios/branch-delete/daft-remove-repo-flag.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(output): stop VS16 emoji in child output ghosting live rail rows
  src/core/worktree/exec/rail_presenter.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
  src/output/live_line.rs
  src/output/mod.rs
  src/output/timeline/mod.rs
  src/output/timeline/rail_hook.rs
  src/output/timeline/region.rs
  src/output/timeline/thread_block.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(output): stop VS16 emoji in child output ghosting live rail rows (#763)
  src/core/worktree/exec/rail_presenter.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
  src/output/live_line.rs
  src/output/mod.rs
  src/output/timeline/mod.rs
  src/output/timeline/rail_hook.rs
  src/output/timeline/region.rs
  src/output/timeline/thread_block.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): abort on worktree-post-create failure by default
  src/core/settings.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/mod.rs
  src/hooks/executor.rs
  src/hooks/mod.rs
  tests/manual/scenarios/hooks/cross-worktree-retry.yml
  tests/manual/scenarios/hooks/deleted-worktree-retry.yml
  tests/manual/scenarios/hooks/listing-filters.yml
  tests/manual/scenarios/hooks/post-create-abort.yml
  tests/manual/scenarios/hooks/repo-identity-on-reclone.yml
  tests/manual/scenarios/hooks/retry-empty.yml
  tests/manual/scenarios/hooks/retry-hook-name.yml
  tests/manual/scenarios/hooks/retry-invocation-prefix.yml
  tests/manual/scenarios/hooks/retry-job-name.yml
  tests/manual/scenarios/hooks/retry-mixed-fg-bg.yml
  tests/manual/scenarios/hooks/retry-needs-pruning.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(hooks): document the post-create abort default and warn opt-out
  SKILL.md
  docs/hooks/lifecycle.md
  docs/recipes/toolchain-bootstrap.md
  docs/reference/configuration.md
Due: prettier-format

fix(hooks): correct post-create abort blast radius across checkout paths
  src/commands/checkout.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/mod.rs
  tests/manual/scenarios/checkout-branch/start-with-related-current-post-create-abort.yml
  tests/manual/scenarios/checkout-branch/start-with-related-sibling-post-create-abort.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): abort on worktree-post-create failure by default (#766)
  SKILL.md
  docs/hooks/lifecycle.md
  docs/recipes/toolchain-bootstrap.md
  docs/reference/configuration.md
  src/commands/checkout.rs
  src/core/settings.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/mod.rs
  src/hooks/executor.rs
  src/hooks/mod.rs
  tests/manual/scenarios/checkout-branch/start-with-related-current-post-create-abort.yml
  tests/manual/scenarios/checkout-branch/start-with-related-sibling-post-create-abort.yml
  tests/manual/scenarios/hooks/cross-worktree-retry.yml
  tests/manual/scenarios/hooks/deleted-worktree-retry.yml
  tests/manual/scenarios/hooks/listing-filters.yml
  tests/manual/scenarios/hooks/post-create-abort.yml
  tests/manual/scenarios/hooks/repo-identity-on-reclone.yml
  tests/manual/scenarios/hooks/retry-empty.yml
  tests/manual/scenarios/hooks/retry-hook-name.yml
  tests/manual/scenarios/hooks/retry-invocation-prefix.yml
  tests/manual/scenarios/hooks/retry-job-name.yml
  tests/manual/scenarios/hooks/retry-mixed-fg-bg.yml
  tests/manual/scenarios/hooks/retry-needs-pruning.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(hooks): honor failMode=warn for worktree-pre-create
  docs/hooks/lifecycle.md
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  tests/manual/scenarios/hooks/pre-create-abort.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(hooks): honor failMode=warn for worktree-pre-create (#771)
  docs/hooks/lifecycle.md
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  tests/manual/scenarios/hooks/pre-create-abort.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): add tracked daft.yml fail_mode: key for hook failure mode
  SKILL.md
  docs/hooks/lifecycle.md
  docs/hooks/yaml-reference.md
  docs/recipes/background-warmup.md
  docs/recipes/toolchain-bootstrap.md
  docs/reference/configuration.md
  src/core/settings.rs
  src/hooks/config_merge.rs
  src/hooks/executor.rs
  src/hooks/mod.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_validate.rs
  tests/manual/scenarios/hooks/post-create-fail-mode-yaml.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(hooks): make daft.yml fail_mode robust to case and typos
  docs/hooks/yaml-reference.md
  src/core/settings.rs
  src/hooks/executor.rs
  src/hooks/mod.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_validate.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): add tracked daft.yml fail_mode: key for hook failure mode (#774)
  SKILL.md
  docs/hooks/lifecycle.md
  docs/hooks/yaml-reference.md
  docs/recipes/background-warmup.md
  docs/recipes/toolchain-bootstrap.md
  docs/reference/configuration.md
  src/core/settings.rs
  src/hooks/config_merge.rs
  src/hooks/executor.rs
  src/hooks/mod.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_validate.rs
  tests/manual/scenarios/hooks/post-create-fail-mode-yaml.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): modular hook-manager stream recognizer, lefthook 2.x first
  src/hooks/manager_output/lefthook.rs
  src/hooks/manager_output/mod.rs
  src/hooks/mod.rs
  tests/fixtures/manager-output/lefthook/README.md
  tests/fixtures/manager-output/lefthook/v2.0.0/with-skips-pass.txt
  tests/fixtures/manager-output/lefthook/v2.1.10/with-skips-pass.txt
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(hooks): add captured lefthook 2.x piped-output fixtures
  .gitattributes
  tests/fixtures/manager-output/decline/decline-box.txt
  tests/fixtures/manager-output/decline/raw-script.txt
  tests/fixtures/manager-output/lefthook/README.md
  tests/fixtures/manager-output/lefthook/v2.0.0/no-color-fail.txt
  tests/fixtures/manager-output/lefthook/v2.0.0/no-color-pass.txt
  tests/fixtures/manager-output/lefthook/v2.0.0/parallel-fail.txt
  tests/fixtures/manager-output/lefthook/v2.0.0/parallel-pass.txt
  tests/fixtures/manager-output/lefthook/v2.0.0/serial-pass.txt
  tests/fixtures/manager-output/lefthook/v2.1.10/follow-pass.txt
  tests/fixtures/manager-output/lefthook/v2.1.10/no-color-fail.txt
  tests/fixtures/manager-output/lefthook/v2.1.10/no-color-pass.txt
  tests/fixtures/manager-output/lefthook/v2.1.10/no-summary.txt
  tests/fixtures/manager-output/lefthook/v2.1.10/output-summary-pass.txt
  tests/fixtures/manager-output/lefthook/v2.1.10/parallel-fail.txt
  tests/fixtures/manager-output/lefthook/v2.1.10/parallel-pass.txt
  tests/fixtures/manager-output/lefthook/v2.1.10/remote-rejected.txt
  tests/fixtures/manager-output/lefthook/v2.1.10/serial-pass.txt
  tests/fixtures/manager-output/lefthook/v2.1.3/no-color-fail.txt
  tests/fixtures/manager-output/lefthook/v2.1.3/no-color-pass.txt
  tests/fixtures/manager-output/lefthook/v2.1.3/parallel-fail.txt
  tests/fixtures/manager-output/lefthook/v2.1.3/parallel-pass.txt
  tests/fixtures/manager-output/lefthook/v2.1.3/serial-pass.txt
  tests/fixtures/manager-output/lefthook/v2.1.6/no-color-fail.txt
  tests/fixtures/manager-output/lefthook/v2.1.6/no-color-pass.txt
  tests/fixtures/manager-output/lefthook/v2.1.6/parallel-fail.txt
  tests/fixtures/manager-output/lefthook/v2.1.6/parallel-pass.txt
  tests/fixtures/manager-output/lefthook/v2.1.6/serial-pass.txt
  tests/fixtures/manager-output/lefthook/v2.1.7/no-color-fail.txt
  tests/fixtures/manager-output/lefthook/v2.1.7/no-color-pass.txt
  tests/fixtures/manager-output/lefthook/v2.1.7/parallel-fail.txt
  tests/fixtures/manager-output/lefthook/v2.1.7/parallel-pass.txt
  tests/fixtures/manager-output/lefthook/v2.1.7/serial-pass.txt
Due: prettier-format

feat(hooks): route recognized manager jobs as first-class pre-push rows
  src/commands/checkout.rs
  src/commands/multi_remote.rs
  src/commands/push.rs
  src/commands/worktree_branch.rs
  src/core/settings.rs
  src/executor/manager_routing.rs
  src/executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(output): manager census bar + engaged annotations on the rail
  src/executor/cli_presenter.rs
  src/executor/manager_routing.rs
  src/executor/presenter.rs
  src/output/timeline/rail_hook.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync): scope hook reporting to the failing manager job
  src/commands/repo/remove.rs
  src/commands/sync.rs
  src/commands/sync_shared.rs
  src/core/tui_bridge.rs
  src/core/worktree/sync_dag.rs
  src/executor/manager_routing.rs
  src/output/tui/presenter.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(manual): lefthook-structured push scenarios
  tests/manual/scenarios/push-hooks/lefthook-structured-decline.yml
  tests/manual/scenarios/push-hooks/lefthook-structured-fail.yml
  tests/manual/scenarios/push-hooks/lefthook-structured-knob-off.yml
  tests/manual/scenarios/push-hooks/lefthook-structured.yml
  tests/manual/scenarios/push-hooks/sync-push-lefthook-structured.yml
Due: prettier-format

docs(hooks): manager output parsing + parseManagers knob
  docs/reference/configuration.md
  docs/reference/progress-timeline.md
Due: prettier-format

docs(output): reconcile progress-timeline with roster seeding
  docs/reference/progress-timeline.md
Due: prettier-format

feat(output): seed the manager roster so all jobs show from t=0
  src/commands/checkout.rs
  src/commands/multi_remote.rs
  src/commands/push.rs
  src/commands/sync.rs
  src/commands/worktree_branch.rs
  src/executor/manager_routing.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): read a manager's job roster from its config
  src/hooks/manager_output/lefthook.rs
  src/hooks/manager_output/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(executor): nested manager sub-structure inside lifecycle jobs
  src/commands/run.rs
  src/core/worktree/sync_dag.rs
  src/executor/cli_presenter.rs
  src/executor/manager_routing.rs
  src/executor/presenter.rs
  src/hooks/executor.rs
  src/output/timeline/mod.rs
  src/output/timeline/rail_hook.rs
  src/output/tui/presenter.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(output): live timers, real-time settle, and a persistent lefthook header
  src/executor/cli_presenter.rs
  src/executor/manager_routing.rs
  src/executor/presenter.rs
  src/output/timeline/rail_hook.rs
  src/output/timeline/render.rs
  src/output/timeline/thread_block.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(output): live timers, grey ✓ settle, persistent manager header
  docs/reference/progress-timeline.md
Due: prettier-format

feat(output): settle sync hook jobs in real time on block flush
  src/core/worktree/sync_dag.rs
  src/output/tui/presenter.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): harden the lefthook summary/rule parsing and drop dead total
  src/executor/manager_routing.rs
  src/hooks/manager_output/lefthook.rs
  src/hooks/manager_output/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(sync): saturate the verbose hook-row viewport reservation
  src/commands/sync.rs
  src/output/tui/driver.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(output): report every failing hook job and drop the double buffer
  src/output/tui/presenter.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(executor): settle never-run piped jobs as "not run", not failed
  src/executor/manager_routing.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(output): keep the rail's grey check honest and dedupe child durations
  src/output/timeline/rail_hook.rs
  src/output/timeline/thread_block.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(output): stop a nested manager from relabeling the whole hook
  src/core/worktree/sync_dag.rs
  src/executor/cli_presenter.rs
  src/output/tui/presenter.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(manual): invoke daft push, not the git-worktree-push symlink
  tests/manual/scenarios/push-hooks/lefthook-structured-decline.yml
  tests/manual/scenarios/push-hooks/lefthook-structured-fail.yml
  tests/manual/scenarios/push-hooks/lefthook-structured-knob-off.yml
  tests/manual/scenarios/push-hooks/lefthook-structured.yml
Due: prettier-format

feat: record sandbox identity kinds in the worktree-identity store
  src/core/worktree/identity.rs
  src/core/worktree/identity_store.rs
  src/output/format.rs
  src/store/migrate.rs
  src/store/migrations/010_worktree_identity_kinds.sql
  src/store/models/mod.rs
  src/store/models/worktree_identity.rs
  src/store/repos/worktree_identities.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(remove): delete sandboxes by name or path, guarded by their pin
  man/daft-remove.1
  src/commands/worktree_branch.rs
  src/core/worktree/branch_delete.rs
  tests/manual/scenarios/branch-delete/remove-foreign-detached-still-refused.yml
  tests/manual/scenarios/branch-delete/remove-sandbox-by-name.yml
  tests/manual/scenarios/branch-delete/remove-sandbox-by-path.yml
  tests/manual/scenarios/branch-delete/remove-sandbox-dirty-refused.yml
  tests/manual/scenarios/branch-delete/remove-sandbox-moved-head-refused.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(go): open detached sandboxes for commit-ish arguments
  src/commands/checkout.rs
  src/core/worktree/checkout.rs
  tests/manual/scenarios/checkout/go-autostart-loses-to-tag.yml
  tests/manual/scenarios/checkout/go-branch-beats-tag.yml
  tests/manual/scenarios/checkout/go-head-relative-sandbox.yml
  tests/manual/scenarios/checkout/go-sandbox-idempotent.yml
  tests/manual/scenarios/checkout/go-start-suppresses-sandbox.yml
  tests/manual/scenarios/checkout/go-tag-sandbox.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs: teach the anonymous-worktree workflow across skill, docs, and man
  SKILL.md
  docs/cli/daft-go.md
  docs/cli/daft-remove.md
  docs/cli/daft-start.md
  docs/hooks/lifecycle.md
  docs/hooks/yaml-reference.md
  docs/reference/configuration.md
  man/daft-go.1
  man/daft-remove.1
  man/daft-start.1
  src/commands/checkout.rs
  src/commands/worktree_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: add the detached-sandbox core engine
  src/core/worktree/mod.rs
  src/core/worktree/sandbox.rs
  src/git/worktree.rs
  src/hooks/environment.rs
  src/hooks/template.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
