Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

fix(core): use persist_noclobber for race-safe daft-id creation
  src/core/repo_identity.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(core): add repo_identity module with UUID v7 per-repo ID
  src/core/mod.rs
  src/core/repo_identity.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(core): fix infinite loop in repo_identity when empty daft-id file exists
  src/core/repo_identity.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(jobs): use compute_repo_id; filter non-UUID dirs in list
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(prune): use compute_repo_id instead of inline hash
  src/core/worktree/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(jobs): serialize list_all_repo_hashes_filters_non_uuid_dirs
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(hooks): integration scenario for repo identity on reclone
  tests/manual/scenarios/hooks/repo-identity-on-reclone.yml
Due: prettier-format

fix(hooks): skip prompt when trust level unchanged
  src/commands/hooks/trust.rs
  tests/manual/scenarios/hooks/trust-noop.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(hooks): skip prompt when trust level unchanged (#371)
  src/commands/hooks/trust.rs
  tests/manual/scenarios/hooks/trust-noop.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(update-check): drop git-style "hint:" prefix from notification
  src/update_check.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(update-check): drop git-style "hint:" prefix from notification (#373)
  src/update_check.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(docs): restructure daft help around short verbs
  src/commands/docs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(man): add EXAMPLES section to daft(1)
  man/daft.1
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: refresh daft help and add man page examples (#374)
  man/daft.1
  src/commands/docs.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(sync): exclude rebase base branch from push
  src/commands/sync.rs
  src/core/worktree/sync_dag.rs
  tests/manual/scenarios/sync/rebase-base-not-pushed.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(sync): exclude rebase base branch from push (#375)
  src/commands/sync.rs
  src/core/worktree/sync_dag.rs
  tests/manual/scenarios/sync/rebase-base-not-pushed.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(ownership): add OwnershipStrategy enum with parser
  src/core/mod.rs
  src/core/ownership.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(ownership): add strategy-driven resolver over commit range
  src/core/ownership.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(ownership): deterministic tie-break + contract guard + tests
  src/core/ownership.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(ownership): add git-log-backed CommitRecord fetcher
  src/core/ownership.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(ownership): robust git-log parsing and test setup
  src/core/ownership.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(settings): add daft.ownership.strategy config key
  src/core/settings.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(ownership): populate BranchOwner on every WorktreeInfo
  src/commands/list.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/worktree/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(prune): keep owner_email tip-semantics on gone-branch stubs
  src/commands/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(list): render Owner column with author name
  src/output/format.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(list): JSON owner becomes {name, email} object
  src/commands/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(sort): owner sort keys on name then email
  src/core/sort.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(sync): is_branch_included takes BranchOwner, drop user_email plumbing
  src/commands/sync.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(list): remove legacy owner_email field
  src/commands/prune.rs
  src/core/worktree/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(ownership): scenarios per strategy + recency regression
  tests/manual/scenarios/list/owner-column.yml
  tests/manual/scenarios/list/owner-strategy-plurality.yml
  tests/manual/scenarios/list/owner-strategy-recency.yml
  tests/manual/scenarios/list/owner-strategy-tip.yml
  tests/manual/scenarios/sync/ownership-rebase-push.yml
  tests/manual/scenarios/sync/ownership-strategy-recency.yml
Due: prettier-format

docs: document daft.ownership.strategy and owner column
  SKILL.md
  docs/cli/daft-list.md
  docs/cli/daft-sync.md
  docs/guide/configuration.md
Due: prettier-format

docs(skill): clarify owner JSON breaking-change note
  SKILL.md
Due: prettier-format

docs(plan): spec and plan for ownership detection strategies
  docs/superpowers/plans/2026-04-21-ownership-detection-strategies.md
  docs/superpowers/specs/2026-04-21-ownership-detection-strategies.md
Due: prettier-format

refactor(ownership): defensive sort, resolve_owner wrapper, coverage gaps
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/ownership.rs
  src/core/worktree/list.rs
  tests/manual/scenarios/list/owner-json-shape.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(ownership): fallback to remote-tracking range and reflog when base..branch is empty
  src/commands/list.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/ownership.rs
  src/core/worktree/list.rs
  tests/manual/scenarios/list/owner-fallback-reflog.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(ownership): drop bogus %gt token, add remote-range fallback test
  src/core/ownership.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(ownership): configurable strategy-driven branch ownership detection (#376)
  SKILL.md
  docs/cli/daft-list.md
  docs/cli/daft-sync.md
  docs/guide/configuration.md
  docs/superpowers/plans/2026-04-21-ownership-detection-strategies.md
  docs/superpowers/specs/2026-04-21-ownership-detection-strategies.md
  src/commands/list.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/mod.rs
  src/core/ownership.rs
  src/core/settings.rs
  src/core/sort.rs
  src/core/worktree/list.rs
  src/output/format.rs
  tests/manual/scenarios/list/owner-column.yml
  tests/manual/scenarios/list/owner-fallback-reflog.yml
  tests/manual/scenarios/list/owner-json-shape.yml
  tests/manual/scenarios/list/owner-strategy-plurality.yml
  tests/manual/scenarios/list/owner-strategy-recency.yml
  tests/manual/scenarios/list/owner-strategy-tip.yml
  tests/manual/scenarios/sync/ownership-rebase-push.yml
  tests/manual/scenarios/sync/ownership-strategy-recency.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs: design spec for multi-format emit support
  docs/superpowers/specs/2026-04-22-multi-format-emit-support-design.md
Due: prettier-format

docs: implementation plan for multi-format emit support
  docs/superpowers/plans/2026-04-22-multi-format-emit-support.md
Due: prettier-format

build: add csv, tera, toon-format deps for multi-format emit
  Cargo.toml
Due: none
