Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

fix(install): ship git-worktree-exec and git-worktree-merge
  HOMEBREW.md
  dist-workspace.toml
  flake.nix
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(merge): cover the no-seed-base abort end to end
  tests/manual/scenarios/visitor-propagation/merge-unseeded-daft-yml-aborts-as-whole-file.yml
Due: prettier-format

fix(install): ship the git-style spellings from every package too
  .github/workflows/test.yml
  Cargo.toml
  packaging/aur/PKGBUILD
  packaging/deb/postinst
  packaging/deb/prerm
  src/doctor/installation.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: name the whole-file consolidation cases, and build every symlink farm from one list (#905)
  .github/workflows/test.yml
  CLAUDE.md
  Cargo.toml
  HOMEBREW.md
  dist-workspace.toml
  flake.nix
  packaging/aur/PKGBUILD
  packaging/deb/postinst
  packaging/deb/prerm
  src/commands/merge.rs
  src/core/mod.rs
  src/core/progress.rs
  src/core/worktree/branch_delete.rs
  src/doctor/installation.rs
  src/hooks/visitor_seeds.rs
  tests/integration/test_framework.sh
  tests/manual/scenarios/simple/help.yml
  tests/manual/scenarios/visitor-propagation/merge-source-only-daft-yml-propagates.yml
  tests/manual/scenarios/visitor-propagation/merge-unseeded-daft-yml-aborts-as-whole-file.yml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(deps): bump chacha20 to 0.10.2 (yanked 0.10.0)
  Cargo.lock
Due: none

fix(deps): bump gix to 0.87 to drop yanked bisync
  Cargo.lock
  Cargo.toml
Due: none

fix(deps): clear yanked bisync + chacha20 blocking every PR (#922)
  Cargo.lock
  Cargo.toml
Due: none

fix(deps): bump quinn-proto to 0.11.17 (GHSA-4w2j-m93h-cj5j)
  Cargo.lock
Due: none

fix(deps): bump quinn-proto to 0.11.17 (GHSA-4w2j-m93h-cj5j) (#924)
  Cargo.lock
Due: none

ci: pass the mise cooldown bypass as a flag, not an empty env var
  .github/workflows/mise-tool-updates.yml
Due: prettier-format

test(xtask): guard the mise upgrade job against silent no-ops
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

ci: fail the mise upgrade job when it resolves no version lists
  .github/workflows/mise-tool-updates.yml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

ci: fix the mise tool-upgrade job's silent no-op (#927)
  .github/workflows/mise-tool-updates.yml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

deps: bump mise tools
  mise.lock
  mise.toml
Due: none

fix(store): keep a recorded default_branch when a refresh doesn't know it
  src/store/repos/catalog_repos.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(git): read a repo's default branch from its own bare HEAD
  src/core/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(catalog): fall back to the repo's own HEAD when resolving a default branch
  src/catalog/service.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(go): name the candidate branches when the default can't be resolved
  src/commands/checkout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: point default-branch comments at their single authority
  src/commands/checkout.rs
  src/commands/exec.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(catalog): resolve the default branch when registering, not only when reading
  src/catalog/registration.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(push): set origin/HEAD when daft first publishes the default branch
  src/core/worktree/push.rs
  src/git/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(catalog): refuse a HEAD that names no branch
  src/catalog/service.rs
  src/core/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: cover the default-branch erase with a YAML regression scenario
  tests/manual/scenarios/repo/catalog-default-branch-survives-refresh.yml
Due: prettier-format

fix(go): land in the repository root when there is no branch to open
  SKILL.md
  man/daft-go.1
  src/commands/checkout.rs
  tests/manual/scenarios/checkout/go-cross-repo-root-landing.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test: cover the origin/HEAD stamp and the unresolvable refresh
  tests/manual/scenarios/push/adopts-remote-head-on-first-publish.yml
  tests/manual/scenarios/repo/catalog-default-branch-preserved-when-unresolvable.yml
  tests/manual/scenarios/repo/catalog-default-branch-survives-refresh.yml
Due: prettier-format

docs: correct how local_branch_exists fails, and why it differs
  src/core/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: stop erasing a repo's recorded default branch (#937)
  SKILL.md
  man/daft-go.1
  src/catalog/registration.rs
  src/catalog/service.rs
  src/commands/checkout.rs
  src/commands/exec.rs
  src/core/remote.rs
  src/core/worktree/push.rs
  src/git/remote.rs
  src/store/repos/catalog_repos.rs
  tests/manual/scenarios/checkout/go-cross-repo-root-landing.yml
  tests/manual/scenarios/push/adopts-remote-head-on-first-publish.yml
  tests/manual/scenarios/repo/catalog-default-branch-preserved-when-unresolvable.yml
  tests/manual/scenarios/repo/catalog-default-branch-survives-refresh.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

ci: pin CI and deploy node to mise.toml's major, and gate the drift
  .github/workflows/docs.yml
  .github/workflows/test.yml
  CLAUDE.md
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

ci: auto-merge the mise tool-update PR when no tool crosses a major
  .github/workflows/mise-tool-updates.yml
  CLAUDE.md
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

ci: drop the up-to-date merge requirement until public launch
  .github/rulesets/README.md
  .github/rulesets/master.json
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/test.yml
  CLAUDE.md
  docs/about/contributing.md
Due: prettier-format

ci: drop the up-to-date merge requirement until public launch (#944)
  .github/rulesets/README.md
  .github/rulesets/master.json
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/test.yml
  CLAUDE.md
  docs/about/contributing.md
Due: prettier-format

ci: auto-merge the mise tool-update PR when no tool crosses a major (#943)
  .github/workflows/mise-tool-updates.yml
  CLAUDE.md
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

ci: pin CI and deploy node to mise.toml's major, and gate the drift (#940)
  .github/workflows/docs.yml
  .github/workflows/test.yml
  CLAUDE.md
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test: compare the carried index by entry, not by raw bytes
  src/core/layout/transform/execute.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: compare the carried index by entry, not by raw bytes (#946)
  src/core/layout/transform/execute.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(output): poll the observable the rail-hook timer assertions read
  src/output/timeline/rail_hook.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(doctor): read origin/HEAD as a symref, not a config key
  src/doctor/repository.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(doctor): keep a dangling origin/HEAD from reporting a branch
  src/doctor/repository.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: poll the observable the rail-hook timer assertions read (#947)
  src/output/timeline/rail_hook.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs
