Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

fix(sync): refresh remote tracking info after push in TUI output (#297)
  src/commands/sync.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(sync): show dirty status instead of pruned for unremovable worktrees (#298)
  src/commands/sync_shared.rs
  src/core/worktree/prune.rs
  src/core/worktree/sync_dag.rs
  src/output/tui/columns.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add design spec for DAG outcome tags
  docs/superpowers/specs/2026-03-13-dag-outcome-tags-design.md
Due: prettier-format

docs: add implementation plan for DAG outcome tags
  docs/superpowers/plans/2026-03-13-dag-outcome-tags-plan.md
Due: prettier-format

feat(sync): add TaskOutcome enum and PreconditionFailed status
  src/core/worktree/sync_dag.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync): add branch_outcomes to DagState and propagate through executor
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/worktree/sync_dag.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(sync): verify outcome tags are isolated per branch
  src/core/worktree/sync_dag.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync): wire outcome tags through rebase/push task executors
  src/commands/sync.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync): PreconditionFailed restores previous TUI row status
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync): skip push for conflicted branches in sequential path
  src/commands/sync.rs
  src/core/worktree/push.rs
  src/core/worktree/rebase.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(sync): integration test for rebase conflict skipping push
  tests/integration/test_sync.sh
Due: none

fix(sync): clear prev_terminal_status on normal task completion
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: remove planning docs from branch
  docs/superpowers/plans/2026-03-13-dag-outcome-tags-plan.md
  docs/superpowers/specs/2026-03-13-dag-outcome-tags-design.md
Due: prettier-format

fix(sync): prevent push after rebase conflict (#299)
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/worktree/push.rs
  src/core/worktree/rebase.rs
  src/core/worktree/sync_dag.rs
  src/output/tui/state.rs
  tests/integration/test_sync.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(xtask): add serde_yaml and crossterm deps for manual test runner
  xtask/Cargo.toml
Due: none

feat(xtask): add interactive step-through UI with crossterm
  xtask/src/manual_test/interactive.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(xtask): add repo generator for manual test scenarios
  xtask/Cargo.toml
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/repo_gen.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(xtask): wire manual-test subcommand with stub
  xtask/src/main.rs
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(xtask): add TestEnv for manual test environment management
  xtask/src/manual_test/env.rs
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(xtask): wire manual test runner end-to-end
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add mise task and sandbox helper for manual tests
  mise-tasks/sandbox/_default
  mise-tasks/test/manual
Due: none

feat(xtask): add step executor and assertion checker
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(xtask): add YAML scenario schema for manual test framework
  xtask/src/manual_test/schema.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sandbox): add go-to-worktree helper and manual-test tab completions
  mise-tasks/sandbox/_default
Due: none

feat: add manual test scenarios for clone and hooks workflows
  tests/manual/scenarios/clone-basic.yml
  tests/manual/scenarios/hooks-lifecycle.yml
Due: prettier-format

feat(sandbox): add help command with bat, move scripts to bin/
  mise-tasks/sandbox/_default
  mise.lock
  mise.toml
Due: none

fix(xtask): address code review findings for manual test framework
  tests/manual/scenarios/hooks-lifecycle.yml
  xtask/src/manual_test/env.rs
  xtask/src/manual_test/interactive.rs
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/repo_gen.rs
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(sandbox): add clean-sandbox command and generated README
  mise-tasks/sandbox/_default
Due: none

refactor: improve sandbox script names and add scenario name resolution
  mise-tasks/sandbox/_default
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(manual-test): add exec test conversion, fixtures, and benchmark
  mise-tasks/bench/tests/integration/_default
  mise-tasks/bench/tests/integration/exec
  tests/manual/fixtures/repos/standard-remote.yml
  tests/manual/scenarios/exec/exec-checkout-branch-single.yml
  tests/manual/scenarios/exec/exec-checkout-existing.yml
  tests/manual/scenarios/exec/exec-checkout-single.yml
  tests/manual/scenarios/exec/exec-clone-single.yml
  tests/manual/scenarios/exec/exec-failing-command.yml
  tests/manual/scenarios/exec/exec-init-multiple.yml
  tests/manual/scenarios/exec/exec-init-single.yml
  tests/manual/scenarios/exec/exec-no-commands.yml
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/repo_gen.rs
  xtask/src/manual_test/runner.rs
  xtask/src/manual_test/schema.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: correct cocogitto lockfile to use aarch64 binary on Apple Silicon
  mise.lock
Due: none

refactor(manual-test): clean up CI runner output
  xtask/src/manual_test/interactive.rs
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/repo_gen.rs
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: prevent unnecessary rebuilds in git worktrees
  build.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(manual-test): improve UI colors and add verbose flag
  xtask/src/main.rs
  xtask/src/manual_test/interactive.rs
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style(manual-test): remove indentation from CI runner output
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(sandbox): include subdirectory scenarios in tab completions
  mise-tasks/sandbox/_default
Due: none

feat(manual-test): add namespace resolution for scenario names
  mise-tasks/sandbox/_default
  tests/manual/scenarios/exec/checkout-branch-single.yml
  tests/manual/scenarios/exec/checkout-existing.yml
  tests/manual/scenarios/exec/checkout-single.yml
  tests/manual/scenarios/exec/clone-single.yml
  tests/manual/scenarios/exec/failing-command.yml
  tests/manual/scenarios/exec/init-multiple.yml
  tests/manual/scenarios/exec/init-single.yml
  tests/manual/scenarios/exec/no-commands.yml
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

style(manual-test): remove indentation from interactive runner output
  xtask/src/manual_test/interactive.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style(manual-test): improve interactive runner color contrast
  xtask/src/manual_test/interactive.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(manual-test): make checks an explicit action in interactive mode
  xtask/src/manual_test/interactive.rs
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs
