Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

docs: design and plan for daft merge --squash + cleanup refinement
  docs/superpowers/plans/2026-04-25-daft-merge-squash-cleanup.md
  docs/superpowers/specs/2026-04-24-daft-merge-design.md
  docs/superpowers/specs/2026-04-25-daft-merge-squash-cleanup-design.md
Due: prettier-format

feat(merge): refuse daft.merge.commit=false + alsoRemoveSourceBranch=true
  src/core/settings.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: surface daft merge in sidebar, workflow, landing, and config
  README.md
  docs/.vitepress/config.ts
  docs/guide/configuration.md
  docs/guide/worktree-workflow.md
  docs/index.md
Due: prettier-format

feat(merge): refuse --squash on non-TTY without --no-edit/-m/-F
  src/commands/merge.rs
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/squash-no-tty.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(merge): refuse --squash --no-commit with -r/-rb at parse time
  src/commands/merge.rs
  tests/manual/scenarios/merge/squash-no-commit-rb-refused.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor(hooks): rename merge-pre/merge-post to pre-merge/post-merge
  SKILL.md
  docs/cli/daft-merge.md
  docs/guide/hooks.md
  docs/superpowers/plans/2026-04-24-daft-merge.md
  docs/superpowers/specs/2026-04-24-daft-merge-design.md
  src/commands/merge.rs
  src/core/worktree/merge.rs
  src/hooks/executor.rs
  src/hooks/mod.rs
  src/hooks/yaml_config.rs
  src/output/tui/state.rs
  tests/manual/scenarios/merge/hook-env-vars.yml
  tests/manual/scenarios/merge/hook-post-fires-on-conflict.yml
  tests/manual/scenarios/merge/hook-post-fires-on-success.yml
  tests/manual/scenarios/merge/hook-pre-aborts.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(merge): refuse cleanup when commit is disabled via config
  src/commands/merge.rs
  tests/manual/scenarios/merge/no-commit-config-with-rb-refused.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(merge): detect squash-staged in-progress state
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(merge): add squash+cleanup scenario coverage (Slice 4)
  tests/manual/scenarios/merge/squash-rb-source-moved.yml
  tests/manual/scenarios/merge/squash-rb.yml
Due: prettier-format

test(merge): integration coverage for squash flag passthrough
  tests/manual/scenarios/merge/squash-message-passthrough.yml
Due: prettier-format

fix(merge): route --cleanup to commit step under --squash
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(merge): capture source SHAs; transactional cleanup (Slice 3)
  src/commands/merge.rs
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/cleanup-prevalidates.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(merge): stability check + justified branch -D for squash+cleanup (Slice 4)
  src/commands/merge.rs
  tests/manual/scenarios/merge/remove-unmerged-branch.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(merge): add render_commit_flags helper; strip message-time flags from squash merge argv
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(merge): always commit on --squash unless --no-commit; state-aware messaging
  src/commands/merge.rs
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/remove-unmerged-branch.yml
  tests/manual/scenarios/merge/squash-no-commit.yml
  tests/manual/scenarios/merge/squash.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(merge): progress messages before slow cleanup ops
  tests/manual/scenarios/merge/continue-squash-staged.yml
  tests/manual/scenarios/merge/remove-source-and-branch.yml
  tests/manual/scenarios/merge/remove-source.yml
  tests/manual/scenarios/merge/squash-rb.yml
Due: prettier-format

feat(merge): --abort clears squash-staged state
  man/daft-merge.1
  man/git-worktree-merge.1
  src/commands/merge.rs
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/abort-squash-staged.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(merge): --continue resumes squash-staged commit and cleanup
  src/commands/merge.rs
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/continue-squash-staged.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(merge): post-merge fires with RESULT=aborted on commit abort
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/squash-edit-aborted.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(merge): update CLI ref, hooks guide, configuration, SKILL for squash refinement
  SKILL.md
  docs/cli/daft-merge.md
  docs/guide/configuration.md
  docs/guide/hooks.md
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(merge): add MergeIntent marker roundtrip unit test
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(merge): correct SQUASH_MSG references in spec and source rustdocs
  docs/superpowers/specs/2026-04-25-daft-merge-squash-cleanup-design.md
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(merge): fix hook-firing scenarios after integration testing
  tests/manual/scenarios/merge/merge-fires-worktree-remove-hooks.yml
  tests/manual/scenarios/merge/merge-pre-remove-hook-aborts.yml
Due: prettier-format

fix(test): restore cwd in slice 3 cleanup tests via CwdGuard RAII
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(merge): fix prettier-mangled sentence in spec
  docs/superpowers/specs/2026-04-25-daft-merge-rich-output-design.md
Due: prettier-format

feat(branch-delete): add keep_local_branch flag to BranchDeleteParams
  src/commands/branch_delete.rs
  src/commands/worktree_branch.rs
  src/core/worktree/branch_delete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(merge): spec + plan for rich output and hook parity
  docs/superpowers/plans/2026-04-25-daft-merge-rich-output.md
  docs/superpowers/specs/2026-04-25-daft-merge-rich-output-design.md
Due: prettier-format

fix(merge): squash-cleanup edge cases surfaced in cross-slice review
  docs/guide/hooks.md
  src/commands/merge.rs
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/continue-squash-staged-source-moved.yml
  tests/manual/scenarios/merge/squash-yes-flag-no-tty.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(merge): delegate cleanup to branch_delete::execute
  src/commands/merge.rs
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/merge-fires-worktree-remove-hooks.yml
  tests/manual/scenarios/merge/merge-pre-remove-hook-aborts.yml
  tests/manual/scenarios/merge/remove-source-and-branch.yml
  tests/manual/scenarios/merge/remove-source.yml
  tests/manual/scenarios/merge/squash-rb.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor(merge): split execute_cleanup into planner + executor
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(merge): pause spinner around squash-commit editor invocation
  src/commands/merge.rs
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(merge): suppress git stdout on success, dump on failure
  src/commands/merge.rs
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/merge-rich-output-on-success.yml
  tests/manual/scenarios/merge/merge-verbose-shows-git-output.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(merge): align spec + plan with Slice 2 actual behavior
  docs/superpowers/plans/2026-04-25-daft-merge-rich-output.md
  docs/superpowers/specs/2026-04-25-daft-merge-rich-output-design.md
  tests/manual/scenarios/merge/merge-pre-remove-hook-warns.yml
Due: prettier-format

feat(merge): emit state-aware step messages after merge phase
  src/commands/merge.rs
  tests/manual/scenarios/merge/already-up-to-date.yml
  tests/manual/scenarios/merge/basic.yml
  tests/manual/scenarios/merge/config-layered-defaults.yml
  tests/manual/scenarios/merge/cross-worktree.yml
  tests/manual/scenarios/merge/ff.yml
  tests/manual/scenarios/merge/hook-env-vars.yml
  tests/manual/scenarios/merge/hook-post-fires-on-success.yml
  tests/manual/scenarios/merge/merge-cross-target-rb.yml
  tests/manual/scenarios/merge/merge-fires-worktree-remove-hooks.yml
  tests/manual/scenarios/merge/merge-pre-remove-hook-warns.yml
  tests/manual/scenarios/merge/merge-rich-output-on-success.yml
  tests/manual/scenarios/merge/merge-verbose-shows-git-output.yml
  tests/manual/scenarios/merge/no-ff.yml
  tests/manual/scenarios/merge/no-target-worktree-flag.yml
  tests/manual/scenarios/merge/octopus.yml
  tests/manual/scenarios/merge/remove-source-and-branch.yml
  tests/manual/scenarios/merge/remove-source.yml
  tests/manual/scenarios/merge/signoff.yml
  tests/manual/scenarios/merge/squash-message-passthrough.yml
  tests/manual/scenarios/merge/squash-no-commit.yml
  tests/manual/scenarios/merge/squash.yml
  tests/manual/scenarios/merge/strategy-option.yml
  tests/manual/scenarios/merge/strategy-ours.yml
  tests/manual/scenarios/merge/yes-flag.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(merge): thread command_label through branch_delete, force bypass for cross-target cleanup
  man/daft-merge.1
  man/git-worktree-merge.1
  src/commands/branch_delete.rs
  src/commands/merge.rs
  src/commands/worktree_branch.rs
  src/core/worktree/branch_delete.rs
  tests/manual/scenarios/merge/merge-cross-target-rb.yml
  tests/manual/scenarios/merge/merge-pre-remove-hook-aborts.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(merge): bracket --continue editor invocation with pause/resume
  src/commands/merge.rs
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(merge): pin hook-box rendering and multi-source firing
  tests/manual/scenarios/merge/merge-multi-source-rb-hooks-each.yml
  tests/manual/scenarios/merge/merge-pre-post-merge-hooks-render-rich.yml
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore(merge): regenerate merge man pages for v1.10.0
  man/daft-merge.1
  man/git-worktree-merge.1
Due: none

chore(merge): post-rebase cleanup for v1.11.0
  docs/superpowers/plans/2026-04-24-daft-merge.md
  docs/superpowers/plans/2026-04-25-daft-merge-squash-cleanup.md
  man/daft-merge.1
  man/git-worktree-merge.1
  src/commands/docs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(merge): final polish for rich output + hook parity
  SKILL.md
  docs/cli/daft-merge.md
  docs/guide/hooks.md
  src/commands/merge.rs
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format
