Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

fix(tui): match list annotation column layout and default branch color
  src/output/tui.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: extract annotation symbols into shared constants
  src/commands/list.rs
  src/output/tui.rs
  src/styles.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(tui): position cursor past content on exit to prevent last row loss
  src/output/tui.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(tui): add trailing space to annotation column for list parity
  src/output/tui.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: unify column value computation between list and TUI
  src/commands/list.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/output/format.rs
  src/output/tui.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync): add --stat option for line-level statistics
  docs/cli/daft-sync.md
  docs/cli/git-sync.md
  man/daft-sync.1
  man/git-sync.1
  src/commands/list.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/settings.rs
  src/output/format.rs
  src/output/tui.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(prune): add --stat option for line-level statistics
  docs/cli/git-worktree-prune.md
  man/daft-prune.1
  man/git-worktree-prune.1
  src/commands/prune.rs
  src/core/settings.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(tui): dynamic column widths, colored diffs, correct column order
  src/output/tui.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(tui): increase column spacing and show status for idle worktrees
  src/output/tui.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(tui): remove extra trailing space from annotation column
  src/output/tui.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(tui): show dimmed "waiting" status for idle worktrees
  src/output/tui.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(tui): live-refresh worktree columns after sync/rebase completes
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/worktree/list.rs
  src/core/worktree/sync_dag.rs
  src/output/tui.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(sync): exclude gone branches from update/rebase DAG tasks
  src/commands/sync.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: extract shared sync/prune helpers into sync_shared module
  src/commands/mod.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/commands/sync_shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: tighten visibility of sync_shared internals
  src/commands/mod.rs
  src/commands/sync_shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: replace string sentinels with TaskMessage enum
  src/commands/prune.rs
  src/commands/sync.rs
  src/commands/sync_shared.rs
  src/core/worktree/sync_dag.rs
  src/output/tui.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: improve TaskMessage usage in map_final_status and fix stale doc
  src/core/worktree/sync_dag.rs
  src/output/tui.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: split tui.rs into tui/ subdirectory with state, columns, render, driver modules
  src/output/tui.rs
  src/output/tui/columns.rs
  src/output/tui/driver.rs
  src/output/tui/mod.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: remove implementation plan files
  docs/plans/2026-03-09-rich-sync-tui-design.md
  docs/plans/2026-03-09-rich-sync-tui-plan.md
Due: prettier-format

fix(ci): use here-strings to avoid SIGPIPE in shell-init grep tests
  .github/workflows/test.yml
  tests/integration/test_prune.sh
  tests/integration/test_shell_init.sh
Due: prettier-format

docs: add missing completion delegation, config keys, and flag docs
  SKILL.md
  docs/guide/configuration.md
  src/commands/completions/bash.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(sync,prune): parallel DAG executor with inline ratatui TUI (#285)
  .github/workflows/test.yml
  Cargo.toml
  SKILL.md
  docs/cli/daft-sync.md
  docs/cli/git-sync.md
  docs/cli/git-worktree-prune.md
  docs/guide/configuration.md
  man/daft-prune.1
  man/daft-sync.1
  man/git-sync.1
  man/git-worktree-prune.1
  mise.lock
  src/commands/completions/bash.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/list.rs
  src/commands/mod.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/commands/sync_shared.rs
  src/core/mod.rs
  src/core/settings.rs
  src/core/worktree/fetch.rs
  src/core/worktree/list.rs
  src/core/worktree/mod.rs
  src/core/worktree/prune.rs
  src/core/worktree/rebase.rs
  src/core/worktree/sync_dag.rs
  src/git/remote.rs
  src/output/format.rs
  src/output/mod.rs
  src/output/tui/columns.rs
  src/output/tui/driver.rs
  src/output/tui/mod.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
  src/styles.rs
  tests/integration/test_prune.sh
  tests/integration/test_shell_init.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: use resolved remote URL for trust fingerprint during clone
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: use resolved remote URL for trust fingerprint during clone (#286)
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: add DAFT_CONFIG_DIR env var for sandbox config isolation
  mise-tasks/sandbox/_default
  src/commands/hooks/mod.rs
  src/hints.rs
  src/hooks/mod.rs
  src/hooks/trust.rs
  src/lib.rs
  src/main.rs
  src/trust_prune.rs
  src/update_check.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: gate DAFT_CONFIG_DIR behind dev builds only
  Cargo.toml
  build.rs
  src/lib.rs
  src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: compartmentalized sandbox config directory (#288)
  Cargo.toml
  build.rs
  mise-tasks/sandbox/_default
  src/commands/hooks/mod.rs
  src/hints.rs
  src/hooks/mod.rs
  src/hooks/trust.rs
  src/lib.rs
  src/main.rs
  src/trust_prune.rs
  src/update_check.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: simplify hooks trust level change output
  src/commands/hooks/trust.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: simplify hooks trust level change output (#289)
  src/commands/hooks/trust.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add design spec for hooks in sync/prune TUI
  docs/superpowers/specs/2026-03-11-hooks-in-sync-tui-design.md
Due: prettier-format

feat(prune): wire TuiBridge into TUI orchestrator
  src/commands/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: process HookStarted/HookCompleted events in TuiState
  src/commands/prune.rs
  src/commands/sync.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: render hook warning badges and sub-rows in TUI
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(sync): change verbose from bool to u8 for two-tier verbosity
  docs/cli/git-sync.md
  docs/cli/git-worktree-prune.md
  man/daft-prune.1
  man/daft-sync.1
  man/git-sync.1
  man/git-worktree-prune.1
  src/commands/prune.rs
  src/commands/sync.rs
  src/output/buffering.rs
  src/output/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: add HookStarted/HookCompleted variants to DagEvent
  src/core/worktree/sync_dag.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add TuiBridge for hook execution in TUI mode
  src/core/mod.rs
  src/core/tui_bridge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add implementation plan for hooks in sync/prune TUI
  docs/superpowers/plans/2026-03-11-hooks-in-sync-tui.md
Due: prettier-format

feat: update sync_shared to use TuiBridge and CommandBridge for hooks
  src/commands/sync_shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync): wire TuiBridge into TUI orchestrator
  src/commands/sync.rs
  src/commands/sync_shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: add integration test for hook execution during prune
  tests/integration/test_prune.sh
Due: none
