Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

fix(yaml_executor): report invocation write errors
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(hooks): basket overview for hooks-jobs redesign sub-projects
  docs/superpowers/specs/2026-04-11-hooks-jobs-basket-overview.md
Due: prettier-format

feat(jobs): add needs field to JobMeta for DAG-aware retry
  src/commands/hooks/jobs.rs
  src/coordinator/log_store.rs
  src/coordinator/process.rs
  src/executor/log_sink.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(hooks): add implementation plan for bulk retry (sub-project B)
  docs/superpowers/plans/2026-04-11-hooks-jobs-bulk-retry.md
Due: prettier-format

docs(hooks): add spec for bulk retry shorthands (sub-project B)
  docs/superpowers/specs/2026-04-11-hooks-jobs-bulk-retry.md
Due: prettier-format

fix(jobs): support worktree:job two-segment address (B-1)
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): add find_invocations_by_prefix to LogStore
  src/coordinator/log_store.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): persist spec.needs into JobMeta at fg and bg write sites
  src/coordinator/process.rs
  src/executor/log_sink.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): update Retry clap variant with bulk retry args and flags
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): add build_retry_set for DAG-aware retry subset computation
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): add RetryTarget enum and shape-based disambiguator
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): add retry target completion (hooks, invocations, jobs)
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): implement bulk retry command with fg/bg split and DAG pruning
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): wire retry shell completions with hook/inv/job categories
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(hooks): add retry-hook-name integration scenario
  tests/manual/scenarios/hooks/retry-hook-name.yml
Due: prettier-format

test(hooks): add retry-job-name integration scenario
  tests/manual/scenarios/hooks/retry-job-name.yml
Due: prettier-format

test(hooks): add retry-empty integration scenario
  tests/manual/scenarios/hooks/retry-empty.yml
Due: prettier-format

test(hooks): add retry-needs-pruning integration scenario
  tests/manual/scenarios/hooks/retry-needs-pruning.yml
Due: prettier-format

test(hooks): add retry-address-two-segment integration scenario
  tests/manual/scenarios/hooks/retry-address-two-segment.yml
Due: prettier-format

test(hooks): add retry-invocation-prefix integration scenario
  tests/manual/scenarios/hooks/retry-invocation-prefix.yml
Due: prettier-format

test(hooks): add retry-mixed-fg-bg integration scenario
  tests/manual/scenarios/hooks/retry-mixed-fg-bg.yml
Due: prettier-format

docs(hooks): add spec for cross-worktree retry (sub-project C)
  docs/superpowers/specs/2026-04-11-hooks-jobs-cross-worktree-retry.md
Due: prettier-format

docs(hooks): add implementation plan for cross-worktree retry (sub-project C)
  docs/superpowers/plans/2026-04-11-hooks-jobs-cross-worktree-retry.md
Due: prettier-format

fix(yaml_executor): pass sink to run_jobs in non-Unix bg fallback
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(log_store): add with_context to write_invocation_meta fs::write
  src/coordinator/log_store.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(runner): use LogSink import instead of fully-qualified path
  src/executor/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(log_store): add list_distinct_worktrees method
  src/coordinator/log_store.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): add --worktree and --cwd flags to retry, lift cross-worktree guard
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(jobs): extract JobMeta::skipped constructor (B-3)
  src/coordinator/log_store.rs
  src/executor/log_sink.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(jobs): add --worktree, --status, --hook listing filters
  docs/cli/daft-hooks.md
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(jobs): add worktree and hook-type completion helpers
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(jobs): add cross-worktree retry resolution test
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(hooks): add deleted-worktree-retry integration scenario
  tests/manual/scenarios/hooks/deleted-worktree-retry.yml
Due: prettier-format

test(hooks): add listing-filters integration scenario
  tests/manual/scenarios/hooks/listing-filters.yml
Due: prettier-format

feat(jobs): wire --worktree, --status, --hook completions for retry and listing
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(hooks): add post-clone-visibility integration scenario (B-2)
  tests/manual/scenarios/hooks/post-clone-visibility.yml
Due: prettier-format

test(hooks): add cross-worktree-retry integration scenario
  tests/manual/scenarios/hooks/cross-worktree-retry.yml
Due: prettier-format

docs(hooks): spec for repo identity in log store
  docs/superpowers/specs/2026-04-16-repo-identity-for-log-store.md
Due: prettier-format

fix(log_store): eliminate short-ID collision from timestamp-keyed IDs
  src/commands/hooks/jobs.rs
  src/coordinator/log_store.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(hooks): expand repo-identity spec after advisor review
  docs/superpowers/specs/2026-04-16-repo-identity-for-log-store.md
Due: prettier-format
