Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

fix(hooks): foreground clean now runs full three-pass pipeline
  src/commands/hooks/jobs.rs
  tests/manual/scenarios/hooks/log-cleanup-budget-evicts-oldest.yml
  tests/manual/scenarios/hooks/log-cleanup-per-file-cap.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(hooks): tighten clean --older-than parsing and disambiguate --all candidates
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): add timeline composition helpers for jobs listing
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks)!: compact duration format with millisecond precision
  docs/cli/daft-hooks-jobs.md
  docs/superpowers/specs/2026-04-10-hooks-jobs-redesign.md
  docs/superpowers/specs/2026-04-25-hooks-jobs-log-maintenance.md
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(hooks): timeline display spec + implementation plan
  docs/superpowers/plans/2026-04-25-hooks-jobs-timeline-display.md
  docs/superpowers/specs/2026-04-10-hooks-jobs-redesign.md
Due: prettier-format

docs(hooks): clarify "Last cleanup" footer refers to log cleanup
  docs/cli/daft-hooks-jobs.md
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): tighten timeline gutter from 6 to 4 visible chars
  docs/superpowers/specs/2026-04-10-hooks-jobs-redesign.md
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): polish timeline rendering — flush-left spine, terminator
  docs/superpowers/specs/2026-04-10-hooks-jobs-redesign.md
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(format): drop <1m placeholder, render sub-minute durations as Ns
  src/output/format.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(format): lift strip_ansi and add pad_to_visible_width
  src/commands/list.rs
  src/output/format.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): render jobs listing as vertical-spine timeline
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(output): add outline renderer for vertical-spine timelines
  src/output/mod.rs
  src/output/outline.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks-jobs): align column widths across invocations in listing
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(hooks-jobs): spec + plan for column alignment
  docs/superpowers/plans/2026-04-25-hooks-jobs-column-alignment.md
  docs/superpowers/specs/2026-04-10-hooks-jobs-redesign.md
Due: prettier-format

refactor(outline): rename Body::Empty to Body::Placeholder
  src/output/outline.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(outline): promote glyphs and gutters to module-level constants
  src/output/outline.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(outline): spec tweak + plan for outline renderer extraction
  docs/superpowers/plans/2026-04-25-outline-renderer.md
  docs/superpowers/specs/2026-04-10-hooks-jobs-redesign.md
Due: prettier-format

refactor(format): introduce non-allocating visible_width helper
  src/commands/hooks/jobs.rs
  src/output/format.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(hooks-jobs): render timeline via shared outline component
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(hooks-jobs): hoist build_invocation_node out of nested map
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): resolve bare invocation prefix in `logs`/`cancel` across all worktrees
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(hooks-jobs): rename misleading contract test name
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): surface other worktrees in `hooks jobs logs/cancel <TAB>`
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): parse `feature:1f2b` as worktree:invocation drill-down
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): pad sub-columns within hooks-jobs-job groups
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): align value column across hooks-jobs-* menu entries
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(hooks)!: rename `daft hooks jobs clean` → `prune`
  SKILL.md
  docs/cli/daft-hooks-jobs.md
  docs/cli/daft-hooks.md
  docs/guide/hooks.md
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/hooks/jobs.rs
  src/commands/hooks/mod.rs
  tests/manual/scenarios/hooks/log-cleanup-budget-evicts-oldest.yml
  tests/manual/scenarios/hooks/log-cleanup-custom-path-untouched.yml
  tests/manual/scenarios/hooks/log-cleanup-dry-run.yml
  tests/manual/scenarios/hooks/log-cleanup-honors-keep-last.yml
  tests/manual/scenarios/hooks/log-cleanup-per-file-cap.yml
  tests/manual/scenarios/hooks/log-cleanup-respects-retention.yml
  tests/manual/scenarios/hooks/log-cleanup-skips-running.yml
  tests/manual/scenarios/hooks/log-cleanup-stale-running-detected.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(completions): offer listing flags for `daft hooks jobs --<TAB>`
  src/commands/completions/bash.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(completions): cluster hooks-jobs-job menu by kind (job/inv/worktree)
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(executor): doc + test polish for run_command pid_sender
  src/executor/command.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(plans): add ultrareview-fixes plan + sync maintenance spec
  docs/superpowers/plans/2026-04-26-hooks-jobs-ultrareview-fixes.md
  docs/superpowers/specs/2026-04-25-hooks-jobs-log-maintenance.md
Due: prettier-format

feat(executor): plumb child PID out of run_command
  src/coordinator/process.rs
  src/executor/command.rs
  src/executor/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(coordinator): register child PIDs and honor per-job cancel
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(worktree): cancel bg jobs by branch slug, not filesystem path
  src/core/worktree/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(worktree): cancel bg jobs in branch-delete path too
  src/core/worktree/branch_delete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(coordinator): reconnect per request in worktree-cancel helper
  src/core/worktree/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(coordinator): post-review polish for cancel/PID-register
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(hooks): bg-job cancel scenarios (per-job + worktree-remove)
  tests/manual/scenarios/hooks/bg-job-cancel-by-name.yml
  tests/manual/scenarios/hooks/bg-job-cancel-on-worktree-remove.yml
Due: prettier-format

test(hooks): replace flaky sleeps + normalize env handling
  tests/manual/scenarios/hooks/bg-job-cancel-by-name.yml
  tests/manual/scenarios/hooks/bg-job-cancel-on-worktree-remove.yml
Due: prettier-format

docs(hooks): drop orphan log.path reference in job-fields table
  docs/guide/hooks.md
Due: prettier-format
