Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

fix: minimize gap between spinner and hook output
  src/core/progress.rs
  src/hooks/executor.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: hide completions command from help and shell completions
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: hide completions command from help and shell completions (#270)
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add sandbox mise task for per-worktree test environments
  mise-tasks/sandbox/_default
Due: none

fix: always regenerate sandbox .envrc to pick up config changes
  mise-tasks/sandbox/_default
Due: none

feat: add sandbox:clean mise task to remove worktree sandboxes
  mise-tasks/sandbox/clean
Due: none

refactor: extract shared hash logic into sandbox _lib.sh
  mise-tasks/sandbox/_default
  mise-tasks/sandbox/_lib.sh
  mise-tasks/sandbox/clean
Due: none

docs: add shell integration instructions and update design doc
  docs/plans/2026-02-25-developer-sandbox-design.md
Due: prettier-format

docs: add developer sandbox implementation plan
  docs/plans/2026-02-25-developer-sandbox-plan.md
Due: prettier-format

fix(list): use orange for default branch indicator and tighten first column
  src/commands/list.rs
  src/styles.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(list): use orange for default branch indicator and tighten first column (#272)
  src/commands/list.rs
  src/styles.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add sandbox:setup task and auto-cleanup on worktree removal
  daft.yml
  docs/plans/2026-02-25-developer-sandbox-design.md
  mise-tasks/sandbox/_default
  mise-tasks/sandbox/setup
Due: prettier-format

feat: add DAFT_WORKTREE env var and daft-rebuild script to sandbox
  mise-tasks/sandbox/_default
Due: none

feat: show branch and commit hash in dev build version
  build.rs
  src/lib.rs
  src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: force immediate spinner draw on creation
  docs/plans/spinner-testing-checklist.md
  src/output/cli.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: load dev build shell wrappers in daft-dev-sandbox function
  docs/plans/2026-02-25-developer-sandbox-design.md
  mise-tasks/sandbox/_default
  mise-tasks/sandbox/setup
Due: prettier-format

docs: removed old plans
  docs/plans/2026-02-23-go-auto-start-design.md
  docs/plans/2026-02-24-daft-list-design.md
  docs/plans/2026-02-24-separate-daft-go-start-design.md
  docs/plans/2026-02-24-separate-daft-go-start-plan.md
Due: prettier-format

feat: add spinners for long-running operations
  src/commands/branch_delete.rs
  src/commands/carry.rs
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/fetch.rs
  src/commands/flow_adopt.rs
  src/commands/flow_eject.rs
  src/commands/init.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/commands/worktree_branch.rs
  src/git/mod.rs
  src/output/cli.rs
  src/output/mod.rs
  src/output/test.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: clear spinner before hook execution
  src/core/progress.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: always clear spinner before propagating errors
  src/commands/branch_delete.rs
  src/commands/carry.rs
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/fetch.rs
  src/commands/flow_adopt.rs
  src/commands/flow_eject.rs
  src/commands/init.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/commands/worktree_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: move default branch marker to annotation column
  src/commands/list.rs
  src/styles.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: removed test plan
  docs/plans/spinner-testing-checklist.md
Due: prettier-format

feat: add spinner feedback for long-running operations (#277)
  build.rs
  daft.yml
  docs/plans/2026-02-23-go-auto-start-design.md
  docs/plans/2026-02-24-daft-list-design.md
  docs/plans/2026-02-24-separate-daft-go-start-design.md
  docs/plans/2026-02-24-separate-daft-go-start-plan.md
  docs/plans/2026-02-25-developer-sandbox-design.md
  docs/plans/2026-02-25-developer-sandbox-plan.md
  mise-tasks/sandbox/_default
  mise-tasks/sandbox/_lib.sh
  mise-tasks/sandbox/clean
  mise-tasks/sandbox/setup
  src/commands/branch_delete.rs
  src/commands/carry.rs
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/fetch.rs
  src/commands/flow_adopt.rs
  src/commands/flow_eject.rs
  src/commands/init.rs
  src/commands/list.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/commands/worktree_branch.rs
  src/git/mod.rs
  src/hooks/executor.rs
  src/hooks/yaml_executor/mod.rs
  src/lib.rs
  src/main.rs
  src/output/cli.rs
  src/output/mod.rs
  src/output/test.rs
  src/styles.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): add trust prune command and background auto-prune
  docs/cli/git-daft-hooks.md
  docs/guide/configuration.md
  docs/guide/hooks.md
  src/commands/hooks/mod.rs
  src/commands/hooks/trust.rs
  src/core/settings.rs
  src/hooks/trust.rs
  src/lib.rs
  src/main.rs
  src/trust_prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(completions): add path completion for hooks subcommands
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): canonicalize paths in trust database to prevent lookup mismatches
  src/core/worktree/clone.rs
  src/hooks/trust.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): add trust fingerprinting to prevent stale trust inheritance
  docs/guide/hooks.md
  src/commands/clone.rs
  src/commands/flow_adopt.rs
  src/commands/hooks/trust.rs
  src/hooks/executor.rs
  src/hooks/mod.rs
  src/hooks/trust.rs
  src/hooks/trust_dto.rs
  src/trust_prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(hooks): trust fingerprinting, stale entry protection, and prune improvements (#278)
  docs/cli/git-daft-hooks.md
  docs/guide/configuration.md
  docs/guide/hooks.md
  src/commands/clone.rs
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/flow_adopt.rs
  src/commands/hooks/mod.rs
  src/commands/hooks/trust.rs
  src/core/settings.rs
  src/core/worktree/clone.rs
  src/hooks/executor.rs
  src/hooks/mod.rs
  src/hooks/trust.rs
  src/hooks/trust_dto.rs
  src/lib.rs
  src/main.rs
  src/trust_prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
