Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

docs: define what makes a build "dev" for the DAFT_*_DIR overrides
  docs/about/contributing.md
Due: prettier-format

test: close daft_state_dir empty-fallback coverage gap
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

deps: bump plist to 1.10.0 for quick-xml 0.41.0 (RUSTSEC-2026-0194/0195)
  .dep-age-allowlist
  Cargo.lock
Due: none

fix: decouple daft_dev_build from release-tag proximity (#670)
  .dep-age-allowlist
  .github/workflows/release.yml
  .github/workflows/test.yml
  Cargo.lock
  build.rs
  docs/about/contributing.md
  scripts/check-release-build-env.sh
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: detect multi-commit squash merges in the gone-branch merge verifier
  src/core/worktree/merged.rs
  src/git/refs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: YAML regression scenarios for squash-merged multi-commit cleanup
  tests/manual/scenarios/branch-delete/deletes-squash-merged-multi-commit.yml
  tests/manual/scenarios/prune/prune-removes-squash-merged-multi-commit.yml
Due: prettier-format

fix: pin probe commit dates and widen test env scrub (review)
  src/core/worktree/merged.rs
  src/git/refs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(list): collect only the fields the live view renders or sorts by
  src/commands/list_live.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(sort): report line-stat fields from required_fields in lines mode
  src/commands/list_live.rs
  src/core/sort.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style: reformat SKILL.md for prettier 3.9.1
  SKILL.md
Due: prettier-format

test(list): add manual test plan for live field gating
  test-plans/list-live-field-gating.md
Due: prettier-format

docs(list): document FieldSet::ALL as the fully-received sentinel
  src/core/worktree/info_field.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(list): collect only the fields the live view renders or sorts by (#675)
  SKILL.md
  src/commands/list_live.rs
  src/core/sort.rs
  src/core/worktree/info_field.rs
  test-plans/list-live-field-gating.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: detect multi-commit squash merges in the gone-branch merge verifier (#673)
  src/core/worktree/merged.rs
  src/git/refs.rs
  tests/manual/scenarios/branch-delete/deletes-squash-merged-multi-commit.yml
  tests/manual/scenarios/prune/prune-removes-squash-merged-multi-commit.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(deps): bump crossbeam-epoch to 0.9.20 (RUSTSEC-2026-0204)
  .dep-age-allowlist
  Cargo.lock
Due: none

fix(deps): bump crossbeam-epoch to 0.9.20 (RUSTSEC-2026-0204) (#687)
  .dep-age-allowlist
  Cargo.lock
Due: none

fix(output): re-register json_encode filter dropped in tera 2.0.0
  src/output/emit/formats/template.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(push): address code-review findings on the ref-only pre-push skip
  docs/cli/git-worktree-checkout.md
  man/daft-go.1
  man/git-worktree-checkout.1
  src/commands/checkout.rs
  src/core/mod.rs
  src/core/progress.rs
  src/core/settings.rs
  src/core/worktree/checkout_branch.rs
  tests/manual/scenarios/push-hooks/checkout-branch-autopush-ref-only-push-fails.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(push): skip the pre-push hook on ref-only upstream pushes
  docs/cli/daft-start.md
  man/daft-start.1
  src/commands/checkout.rs
  src/core/settings.rs
  src/core/worktree/checkout_branch.rs
  src/git/refs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(push): cover the ref-only skip and pushVerify overrides in scenarios
  tests/manual/scenarios/push-hooks/checkout-branch-autopush-push-verify-knob.yml
  tests/manual/scenarios/push-hooks/checkout-branch-autopush-ref-only-skips.yml
  tests/manual/scenarios/push-hooks/checkout-branch-autopush-rejected.yml
Due: prettier-format

docs: document daft.checkout.pushVerify and the ref-only pre-push skip
  SKILL.md
  docs/hooks/index.md
  docs/reference/configuration.md
Due: prettier-format

docs: fix dead link to the configuration reference in daft-start
  docs/cli/daft-start.md
Due: prettier-format

fix(push): skip pre-push hook on ref-only upstream pushes (#686)
  SKILL.md
  docs/cli/daft-start.md
  docs/cli/git-worktree-checkout.md
  docs/hooks/index.md
  docs/reference/configuration.md
  man/daft-go.1
  man/daft-start.1
  man/git-worktree-checkout.1
  src/commands/checkout.rs
  src/core/mod.rs
  src/core/progress.rs
  src/core/settings.rs
  src/core/worktree/checkout_branch.rs
  src/git/refs.rs
  tests/manual/scenarios/push-hooks/checkout-branch-autopush-push-verify-knob.yml
  tests/manual/scenarios/push-hooks/checkout-branch-autopush-ref-only-push-fails.yml
  tests/manual/scenarios/push-hooks/checkout-branch-autopush-ref-only-skips.yml
  tests/manual/scenarios/push-hooks/checkout-branch-autopush-rejected.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(git): cancellable subprocess seams for fetch/pull/rebase/push
  src/git/cancel.rs
  src/git/mod.rs
  src/git/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(git): add cancel module — CancelFlag + process-group tree cascade
  src/core/worktree/exec/mod.rs
  src/git/cancel.rs
  src/git/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync): graceful two-stage Ctrl+C / SIGTERM cancellation
  Cargo.toml
  src/commands/list_live.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/commands/sync_shared.rs
  src/core/worktree/sync_dag.rs
  src/git/cancel.rs
  src/output/tui/driver.rs
  src/output/tui/mod.rs
  src/output/tui/operation_table.rs
  src/output/tui/state.rs
  src/prompt.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(sync): integration coverage for two-stage cancellation
  tests/integration/test_all.sh
  tests/integration/test_sync_cancel.sh
Due: none

docs(sync): document two-stage cancellation; add manual test plan
  SKILL.md
  docs/cli/git-worktree-sync.md
  man/daft-sync.1
  man/git-worktree-sync.1
  src/commands/sync.rs
  test-plans/sync-cancellation.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(sync): refresh manual test plan for tty capture + opt-in supervision
  test-plans/sync-cancellation.md
Due: prettier-format

fix(exec): detach alias capture into its own session, not just its own group
  src/core/worktree/exec/alias_cache.rs
  src/main.rs
  tests/integration/test_worktree_exec.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(exec): isolate alias-capture shell in its own process group
  src/core/worktree/exec/alias_cache.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(sync): address review — prompt-cancel takeover, hook-safe local ff, probe docs
  src/commands/sync.rs
  src/git/cancel.rs
  src/prompt.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(git): make seam supervision opt-in — no flag, no isolation
  src/git/cancel.rs
  src/git/mod.rs
  src/git/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(sync): describe the cancellation teardown precisely
  docs/cli/git-worktree-sync.md
  man/daft-sync.1
  man/git-worktree-sync.1
  src/commands/sync.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(git): scope process-group isolation to pushes; dedup the supervisor
  src/git/cancel.rs
  src/git/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(sync): thread cancellation through the engine and report it faithfully
  src/commands/prune.rs
  src/commands/sync.rs
  src/commands/sync_shared.rs
  src/core/worktree/fetch.rs
  src/core/worktree/prune.rs
  src/core/worktree/push.rs
  src/core/worktree/rebase.rs
  src/git/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(git): make Direct-mode teardown test single-process
  src/git/cancel.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(sync): assert a cancelled sync reports cancelled, not failed
  tests/integration/test_sync_cancel.sh
Due: none

fix(sync): graceful two-stage Ctrl+C cancellation; harden alias capture against job-control stops (#672)
  Cargo.toml
  SKILL.md
  docs/cli/git-worktree-sync.md
  man/daft-sync.1
  man/git-worktree-sync.1
  src/commands/list_live.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/commands/sync_shared.rs
  src/core/worktree/exec/alias_cache.rs
  src/core/worktree/exec/mod.rs
  src/core/worktree/fetch.rs
  src/core/worktree/prune.rs
  src/core/worktree/push.rs
  src/core/worktree/rebase.rs
  src/core/worktree/sync_dag.rs
  src/git/cancel.rs
  src/git/mod.rs
  src/git/remote.rs
  src/main.rs
  src/output/tui/driver.rs
  src/output/tui/mod.rs
  src/output/tui/operation_table.rs
  src/output/tui/state.rs
  src/prompt.rs
  test-plans/sync-cancellation.md
  tests/integration/test_all.sh
  tests/integration/test_sync_cancel.sh
  tests/integration/test_worktree_exec.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(core): add TimelineBridge and recording stage sink
  src/core/mod.rs
  src/core/progress.rs
  src/output/timeline/bridge.rs
  src/output/timeline/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
