Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

deps: bump mise tools
  mise.lock
  mise.toml
Due: none

feat(integrations): herdr 0.9 follow-ups for the daft plugin
  integrations/herdr/README.md
  integrations/herdr/bin/action.sh
  integrations/herdr/bin/close-watch.sh
  integrations/herdr/bin/daft-hook.sh
  integrations/herdr/bin/pane.sh
  integrations/herdr/herdr-plugin.toml
  integrations/herdr/lib/common.sh
  integrations/herdr/lib/tokens.sh
  tests/integration/test_herdr_plugin.sh
Due: prettier-format

fix(deps): bump rustls to 0.23.45 (RUSTSEC-2026-0285)
  .dep-age-allowlist
  Cargo.lock
Due: none

fix(deps): bump rustls to 0.23.45 (RUSTSEC-2026-0285) (#981)
  .dep-age-allowlist
  Cargo.lock
Due: none

deps(deps): require tabled 0.22 in the root manifest
  Cargo.toml
Due: none

deps(deps): require dirs 7.0 in the root manifest
  Cargo.toml
Due: none

feat(integrations): herdr 0.9 follow-ups for the daft plugin (#960)
  integrations/herdr/README.md
  integrations/herdr/bin/action.sh
  integrations/herdr/bin/close-watch.sh
  integrations/herdr/bin/daft-hook.sh
  integrations/herdr/bin/pane.sh
  integrations/herdr/herdr-plugin.toml
  integrations/herdr/lib/common.sh
  integrations/herdr/lib/tokens.sh
  tests/integration/test_herdr_plugin.sh
Due: prettier-format

ci: remove the Claude PR review workflow
  .github/workflows/bench.yml
  .github/workflows/claude-pr-review.yml
  .github/workflows/labeler.yml
  ARCHITECTURE.md
  CLAUDE.md
  src/hooks/environment.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

ci: remove the Claude PR review workflow (#983)
  .github/workflows/bench.yml
  .github/workflows/claude-pr-review.yml
  .github/workflows/labeler.yml
  ARCHITECTURE.md
  CLAUDE.md
  src/hooks/environment.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): git-stage foundation — recursion guard and git-dir resolution
  src/core/worktree/ports.rs
  src/hooks/git_stage/gitdir.rs
  src/hooks/git_stage/mod.rs
  src/hooks/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): git stages as first-class hook types
  SKILL.md
  docs/cli/daft-hooks.md
  docs/cli/git-daft-hooks.md
  man/daft-hooks.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/hooks/add.rs
  src/commands/hooks/mod.rs
  src/commands/hooks/run_cmd.rs
  src/core/settings.rs
  src/core/settings_spec.rs
  src/core/stage.rs
  src/core/worktree/sync_dag.rs
  src/hooks/executor.rs
  src/hooks/git_stage/mod.rs
  src/hooks/mod.rs
  src/hooks/trust_skip.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_validate.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): carry git's stage payload into hook context and templates
  src/hooks/environment.rs
  src/hooks/template.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): schema tail — templates, groups, file_types, stage_fixed, use_stdin
  src/commands/run.rs
  src/executor/command.rs
  src/executor/mod.rs
  src/executor/runner.rs
  src/hooks/conditions.rs
  src/hooks/config_merge.rs
  src/hooks/executor.rs
  src/hooks/file_types.rs
  src/hooks/groups.rs
  src/hooks/job_adapter.rs
  src/hooks/mod.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_validate.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): dispatch git stages, install shims, chain git-lfs
  docs/cli/daft-hooks.md
  man/daft-hooks.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/git_hook.rs
  src/commands/hooks/install.rs
  src/commands/hooks/mod.rs
  src/commands/hooks/status.rs
  src/commands/mod.rs
  src/commands/run.rs
  src/hooks/config_merge.rs
  src/hooks/environment.rs
  src/hooks/executor.rs
  src/hooks/git_stage/dispatch.rs
  src/hooks/git_stage/install.rs
  src/hooks/git_stage/mod.rs
  src/hooks/git_stage/shim.rs
  src/hooks/template.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_executor/mod.rs
  src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): run a repository's existing hooks config as-is
  src/commands/hooks/install.rs
  src/hooks/executor.rs
  src/hooks/git_stage/dispatch.rs
  src/hooks/incumbent/lefthook.rs
  src/hooks/incumbent/mod.rs
  src/hooks/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): named file sources, quoting variants, and exec-safe chunking
  src/commands/run.rs
  src/executor/mod.rs
  src/executor/runner.rs
  src/hooks/changed_files/expand.rs
  src/hooks/changed_files/mod.rs
  src/hooks/changed_files/provider.rs
  src/hooks/changed_files/sources.rs
  src/hooks/config_merge.rs
  src/hooks/executor.rs
  src/hooks/git_stage/mod.rs
  src/hooks/job_adapter.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): import an existing hooks config into daft.yml
  docs/cli/daft-hooks.md
  man/daft-hooks.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/hooks/import.rs
  src/commands/hooks/mod.rs
  src/hooks/hooks_block_edit.rs
  src/hooks/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): hook-level setup steps and fail_on_changes
  src/hooks/config_merge.rs
  src/hooks/hook_setup.rs
  src/hooks/mod.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): carry every job field through takeover and import
  src/commands/hooks/import.rs
  src/hooks/hooks_block_edit.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_loader.rs
  test-plans/git-hooks-drop-in.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): implement the StageRunner port so daft runs its own pre-push
  src/commands/multi_remote.rs
  src/commands/push.rs
  src/commands/sync.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/push.rs
  src/core/worktree/rename.rs
  src/executor/manager_routing.rs
  src/executor/presenter.rs
  src/hooks/git_stage/mod.rs
  src/hooks/git_stage/stage_runner.rs
  src/output/hook_progress/formatting.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): make status and trust report what will actually run
  src/commands/hooks/mod.rs
  src/commands/hooks/status.rs
  src/commands/hooks/trust.rs
  src/hooks/git_stage/dispatch.rs
  src/hooks/incumbent/lefthook.rs
  src/hooks/job_adapter.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): a background job cannot detach past a git gate
  SKILL.md
  docs/hooks/git-stages.md
  docs/hooks/yaml-reference.md
  docs/reference/configuration.md
  src/commands/hooks/run_cmd.rs
  src/hooks/git_stage/dispatch.rs
  src/hooks/mod.rs
  test-plans/git-hooks-drop-in.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(hooks): git stages, the lefthook migration, and the adoption recipe
  SKILL.md
  docs/.vitepress/config.ts
  docs/about/comparison.md
  docs/about/faq.md
  docs/hooks/git-stages.md
  docs/hooks/index.md
  docs/hooks/lefthook-migration.md
  docs/hooks/roadmap.md
  docs/hooks/yaml-reference.md
  docs/recipes/adopting-from-lefthook.md
  docs/reference/configuration.md
  test-plans/git-hooks-drop-in.md
Due: prettier-format
