Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

feat(output): add plan-execute timeline engine and stage vocabulary
  src/core/mod.rs
  src/core/stage.rs
  src/output/hook_progress/formatting.rs
  src/output/hook_progress/mod.rs
  src/output/mod.rs
  src/output/palette.rs
  src/output/timeline/bridge.rs
  src/output/timeline/mod.rs
  src/output/timeline/plan.rs
  src/output/timeline/region.rs
  src/output/timeline/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(output): embed the hook block inside the timeline rail
  examples/timeline_spike.rs
  src/core/progress.rs
  src/core/stage.rs
  src/executor/cli_presenter.rs
  src/output/hook_progress/formatting.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
  src/output/hook_progress/plain.rs
  src/output/timeline/bridge.rs
  src/output/timeline/mod.rs
  src/output/timeline/region.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

ci(labeler): map src/interrupt.rs into the output zone
  .github/labeler.yml
Due: prettier-format

feat(output): rail timeline for clone, interrupt collapse, NO_COLOR gating
  src/commands/clone.rs
  src/core/mod.rs
  src/core/progress.rs
  src/core/worktree/exec/progress_renderer.rs
  src/interrupt.rs
  src/lib.rs
  src/output/mod.rs
  src/output/term_guard.rs
  src/output/timeline/mod.rs
  src/output/timeline/region.rs
  src/prompt.rs
  test-plans/plan-execute-timeline.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(output): track the hook job description bar for removal
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(reference): document the progress timeline
  docs/.vitepress/config.ts
  docs/reference/progress-timeline.md
Due: prettier-format

feat(remove): render daft remove through the rail timeline
  src/commands/branch_delete.rs
  src/commands/merge.rs
  src/commands/worktree_branch.rs
  src/core/worktree/branch_delete.rs
  src/executor/cli_presenter.rs
  src/output/timeline/region.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(checkout): render daft go and daft start through the rail timeline
  src/commands/checkout.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(output): omit the push row from creation plans when push is off
  src/commands/checkout.rs
  src/core/worktree/checkout_branch.rs
  src/output/timeline/plan.rs
  test-plans/plan-execute-timeline.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(output): restore the hook banner box, welded at the top corner only
  docs/reference/progress-timeline.md
  src/output/hook_progress/formatting.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
  test-plans/plan-execute-timeline.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(output): lazy group anchors — a span that shows nothing drops its anchor
  src/output/timeline/mod.rs
  src/output/timeline/region.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(checkout): shared-files section in the create rail, per-file rows
  src/commands/clone.rs
  src/core/mod.rs
  src/core/progress.rs
  src/core/shared.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(remove): name the resolved branch in the rail header, not the raw arg
  src/commands/worktree_branch.rs
  src/core/stage.rs
  src/core/worktree/branch_delete.rs
  src/output/timeline/mod.rs
  test-plans/plan-execute-timeline.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(output): vanish the carry row when there is nothing to carry
  docs/reference/progress-timeline.md
  examples/timeline_spike.rs
  src/core/stage.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  src/output/timeline/mod.rs
  test-plans/plan-execute-timeline.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(output): collapse the welded hook banner to a branch row
  docs/reference/progress-timeline.md
  src/output/hook_progress/formatting.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
  test-plans/plan-execute-timeline.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(output): SharedFile stage and fixed row labels for path-identity steps
  src/core/stage.rs
  src/output/timeline/plan.rs
  src/output/timeline/region.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(start): plan the remote fetch as rail rows, not spinners before it
  docs/reference/progress-timeline.md
  examples/timeline_spike.rs
  src/core/stage.rs
  src/core/worktree/checkout_branch.rs
  src/output/timeline/mod.rs
  src/output/timeline/region.rs
  test-plans/plan-execute-timeline.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(remove): plan no remote-fate note when config keeps remotes out of scope
  docs/reference/progress-timeline.md
  src/commands/branch_delete.rs
  src/commands/merge.rs
  src/commands/worktree_branch.rs
  src/core/stage.rs
  src/core/worktree/branch_delete.rs
  src/output/timeline/render.rs
  test-plans/plan-execute-timeline.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(checkout): set push_verify on rebased timeline_tests params
  src/core/mod.rs
  src/core/worktree/checkout_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(clone): plan the shared section on the single-target rail
  src/commands/clone.rs
  src/core/shared.rs
  src/output/timeline/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(reference): document the shared-files section; spike demo + test plan
  docs/reference/progress-timeline.md
  examples/timeline_spike.rs
  test-plans/plan-execute-timeline.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(output): shared receipt states every declared file; unstrand the anchor
  docs/reference/progress-timeline.md
  examples/timeline_spike.rs
  src/core/shared.rs
  src/core/stage.rs
  src/core/worktree/checkout_branch.rs
  src/output/timeline/mod.rs
  src/output/timeline/region.rs
  test-plans/plan-execute-timeline.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(output): edge rail group anchors with ├ and a spacer line above
  Cargo.lock
  Cargo.toml
  src/output/hook_progress/formatting.rs
  src/output/palette.rs
  src/output/timeline/mod.rs
  src/output/timeline/region.rs
  src/output/timeline/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(output): hold hook-failure output until after the rail footer
  src/output/timeline/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(output): name the hook section on HookEmbed
  src/output/timeline/mod.rs
  src/output/timeline/region.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(output): rail-native succinct renderer for hook jobs
  src/output/timeline/mod.rs
  src/output/timeline/rail_hook.rs
  src/output/timeline/region.rs
  src/output/timeline/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(output): default embedded hook phases to the succinct rail rows
  src/executor/cli_presenter.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): -v and hooks.output.verbose select the full block on the rail
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/worktree_branch.rs
  src/output/timeline/mod.rs
  src/output/timeline/rail_hook.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(output): document the succinct hook rows; spike + test-plan coverage
  docs/reference/configuration.md
  docs/reference/progress-timeline.md
  examples/timeline_spike.rs
  test-plans/plan-execute-timeline.md
  tests/manual/scenarios/checkout-branch/hook-output-verbose-plain.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(output): branch ├─ section anchors and tuck span rows into the rail gutter
  src/output/timeline/mod.rs
  src/output/timeline/rail_hook.rs
  src/output/timeline/region.rs
  src/output/timeline/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style(output): seat lone durations in the annotation column
  src/output/timeline/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(reference): document the ├─ anchor + rail gutter section dialect
  docs/reference/progress-timeline.md
  test-plans/plan-execute-timeline.md
Due: prettier-format

feat(output): ink grammar for the rail — identity colors, bold headings, readable plan
  docs/reference/progress-timeline.md
  src/output/palette.rs
  src/output/timeline/plan.rs
  src/output/timeline/rail_hook.rs
  src/output/timeline/region.rs
  src/output/timeline/render.rs
  test-plans/plan-execute-timeline.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(output): lay hook-section spacers down with the plan
  docs/reference/progress-timeline.md
  src/output/timeline/mod.rs
  src/output/timeline/region.rs
  test-plans/plan-execute-timeline.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(remove): plan hook rows only for phases with discoverable hooks
  docs/reference/progress-timeline.md
  src/core/mod.rs
  src/core/progress.rs
  src/core/tui_bridge.rs
  src/core/worktree/branch_delete.rs
  src/hooks/executor.rs
  test-plans/plan-execute-timeline.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(output): teach the rail hook renderer the verbose threaded log
  src/executor/cli_presenter.rs
  src/output/timeline/rail_hook.rs
  src/output/timeline/region.rs
  src/output/timeline/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(output): render verbose hook embeds through the rail's threaded log
  src/executor/cli_presenter.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(output): tag the welded-block embed path as preserved-for-git-hooks
  src/output/hook_progress/formatting.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
  src/output/timeline/mod.rs
  src/output/timeline/region.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(output): verbose spike scenarios + description keeps the annotation slot
  examples/timeline_spike.rs
  src/output/timeline/rail_hook.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(reference): document the threaded verbose hook log
  docs/reference/configuration.md
  docs/reference/progress-timeline.md
  test-plans/plan-execute-timeline.md
Due: prettier-format

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
