Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

fix: rename git-sync to git-worktree-sync to avoid Homebrew conflicts (#305)
  .github/workflows/test-homebrew.yml
  .github/workflows/test.yml
  CLAUDE.md
  Cargo.toml
  SKILL.md
  dist-workspace.toml
  docs/.vitepress/config.ts
  docs/cli/daft-sync.md
  docs/cli/git-worktree-fetch.md
  docs/cli/git-worktree-prune.md
  docs/cli/git-worktree-sync.md
  docs/guide/shortcuts.md
  man/git-worktree-sync.1
  mise-tasks/setup/rust
  packaging/aur/PKGBUILD
  packaging/deb/postinst
  packaging/deb/prerm
  src/commands/completions/bash.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/shell_init.rs
  src/commands/sync.rs
  src/doctor/installation.rs
  src/main.rs
  src/shortcuts.rs
  tests/integration/test_sync.sh
  tests/manual/scenarios/simple/binaries.yml
  tests/manual/scenarios/sync/autostash-without-rebase.yml
  tests/manual/scenarios/sync/basic.yml
  tests/manual/scenarios/sync/cd-target.yml
  tests/manual/scenarios/sync/diverged-no-rebase.yml
  tests/manual/scenarios/sync/diverged-with-rebase.yml
  tests/manual/scenarios/sync/force.yml
  tests/manual/scenarios/sync/help.yml
  tests/manual/scenarios/sync/nothing-to-prune.yml
  tests/manual/scenarios/sync/outside-repo.yml
  tests/manual/scenarios/sync/rebase-autostash.yml
  tests/manual/scenarios/sync/rebase-conflict-skips-push.yml
  tests/manual/scenarios/sync/verbose.yml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

style: change default branch symbol from ◉ to ✦
  SKILL.md
  docs/cli/daft-list.md
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/list.rs
  src/output/tui/render.rs
  src/styles.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

style: color default branch annotation bright purple
  src/commands/list.rs
  src/output/tui/render.rs
  src/styles.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style: change default branch symbol from ◉ to ✦ (#306)
  SKILL.md
  docs/cli/daft-list.md
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/list.rs
  src/output/tui/render.rs
  src/styles.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: align default branch symbol and color in sync and prune with list
  src/commands/list.rs
  src/commands/sync.rs
  src/output/tui/render.rs
  src/styles.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: align default branch symbol and color in sync and prune with list (#308)
  src/commands/list.rs
  src/commands/sync.rs
  src/output/tui/render.rs
  src/styles.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add column selection design spec
  docs/superpowers/specs/2026-03-16-list-column-selection-design.md
Due: prettier-format

docs: address plan review feedback
  docs/superpowers/plans/2026-03-16-list-column-selection.md
Due: prettier-format

docs: address spec review feedback
  docs/superpowers/specs/2026-03-16-list-column-selection-design.md
Due: prettier-format

docs: fix remaining spec inconsistencies
  docs/superpowers/specs/2026-03-16-list-column-selection-design.md
Due: prettier-format

docs: fix column order to match codebase (changes before remote)
  docs/superpowers/plans/2026-03-16-list-column-selection.md
  docs/superpowers/specs/2026-03-16-list-column-selection-design.md
Due: prettier-format

feat: add ListColumn enum and ColumnSelection parser
  src/core/columns.rs
  src/core/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add list/sync/prune column config keys to settings
  src/core/settings.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add --columns flag to list command with table and JSON filtering
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/list.rs
  tests/manual/scenarios/list/columns-json.yml
  tests/manual/scenarios/list/columns-replace.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test: add YAML tests for list column selection modes
  tests/manual/scenarios/list/columns-config.yml
  tests/manual/scenarios/list/columns-errors.yml
  tests/manual/scenarios/list/columns-modifier.yml
Due: prettier-format

feat: thread column selection through TUI and add --columns to sync/prune
  docs/cli/git-worktree-prune.md
  docs/cli/git-worktree-sync.md
  man/daft-prune.1
  man/daft-sync.1
  man/git-worktree-prune.1
  man/git-worktree-sync.1
  src/commands/prune.rs
  src/commands/sync.rs
  src/output/tui/columns.rs
  src/output/tui/mod.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test: add YAML tests for sync/prune --columns flag
  tests/manual/scenarios/prune/columns.yml
  tests/manual/scenarios/sync/columns.yml
Due: prettier-format

feat: add shell completions for --columns flag values
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: document --columns flag across CLI docs, help text, and SKILL.md
  SKILL.md
  docs/cli/daft-list.md
  docs/cli/daft-prune.md
  docs/cli/daft-sync.md
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: validate --columns early in sync/prune for non-TTY mode
  src/commands/prune.rs
  src/commands/sync.rs
  tests/manual/scenarios/list/columns-modifier.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

style: use bold instead of dim for column headers
  src/commands/list.rs
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style: use dim + underline for column headers
  src/commands/list.rs
  src/output/tui/render.rs
  src/styles.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: use output_not_contains in YAML test scenarios
  tests/manual/scenarios/list/columns-config.yml
  tests/manual/scenarios/list/columns-json.yml
  tests/manual/scenarios/list/columns-replace.yml
Due: prettier-format

feat: add --columns flag for list, sync, and prune commands (#310)
  SKILL.md
  docs/cli/daft-list.md
  docs/cli/daft-prune.md
  docs/cli/daft-sync.md
  docs/cli/git-worktree-list.md
  docs/cli/git-worktree-prune.md
  docs/cli/git-worktree-sync.md
  docs/superpowers/plans/2026-03-16-list-column-selection.md
  docs/superpowers/specs/2026-03-16-list-column-selection-design.md
  man/daft-list.1
  man/daft-prune.1
  man/daft-sync.1
  man/git-worktree-list.1
  man/git-worktree-prune.1
  man/git-worktree-sync.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/list.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/columns.rs
  src/core/mod.rs
  src/core/settings.rs
  src/output/tui/columns.rs
  src/output/tui/mod.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
  src/styles.rs
  tests/manual/scenarios/list/columns-config.yml
  tests/manual/scenarios/list/columns-errors.yml
  tests/manual/scenarios/list/columns-json.yml
  tests/manual/scenarios/list/columns-modifier.yml
  tests/manual/scenarios/list/columns-replace.yml
  tests/manual/scenarios/prune/columns.yml
  tests/manual/scenarios/sync/columns.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: add missing --version and --help completions for top-level daft command
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: add missing completions for top-level flags (#311)
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add branch ownership and local branch sync design spec
  docs/superpowers/specs/2026-03-15-branch-ownership-and-local-branch-sync-design.md
Due: prettier-format

docs: address spec review feedback for branch ownership design
  docs/superpowers/specs/2026-03-15-branch-ownership-and-local-branch-sync-design.md
Due: prettier-format

docs: add implementation plan for branch ownership and local branch sync
  docs/superpowers/plans/2026-03-15-branch-ownership-and-local-branch-sync.md
Due: prettier-format

feat(tui): add Owner column to TUI column system
  src/output/tui/columns.rs
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(prune): show local-only gone branches in TUI table
  src/commands/prune.rs
  src/core/worktree/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(format): add owner to ColumnValues
  src/output/format.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(columns): add Owner column to user-facing column system
  src/commands/list.rs
  src/core/columns.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(list): add Owner to JSON output and dim non-worktree rows
  src/commands/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(list): order entries worktrees-first, then branches
  src/commands/list.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(tui): use LocalBranch kind for dynamically discovered prune rows
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(list): add owner_email field to WorktreeInfo
  src/core/worktree/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(prune): add stale temp worktree cleanup at startup
  src/commands/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync): add --include flag and ownership resolution
  docs/cli/git-worktree-sync.md
  man/daft-sync.1
  man/git-worktree-sync.1
  src/commands/sync.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(sync): split owned/unowned worktrees in DAG construction
  src/commands/sync.rs
  src/core/worktree/sync_dag.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
