Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

docs(merge): fix doc drift, note --continue cleanup limitation
  docs/cli/daft-merge.md
  docs/guide/hooks.md
Due: prettier-format

docs(merge): spec for PR-style redesign
  docs/superpowers/specs/2026-04-29-daft-merge-pr-style-design.md
Due: prettier-format

docs(merge): plan for PR-style redesign
  docs/superpowers/plans/2026-04-29-daft-merge-pr-style.md
Due: prettier-format

feat(merge): add MergeStyle enum
  man/daft-merge.1
  man/git-worktree-merge.1
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(merge): add CleanupKind enum
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(settings): add merge_style and merge_cleanup keys
  src/core/settings.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(merge)!: cutover to MergeStyle/CleanupKind on settings + CLI
  docs/cli/git-worktree-merge.md
  man/daft-merge.1
  man/git-worktree-merge.1
  src/commands/merge.rs
  src/core/settings.rs
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(merge): pin default style to always-merge-commit
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(merge): add detect_in_progress_state for finish-mode dispatch
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(merge): add rebase phase for Rebase and RebaseMerge styles
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(merge): dispatch finish-mode via detect_in_progress_state
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(merge): add write_default_settings for --set-default
  src/core/worktree/merge_set_default.rs
  src/core/worktree/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(output): add defaults_updated rendering
  src/output/cli.rs
  src/output/mod.rs
  src/output/test.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(merge): wire --set-default into the post-merge flow
  src/commands/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(merge): update regression scenarios for new flag set
  tests/manual/scenarios/merge/already-up-to-date.yml
  tests/manual/scenarios/merge/basic.yml
  tests/manual/scenarios/merge/cleanup-prevalidates.yml
  tests/manual/scenarios/merge/config-layered-defaults.yml
  tests/manual/scenarios/merge/cross-worktree.yml
  tests/manual/scenarios/merge/ff-only.yml
  tests/manual/scenarios/merge/ff.yml
  tests/manual/scenarios/merge/hook-env-vars.yml
  tests/manual/scenarios/merge/hook-post-fires-on-success.yml
  tests/manual/scenarios/merge/merge-cross-target-rb.yml
  tests/manual/scenarios/merge/merge-fires-worktree-remove-hooks.yml
  tests/manual/scenarios/merge/merge-multi-source-rb-hooks-each.yml
  tests/manual/scenarios/merge/merge-pre-remove-hook-warns.yml
  tests/manual/scenarios/merge/merge-rich-output-on-success.yml
  tests/manual/scenarios/merge/merge-verbose-shows-git-output.yml
  tests/manual/scenarios/merge/no-commit-config-with-rb-refused.yml
  tests/manual/scenarios/merge/no-ff.yml
  tests/manual/scenarios/merge/no-target-worktree-ff.yml
  tests/manual/scenarios/merge/octopus.yml
  tests/manual/scenarios/merge/remove-source-and-branch.yml
  tests/manual/scenarios/merge/remove-source.yml
  tests/manual/scenarios/merge/signoff.yml
  tests/manual/scenarios/merge/squash-no-commit-rb-refused.yml
  tests/manual/scenarios/merge/squash-rb-source-moved.yml
  tests/manual/scenarios/merge/squash-rb.yml
Due: prettier-format

fix(merge): load hooks config from git config in MergeHookRunner
  src/commands/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(merge): add new YAML scenarios for MergeStyle and CleanupKind
  tests/manual/scenarios/merge/cleanup-keep.yml
  tests/manual/scenarios/merge/cleanup-remove-branch-local.yml
  tests/manual/scenarios/merge/post-merge-fires-after-warn-override.yml
  tests/manual/scenarios/merge/pre-merge-warn-override-allows-merge.yml
  tests/manual/scenarios/merge/set-default-writes-config.yml
  tests/manual/scenarios/merge/style-merge.yml
  tests/manual/scenarios/merge/style-rebase-merge.yml
  tests/manual/scenarios/merge/style-rebase.yml
  tests/manual/scenarios/merge/style-squash.yml
Due: prettier-format

docs(merge): update docs and SKILL for MergeStyle/CleanupKind API
  SKILL.md
  docs/cli/daft-merge.md
  docs/guide/hooks.md
Due: prettier-format

test(merge): add --no-edit to scenarios needing it in CI (no-TTY)
  tests/manual/scenarios/merge/abort-cross-worktree.yml
  tests/manual/scenarios/merge/abort-hint-elsewhere.yml
  tests/manual/scenarios/merge/abort.yml
  tests/manual/scenarios/merge/conflict.yml
  tests/manual/scenarios/merge/continue.yml
  tests/manual/scenarios/merge/dirty-target.yml
  tests/manual/scenarios/merge/hook-post-fires-on-conflict.yml
  tests/manual/scenarios/merge/hook-pre-aborts.yml
  tests/manual/scenarios/merge/no-target-worktree-no-adopt-flag.yml
  tests/manual/scenarios/merge/no-target-worktree-no-tty.yml
  tests/manual/scenarios/merge/no-target-worktree-non-ff.yml
  tests/manual/scenarios/merge/octopus-conflict.yml
  tests/manual/scenarios/merge/quit.yml
  tests/manual/scenarios/merge/same-source-target.yml
  tests/manual/scenarios/merge/status-list-merging.yml
  tests/manual/scenarios/merge/target-in-operation.yml
Due: prettier-format

fix(merge): resolve linked-worktree gitdir in detect_in_progress_state
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(merge): conflict --commit/--no-commit with --rebase and --rebase-merge
  src/commands/merge.rs
  tests/manual/scenarios/merge/flag-conflict-commit-with-rebase.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(merge): load hooks config in all remaining hook runner sites
  src/commands/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(merge): suppress post-merge on squash_staged_only outcome
  src/core/worktree/merge.rs
  tests/manual/scenarios/merge/post-merge-not-fired-on-squash-staged.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(completions): wire new merge flags into hardcoded shell completions
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(merge): clarify operation intent and hook scope in output
  docs/cli/daft-merge.md
  src/commands/hooks/jobs.rs
  src/commands/merge.rs
  src/core/worktree/exec/mod.rs
  src/executor/cli_presenter.rs
  src/executor/presenter.rs
  src/executor/runner.rs
  src/hooks/executor.rs
  src/hooks/yaml_executor/mod.rs
  src/output/cli.rs
  src/output/hook_progress/formatting.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
  src/output/hook_progress/plain.rs
  src/output/mod.rs
  src/output/tui/presenter.rs
  tests/manual/scenarios/merge/hook-box-target-segment.yml
  tests/manual/scenarios/merge/merge-pre-post-merge-hooks-render-rich.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

deps: bump mise tools
  mise.lock
Due: none

ci(merge): wire git-worktree-merge symlink + fix unit test identity
  .github/workflows/test.yml
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

ci(merge): set core.editor=true in test init_repo for headless CI
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): stop yaml_executor unit tests from leaking into ~/.local/state/daft
  src/coordinator/log_store.rs
  src/hooks/environment.rs
  src/hooks/template.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): stop yaml_executor unit tests from leaking into ~/.local/state/daft (#480)
  src/coordinator/log_store.rs
  src/hooks/environment.rs
  src/hooks/template.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: prevent panic on Shift+Tab in shared manage editor
  src/output/tui/shared_picker/editor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: address #479 review nits on edtui-keycode filter
  Cargo.toml
  src/output/tui/shared_picker/editor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf: mark `is_edtui_supported` as `#[inline]`
  src/output/tui/shared_picker/editor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: prevent panic on Shift+Tab in shared manage editor (#479)
  Cargo.toml
  src/output/tui/shared_picker/editor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: spawn jobs into own process group via Command::process_group
  src/executor/command.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: dual-license under MIT OR Apache-2.0
  Cargo.toml
  LICENSE-APACHE
  LICENSE-MIT
  README.md
  docs/.vitepress/config.ts
  docs/contributing.md
Due: prettier-format

refactor: replace libc termios + kill calls with nix safe wrappers
  Cargo.toml
  src/coordinator/process.rs
  src/core/worktree/exec/mod.rs
  src/core/worktree/exec/progress_renderer.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(coordinator): replace fork() with spawn(__coordinator) + tempfile state passing
  src/coordinator/process.rs
  src/executor/mod.rs
  src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs
