Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

fix(prune): detect squash merges the patch-id probes miss (#741)
  docs/cli/git-worktree-prune.md
  man/daft-prune.1
  man/git-worktree-prune.1
  src/commands/branch_delete.rs
  src/commands/forge_cache.rs
  src/commands/merge.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/commands/sync_shared.rs
  src/commands/worktree_branch.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/merged.rs
  src/core/worktree/ports.rs
  src/core/worktree/prune.rs
  src/forge/github.rs
  src/forge/gitlab.rs
  src/forge/info.rs
  src/git/mod.rs
  src/git/refs.rs
  src/lib.rs
  src/test_support.rs
  tests/integration/test_all.sh
  tests/integration/test_framework.sh
  tests/manual/scenarios/prune/prune-removes-context-drifted-squash.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(state-guard): tolerate concurrent daft activity on the shared state dir
  xtask/src/real_state_guard.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(state-guard): tolerate concurrent daft activity on the shared state dir (#743)
  xtask/src/real_state_guard.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

deps: bump termimad requirement to 0.35 to match the lockfile
  Cargo.toml
Due: none

refactor(git): extract the in-progress operation probe into op_state
  src/core/worktree/merge.rs
  src/git/mod.rs
  src/git/op_state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(git): find a branch's worktree while it is being rebased
  src/core/repo.rs
  src/git/op_state.rs
  src/git/worktree.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): see paused merges and rebases in linked worktrees
  src/hooks/conditions.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(list): fall back to the recorded branch, and surface drift
  src/commands/list.rs
  src/commands/list_live.rs
  src/core/worktree/identity.rs
  src/core/worktree/list.rs
  src/output/annotation.rs
  src/output/format.rs
  src/output/tui/render.rs
  term-styles/src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(worktree): record and maintain each worktree's intended branch
  src/commands/list.rs
  src/commands/list_live.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/clone.rs
  src/core/worktree/identity_store.rs
  src/core/worktree/mod.rs
  src/core/worktree/prune.rs
  src/core/worktree/rename.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(store): record a worktree's intended branch (migration 009)
  src/store/migrate.rs
  src/store/migrations/009_worktree_identities.sql
  src/store/mod.rs
  src/store/models/mod.rs
  src/store/models/worktree_identity.rs
  src/store/repos/mod.rs
  src/store/repos/worktree_identities.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(list): keep a worktree's identity through a rebase
  src/commands/list.rs
  src/commands/list_live.rs
  src/core/worktree/identity.rs
  src/core/worktree/list.rs
  src/core/worktree/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(list): show paused operations in the annotation column
  src/commands/list.rs
  src/git/op_state.rs
  src/output/annotation.rs
  src/output/mod.rs
  src/output/tui/columns.rs
  src/output/tui/live_table.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
  term-styles/src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(list): count conflicted files once, as conflicts
  src/commands/list.rs
  src/core/worktree/list.rs
  src/core/worktree/list_stream.rs
  src/core/worktree/sync_dag.rs
  src/output/format.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(list): add an opt-in status column
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/list.rs
  src/commands/list_live.rs
  src/core/columns.rs
  src/output/format.rs
  src/output/tui/columns.rs
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(go): observe, don't redefine, identity when entering an existing worktree
  src/core/worktree/checkout.rs
  src/core/worktree/identity_store.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(worktree): isolate the state dir in checkout timeline tests
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(list): carry drifted through the live seed; stream the status sha
  src/commands/list_live.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(list): route conflict counts to the live Changes cell and --sort changes
  src/core/sort.rs
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: cover operation state, conflicts and identity in list docs and tests
  SKILL.md
  docs/cli/daft-list.md
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/list.rs
  src/commands/list_live.rs
  src/core/worktree/clone.rs
  src/core/worktree/identity_store.rs
  src/store/repos/worktree_identities.rs
  tests/integration/test_list.sh
  tests/manual/scenarios/list/identity-drift.yml
  tests/manual/scenarios/list/rebase-conflict-identity.yml
  tests/manual/scenarios/list/rebase-resolved.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(start): never carry from a worktree with an operation in progress
  src/core/worktree/checkout_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(doctor): check worktree identities against their checkouts
  src/commands/doctor.rs
  src/doctor/repository.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(doctor): write identity fixes into the checked repo, not the cwd
  src/doctor/repository.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(worktree): forget identity records by worktree id, not branch name
  src/core/worktree/branch_delete.rs
  src/core/worktree/identity_store.rs
  src/core/worktree/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(list): emit the status column in structured output
  src/commands/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf(list): fail-fast busy timeout on the list observation write
  src/core/worktree/identity_store.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(list): status separator in --help is a middle dot, as emitted
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(settings): add base daft.pushVerify knob with checkout-scoped override
  src/core/settings.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(push): host the pre-push decision core beside push_with_hooks
  src/core/worktree/checkout_branch.rs
  src/core/worktree/push.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: skip pre-push hooks on remote-branch deletes
  docs/cli/daft-multi-remote.md
  docs/cli/daft-remove.md
  docs/cli/daft-rename.md
  docs/cli/git-worktree-branch-delete.md
  docs/cli/git-worktree-branch.md
  man/daft-remove.1
  man/daft-rename.1
  man/git-worktree-branch-delete.1
  man/git-worktree-branch.1
  src/commands/branch_delete.rs
  src/commands/merge.rs
  src/commands/multi_remote.rs
  src/commands/worktree_branch.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/rename.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(push-hooks): cover the delete-site skip, always re-arm, and rename leg
  tests/manual/scenarios/push-hooks/branch-delete-remote-push-verify-always.yml
  tests/manual/scenarios/push-hooks/branch-delete-remote-skips-pre-push.yml
  tests/manual/scenarios/push-hooks/rename-old-name-delete-skips-pre-push.yml
Due: prettier-format

docs: document daft.pushVerify and the delete-site skip
  SKILL.md
  docs/hooks/index.md
  docs/reference/configuration.md
Due: prettier-format

fix(push): grade a failed remote delete by who suppressed the gate
  src/commands/branch_delete.rs
  src/commands/checkout.rs
  src/commands/merge.rs
  src/commands/multi_remote.rs
  src/commands/worktree_branch.rs
  src/core/settings.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/push.rs
  src/core/worktree/rename.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: disclose pushVerify's base scope and merge's delete site
  SKILL.md
  docs/cli/daft-multi-remote.md
  docs/cli/daft-remove.md
  docs/cli/daft-rename.md
  docs/cli/git-worktree-branch-delete.md
  docs/cli/git-worktree-branch.md
  docs/cli/git-worktree-checkout.md
  docs/cli/git-worktree-merge.md
  docs/hooks/index.md
  docs/reference/configuration.md
  man/daft-go.1
  man/daft-merge.1
  man/daft-remove.1
  man/git-worktree-branch-delete.1
  man/git-worktree-branch.1
  man/git-worktree-checkout.1
  man/git-worktree-merge.1
Due: prettier-format

fix: skip pre-push hooks on remote-branch deletes (#754)
  SKILL.md
  docs/cli/daft-multi-remote.md
  docs/cli/daft-remove.md
  docs/cli/daft-rename.md
  docs/cli/git-worktree-branch-delete.md
  docs/cli/git-worktree-branch.md
  docs/cli/git-worktree-checkout.md
  docs/cli/git-worktree-merge.md
  docs/hooks/index.md
  docs/reference/configuration.md
  man/daft-go.1
  man/daft-merge.1
  man/daft-remove.1
  man/daft-rename.1
  man/git-worktree-branch-delete.1
  man/git-worktree-branch.1
  man/git-worktree-checkout.1
  man/git-worktree-merge.1
  src/commands/branch_delete.rs
  src/commands/checkout.rs
  src/commands/merge.rs
  src/commands/multi_remote.rs
  src/commands/worktree_branch.rs
  src/core/settings.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/push.rs
  src/core/worktree/rename.rs
  tests/manual/scenarios/push-hooks/branch-delete-remote-push-verify-always.yml
  tests/manual/scenarios/push-hooks/branch-delete-remote-skips-pre-push.yml
  tests/manual/scenarios/push-hooks/rename-old-name-delete-skips-pre-push.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(remove): target another cataloged repo with --repo
  man/daft-remove.1
  src/commands/worktree_branch.rs
  src/core/progress.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(brand): seed reference assets for #467 visual rebrand
  docs/public/brand/reference/daft-logo-dodo-donut.png
  docs/public/brand/reference/daft-logo-reference.png
  docs/public/brand/reference/daft-rebranding-brief.md
Due: prettier-format

docs(remove): document --repo and why it is a flag, not a positional
  CLAUDE.md
  SKILL.md
  docs/cli/daft-remove.md
Due: prettier-format

feat(completions): complete the target repo's branches after remove --repo
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  tests/integration/test_completions.sh
  tests/integration/test_shell_init.sh
  tests/manual/scenarios/branch-delete/daft-remove-repo-flag.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor(complete): hold the catalog hot-path contract in one helper
  src/commands/complete.rs
  src/commands/worktree_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
