Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

docs: add a diagram playground page replaying gallery scripts
  docs/.vitepress/theme/graph/Playground.vue
  docs/.vitepress/theme/graph/gallery.ts
  docs/.vitepress/theme/index.ts
  docs/playground.md
Due: prettier-format, biome-check

docs: split the diagram engine into a headless player and peer viewers
  docs/.vitepress/theme/components/DemoStage.vue
  docs/.vitepress/theme/graph/RepoDiagram.vue
  docs/.vitepress/theme/graph/RepoTerminal.vue
  docs/.vitepress/theme/graph/engine.ts
Due: biome-check

docs: add git-native and AI-agent trust tiles under the landing demo
  docs/.vitepress/theme/components/DemoStage.vue
  docs/.vitepress/theme/home.css
Due: none

docs: codify player/viewer architecture and command-animation coordination
  CLAUDE.md
  docs/.vitepress/theme/graph/CLAUDE.md
Due: prettier-format

docs: document the verb layer and playground catalog/composer modes
  CLAUDE.md
  docs/.vitepress/theme/graph/CLAUDE.md
Due: prettier-format

docs: add verb catalog and scenario composer modes to the playground
  docs/.vitepress/theme/graph/Composer.vue
  docs/.vitepress/theme/graph/Playground.vue
Due: none

docs: add a verb layer expanding daft commands into canonical beats
  docs/.vitepress/theme/graph/catalog.ts
  docs/.vitepress/theme/graph/verbs.ts
Due: biome-check

docs: let SVG-capable browsers pick the floating dodo favicon
  docs/.vitepress/config.ts
Due: none

fix(remove): name the directory being destroyed, not a path relative to it
  src/core/worktree/branch_delete.rs
  tests/integration/test_branch_delete.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(go): a sandbox checks out a commit, so stop calling it a branch
  src/core/stage.rs
  src/core/worktree/sandbox.rs
  src/output/timeline/plan.rs
  tests/integration/test_checkout.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(rail): the worktree rows name the worktree, not the directory it sits in
  docs/reference/progress-timeline.md
  src/core/worktree/branch_delete.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/sandbox.rs
  src/output/timeline/plan.rs
  tests/integration/test_branch_delete.sh
  tests/integration/test_checkout.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(rail): a worktree is a filesystem entity, so its name keeps manila
  docs/reference/progress-timeline.md
  src/output/palette.rs
  src/output/timeline/plan.rs
  src/output/timeline/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(go): name the sandbox a visit lands in, not the one it would have minted
  src/commands/checkout.rs
  src/core/worktree/sandbox.rs
  tests/integration/test_checkout.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(remove): keep git's own words when the path diagnosis fires
  src/core/worktree/branch_delete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): complete --hooks values in bash, zsh, and Fig
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(remove): explain a path-shaped miss on both git backends
  src/core/worktree/branch_delete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: worktree shorthands report the resolved worktree, not the raw path argument (#822)
  docs/reference/progress-timeline.md
  src/commands/checkout.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/worktree_branch.rs
  src/core/stage.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/sandbox.rs
  src/output/palette.rs
  src/output/timeline/mod.rs
  src/output/timeline/plan.rs
  src/output/timeline/render.rs
  tests/integration/test_branch_delete.sh
  tests/integration/test_checkout.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): git-stage foundation — recursion guard and git-dir resolution
  src/core/worktree/ports.rs
  src/hooks/git_stage/gitdir.rs
  src/hooks/git_stage/mod.rs
  src/hooks/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): git stages as first-class hook types
  SKILL.md
  docs/cli/daft-hooks.md
  docs/cli/git-daft-hooks.md
  man/daft-hooks.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/hooks/add.rs
  src/commands/hooks/mod.rs
  src/commands/hooks/run_cmd.rs
  src/core/settings.rs
  src/core/settings_spec.rs
  src/core/stage.rs
  src/core/worktree/sync_dag.rs
  src/hooks/executor.rs
  src/hooks/git_stage/mod.rs
  src/hooks/mod.rs
  src/hooks/trust_skip.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_validate.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): schema tail — templates, groups, file_types, stage_fixed, use_stdin
  src/commands/run.rs
  src/executor/command.rs
  src/executor/mod.rs
  src/executor/runner.rs
  src/hooks/conditions.rs
  src/hooks/config_merge.rs
  src/hooks/executor.rs
  src/hooks/file_types.rs
  src/hooks/groups.rs
  src/hooks/job_adapter.rs
  src/hooks/mod.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_validate.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): named file sources, quoting variants, and exec-safe chunking
  src/commands/run.rs
  src/executor/mod.rs
  src/executor/runner.rs
  src/hooks/changed_files/expand.rs
  src/hooks/changed_files/mod.rs
  src/hooks/changed_files/provider.rs
  src/hooks/changed_files/sources.rs
  src/hooks/config_merge.rs
  src/hooks/executor.rs
  src/hooks/git_stage/mod.rs
  src/hooks/job_adapter.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): carry git's stage payload into hook context and templates
  src/hooks/environment.rs
  src/hooks/template.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): dispatch git stages, install shims, chain git-lfs
  docs/cli/daft-hooks.md
  man/daft-hooks.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/git_hook.rs
  src/commands/hooks/install.rs
  src/commands/hooks/mod.rs
  src/commands/hooks/status.rs
  src/commands/mod.rs
  src/commands/run.rs
  src/hooks/config_merge.rs
  src/hooks/environment.rs
  src/hooks/executor.rs
  src/hooks/git_stage/dispatch.rs
  src/hooks/git_stage/install.rs
  src/hooks/git_stage/mod.rs
  src/hooks/git_stage/shim.rs
  src/hooks/template.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_executor/mod.rs
  src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): hook-level setup steps and fail_on_changes
  src/hooks/config_merge.rs
  src/hooks/hook_setup.rs
  src/hooks/mod.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): import an existing hooks config into daft.yml
  docs/cli/daft-hooks.md
  man/daft-hooks.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/hooks/import.rs
  src/commands/hooks/mod.rs
  src/hooks/hooks_block_edit.rs
  src/hooks/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): implement the StageRunner port so daft runs its own pre-push
  src/commands/multi_remote.rs
  src/commands/push.rs
  src/commands/sync.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/push.rs
  src/core/worktree/rename.rs
  src/executor/manager_routing.rs
  src/executor/presenter.rs
  src/hooks/git_stage/mod.rs
  src/hooks/git_stage/stage_runner.rs
  src/output/hook_progress/formatting.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): run a repository's existing hooks config as-is
  src/commands/hooks/install.rs
  src/hooks/executor.rs
  src/hooks/git_stage/dispatch.rs
  src/hooks/incumbent/lefthook.rs
  src/hooks/incumbent/mod.rs
  src/hooks/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): a background job cannot detach past a git gate
  SKILL.md
  docs/hooks/git-stages.md
  docs/hooks/yaml-reference.md
  docs/reference/configuration.md
  src/commands/hooks/run_cmd.rs
  src/hooks/git_stage/dispatch.rs
  src/hooks/mod.rs
  test-plans/git-hooks-drop-in.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(hooks): git stages, the lefthook migration, and the adoption recipe
  SKILL.md
  docs/.vitepress/config.ts
  docs/about/comparison.md
  docs/about/faq.md
  docs/hooks/git-stages.md
  docs/hooks/index.md
  docs/hooks/lefthook-migration.md
  docs/hooks/roadmap.md
  docs/hooks/yaml-reference.md
  docs/recipes/adopting-from-lefthook.md
  docs/reference/configuration.md
  test-plans/git-hooks-drop-in.md
Due: prettier-format

fix(hooks): make status and trust report what will actually run
  src/commands/hooks/mod.rs
  src/commands/hooks/status.rs
  src/commands/hooks/trust.rs
  src/hooks/git_stage/dispatch.rs
  src/hooks/incumbent/lefthook.rs
  src/hooks/job_adapter.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): carry every job field through takeover and import
  src/commands/hooks/import.rs
  src/hooks/hooks_block_edit.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_loader.rs
  test-plans/git-hooks-drop-in.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(list): esc abandons the size walk and PR refresh, keeps the essential cells
  src/commands/list_live.rs
  src/core/worktree/info_field.rs
  src/core/worktree/list_stream.rs
  src/output/tui/catalog_table.rs
  src/output/tui/driver.rs
  src/output/tui/live_table.rs
  src/output/tui/mod.rs
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(list): cover esc end-to-end under a PTY
  src/output/tui/render.rs
  tests/integration/test_all.sh
  tests/integration/test_list_esc.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(list): document esc on the live list and repo list
  docs/cli/daft-list.md
  docs/cli/daft-repo-list.md
  docs/cli/git-daft-repo-list.md
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-daft-repo-list.1
  man/git-worktree-list.1
  src/commands/list.rs
  src/commands/repo/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(list): address code-review findings on the esc abandon
  docs/cli/daft-list.md
  src/core/size_walk.rs
  src/core/worktree/list_stream.rs
  src/output/tui/driver.rs
  src/output/tui/live_table.rs
  src/output/tui/render.rs
  tests/integration/test_list_esc.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(list): cue the esc suite on the way-out offer, not the count
  tests/integration/test_list_esc.sh
Due: none

chore(test): mark the esc suite executable
  tests/integration/test_list_esc.sh
Due: none

feat(list): esc stops waiting for the slow cells (#827)
  docs/cli/daft-list.md
  docs/cli/daft-repo-list.md
  docs/cli/git-daft-repo-list.md
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-daft-repo-list.1
  man/git-worktree-list.1
  src/commands/list.rs
  src/commands/list_live.rs
  src/commands/repo/list.rs
  src/core/size_walk.rs
  src/core/worktree/info_field.rs
  src/core/worktree/list_stream.rs
  src/output/tui/catalog_table.rs
  src/output/tui/driver.rs
  src/output/tui/live_table.rs
  src/output/tui/mod.rs
  src/output/tui/render.rs
  tests/integration/test_all.sh
  tests/integration/test_list_esc.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(remove): cover the two contracts deferred deletion rests on
  docs/about/troubleshooting.md
  tests/manual/scenarios/branch-delete/remove-frees-the-path-immediately.yml
  tests/manual/scenarios/branch-delete/remove-sweeps-stranded-deletions.yml
Due: prettier-format

perf(prune): defer prune's worktree delete, and close the loop on trash
  src/commands/doctor.rs
  src/core/size_walk.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/prune.rs
  src/core/worktree/trash.rs
  src/doctor/repository.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
