Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

docs: add profiling-daft skill and [profile.profiling] build profile
  .claude/skills/profiling-daft/SKILL.md
  CLAUDE.md
  Cargo.toml
Due: prettier-format

docs: note inherited panic=abort and full-Xcode requirement (review)
  .claude/skills/profiling-daft/SKILL.md
  Cargo.toml
Due: prettier-format

Update devcontainer configuration with new settings
  .devcontainer/devcontainer.json
Due: none

docs: add profiling-daft skill and [profile.profiling] build profile (#588)
  .claude/skills/profiling-daft/SKILL.md
  CLAUDE.md
  Cargo.toml
Due: prettier-format

perf: collapse redundant gix::discover() per command
  src/commands/checkout.rs
  src/commands/list.rs
  src/commands/list_live.rs
  src/core/settings.rs
  src/git/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf(test-runner): skip dead template snapshot in non-interactive runs
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(test-runner): dedupe inline repo specs into fixtures, fix parallel-prime collision
  tests/manual/fixtures/repos/daft-yml-clone-hooks.yml
  tests/manual/fixtures/repos/daft-yml-contained-layout.yml
  tests/manual/fixtures/repos/main-with-feature-branch.yml
  tests/manual/scenarios/clone/layout-contained-hooks.yml
  tests/manual/scenarios/clone/layout-from-daft-yml.yml
  tests/manual/scenarios/clone/layout-prompt-skipped-for-daft-yml.yml
  tests/manual/scenarios/clone/layout-sibling-hooks.yml
  tests/manual/scenarios/layout/resolution-daft-yml.yml
  tests/manual/scenarios/merge/style-rebase-merge.yml
  tests/manual/scenarios/merge/style-rebase.yml
  xtask/Cargo.toml
  xtask/src/manual_test/fixture_cache.rs
  xtask/src/manual_test/repo_gen.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(git): make shared-discover test cwd restore panic-safe
  src/git/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf: collapse redundant gix::discover() per command (#592)
  src/commands/checkout.rs
  src/commands/list.rs
  src/commands/list_live.rs
  src/core/settings.rs
  src/git/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf(test-runner): skip dead template snapshot in non-interactive runs (#593)
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(test-runner): dedupe inline repo specs into fixtures, fix parallel-prime collision (#594)
  tests/manual/fixtures/repos/daft-yml-clone-hooks.yml
  tests/manual/fixtures/repos/daft-yml-contained-layout.yml
  tests/manual/fixtures/repos/main-with-feature-branch.yml
  tests/manual/scenarios/clone/layout-contained-hooks.yml
  tests/manual/scenarios/clone/layout-from-daft-yml.yml
  tests/manual/scenarios/clone/layout-prompt-skipped-for-daft-yml.yml
  tests/manual/scenarios/clone/layout-sibling-hooks.yml
  tests/manual/scenarios/layout/resolution-daft-yml.yml
  tests/manual/scenarios/merge/style-rebase-merge.yml
  tests/manual/scenarios/merge/style-rebase.yml
  xtask/Cargo.toml
  xtask/src/manual_test/fixture_cache.rs
  xtask/src/manual_test/repo_gen.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(list): honor daft.remote for default-branch resolution in blocking list
  src/commands/list.rs
  src/commands/list_live.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style(list): tighten resolve_base_branch + test doc comments
  src/commands/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(list): honor daft.remote for default-branch resolution in blocking list path (#598)
  src/commands/list.rs
  src/commands/list_live.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(test-runner): stack totals above in-flight worker rows
  xtask/src/manual_test/progress/indicatif_sink.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(test-runner): thread total-worker count into the progress sink
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/progress/indicatif_sink.rs
  xtask/src/manual_test/progress/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(test-runner): give the totals line a completion bar and counter/time layout
  xtask/src/manual_test/progress/indicatif_sink.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(test-runner): rebuild worker rows around a step progress bar
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/progress/indicatif_sink.rs
  xtask/src/manual_test/progress/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(test-runner): rebuild worker rows with a medium-rect bar and flowing tail
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/progress/indicatif_sink.rs
  xtask/src/manual_test/progress/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(test-runner): key progress rows by scenario index
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/progress/indicatif_sink.rs
  xtask/src/manual_test/progress/mod.rs
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(test-runner): address review feedback on the progress sink
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/progress/indicatif_sink.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(test-runner): update reporter design language for the new live region
  xtask/src/manual_test/reporter/CLAUDE.md
Due: prettier-format

feat(test-runner): give each worker a persistent idle/busy row
  xtask/src/manual_test/progress/indicatif_sink.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(test-runner): hide zero-failed and dim the totals separators
  xtask/src/manual_test/progress/indicatif_sink.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(test-runner): replace the totals bar with a braille completion-map
  xtask/src/manual_test/progress/indicatif_sink.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(test-runner): update reporter design language for the completion-map
  xtask/src/manual_test/reporter/CLAUDE.md
Due: prettier-format

feat(test-runner): fill the completion-map as an even scattered dissolve
  xtask/src/manual_test/progress/indicatif_sink.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(test-runner): document idle worker rows and the persisted map
  xtask/src/manual_test/reporter/CLAUDE.md
Due: prettier-format

fix(test-runner): collapse the live region cleanly on interrupt
  xtask/src/manual_test/progress/indicatif_sink.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(test-runner): persist the filled completion-map after the run
  xtask/src/manual_test/progress/indicatif_sink.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(test-runner): drop the force-quit totals end screen
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/progress/indicatif_sink.rs
  xtask/src/manual_test/reporter/CLAUDE.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(test-runner): document the dissolve map and interrupt teardown
  xtask/src/manual_test/reporter/CLAUDE.md
Due: prettier-format

fix(test-runner): wipe the live region on forced-exit; quiet cancel cleanup
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/progress/indicatif_sink.rs
  xtask/src/manual_test/progress/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(test-runner): erase the force-quit region via println, not clear()
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/progress/indicatif_sink.rs
  xtask/src/manual_test/reporter/CLAUDE.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(test-runner): show the totals end screen on force-quit
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/progress/indicatif_sink.rs
  xtask/src/manual_test/progress/mod.rs
  xtask/src/manual_test/reporter/CLAUDE.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor(test-runner): address PR review on the live region
  xtask/src/manual_test/progress/indicatif_sink.rs
  xtask/src/manual_test/reporter/CLAUDE.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(test-runner): pass the scenario index in the run_one_scenario_inner unit-test call
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(test-runner): address second review pass (self-documenting unwrap, teardown note)
  xtask/src/manual_test/progress/indicatif_sink.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(test-runner): redesign the live progress region with a braille completion-map (#580)
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/progress/indicatif_sink.rs
  xtask/src/manual_test/progress/mod.rs
  xtask/src/manual_test/reporter/CLAUDE.md
  xtask/src/manual_test/runner.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore: harden fresh-clone mise bootstrap
  daft.yml
  mise.lock
  mise.toml
Due: prettier-format

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
