Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

docs: record that the parity set's third surface is live
  CLAUDE.md
Due: prettier-format

ci: gate daft's own merges on the CI parity rings
  daft.yml
  mise-tasks/merge/landed-check
  mise-tasks/validate/msrv
Due: prettier-format

ci: gate daft's own merges on the CI parity rings (#778)
  .github/workflows/test.yml
  CLAUDE.md
  daft.yml
  mise-tasks/merge/landed-check
  mise-tasks/test/xtask
  mise-tasks/validate/msrv
Due: prettier-format

feat: let a fully-pushed branch be removed without -f
  SKILL.md
  docs/cli/daft-remove.md
  docs/cli/git-worktree-branch-delete.md
  docs/cli/git-worktree-branch.md
  man/daft-remove.1
  man/git-worktree-branch-delete.1
  man/git-worktree-branch.1
  src/commands/branch_delete.rs
  src/commands/worktree_branch.rs
  src/core/worktree/branch_delete.rs
  src/git/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

deps(deps): bump version-migrate manifest constraint to 0.21
  Cargo.toml
Due: none

fix: address code-review findings on the fully-pushed relaxation
  docs/cli/daft-remove.md
  src/core/worktree/branch_delete.rs
  src/git/cancel.rs
  src/git/remote.rs
  tests/integration/test_branch_delete.sh
  tests/manual/scenarios/branch-delete/allows-fully-pushed.yml
  tests/manual/scenarios/branch-delete/refuses-unmerged.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: isolate a budgeted probe so its deadline can reach a grandchild
  src/git/cancel.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: allow removing a fully-pushed branch without -f (#789)
  SKILL.md
  docs/cli/daft-remove.md
  docs/cli/git-worktree-branch-delete.md
  docs/cli/git-worktree-branch.md
  man/daft-remove.1
  man/git-worktree-branch-delete.1
  man/git-worktree-branch.1
  src/commands/branch_delete.rs
  src/commands/worktree_branch.rs
  src/core/worktree/branch_delete.rs
  src/git/cancel.rs
  src/git/remote.rs
  tests/integration/test_branch_delete.sh
  tests/manual/scenarios/branch-delete/allows-fully-pushed.yml
  tests/manual/scenarios/branch-delete/refuses-unmerged.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(go): never commit a worktree plan before the branch is known
  src/commands/checkout.rs
  src/core/worktree/checkout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(go): regression coverage for the collapsed-rail catalog hop
  tests/integration/test_checkout.sh
  tests/manual/scenarios/checkout/go-cross-repo-fetch.yml
Due: prettier-format

feat(output): collapse the planning face to a single rail line
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/worktree_branch.rs
  src/core/progress.rs
  src/output/timeline/mod.rs
  src/output/timeline/region.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(go): keep the collapsed line's resolution audible
  src/commands/clone.rs
  src/core/mod.rs
  src/core/progress.rs
  src/core/worktree/checkout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(output): attach the rail shell where the plan lands
  src/output/timeline/region.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(go): guard the hidden draw target, drop an untested claim
  tests/integration/test_checkout.sh
  tests/manual/scenarios/checkout/go-cross-repo-fetch.yml
Due: prettier-format

docs(timeline): describe the collapsed rail line
  docs/reference/progress-timeline.md
Due: prettier-format

fix(go): don't close a Failed rail on a cross-repo hop (#794)
  docs/reference/progress-timeline.md
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/worktree_branch.rs
  src/core/mod.rs
  src/core/progress.rs
  src/core/worktree/checkout.rs
  src/output/timeline/mod.rs
  src/output/timeline/region.rs
  tests/integration/test_checkout.sh
  tests/manual/scenarios/checkout/go-cross-repo-fetch.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(copy): add copy: config schema and CopyPath stage spine
  src/core/copy_paths.rs
  src/core/install/starter.yml
  src/core/mod.rs
  src/core/stage.rs
  src/hooks/config_merge.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_validate.rs
  src/output/timeline/mod.rs
  src/output/timeline/plan.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor(core): promote the gitignore classifier to core::git_ignore
  src/core/git_ignore.rs
  src/core/install/mod.rs
  src/core/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(copy): read and expand declared copy: entries
  src/core/copy_paths.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(copy): copy declared entries and report them on the rail
  src/core/copy_paths.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(copy): render copy rows without a rail, and clear partial destinations
  src/core/copy_paths.rs
  src/core/mod.rs
  src/core/progress.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(doctor): report the repository filesystem's reflink capability
  src/commands/doctor.rs
  src/doctor/repository.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(copy): make the outcome phrasing one shared, pinned surface
  src/core/copy_paths.rs
  src/core/stage.rs
  src/output/timeline/plan.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(copy): close the containment, force-safety and honesty gaps
  src/core/copy_paths.rs
  src/hooks/yaml_config.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(copy): pin the sink contract and the symlinked self-copy refusal
  src/core/copy_paths.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(copy): batch the git probes so large globs cannot deadlock
  src/core/copy_paths.rs
  src/core/git_ignore.rs
  src/output/timeline/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(cow-copy): populate directories before sealing their modes
  src/core/size_walk.rs
  src/cow_copy.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(copy): close the copy engine's coverage gaps
  src/core/copy_paths.rs
  src/core/git_ignore.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(copy): run the copy stage on the sandbox and fork journey
  src/core/worktree/sandbox.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(copy): run the copy stage on both checkout journeys
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(copy): pin the copy stage on the daft go creation journey
  src/core/worktree/checkout.rs
  tests/manual/scenarios/copy/copy-runs-before-post-create-hook-on-go.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(copy): cover the creation-flow copy stage with YAML scenarios
  tests/manual/scenarios/copy/copy-on-create-local-config.yml
  tests/manual/scenarios/copy/copy-on-create.yml
  tests/manual/scenarios/copy/copy-runs-before-post-create-hook.yml
  tests/manual/scenarios/copy/tracked-path-warning.yml
Due: prettier-format

fix(copy): absolutize the worktree path before the creation chdir
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(warm): add the two warm journeys that do not need the copy engine
  tests/manual/scenarios/copy/warm-basic.yml
  tests/manual/scenarios/copy/warm-default-source.yml
  tests/manual/scenarios/copy/warm-nothing-declared.yml
Due: prettier-format

test(copy): pin the copy section's plan position on all three journeys
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/mod.rs
  src/core/worktree/sandbox.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(warm): pin warm's presence on the registration surfaces nothing checked
  src/commands/completions/mod.rs
  src/commands/warm.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(warm): add YAML scenarios for the daft warm journeys
  src/core/worktree/warm.rs
  tests/manual/scenarios/copy/warm-basic.yml
  tests/manual/scenarios/copy/warm-force.yml
  tests/manual/scenarios/copy/warm-from.yml
  tests/manual/scenarios/copy/warm-skip-existing.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(copy): normalize the absolutized worktree path lexically
  src/core/layout/template.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/mod.rs
  src/core/worktree/sandbox.rs
  tests/manual/scenarios/copy/tracked-path-warning.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(warm): add daft warm command and register every surface
  Cargo.toml
  dist-workspace.toml
  docs/.vitepress/config.ts
  docs/cli/daft-warm.md
  docs/cli/git-worktree-carry.md
  docs/cli/git-worktree-warm.md
  man/daft-warm.1
  man/daft.1
  man/git-worktree-warm.1
  mise-tasks/setup/_rust_symlink_lib.sh
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  src/commands/mod.rs
  src/commands/warm.rs
  src/core/worktree/mod.rs
  src/core/worktree/warm.rs
  src/doctor/installation.rs
  src/lib.rs
  src/main.rs
  src/suggest.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(copy): harden the copy scenarios and cover fork and relative --at
  tests/manual/scenarios/copy/copy-on-create-local-config.yml
  tests/manual/scenarios/copy/copy-on-create.yml
  tests/manual/scenarios/copy/copy-on-fork.yml
  tests/manual/scenarios/copy/copy-runs-before-post-create-hook-on-go.yml
  tests/manual/scenarios/copy/copy-runs-before-post-create-hook.yml
  tests/manual/scenarios/copy/relative-at-path.yml
  tests/manual/scenarios/copy/tracked-path-warning.yml
Due: prettier-format

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
