Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

test(warm): pin the source/target resolution matrix and the render contract
  src/commands/warm.rs
  src/core/worktree/warm.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(copy): use portable ERE in the .worktreeinclude migration one-liner
  docs/worktrees/copying-caches.md
Due: prettier-format

fix(warm): make the resolved pair, the summary, and config errors honest
  docs/getting-started/installation.md
  flake.nix
  packaging/aur/PKGBUILD
  packaging/deb/postinst
  packaging/deb/prerm
  src/catalog/mod.rs
  src/catalog/registration.rs
  src/commands/warm.rs
  src/core/worktree/warm.rs
  tests/manual/scenarios/copy/warm-default-source.yml
  tests/manual/scenarios/copy/warm-local-config.yml
  tests/manual/scenarios/copy/warm-malformed-config.yml
  tests/manual/scenarios/copy/warm-nothing-declared.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(copy): document the copy: key and the copied-paths creation stage
  docs/.vitepress/config.ts
  docs/hooks/yaml-reference.md
  docs/recipes/sharing-caches.md
  docs/reference/progress-timeline.md
  docs/worktrees/copying-caches.md
  docs/worktrees/index.md
Due: prettier-format

docs(warm): stop the completion comment advertising a spelling that errors
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(copy): teach the copy: key and daft warm in SKILL.md
  SKILL.md
  docs/hooks/yaml-reference.md
  docs/reference/agent-skill.md
Due: prettier-format

refactor(warm): adopt the engine's phrase surface
  src/commands/warm.rs
  src/core/copy_paths.rs
  src/core/worktree/warm.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(warm): refuse the bare container as either end of a copy
  src/commands/complete.rs
  src/core/worktree/warm.rs
  tests/manual/scenarios/copy/warm-default-source.yml
  tests/manual/scenarios/copy/warm-local-config.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(copy): tell a failed reflink probe apart from a missing one
  src/commands/warm.rs
  src/core/copy_paths.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(copy): sync docs to the landed engine and command surface
  SKILL.md
  docs/hooks/yaml-reference.md
  docs/reference/progress-timeline.md
  docs/worktrees/anonymous-worktrees.md
  docs/worktrees/copying-caches.md
Due: prettier-format

docs(copy): fix accuracy-review findings
  SKILL.md
  docs/hooks/yaml-reference.md
  docs/recipes/sharing-caches.md
  docs/worktrees/copying-caches.md
Due: prettier-format

fix(copy): re-base relative symlinks that escape the copied tree
  src/core/copy_paths.rs
  src/cow_copy.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(warm): exercise the git-worktree-warm symlink dispatch
  tests/integration/test_all.sh
  tests/integration/test_framework.sh
  tests/integration/test_warm.sh
Due: none

test(copy): pin the cross-track seams no per-track suite could see
  tests/manual/scenarios/copy/copy-map-form-on-create.yml
  tests/manual/scenarios/copy/copy-source-is-the-worktree-you-came-from.yml
  tests/manual/scenarios/copy/copy-then-warm-is-a-no-op.yml
  tests/manual/scenarios/copy/local-config-on-create-and-warm.yml
  tests/manual/scenarios/copy/unignored-entry-warns-then-warm-recovers.yml
Due: prettier-format

fix(copy): refuse an absolute entry instead of rewriting it
  docs/hooks/yaml-reference.md
  src/core/copy_paths.rs
  src/hooks/yaml_config_validate.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore(test): mark the warm suite executable like its siblings
  tests/integration/test_warm.sh
Due: none

fix(copy): keep the shortfall visible, and stop measuring what nobody reads
  src/commands/warm.rs
  src/core/copy_paths.rs
  src/core/worktree/warm.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(copy): close the fresh-eyes panel's tidy items
  .github/labeler.yml
  SKILL.md
  docs/worktrees/copying-caches.md
  src/core/copy_paths.rs
  src/core/worktree/mod.rs
  src/hooks/yaml_config.rs
  tests/manual/scenarios/copy/tracked-path-warning.yml
  tests/manual/scenarios/copy/warm-basic.yml
  tests/manual/scenarios/copy/warm-force.yml
  tests/manual/scenarios/copy/warm-from.yml
  tests/manual/scenarios/copy/warm-local-config.yml
  tests/manual/scenarios/copy/warm-malformed-config.yml
  tests/manual/scenarios/copy/warm-nothing-declared.yml
  tests/manual/scenarios/copy/warm-skip-existing.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore(copy): declare this repo's own build caches
  daft.yml
Due: prettier-format

refactor(worktree): carry HEAD OIDs through the porcelain parser
  src/commands/repo/remove.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/identity.rs
  src/core/worktree/porcelain.rs
  src/core/worktree/remove_repo.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(copy): rank cache sources by specificity, not by cwd
  src/core/copy_source.rs
  src/core/mod.rs
  src/core/worktree/warm.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(copy): resolve the cache source per journey and name it on the rail
  src/core/copy_paths.rs
  src/core/copy_source.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/sandbox.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(warm): resolve the default source by the same ladder
  src/core/worktree/warm.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(copy): document the source ladder, and pin it end to end
  SKILL.md
  docs/cli/git-worktree-warm.md
  docs/reference/progress-timeline.md
  docs/worktrees/copying-caches.md
  man/daft-warm.1
  man/git-worktree-warm.1
  src/commands/warm.rs
  src/core/worktree/checkout_branch.rs
  tests/manual/scenarios/copy/copy-source-defaults-to-the-branch-you-are-on.yml
  tests/manual/scenarios/copy/copy-source-falls-back-to-an-identical-tip.yml
  tests/manual/scenarios/copy/copy-source-prefers-the-named-base.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

perf(copy): only rank a cache source when one is declared
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/sandbox.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(warm): reach the default branch from a container root, and rescue a replaced cwd
  docs/cli/git-worktree-warm.md
  man/daft-warm.1
  man/git-worktree-warm.1
  src/commands/shell_init.rs
  src/commands/warm.rs
  src/core/worktree/warm.rs
  tests/integration/test_shell_init.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(copy): rank cache sources past stale and empty candidates
  src/core/copy_source.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(copy): keep the copy inside the worktree it is writing into
  src/core/copy_paths.rs
  src/cow_copy.rs
  src/hooks/yaml_config.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(copy): copy caches before linking shared paths, and anchor on the branch's own ref
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/mod.rs
  src/core/worktree/sandbox.rs
  tests/manual/scenarios/copy/shared-inside-a-copied-cache.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(copy): record the changed stage order, refusals, and source ladder
  SKILL.md
  docs/hooks/yaml-reference.md
  docs/reference/progress-timeline.md
  docs/worktrees/copying-caches.md
Due: prettier-format

test(copy): pin the measurement gate portably
  src/core/copy_paths.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(config): machine-readable settings registry
  src/core/mod.rs
  src/core/ownership.rs
  src/core/settings.rs
  src/core/settings_spec.rs
  src/core/worktree/list.rs
  src/core/worktree/merge.rs
  src/forge/mod.rs
  src/hooks/mod.rs
  src/hooks/trust.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(config): drift gate for the settings registry
  CLAUDE.md
  src/core/settings_spec.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(config): make effective values round-trip, and read global config
  src/commands/config/resolve.rs
  src/core/settings_spec.rs
  src/core/size_walk.rs
  src/git/config.rs
  src/git/mod.rs
  src/git/oxide.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(config): daft config list / get / set / unset
  docs/cli/daft-config.md
  man/daft-config.1
  man/daft.1
  src/commands/config/mod.rs
  src/commands/config/remote_sync.rs
  src/commands/config/resolve.rs
  src/commands/config/write.rs
  src/commands/docs.rs
  src/core/settings_spec.rs
  src/suggest.rs
  tests/integration/test_config.sh
  tests/manual/scenarios/config/cli-refusals.yml
  tests/manual/scenarios/config/cli-set-get-unset.yml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(config): complete settings keys and values in every shell
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  tests/integration/test_completions.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(config): provenance engine and the missing git accessors
  src/commands/config/mod.rs
  src/commands/config/resolve.rs
  src/git/config.rs
  src/git/mod.rs
  src/git/oxide.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(config): the worktree layout as one row with six layers
  src/commands/config/resolve.rs
  src/commands/config/screen/render.rs
  src/commands/config/write.rs
  src/core/layout/resolver.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(config): edit settings from the screen
  src/commands/config/screen/input.rs
  src/commands/config/screen/mod.rs
  src/commands/config/screen/modal.rs
  src/commands/config/screen/render.rs
  src/commands/config/screen/state.rs
  tests/integration/test_config_tui.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs
