Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

ci: keep MSRV pin at 1.93.0 and ignore dtolnay/rust-toolchain in dependabot
  .github/dependabot.yml
  .github/workflows/test.yml
Due: prettier-format

fix(tui): always render selected columns; stop dropping by terminal width
  src/output/tui/columns.rs
  src/output/tui/live_table.rs
  src/output/tui/mod.rs
  src/output/tui/operation_table.rs
  src/output/tui/render.rs
  test-plans/render-all-columns.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore(mise): pin tool versions to lockfile values
  mise.toml
Due: none

ci(test): skip cargo-cooldown install in lint job
  .github/workflows/test.yml
Due: prettier-format

chore: reduce test.yml flake — pin mise tools, skip cargo-cooldown on CI (#498)
  .github/workflows/test.yml
  mise.toml
Due: prettier-format

fix(tui): address PR review polish — stale doc comments + Size pin
  src/output/tui/columns.rs
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: enforce dependency license allowlist via cargo-deny
  .github/workflows/test.yml
  deny.toml
  docs/about/contributing.md
  mise-tasks/ci
  mise-tasks/deny
  mise.lock
  mise.toml
Due: prettier-format

chore(deny): address review feedback
  deny.toml
Due: none

fix(tui): always render selected columns; stop dropping by terminal width (#497)
  src/output/tui/columns.rs
  src/output/tui/live_table.rs
  src/output/tui/mod.rs
  src/output/tui/operation_table.rs
  src/output/tui/render.rs
  test-plans/render-all-columns.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore: enforce dependency license allowlist via cargo-deny (#499)
  .github/workflows/test.yml
  deny.toml
  docs/about/contributing.md
  mise-tasks/ci
  mise-tasks/deny
  mise.lock
  mise.toml
Due: prettier-format

fix(tui): truncate worktree names in shared picker to keep state column visible
  src/output/tui/shared_picker/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(tui): truncate worktree names in shared picker to keep state column visible (#506)
  src/output/tui/shared_picker/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(tui): keep size column TOTAL summary intact when wider than data cells
  src/commands/list.rs
  src/output/tui/columns.rs
  src/output/tui/render.rs
  tests/manual/scenarios/list/size-total.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(tui): keep size column TOTAL summary intact when wider than data cells (#507)
  src/commands/list.rs
  src/output/tui/columns.rs
  src/output/tui/render.rs
  tests/manual/scenarios/list/size-total.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(coordinator): Tier-1 of #476 — persistence, crash recovery, richer cancel
  Cargo.lock
  Cargo.toml
  src/commands/complete.rs
  src/commands/hooks/jobs.rs
  src/coordinator/client.rs
  src/coordinator/framing.rs
  src/coordinator/log_record.rs
  src/coordinator/log_store.rs
  src/coordinator/mod.rs
  src/coordinator/process.rs
  src/coordinator/store/mod.rs
  src/coordinator/store/schema.rs
  src/coordinator/store/types.rs
  src/core/worktree/prune.rs
  src/executor/command.rs
  src/executor/log_sink.rs
  src/executor/mod.rs
  src/executor/runner.rs
  src/hooks/job_adapter.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(coordinator): Tier-2 log routing — output.jsonl, sampling, structured logs reader
  src/commands/hooks/jobs.rs
  src/coordinator/log_store.rs
  src/coordinator/process.rs
  src/executor/log_sink.rs
  src/executor/mod.rs
  src/hooks/yaml_config_loader.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(coordinator): Tier-2 wire protocol — framed envelopes + TailLogs streaming
  src/commands/hooks/jobs.rs
  src/coordinator/client.rs
  src/coordinator/mod.rs
  src/coordinator/process.rs
  src/coordinator/types.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(coordinator): Tier-3 cleanup — close out #476
  src/commands/hooks/jobs.rs
  src/coordinator/log_store.rs
  src/coordinator/process.rs
  src/coordinator/store/mod.rs
  src/coordinator/store/types.rs
  src/hooks/executor.rs
  src/hooks/job_adapter.rs
  src/hooks/yaml_executor/mod.rs
  src/log_clean.rs
  tests/manual/scenarios/hooks/bg-output-silent.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(coordinator): document redb single-open lock implication for Tier-3 readers
  src/commands/hooks/jobs.rs
  src/coordinator/store/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(coordinator): harden three flaky timing-sensitive process tests
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(xtask): self-terminate test-matrix when reparented to init
  xtask/Cargo.toml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: update Cargo.lock for xtask nix dep
  Cargo.lock
Due: none

fix(coordinator): unblock Windows build and address PR #508 review
  src/commands/hooks/jobs.rs
  src/coordinator/mod.rs
  src/coordinator/process.rs
  src/coordinator/store/mod.rs
  src/coordinator/store/types.rs
  src/executor/log_sink.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(coordinator): add `daft __dump-store` debug helper, fix repo-policy YAML scenarios
  src/commands/dump_store.rs
  src/commands/mod.rs
  src/main.rs
  tests/manual/scenarios/hooks/prune-budget-accounting.yml
  tests/manual/scenarios/hooks/repo-log-defaults-applied.yml
  tests/manual/scenarios/hooks/repo-policy-not-clobbered.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(executor): restore output.log dual-write so per-file truncation keeps working
  src/executor/log_sink.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(coordinator): drop legacy output.log writer, reader, and truncator
  src/commands/hooks/jobs.rs
  src/coordinator/clean_policy.rs
  src/coordinator/log_store.rs
  src/coordinator/process.rs
  src/coordinator/store/mod.rs
  src/coordinator/store/types.rs
  src/executor/log_sink.rs
  src/hooks/yaml_executor/mod.rs
  src/log_clean.rs
  tests/manual/scenarios/hooks/log-cleanup-per-file-cap.yml
  tests/manual/scenarios/hooks/log-cleanup-skips-running.yml
  tests/manual/scenarios/hooks/log-cleanup-stale-running-detected.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(coordinator): force accepted IPC streams to blocking on macOS
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(store): add SQLite store layer with ports/adapters/domain layout
  Cargo.lock
  Cargo.toml
  src/coordinator/adapters/mod.rs
  src/coordinator/adapters/sqlite_store.rs
  src/coordinator/adapters/system_clock.rs
  src/coordinator/adapters/unix_process.rs
  src/coordinator/domain/mod.rs
  src/coordinator/domain/reconcile.rs
  src/coordinator/mod.rs
  src/coordinator/ports/clock.rs
  src/coordinator/ports/mod.rs
  src/coordinator/ports/process.rs
  src/coordinator/ports/store.rs
  src/lib.rs
  src/store/connection.rs
  src/store/env_scrub.rs
  src/store/error.rs
  src/store/migrate.rs
  src/store/migrations/001_initial.sql
  src/store/mod.rs
  src/store/models/invocation.rs
  src/store/models/job.rs
  src/store/models/mod.rs
  src/store/models/repo_policy.rs
  src/store/paths.rs
  src/store/pool.rs
  src/store/repos/invocations.rs
  src/store/repos/jobs.rs
  src/store/repos/mod.rs
  src/store/repos/repo_policies.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(store): add JobStatus shim, for_repo_base helper, drop FK from initial schema
  src/coordinator/adapters/sqlite_store.rs
  src/coordinator/log_store.rs
  src/store/migrations/001_initial.sql
  src/store/repos/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(coordinator): swap JobStore (redb) for SqliteJobsStore in production
  src/commands/dump_store.rs
  src/commands/hooks/jobs.rs
  src/coordinator/process.rs
  src/hooks/yaml_executor/mod.rs
  src/log_clean.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(coordinator): route reads off meta.json, route writes through SQLite
  src/commands/complete.rs
  src/commands/hooks/jobs.rs
  src/coordinator/log_store.rs
  src/coordinator/process.rs
  src/executor/log_sink.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(coordinator): delete the redb store and drop redb + bincode deps
  Cargo.lock
  Cargo.toml
  src/coordinator/mod.rs
  src/coordinator/store/mod.rs
  src/coordinator/store/schema.rs
  src/coordinator/store/types.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(hooks): make log-cleanup scenario's "newest inv" probe ignore SQLite files
  tests/manual/scenarios/hooks/log-cleanup-budget-evicts-oldest.yml
Due: prettier-format

docs(claude): record SQLite store + ports/adapters/domain conventions
  CLAUDE.md
Due: prettier-format

docs(coordinator): update stale doc comments referencing redb
  src/coordinator/mod.rs
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(coordinator): cover the redb-era legacy file sweep on first open
  src/coordinator/adapters/sqlite_store.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(architecture): pin hexagonal direction and IDE spin-out landpost
  ARCHITECTURE.md
  CLAUDE.md
Due: prettier-format

refactor(coordinator): move legacy-file wipe off the hot path
  src/coordinator/adapters/sqlite_store.rs
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(store): verify file perms once per pool open
  src/store/pool.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(store): hardcode IN-list placeholders in list_by_repo_and_two_statuses
  src/coordinator/adapters/sqlite_store.rs
  src/store/repos/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs
