Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

feat(transform): implement plan builder with conflict-driven sequencing
  src/core/layout/transform/mod.rs
  src/core/layout/transform/plan.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(transform): implement plan executor with rollback support
  src/core/layout/transform/execute.rs
  src/core/layout/transform/legacy.rs
  src/core/layout/transform/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(transform): add plan printer for dry-run output
  src/core/layout/transform/mod.rs
  src/core/layout/transform/print.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(transform): fix CollapseIntoRoot cleanup and CWD handling
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/layout.rs
  src/core/layout/transform/execute.rs
  src/core/layout/transform/plan.rs
  src/core/layout/transform/print.rs
  src/core/layout/transform/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(transform): handle nested layout artifacts and vacate ordering
  src/commands/layout.rs
  src/core/layout/transform/plan.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(completions): add --layout completions for clone and init commands
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(completions): add clone and init to verb alias delegation
  src/commands/completions/bash.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(transform): adjust project_root for wrapped non-bare source layouts
  src/commands/layout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(transform): rebuild worktree index after RegisterWorktree
  src/core/layout/transform/plan.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(transform): strengthen integrity check, remove dead code
  src/commands/layout.rs
  src/core/layout/transform/execute.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: add comprehensive layout transform test matrix
  test-plans/layout-transform-matrix.md
Due: prettier-format

test: add transform matrix YAML scenarios (28 files)
  tests/manual/scenarios/layout/transform-matrix-branch-slashes.yml
  tests/manual/scenarios/layout/transform-matrix-contained-classic-noop.yml
  tests/manual/scenarios/layout/transform-matrix-contained-classic-to-contained-flat.yml
  tests/manual/scenarios/layout/transform-matrix-contained-classic-to-contained.yml
  tests/manual/scenarios/layout/transform-matrix-contained-classic-to-nested.yml
  tests/manual/scenarios/layout/transform-matrix-contained-classic-to-sibling.yml
  tests/manual/scenarios/layout/transform-matrix-contained-flat-noop.yml
  tests/manual/scenarios/layout/transform-matrix-contained-flat-to-contained-classic.yml
  tests/manual/scenarios/layout/transform-matrix-contained-flat-to-contained.yml
  tests/manual/scenarios/layout/transform-matrix-contained-flat-to-nested.yml
  tests/manual/scenarios/layout/transform-matrix-contained-flat-to-sibling.yml
  tests/manual/scenarios/layout/transform-matrix-contained-noop.yml
  tests/manual/scenarios/layout/transform-matrix-contained-to-contained-classic.yml
  tests/manual/scenarios/layout/transform-matrix-contained-to-contained-flat.yml
  tests/manual/scenarios/layout/transform-matrix-contained-to-nested.yml
  tests/manual/scenarios/layout/transform-matrix-contained-to-sibling.yml
  tests/manual/scenarios/layout/transform-matrix-dry-run.yml
  tests/manual/scenarios/layout/transform-matrix-nested-noop.yml
  tests/manual/scenarios/layout/transform-matrix-nested-to-contained-classic.yml
  tests/manual/scenarios/layout/transform-matrix-nested-to-contained-flat.yml
  tests/manual/scenarios/layout/transform-matrix-nested-to-contained.yml
  tests/manual/scenarios/layout/transform-matrix-nested-to-sibling.yml
  tests/manual/scenarios/layout/transform-matrix-round-trip.yml
  tests/manual/scenarios/layout/transform-matrix-sibling-noop.yml
  tests/manual/scenarios/layout/transform-matrix-sibling-to-contained-classic.yml
  tests/manual/scenarios/layout/transform-matrix-sibling-to-contained-flat.yml
  tests/manual/scenarios/layout/transform-matrix-sibling-to-contained.yml
  tests/manual/scenarios/layout/transform-matrix-sibling-to-nested.yml
Due: prettier-format

test: add transform matrix tests and fix MoveGitDir edge cases
  src/core/layout/transform/execute.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(transform): skip auto-gitignore for wrapped non-bare layouts
  src/commands/layout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: add dialoguer dependency for interactive layout picker
  Cargo.toml
Due: none

refactor(layout): replace LayoutSource::Default with Detected/Unresolved
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/init.rs
  src/commands/layout.rs
  src/core/layout/resolver.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): add detection module with template matching
  src/core/layout/detect.rs
  src/core/layout/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): add structural detection for single-worktree repos
  src/core/layout/detect.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): add detect_layout entry point with structural fallback
  src/core/global_config.rs
  src/core/layout/detect.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): add optional path argument and detection to daft layout show
  src/commands/layout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): skip detection for multi-remote repos
  src/core/layout/detect.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(layout): add YAML scenarios for layout detection
  tests/manual/scenarios/layout/detect-show-contained-classic.yml
  tests/manual/scenarios/layout/detect-show-contained.yml
  tests/manual/scenarios/layout/detect-show-nested.yml
  tests/manual/scenarios/layout/detect-show-path-arg.yml
  tests/manual/scenarios/layout/detect-show-plain-clone.yml
  tests/manual/scenarios/layout/detect-show-sibling.yml
Due: prettier-format

feat(layout): interactive layout resolution in daft start
  src/commands/checkout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): add consolidation prompt after layout selection
  src/commands/checkout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(completions): add directory completion for daft layout show path
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add layout detection spec and implementation plan
  docs/superpowers/plans/2026-03-23-layout-detection.md
  docs/superpowers/specs/2026-03-23-layout-detection-design.md
Due: prettier-format

feat(layout): add daft layout reset command to clear per-repo layout
  man/daft-layout.1
  src/commands/layout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style: clean up doc comments in list and format modules
  src/commands/list.rs
  src/output/format.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: gate unix-only MetadataExt behind cfg(unix) for Windows build
  src/core/worktree/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: gate unix-only MetadataExt behind cfg(unix) for Windows build (#321)
  src/core/worktree/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add clone multiple branches design spec
  docs/superpowers/specs/2026-03-24-clone-multiple-branches-design.md
Due: prettier-format

docs: address spec review findings
  docs/superpowers/specs/2026-03-24-clone-multiple-branches-design.md
Due: prettier-format

docs: fix remaining spec review gaps
  docs/superpowers/specs/2026-03-24-clone-multiple-branches-design.md
Due: prettier-format

docs: add clone multiple branches implementation plan
  docs/superpowers/plans/2026-03-24-clone-multiple-branches.md
Due: prettier-format

docs: address plan review findings
  docs/superpowers/plans/2026-03-24-clone-multiple-branches.md
Due: prettier-format

feat: add BranchSource and BranchPlan types with resolution logic
  src/core/worktree/branch_source.rs
  src/core/worktree/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add Setup/Created/NotFound variants to DAG event types
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/worktree/sync_dag.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add gitoxide local ref validation for multi-branch clone
  src/git/oxide.rs
  src/git/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add OperationTable shared TUI component
  src/output/tui/mod.rs
  src/output/tui/operation_table.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs
