Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

fix(doctor): read origin/HEAD as a symref, not a config key (#948)
  src/doctor/repository.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(rename): stamp origin/HEAD and the catalog when the default branch moves
  src/core/worktree/rename.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(doctor): warn when origin/HEAD points at a branch that is gone
  src/doctor/repository.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(catalog): record daft's own determination of the default branch
  src/catalog/registration.rs
  src/catalog/service.rs
  src/core/worktree/provenance.rs
  src/core/worktree/rename.rs
  src/git/config.rs
  tests/manual/scenarios/rename/default-branch-survives-registration.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(rename): record the default branch before the move can fail
  src/catalog/registration.rs
  src/catalog/service.rs
  src/core/worktree/rename.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: record daft's own determination of a repo's default branch (#949)
  src/catalog/registration.rs
  src/catalog/service.rs
  src/core/worktree/provenance.rs
  src/core/worktree/rename.rs
  src/doctor/repository.rs
  src/git/config.rs
  tests/manual/scenarios/rename/default-branch-survives-registration.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): git-stage foundation — recursion guard and git-dir resolution
  src/core/worktree/ports.rs
  src/hooks/git_stage/gitdir.rs
  src/hooks/git_stage/mod.rs
  src/hooks/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): git stages as first-class hook types
  SKILL.md
  docs/cli/daft-hooks.md
  docs/cli/git-daft-hooks.md
  man/daft-hooks.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/hooks/add.rs
  src/commands/hooks/mod.rs
  src/commands/hooks/run_cmd.rs
  src/core/settings.rs
  src/core/settings_spec.rs
  src/core/stage.rs
  src/core/worktree/sync_dag.rs
  src/hooks/executor.rs
  src/hooks/git_stage/mod.rs
  src/hooks/mod.rs
  src/hooks/trust_skip.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_validate.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): named file sources, quoting variants, and exec-safe chunking
  src/commands/run.rs
  src/executor/mod.rs
  src/executor/runner.rs
  src/hooks/changed_files/expand.rs
  src/hooks/changed_files/mod.rs
  src/hooks/changed_files/provider.rs
  src/hooks/changed_files/sources.rs
  src/hooks/config_merge.rs
  src/hooks/executor.rs
  src/hooks/git_stage/mod.rs
  src/hooks/job_adapter.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): schema tail — templates, groups, file_types, stage_fixed, use_stdin
  src/commands/run.rs
  src/executor/command.rs
  src/executor/mod.rs
  src/executor/runner.rs
  src/hooks/conditions.rs
  src/hooks/config_merge.rs
  src/hooks/executor.rs
  src/hooks/file_types.rs
  src/hooks/groups.rs
  src/hooks/job_adapter.rs
  src/hooks/mod.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_validate.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): carry git's stage payload into hook context and templates
  src/hooks/environment.rs
  src/hooks/template.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): implement the StageRunner port so daft runs its own pre-push
  src/commands/multi_remote.rs
  src/commands/push.rs
  src/commands/sync.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/checkout_branch.rs
  src/core/worktree/push.rs
  src/core/worktree/rename.rs
  src/executor/manager_routing.rs
  src/executor/presenter.rs
  src/hooks/git_stage/mod.rs
  src/hooks/git_stage/stage_runner.rs
  src/output/hook_progress/formatting.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(hooks): git stages, the lefthook migration, and the adoption recipe
  SKILL.md
  docs/.vitepress/config.ts
  docs/about/comparison.md
  docs/about/faq.md
  docs/hooks/git-stages.md
  docs/hooks/index.md
  docs/hooks/lefthook-migration.md
  docs/hooks/roadmap.md
  docs/hooks/yaml-reference.md
  docs/recipes/adopting-from-lefthook.md
  docs/reference/configuration.md
  test-plans/git-hooks-drop-in.md
Due: prettier-format

feat(hooks): run a repository's existing hooks config as-is
  src/commands/hooks/install.rs
  src/hooks/executor.rs
  src/hooks/git_stage/dispatch.rs
  src/hooks/incumbent/lefthook.rs
  src/hooks/incumbent/mod.rs
  src/hooks/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): hook-level setup steps and fail_on_changes
  src/hooks/config_merge.rs
  src/hooks/hook_setup.rs
  src/hooks/mod.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): dispatch git stages, install shims, chain git-lfs
  docs/cli/daft-hooks.md
  man/daft-hooks.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/git_hook.rs
  src/commands/hooks/install.rs
  src/commands/hooks/mod.rs
  src/commands/hooks/status.rs
  src/commands/mod.rs
  src/commands/run.rs
  src/hooks/config_merge.rs
  src/hooks/environment.rs
  src/hooks/executor.rs
  src/hooks/git_stage/dispatch.rs
  src/hooks/git_stage/install.rs
  src/hooks/git_stage/mod.rs
  src/hooks/git_stage/shim.rs
  src/hooks/template.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_executor/mod.rs
  src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(hooks): import an existing hooks config into daft.yml
  docs/cli/daft-hooks.md
  man/daft-hooks.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/hooks/import.rs
  src/commands/hooks/mod.rs
  src/hooks/hooks_block_edit.rs
  src/hooks/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(hooks): a background job cannot detach past a git gate
  SKILL.md
  docs/hooks/git-stages.md
  docs/hooks/yaml-reference.md
  docs/reference/configuration.md
  src/commands/hooks/run_cmd.rs
  src/hooks/git_stage/dispatch.rs
  src/hooks/mod.rs
  test-plans/git-hooks-drop-in.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(hooks): make status and trust report what will actually run
  src/commands/hooks/mod.rs
  src/commands/hooks/status.rs
  src/commands/hooks/trust.rs
  src/hooks/git_stage/dispatch.rs
  src/hooks/incumbent/lefthook.rs
  src/hooks/job_adapter.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): carry every job field through takeover and import
  src/commands/hooks/import.rs
  src/hooks/hooks_block_edit.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_loader.rs
  test-plans/git-hooks-drop-in.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(integrations): herdr plugin — daft as the worktree engine under herdr
  integrations/herdr/README.md
  integrations/herdr/bin/action.sh
  integrations/herdr/bin/daft-hook.sh
  integrations/herdr/bin/event.sh
  integrations/herdr/bin/pane.sh
  integrations/herdr/bin/startup.sh
  integrations/herdr/herdr-plugin.toml
  integrations/herdr/hooks/worktree-post-create
  integrations/herdr/hooks/worktree-pre-remove
  integrations/herdr/lib/common.sh
  integrations/herdr/lib/install.sh
  integrations/herdr/lib/layout.sh
  integrations/herdr/lib/tokens.sh
  tests/integration/test_all.sh
  tests/integration/test_herdr_plugin.sh
Due: prettier-format

fix(integrations): close the herdr plugin's layout and move hazards
  .github/labeler.yml
  .github/workflows/test.yml
  integrations/herdr/README.md
  integrations/herdr/bin/action.sh
  integrations/herdr/bin/daft-hook.sh
  integrations/herdr/bin/event.sh
  integrations/herdr/bin/pane.sh
  integrations/herdr/bin/startup.sh
  integrations/herdr/hooks/worktree-post-create
  integrations/herdr/hooks/worktree-pre-remove
  integrations/herdr/lib/common.sh
  integrations/herdr/lib/install.sh
  integrations/herdr/lib/layout.sh
  integrations/herdr/lib/tokens.sh
  tests/integration/test_herdr_plugin.sh
Due: prettier-format

docs(integrations): document installing the herdr plugin from GitHub
  integrations/herdr/README.md
Due: prettier-format

feat(integrations): a herdr plugin that makes daft its worktree engine (#951)
  .github/labeler.yml
  .github/workflows/test.yml
  integrations/herdr/README.md
  integrations/herdr/bin/action.sh
  integrations/herdr/bin/daft-hook.sh
  integrations/herdr/bin/event.sh
  integrations/herdr/bin/pane.sh
  integrations/herdr/bin/startup.sh
  integrations/herdr/herdr-plugin.toml
  integrations/herdr/lib/common.sh
  integrations/herdr/lib/install.sh
  integrations/herdr/lib/layout.sh
  integrations/herdr/lib/tokens.sh
  tests/integration/test_all.sh
  tests/integration/test_herdr_plugin.sh
Due: prettier-format

feat(integrations): herdr 0.9 follow-ups for the daft plugin
  integrations/herdr/README.md
  integrations/herdr/bin/action.sh
  integrations/herdr/bin/close-watch.sh
  integrations/herdr/bin/daft-hook.sh
  integrations/herdr/bin/pane.sh
  integrations/herdr/herdr-plugin.toml
  integrations/herdr/lib/common.sh
  integrations/herdr/lib/tokens.sh
  tests/integration/test_herdr_plugin.sh
Due: prettier-format

deps: bump mise tools
  mise.lock
  mise.toml
Due: none

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
