Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

docs(clone): explain `_global` choice in post-hook helpers
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): honor user git-config in commands that fire hooks (#461)
  src/commands/branch_delete.rs
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/flow_adopt.rs
  src/commands/flow_eject.rs
  src/commands/hooks/run_cmd.rs
  src/commands/layout.rs
  src/commands/prune.rs
  src/commands/repo/remove.rs
  src/commands/sync.rs
  src/commands/worktree_branch.rs
  tests/manual/scenarios/hooks/config-disabled-respected.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(spec): add list empty-state and repo remove copy refinement design
  docs/superpowers/specs/2026-05-02-list-empty-state-and-repo-remove-copy-design.md
Due: prettier-format

docs(spec): pin bg-coordinator runtime contract and plan needs: fix
  docs/superpowers/plans/2026-05-02-bg-jobs-honor-needs.md
  docs/superpowers/specs/2026-03-27-background-hook-jobs-design.md
Due: prettier-format

docs(plan): add implementation plan for list empty-state + repo remove copy
  docs/superpowers/plans/2026-05-02-list-empty-state-and-repo-remove-copy.md
Due: prettier-format

test(coordinator): add failing regression test for bg needs: ordering
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(list): add list_empty module for rendering empty-state hint
  src/commands/list_empty.rs
  src/commands/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(coordinator): return NodeStatus from run_single_background_job
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(list): render empty-state hint instead of silent empty output
  src/commands/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(coordinator): mark transient bg job-spawn discard explicit
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(coordinator): honor needs: between background jobs (#454)
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(list): short-circuit TUI when worktree+branch set is empty
  src/commands/list_live.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(coordinator): record dep-failed bg jobs and surface DAG errors
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(list): add YAML scenarios covering empty-state rendering
  tests/manual/scenarios/list/empty-bare.yml
  tests/manual/scenarios/list/empty-format-json.yml
Due: prettier-format

test(coordinator): assert failed bg dep cascades skip to dependents
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(coordinator): assert cancelled bg dep cascades skip to dependents
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(coordinator): bg DAG errors on cycles and missing deps
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(hooks): YAML scenario for bg→bg needs: ordering (regresses #454)
  tests/manual/scenarios/hooks/bg-needs-ordering.yml
Due: prettier-format

fix(repo): drop internal jargon from `daft repo remove` user-facing copy
  src/commands/repo/remove.rs
  tests/manual/scenarios/repo/remove-basic.yml
  tests/manual/scenarios/repo/remove-dry-run.yml
  tests/manual/scenarios/repo/remove-with-hooks.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(repo): finish dropping internal jargon from `daft repo remove` surfaces
  SKILL.md
  docs/cli/daft-repo-remove.md
  docs/cli/git-daft-repo-remove.md
  docs/guide/worktree-workflow.md
  man/git-daft-repo-remove.1
  src/commands/repo/remove.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(tests): align bash + unit test names with the new copy
  src/commands/list.rs
  tests/integration/test_repo_remove.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(list): render empty-state hint when no worktrees, plus repo remove copy refresh (#462)
  SKILL.md
  docs/cli/daft-repo-remove.md
  docs/cli/git-daft-repo-remove.md
  docs/guide/worktree-workflow.md
  docs/superpowers/plans/2026-05-02-list-empty-state-and-repo-remove-copy.md
  docs/superpowers/specs/2026-05-02-list-empty-state-and-repo-remove-copy-design.md
  man/git-daft-repo-remove.1
  src/commands/list.rs
  src/commands/list_empty.rs
  src/commands/list_live.rs
  src/commands/mod.rs
  src/commands/repo/remove.rs
  tests/integration/test_repo_remove.sh
  tests/manual/scenarios/list/empty-bare.yml
  tests/manual/scenarios/list/empty-format-json.yml
  tests/manual/scenarios/repo/remove-basic.yml
  tests/manual/scenarios/repo/remove-dry-run.yml
  tests/manual/scenarios/repo/remove-with-hooks.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(coordinator): use wave scheduler instead of thread::scope (post-fork safe)
  docs/superpowers/plans/2026-05-02-bg-jobs-honor-needs.md
  docs/superpowers/specs/2026-03-27-background-hook-jobs-design.md
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore(coordinator): address PR #463 review feedback
  SKILL.md
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(coordinator): honor needs: between background jobs (#454) (#463)
  SKILL.md
  docs/superpowers/plans/2026-05-02-bg-jobs-honor-needs.md
  docs/superpowers/specs/2026-03-27-background-hook-jobs-design.md
  src/coordinator/process.rs
  tests/manual/scenarios/hooks/bg-needs-ordering.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs: design spec for daft merge command
  docs/superpowers/specs/2026-04-24-daft-merge-design.md
Due: prettier-format

docs: adopt -y/--yes flag and merge-pre/merge-post hooks
  docs/superpowers/plans/2026-04-24-daft-merge.md
  docs/superpowers/specs/2026-04-24-daft-merge-design.md
Due: prettier-format

docs: align merge spec with daft's git-config settings convention
  docs/superpowers/specs/2026-04-24-daft-merge-design.md
Due: prettier-format

docs: implementation plan for daft merge command
  docs/superpowers/plans/2026-04-24-daft-merge.md
Due: prettier-format

feat: route daft merge through main dispatch
  src/lib.rs
  src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: scaffold daft merge command module
  src/commands/merge.rs
  src/commands/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: scaffold core merge module
  src/core/worktree/merge.rs
  src/core/worktree/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: basic daft merge scenario in CWD
  mise-tasks/setup/rust
  tests/manual/scenarios/merge/basic.yml
Due: prettier-format

chore: add auto-generated man pages and doc stub for merge
  docs/cli/git-worktree-merge.md
  man/daft-merge.1
  man/git-worktree-merge.1
Due: prettier-format

feat: register git-worktree-merge for man page generation
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: register gwtm shortcut and merge subcommand suggestions
  src/doctor/installation.rs
  src/shortcuts.rs
  src/suggest.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: backport landmines into daft merge plan from slice 1 pilot
  docs/superpowers/plans/2026-04-24-daft-merge.md
Due: prettier-format

feat: dispatch daft merge start form to core
  docs/cli/git-worktree-merge.md
  man/daft-merge.1
  man/git-worktree-merge.1
  src/commands/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: resolve --into target via existing GitCommand helper
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: dispatch merge against resolved --into target
  src/commands/merge.rs
  src/core/worktree/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
