Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

fix(hooks): top-level log: defaults propagate into job log_config
  src/hooks/executor.rs
  src/hooks/job_adapter.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(hooks): drop unimplemented LogConfig.path field
  docs/guide/hooks.md
  src/executor/mod.rs
  src/hooks/job_adapter.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_loader.rs
  tests/manual/scenarios/hooks/log-cleanup-custom-path-untouched.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore(hooks): tidy fully-qualified paths in repo_log plumbing
  src/hooks/job_adapter.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(coordinator): write_repo_policy field-merges with on-disk
  src/coordinator/log_store.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(coordinator): enforce_budget returns full accounting
  src/commands/hooks/jobs.rs
  src/coordinator/clean_policy.rs
  src/coordinator/log_store.rs
  src/log_clean.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(coordinator): silent log delete gates on final status
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(coordinator): honor background_output: silent
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(coordinator): dry-run prune tallies removed_invocations
  src/coordinator/log_store.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(coordinator): kill bg jobs by process group, not bare PID
  src/coordinator/process.rs
  src/executor/command.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(hooks): regression scenarios for ultrareview fixes
  tests/manual/scenarios/hooks/bg-output-silent.yml
  tests/manual/scenarios/hooks/prune-budget-accounting.yml
  tests/manual/scenarios/hooks/prune-dry-run-invocations.yml
  tests/manual/scenarios/hooks/repo-log-defaults-applied.yml
  tests/manual/scenarios/hooks/repo-policy-not-clobbered.yml
Due: prettier-format

fix(exec): clarify failed-run output dump format
  src/core/worktree/exec/list_renderer.rs
  tests/manual/scenarios/worktree-exec/failure-dump.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore: target 1.10.0 instead of 2.0.0 for release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  man/daft-adopt.1
  man/daft-carry.1
  man/daft-clone.1
  man/daft-eject.1
  man/daft-exec.1
  man/daft-go.1
  man/daft-init.1
  man/daft-list.1
  man/daft-prune.1
  man/daft-release-notes.1
  man/daft-remove.1
  man/daft-rename.1
  man/daft-shared.1
  man/daft-start.1
  man/daft-sync.1
  man/daft-update.1
  man/git-worktree-branch-delete.1
  man/git-worktree-branch.1
  man/git-worktree-carry.1
  man/git-worktree-checkout.1
  man/git-worktree-clone.1
  man/git-worktree-exec.1
  man/git-worktree-fetch.1
  man/git-worktree-flow-adopt.1
  man/git-worktree-flow-eject.1
  man/git-worktree-init.1
  man/git-worktree-list.1
  man/git-worktree-prune.1
  man/git-worktree-sync.1
  xtask/Cargo.toml
Due: prettier-format

fix(exec): clarify failed-run output dump format (#422)
  src/core/worktree/exec/list_renderer.rs
  tests/manual/scenarios/worktree-exec/failure-dump.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore(hooks): warm up dev build via background mise dev job
  daft.yml
Due: prettier-format

fix(hooks): gate coordinator IPC behind cfg(unix) so Windows builds
  .github/workflows/test.yml
  src/coordinator/client.rs
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(hooks): gate PermissionsExt import in executor tests for Windows
  src/hooks/executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): gate coordinator IPC behind cfg(unix) so Windows builds (#426)
  .github/workflows/test.yml
  src/coordinator/client.rs
  src/coordinator/process.rs
  src/hooks/executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore(hooks): warm up dev build via background mise dev job (#425)
  daft.yml
Due: prettier-format

fix(tui): stop infinite owner shimmer for default branch in prune/sync
  src/commands/clone.rs
  src/commands/list_live.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/output/tui/driver.rs
  src/output/tui/live_table.rs
  src/output/tui/operation_table.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(tui): clarify seeded_fields semantics
  src/commands/prune.rs
  src/commands/sync.rs
  src/output/tui/live_table.rs
  src/output/tui/operation_table.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(deps): enforce 7-day cooldown across cargo, bun, mise, dependabot, and CI
  .dep-age-allowlist
  .github/dependabot.yml
  .github/workflows/test.yml
  CLAUDE.md
  bunfig.toml
  cooldown.toml
  docs/bunfig.toml
  mise-tasks/deps/check-age
  mise-tasks/deps/cooled-build
  mise.toml
  scripts/check-lockfile-age.sh
Due: prettier-format

chore(deps): update mise lock URL
  mise.lock
Due: none

style(tui): narrow skeleton shimmer brightness range to 30%-80%
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

ci: add weekly mise tool upgrade workflow
  .github/workflows/mise-tool-updates.yml
Due: prettier-format

ci(deps): run mise upgrade workflow daily, matching dependabot
  .github/workflows/mise-tool-updates.yml
Due: prettier-format

chore(mise): auto-sync mise tools when entering worktree with stale lock
  mise.toml
Due: none

fix(tui): stop default-branch owner shimmer in prune/sync (#430)
  mise.lock
  src/commands/clone.rs
  src/commands/list_live.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/output/tui/driver.rs
  src/output/tui/live_table.rs
  src/output/tui/operation_table.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(deps): add 7-day cooldown across cargo, bun, mise, dependabot, and CI (#431)
  .dep-age-allowlist
  .github/dependabot.yml
  .github/workflows/mise-tool-updates.yml
  .github/workflows/test.yml
  CLAUDE.md
  bunfig.toml
  cooldown.toml
  docs/bunfig.toml
  mise-tasks/deps/check-age
  mise-tasks/deps/cooled-build
  mise.toml
  scripts/check-lockfile-age.sh
Due: prettier-format

style: reformat markdown for prettier 3.8.3
  RELEASING.md
  SETUP_RELEASE.md
  docs/superpowers/plans/2026-03-28-sync-declared-collect.md
  docs/superpowers/specs/2026-04-10-hooks-jobs-redesign.md
  docs/superpowers/specs/2026-04-11-hooks-jobs-basket-overview.md
Due: prettier-format

chore(docs): align biome scope with config and use local schema
  docs/biome.json
  lefthook.yml
Due: prettier-format

ci: add Claude Code PR review workflow with subscription auth
  .github/workflows/claude-pr-review.yml
Due: prettier-format

ci: scope Claude review secret to a master-only environment
  .github/workflows/claude-pr-review.yml
Due: prettier-format

ci: drop auto-trigger so Claude reviews are fully opt-in
  .github/workflows/claude-pr-review.yml
Due: prettier-format

ci: harden Claude review workflow (SHA pins, OWNER-only, timeout)
  .github/workflows/claude-pr-review.yml
Due: prettier-format

ci: add CODEOWNERS to gate workflow and dependabot changes
  .github/CODEOWNERS
Due: none

ci: declare explicit read-only permissions in remaining workflows
  .github/workflows/bench.yml
  .github/workflows/docs.yml
  .github/workflows/test-homebrew.yml
  .github/workflows/test.yml
Due: prettier-format

docs: add Critical Rule guarding the Claude review workflow
  CLAUDE.md
Due: prettier-format

ci: add Claude Code PR review workflow with subscription auth (#436)
  .github/CODEOWNERS
  .github/workflows/bench.yml
  .github/workflows/claude-pr-review.yml
  .github/workflows/docs.yml
  .github/workflows/test-homebrew.yml
  .github/workflows/test.yml
  CLAUDE.md
Due: prettier-format

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
