Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

fix: address code review findings for hash column
  SKILL.md
  src/commands/completions/bash.rs
  src/core/worktree/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: add --columns hash and gitoxide commit metadata fast path (#319)
  SKILL.md
  docs/cli/git-worktree-list.md
  docs/cli/git-worktree-prune.md
  docs/cli/git-worktree-sync.md
  docs/superpowers/plans/2026-03-22-hash-column-and-gitoxide-commit-metadata.md
  docs/superpowers/specs/2026-03-22-hash-column-and-gitoxide-commit-metadata-design.md
  man/daft-list.1
  man/daft-prune.1
  man/daft-sync.1
  man/git-worktree-list.1
  man/git-worktree-prune.1
  man/git-worktree-sync.1
  mise-tasks/setup/rust
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/list.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/columns.rs
  src/core/sort.rs
  src/core/worktree/list.rs
  src/git/oxide.rs
  src/output/format.rs
  src/output/tui/columns.rs
  src/output/tui/render.rs
  tests/manual/scenarios/list/hash-column.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs: add Plan 1 implementation plan for layout system foundation
  docs/superpowers/plans/2026-03-20-progressive-adoption-plan-1-layout-foundation.md
Due: prettier-format

docs: add progressive adoption and layout system design spec
  docs/superpowers/specs/2026-03-20-progressive-adoption-layout-system-design.md
Due: prettier-format

feat(layout): add template engine with variable substitution and sanitize filter
  src/core/layout/mod.rs
  src/core/layout/template.rs
  src/core/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): add Layout struct and built-in layout definitions
  src/core/layout/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): add global TOML config with layout defaults and custom layouts
  Cargo.toml
  src/core/global_config.rs
  src/core/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): add config resolution chain (CLI > repo store > daft.yml > global > default)
  src/core/layout/mod.rs
  src/core/layout/resolver.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): re-export layout and global config modules
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): add layout field to daft.yml configuration
  src/hooks/yaml_config.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): add bare inference heuristic from template geometry
  src/core/layout/bare.rs
  src/core/layout/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): unified repo store with V3 schema, layout field, and atomic trust.json migration
  src/hooks/trust.rs
  src/hooks/trust_dto.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): skip detached HEAD sandboxes during prune
  src/core/worktree/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add Plan 2 implementation plan for command integration
  docs/superpowers/plans/2026-03-20-progressive-adoption-plan-2-command-integration.md
Due: prettier-format

feat(layout): add sandbox indicator to worktree list
  src/commands/list.rs
  src/core/worktree/list.rs
  src/output/tui/render.rs
  src/styles.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): add layout-aware worktree path computation helper
  src/core/multi_remote/path.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): add --at flag for custom worktree placement
  docs/cli/git-worktree-checkout.md
  man/daft-go.1
  man/daft-start.1
  man/git-worktree-checkout.1
  src/commands/checkout.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(layout): add --layout flag to clone with non-bare clone support
  docs/cli/git-worktree-clone.md
  man/daft-clone.1
  man/git-worktree-clone.1
  src/commands/clone.rs
  src/core/worktree/clone.rs
  src/git/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(layout): layout-aware worktree path computation in checkout commands
  src/commands/checkout.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): add layout list, show, and transform subcommands
  src/commands/layout.rs
  src/commands/mod.rs
  src/main.rs
  src/suggest.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(clone): reconcile daft.yml layout after clone
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add Plan 3 implementation plan for hook discovery changes
  docs/superpowers/plans/2026-03-20-progressive-adoption-plan-3-hook-discovery.md
Due: prettier-format

feat(hooks): add ability to load daft.yml from branch ref via git show
  src/hooks/yaml_config_loader.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): resolve PreCreate hooks from target branch via git show
  src/hooks/executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: add deprecation hints to adopt/eject in favor of layout transform
  src/commands/flow_adopt.rs
  src/commands/flow_eject.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(layout): auto-gitignore worktree directory for non-bare in-repo layouts
  src/core/layout/mod.rs
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: isolate DAFT_CONFIG_DIR in test frameworks to prevent config leakage
  tests/integration/test_framework.sh
  xtask/src/manual_test/env.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: contained layout template preserves branch directory hierarchy
  docs/superpowers/specs/2026-03-20-progressive-adoption-layout-system-design.md
  src/core/layout/mod.rs
  src/core/multi_remote/path.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs: add generated man page and CLI reference for layout command
  docs/cli/daft-layout.md
  man/daft-layout.1
Due: prettier-format

fix: address review findings (merge_configs layout, clone hook gating, completions)
  src/commands/clone.rs
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  src/hooks/yaml_config_loader.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: add layout-specific test scenarios for sibling, nested, and layout commands
  tests/manual/scenarios/clone/layout-nested.yml
  tests/manual/scenarios/clone/layout-sibling.yml
  tests/manual/scenarios/layout/list.yml
  tests/manual/scenarios/layout/show.yml
Due: prettier-format

test: make bash integration tests layout-explicit with --layout contained
  tests/integration/test_all.sh
  tests/integration/test_branch_delete.sh
  tests/integration/test_checkout.sh
  tests/integration/test_checkout_branch.sh
  tests/integration/test_clone.sh
  tests/integration/test_config.sh
  tests/integration/test_exec.sh
  tests/integration/test_fetch.sh
  tests/integration/test_flow_eject.sh
  tests/integration/test_hooks.sh
  tests/integration/test_init.sh
  tests/integration/test_list.sh
  tests/integration/test_prune.sh
  tests/integration/test_rename.sh
  tests/integration/test_shell_init.sh
  tests/integration/test_simple.sh
  tests/integration/test_sync.sh
Due: none

chore: replace treemd with neovim for test-plan viewer
  mise-tasks/sandbox/_default
  mise.lock
  mise.toml
  tools/nvim/test-plan/init.lua
Due: none

chore: add test-plan sandbox command with branch auto-resolution
  CLAUDE.md
  mise-tasks/sandbox/_default
  test-plans/.gitkeep
Due: prettier-format

chore: isolate dev sandbox with DAFT_CONFIG_DIR
  .gitignore
  mise.toml
Due: none

fix: validate --at flag on go command requires worktree creation context
  src/commands/checkout.rs
  tests/manual/scenarios/layout/at-flag-errors.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test: add integration scenarios for layout workflows
  tests/manual/scenarios/clone/layout-sibling-checkout.yml
  tests/manual/scenarios/layout/at-flag.yml
  tests/manual/scenarios/layout/contained-workflow.yml
  tests/manual/scenarios/layout/layout-persists.yml
  tests/manual/scenarios/layout/nested-gitignore.yml
  tests/manual/scenarios/layout/nested-workflow.yml
  tests/manual/scenarios/layout/show-source.yml
  tests/manual/scenarios/layout/sibling-workflow.yml
  tests/manual/scenarios/layout/transform-to-contained.yml
Due: prettier-format

feat(layout): add -@ as short flag for --at on checkout/go/start
  docs/cli/git-worktree-checkout.md
  man/daft-go.1
  man/daft-start.1
  man/git-worktree-checkout.1
  src/commands/checkout.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore: add treemd to dev tools for interactive test plan checklists
  mise.lock
  mise.toml
Due: none
