Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

fix(exec): strengthen cancel/skip emission + test coverage
  src/core/worktree/exec/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(exec): cover never-launched path + align spinner spacing
  src/core/worktree/exec/progress_renderer.rs
  src/output/hook_progress/interactive.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(exec): drop Commands header; emit skips for never-launched targets
  src/core/worktree/exec/list_renderer.rs
  src/core/worktree/exec/mod.rs
  src/core/worktree/exec/progress_renderer.rs
  src/executor/cli_presenter.rs
  src/output/hook_progress/formatting.rs
  src/output/hook_progress/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(exec): cover inline command names + skipped rows
  CHANGELOG.md
  docs/guide/running-commands-across-worktrees.md
  src/core/worktree/exec/list_renderer.rs
  tests/integration/test_worktree_exec.sh
  tests/manual/scenarios/worktree-exec/fail-fast-skipped.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

chore(exec): refresh Cargo.lock after rebase onto lockfile commit
  Cargo.lock
Due: none

feat(exec): replace 'Worktrees' label with scope summary
  src/core/worktree/exec/list_renderer.rs
  src/core/worktree/exec/mod.rs
  src/core/worktree/exec/progress_renderer.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(exec): unset DAFT_TESTING in row-format assertions
  tests/integration/test_worktree_exec.sh
Due: none

ci: add git-worktree-exec to the CI symlink list
  .github/workflows/test.yml
Due: prettier-format

fix(tests): tolerate per-test cleanup races in integration suite
  tests/integration/test_framework.sh
Due: none

fix(tests): tolerate per-test cleanup races in integration suite (#401)
  tests/integration/test_framework.sh
Due: none

fix(shell-init): resolve daft binary live, drop eager path cache
  src/commands/shell_init.rs
  tests/integration/test_shell_init.sh
  tests/manual/scenarios/shell-init/binary-resolution-live.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(shell-init): resolve daft binary live, drop eager path cache (#403)
  src/commands/shell_init.rs
  tests/integration/test_shell_init.sh
  tests/manual/scenarios/shell-init/binary-resolution-live.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(exec): center header, fix stuck timer, brighten command preview
  src/core/worktree/exec/list_renderer.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(exec): center header, fix stuck timer, brighten command preview (#404)
  src/core/worktree/exec/list_renderer.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(ci): skip cargo package verify in release-plz
  release-plz.toml
Due: none

fix(ci): skip cargo package verify in release-plz (#405)
  release-plz.toml
Due: none

revert: drop publish_no_verify in release-plz.toml
  release-plz.toml
Due: none

revert: drop publish_no_verify in release-plz.toml (#406)
  release-plz.toml
Due: none

chore: release v1.8.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  xtask/Cargo.toml
Due: prettier-format

chore: regenerate man pages and CLI docs for new version
  man/daft-adopt.1
  man/daft-carry.1
  man/daft-clone.1
  man/daft-eject.1
  man/daft-exec.1
  man/daft-go.1
  man/daft-init.1
  man/daft-list.1
  man/daft-prune.1
  man/daft-release-notes.1
  man/daft-remove.1
  man/daft-rename.1
  man/daft-shared.1
  man/daft-start.1
  man/daft-sync.1
  man/daft-update.1
  man/git-worktree-branch-delete.1
  man/git-worktree-branch.1
  man/git-worktree-carry.1
  man/git-worktree-checkout.1
  man/git-worktree-clone.1
  man/git-worktree-exec.1
  man/git-worktree-fetch.1
  man/git-worktree-flow-adopt.1
  man/git-worktree-flow-eject.1
  man/git-worktree-init.1
  man/git-worktree-list.1
  man/git-worktree-prune.1
  man/git-worktree-sync.1
Due: none

chore: release v1.8.0 (#407)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  man/daft-adopt.1
  man/daft-carry.1
  man/daft-clone.1
  man/daft-eject.1
  man/daft-exec.1
  man/daft-go.1
  man/daft-init.1
  man/daft-list.1
  man/daft-prune.1
  man/daft-release-notes.1
  man/daft-remove.1
  man/daft-rename.1
  man/daft-shared.1
  man/daft-start.1
  man/daft-sync.1
  man/daft-update.1
  man/git-worktree-branch-delete.1
  man/git-worktree-branch.1
  man/git-worktree-carry.1
  man/git-worktree-checkout.1
  man/git-worktree-clone.1
  man/git-worktree-exec.1
  man/git-worktree-fetch.1
  man/git-worktree-flow-adopt.1
  man/git-worktree-flow-eject.1
  man/git-worktree-init.1
  man/git-worktree-list.1
  man/git-worktree-prune.1
  man/git-worktree-sync.1
  xtask/Cargo.toml
Due: prettier-format

ci: allow manual dispatch of release-plz workflow
  .github/workflows/release-plz.yml
Due: prettier-format

ci: allow manual dispatch of release-plz workflow (#408)
  .github/workflows/release-plz.yml
Due: prettier-format

fix(test): guarantee manual-test sandbox cleanup via Drop
  xtask/src/manual_test/env.rs
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(test): guarantee manual-test sandbox cleanup via Drop (#413)
  xtask/src/manual_test/env.rs
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(exec): resolve user shell aliases and functions
  Cargo.lock
  Cargo.toml
  src/commands/exec.rs
  src/core/worktree/exec/mod.rs
  tests/manual/scenarios/worktree-exec/user-shell-aliases.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

perf(exec): cache user aliases and functions to skip rc-file load
  docs/cli/git-worktree-exec.md
  man/daft-exec.1
  man/git-worktree-exec.1
  src/commands/exec.rs
  src/core/worktree/exec/alias_cache.rs
  src/core/worktree/exec/mod.rs
  src/core/worktree/exec/progress_renderer.rs
  tests/manual/scenarios/worktree-exec/user-shell-aliases.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(exec): resolve user shell aliases and functions (#414)
  Cargo.lock
  Cargo.toml
  docs/cli/git-worktree-exec.md
  man/daft-exec.1
  man/git-worktree-exec.1
  src/commands/exec.rs
  src/core/worktree/exec/alias_cache.rs
  src/core/worktree/exec/mod.rs
  src/core/worktree/exec/progress_renderer.rs
  tests/manual/scenarios/worktree-exec/user-shell-aliases.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(core): add FieldSet bitmask for live-population pipeline (#402)
  src/core/worktree/info_field.rs
  src/core/worktree/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add Phase 1 implementation plan for live list population (#402)
  docs/superpowers/plans/2026-04-25-live-list-population-phase-1-shared-infra.md
Due: prettier-format

docs: add live list population design spec (#402)
  docs/superpowers/specs/2026-04-25-live-list-population-design.md
Due: prettier-format

feat(core): add WorktreeInfoPatch and PatchSource types (#402)
  src/core/worktree/sync_dag.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(core): add SortSpec::required_fields for live re-sort gating (#402)
  src/core/sort.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(plan): correct Task 9 source.clone() — PatchSource is Clone not Copy (#402)
  docs/superpowers/plans/2026-04-25-live-list-population-phase-1-shared-infra.md
Due: prettier-format

feat(core): add WorktreeInfo::apply_patch (#402)
  src/core/worktree/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(core): add WorktreeInfoUpdated and WorktreeInfoCollectionDone events (#402)
  src/core/worktree/sync_dag.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(core): clarify apply_patch returns cluster touched, not value-changed (#402)
  src/core/worktree/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(core): add streaming collector skeleton (#402)
  src/core/worktree/list_stream.rs
  src/core/worktree/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(plan): adapt CollectorContext for !Sync GitCommand and PatchSource Clone (#402)
  docs/superpowers/plans/2026-04-25-live-list-population-phase-1-shared-infra.md
Due: prettier-format

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
