Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

fix(install): inject interactivity so the git-exclude offer can't hang unit tests
  src/commands/install.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(clone): add --install to bootstrap daft.yml in the new worktree(s)
  docs/cli/git-worktree-clone.md
  man/daft-clone.1
  man/git-worktree-clone.1
  src/commands/clone.rs
  src/commands/install.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(visitor): don't rewrite the merge target when removing an unchanged worktree
  src/core/worktree/branch_delete.rs
  tests/manual/scenarios/branch-delete/remove-unchanged-visitor-worktree.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(skill): document clone --install / --git-exclude for agents
  SKILL.md
Due: prettier-format

fix(config): serialize daft.yml sparsely (skip None fields, no null litter)
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_loader.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(visitor): link shared files after propagating visitor daft.yml
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  tests/manual/scenarios/shared/link-on-create-visitor-config.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(visitor): propagate visitor config when starting from the container root
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  tests/manual/scenarios/visitor-propagation/propagate-from-container-root.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(install): make daft install repo-aware and guide on existing config
  docs/cli/daft-install.md
  docs/cli/git-daft-repo-install.md
  man/daft-install.1
  man/git-daft-repo-install.1
  src/commands/install.rs
  src/commands/repo/install.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor(core): add repo-aware WorktreePosition resolver
  src/core/repo.rs
  src/core/worktree/checkout_branch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(doctor): report daft.yml config status consistently as a repo check
  src/commands/doctor.rs
  src/doctor/hooks_checks.rs
  src/doctor/repository.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(install,doctor): cover repo-aware install and consistent config reporting
  tests/manual/scenarios/doctor/config-tracked-consistent.yml
  tests/manual/scenarios/doctor/config-visitor-consistent.yml
  tests/manual/scenarios/install/guide-existing-tracked.yml
  tests/manual/scenarios/install/refuse-at-container-root.yml
  tests/manual/scenarios/install/refuse-on-existing.yml
  tests/manual/scenarios/install/refuse-outside-repo.yml
  tests/manual/scenarios/install/writes-to-worktree-root-from-subdir.yml
  tests/manual/scenarios/repo/install-refuse-on-existing.yml
Due: prettier-format

docs(skill): document repo-aware install and doctor config check
  SKILL.md
Due: prettier-format

fix(install): install across worktrees at the container root; clean up copy
  docs/cli/daft-install.md
  docs/cli/git-daft-repo-install.md
  man/daft-install.1
  man/git-daft-repo-install.1
  src/commands/clone.rs
  src/commands/install.rs
  src/commands/repo/install.rs
  tests/manual/scenarios/install/refuse-at-container-root.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(doctor): drop nested parens from the Config check message
  src/doctor/repository.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(install,doctor): cover container-root install and updated config copy
  tests/manual/scenarios/doctor/config-tracked-consistent.yml
  tests/manual/scenarios/doctor/config-visitor-consistent.yml
  tests/manual/scenarios/install/at-container-root-installs-across-worktrees.yml
  tests/manual/scenarios/install/at-container-root-skips-when-configured.yml
Due: prettier-format

docs: install is repo-aware at the container root, not a refusal
  SKILL.md
  docs/recipes/visitor-adoption.md
Due: prettier-format

test: add characterization coverage before the consolidation refactor
  tests/integration/test_daft_merge_visitor_rollback.sh
  tests/manual/scenarios/doctor/container-root-representative-fallback-local-only.yml
  tests/manual/scenarios/doctor/container-root-representative-is-default-branch.yml
  tests/manual/scenarios/doctor/worktree-enumeration.yml
  tests/manual/scenarios/file-merge/preserves-nonhook-fields.yml
  tests/manual/scenarios/hooks/local-overlay-merges-at-load.yml
  tests/manual/scenarios/install/at-container-root-skips-sibling-with-existing-config.yml
  tests/manual/scenarios/layout/transform-detached-worktree-skipped.yml
  tests/manual/scenarios/list/detached-head.yml
  tests/manual/scenarios/prune/cd-default-branch-not-first.yml
  tests/manual/scenarios/rename/detached-head-by-path.yml
  tests/manual/scenarios/repo/remove-with-detached-worktree.yml
Due: prettier-format

refactor(remote): unify local default-branch resolution
  src/commands/list.rs
  src/core/remote.rs
  src/core/repo.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(hooks): extract pure config-merge core into config_merge module
  src/commands/file/merge.rs
  src/hooks/config_merge.rs
  src/hooks/job_adapter.rs
  src/hooks/mod.rs
  src/hooks/visitor_propagation.rs
  src/hooks/yaml_config_loader.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(install): lift mechanical install core into src/core/install
  src/commands/clone.rs
  src/commands/install.rs
  src/commands/repo/install.rs
  src/core/install/mod.rs
  src/core/install/starter.yml
  src/core/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor(worktree): add shared porcelain parser (core::worktree::porcelain)
  src/core/worktree/mod.rs
  src/core/worktree/porcelain.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(worktree): delegate I/O-facade porcelain parsers to the shared core
  src/core/layout/transform/legacy.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/prune.rs
  src/core/worktree/rename.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(layout): make detect's worktree parser a view over the shared core
  src/core/layout/detect.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(worktree): route every porcelain consumer through the shared parser
  src/commands/layout.rs
  src/commands/list_live.rs
  src/commands/multi_remote.rs
  src/core/layout/transform/execute.rs
  src/core/layout/transform/state.rs
  src/core/multi_remote/migration.rs
  src/core/repo.rs
  src/core/shared.rs
  src/core/worktree/checkout.rs
  src/core/worktree/fetch.rs
  src/core/worktree/list.rs
  src/core/worktree/merge.rs
  src/core/worktree/porcelain.rs
  src/core/worktree/remove_repo.rs
  src/doctor/repository.rs
  src/git/worktree.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(suggest): update stale unknown-command fixtures for setup→activate rename
  tests/integration/test_unknown_command.sh
  tests/manual/scenarios/unknown-command/suggestion.yml
Due: prettier-format

test(integration): build release xtask before the matrix so runner-output runs
  mise-tasks/test/integration/_default
  mise-tasks/test/integration/_release_bin_lib.sh
  mise-tasks/test/integration/gitoxide
  mise-tasks/test/integration/matrix
Due: none

fix(ci): avoid broken pipe in MSRV staleness version fetch
  .github/workflows/msrv-staleness-check.yml
Due: prettier-format

chore(ci): write MSRV channel scratch file to $RUNNER_TEMP
  .github/workflows/msrv-staleness-check.yml
Due: prettier-format

fix(ci): avoid broken pipe in MSRV staleness version fetch (#607)
  .github/workflows/msrv-staleness-check.yml
Due: prettier-format

docs(brand): seed reference assets for #467 visual rebrand
  docs/public/brand/reference/daft-logo-dodo-donut.png
  docs/public/brand/reference/daft-logo-reference.png
  docs/public/brand/reference/daft-rebranding-brief.md
Due: prettier-format

chore: bump MSRV 1.93 → 1.94
  .github/dependabot.yml
  .github/workflows/test.yml
  CLAUDE.md
  Cargo.toml
  README.md
  docs/getting-started/installation.md
  mise.lock
  mise.toml
  term-styles/Cargo.toml
Due: prettier-format

chore: track term-styles in MSRV staleness-check issue template
  .github/workflows/msrv-staleness-check.yml
Due: prettier-format

chore: bump MSRV 1.93 → 1.94 (#610)
  .github/dependabot.yml
  .github/workflows/msrv-staleness-check.yml
  .github/workflows/test.yml
  CLAUDE.md
  Cargo.toml
  README.md
  docs/getting-started/installation.md
  mise.lock
  mise.toml
  term-styles/Cargo.toml
Due: prettier-format

fix(ci): ensure release build toolchain meets MSRV on every runner
  .github/workflows/release.yml
Due: prettier-format

fix(ci): ensure release build toolchain meets MSRV on every runner (#614)
  .github/workflows/release.yml
Due: prettier-format

feat(hooks): add DAG-aware --skip-hooks flag, replace --no-hooks
  docs/cli/git-worktree-checkout.md
  docs/cli/git-worktree-clone.md
  docs/cli/git-worktree-flow-adopt.md
  man/daft-adopt.1
  man/daft-clone.1
  man/daft-go.1
  man/daft-start.1
  man/git-worktree-checkout.1
  man/git-worktree-clone.1
  man/git-worktree-flow-adopt.1
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/flow_adopt.rs
  src/commands/hooks/run_cmd.rs
  src/core/worktree/flow_adopt.rs
  src/hooks/job_adapter.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(hooks): document --skip-hooks; add cascade scenario; update tests
  SKILL.md
  docs/hooks/job-orchestration.md
  tests/integration/test_hooks.sh
  tests/manual/scenarios/hooks/flags-exclusive.yml
  tests/manual/scenarios/hooks/no-hooks-flag.yml
  tests/manual/scenarios/hooks/skip-hooks-cascade.yml
Due: prettier-format

feat(hooks): support hook-type names as --skip-hooks selectors
  SKILL.md
  docs/cli/git-worktree-checkout.md
  docs/cli/git-worktree-clone.md
  docs/cli/git-worktree-flow-adopt.md
  docs/hooks/job-orchestration.md
  man/daft-adopt.1
  man/daft-clone.1
  man/daft-go.1
  man/daft-start.1
  man/git-worktree-checkout.1
  man/git-worktree-clone.1
  man/git-worktree-flow-adopt.1
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/flow_adopt.rs
  src/hooks/job_adapter.rs
  src/hooks/yaml_executor/mod.rs
  tests/manual/scenarios/hooks/skip-hooks-by-hook-name.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs(cli): list --skip-hooks on the daft go/start alias pages
  docs/cli/daft-go.md
  docs/cli/daft-start.md
Due: prettier-format
