Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

chore: harden fresh-clone mise bootstrap (#602)
  daft.yml
  mise.lock
  mise.toml
Due: prettier-format

ci: add area:* PR auto-labeler, label taxonomy, and docs
  .github/labeler.yml
  .github/workflows/labeler.yml
  CLAUDE.md
  docs/about/contributing.md
Due: prettier-format

ci: address review feedback on labeler zones
  .github/labeler.yml
  .github/workflows/labeler.yml
  CLAUDE.md
Due: prettier-format

ci: add area:* PR auto-labeler, label taxonomy, and docs (#603)
  .github/labeler.yml
  .github/workflows/labeler.yml
  CLAUDE.md
  docs/about/contributing.md
Due: prettier-format

docs: visitor configuration spec and implementation plan (#335)
  docs/superpowers/plans/2026-05-15-visitor-config.md
  docs/superpowers/specs/2026-05-15-visitor-config-design.md
Due: prettier-format

fix(config): route find_local_config deprecation warning through log_warning macro
  src/hooks/yaml_config_loader.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(config): support daft.local.yml as preferred local override name
  src/hooks/yaml_config_loader.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(install): route daft install through the multicall binary
  docs/cli/daft-install.md
  man/daft-install.1
  man/daft.1
  src/commands/docs.rs
  src/commands/install.rs
  src/main.rs
  src/suggest.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(file): scaffold daft file bucket and implement daft file merge
  src/commands/file/merge.rs
  src/commands/file/mod.rs
  src/commands/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(install): scaffold daft install command
  src/commands/install.rs
  src/commands/install/starter.yml
  src/commands/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(config): pin classify_main_config behavior for gitignored daft.yml
  src/hooks/yaml_config_loader.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(config): add classify_main_config helper for visitor classification
  src/hooks/yaml_config_loader.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(install): register daft install in shell completions
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(install): yaml manual scenarios for daft install
  tests/manual/scenarios/install/basic.yml
  tests/manual/scenarios/install/refuse-on-existing.yml
Due: prettier-format

test(visitor): fix propagation tests to use --no-carry and strengthen tracked assertion
  tests/integration/test_visitor_propagation.sh
Due: none

feat(visitor): add propagation helper for in-scope untracked daft files
  src/hooks/mod.rs
  src/hooks/visitor_propagation.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(visitor): atomic propagation around daft merge with rollback
  src/commands/merge.rs
  tests/integration/test_all.sh
  tests/integration/test_daft_merge_visitor_rollback.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(visitor): atomic propagation helper + audit comment + checkout wiring
  src/core/worktree/checkout.rs
  src/core/worktree/checkout_branch.rs
  src/hooks/visitor_propagation.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(file): conservative-default is_target_untracked when git can't answer
  src/commands/file/merge.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: add YAML manual scenarios for daft file merge (Task 3.4)
  tests/manual/scenarios/file-merge/collapsed-form.yml
  tests/manual/scenarios/file-merge/explicit-form.yml
  tests/manual/scenarios/file-merge/keep-source.yml
  tests/manual/scenarios/file-merge/source-wins.yml
Due: prettier-format

feat(visitor): propagate untracked daft files on worktree-checkout-branch
  src/core/worktree/checkout_branch.rs
  tests/integration/test_all.sh
  tests/integration/test_visitor_propagation.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: route daft file through the multicall binary (Task 3.3)
  man/daft-file.1
  man/daft.1
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  src/commands/file/merge.rs
  src/main.rs
  src/suggest.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(visitor): strip inherited GIT_* env when querying git in visitor classifiers
  src/commands/file/merge.rs
  src/doctor/hooks_checks.rs
  src/hooks/yaml_config_loader.rs
  src/utils.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: visitor configuration glossary, faq, recipe, and skill update
  SKILL.md
  docs/about/faq.md
  docs/about/glossary.md
  docs/recipes/visitor-adoption.md
Due: prettier-format

fix(visitor): pre-flight clean-target check before propagate_atomic in daft merge
  src/commands/merge.rs
  tests/integration/test_daft_merge_visitor_rollback.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(doctor): visitor classification, local-smell, deprecated-alias checks
  src/commands/doctor.rs
  src/doctor/hooks_checks.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(visitor): remote-merge propagation gate + divergence helper
  src/core/worktree/branch_delete.rs
  src/hooks/visitor_propagation.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(cli): add auto-generated reference page for daft file
  docs/cli/daft-file.md
Due: prettier-format

feat(visitor): refuse worktree removal when untracked daft files diverged
  src/core/worktree/branch_delete.rs
  src/core/worktree/prune.rs
  tests/manual/scenarios/visitor-propagation/refuse-remove-on-divergence.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(install): rewrite starter daft.yml to cover tracked + visitor modes
  src/commands/install/starter.yml
Due: prettier-format

docs(man): regenerate daft-install man page for current crate version
  man/daft-install.1
Due: none

refactor!: rename daft setup to daft activate
  .github/workflows/release.yml
  Cargo.toml
  HOMEBREW.md
  README.md
  SKILL.md
  docs/.vitepress/config.ts
  docs/about/contributing.md
  docs/cli/daft-activate.md
  docs/cli/daft-completions.md
  docs/cli/daft-shell-init.md
  docs/cli/daft-shortcuts.md
  docs/recipes/walkthroughs/github-actions.md
  docs/worktrees/shortcuts.md
  man/daft-activate.1
  man/daft-shortcuts.1
  man/daft.1
  mise-tasks/bench/tests/integration/activate
  mise-tasks/bench/tests/integration/setup
  mise-tasks/sandbox/activate
  mise-tasks/test/integration/activate
  mise-tasks/test/integration/setup
  src/commands/activate.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  src/commands/mod.rs
  src/commands/repo/remove.rs
  src/commands/shortcuts.rs
  src/doctor/installation.rs
  src/hints.rs
  src/main.rs
  src/shortcuts.rs
  src/suggest.rs
  tests/integration/test_activate.sh
  tests/manual/scenarios/activate/dry-run.yml
  tests/manual/scenarios/activate/help.yml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test: silence git subprocess noise leaking into mise run test:unit logs
  CLAUDE.md
  src/commands/repo/remove.rs
  src/coordinator/process.rs
  src/core/worktree/branch_delete.rs
  src/core/worktree/list_stream.rs
  src/core/worktree/merge.rs
  src/core/worktree/merge_set_default.rs
  src/core/worktree/remove_repo.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(install): offer to exclude daft.yml after bootstrap so visitor configs stay private
  SKILL.md
  docs/cli/daft-install.md
  docs/cli/daft-repo-install.md
  docs/cli/git-daft-repo-install.md
  man/daft-install.1
  man/git-daft-repo-install.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/install.rs
  src/commands/repo/install.rs
  tests/manual/scenarios/install/git-exclude-noninteractive-hint.yml
  tests/manual/scenarios/repo/install-git-exclude.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test: stop daft exec renderer and spinner from leaking output into unit-test logs
  src/core/worktree/exec/progress_renderer.rs
  src/output/cli.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add `daft repo install` as canonical daft.yml bootstrap, keep `daft install` as alias
  SKILL.md
  docs/.vitepress/config.ts
  docs/cli/daft-repo-install.md
  docs/cli/git-daft-repo-install.md
  man/git-daft-repo-install.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  src/commands/install.rs
  src/commands/repo/install.rs
  src/commands/repo/mod.rs
  src/suggest.rs
  tests/manual/scenarios/install/honors-cwd-flag.yml
  tests/manual/scenarios/repo/install-basic.yml
  tests/manual/scenarios/repo/install-refuse-on-existing.yml
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(visitor): copy daft.yml verbatim on checkout; compare configs semantically when removing
  src/hooks/visitor_propagation.rs
  tests/manual/scenarios/branch-delete/remove-unchanged-visitor-worktree.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(config): stop merge_configs/merge_hook_defs silently dropping fields
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_loader.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(clone): make --install imply --trust-hooks
  docs/cli/git-worktree-clone.md
  man/daft-clone.1
  man/git-worktree-clone.1
  src/commands/clone.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(clone): YAML scenarios for --install, and copy daft.yml byte-for-byte to siblings
  src/commands/clone.rs
  tests/manual/scenarios/clone/install-all-branches.yml
  tests/manual/scenarios/clone/install-basic.yml
  tests/manual/scenarios/clone/install-git-exclude.yml
  tests/manual/scenarios/clone/install-no-checkout-rejected.yml
  tests/manual/scenarios/clone/install-skips-committed-baseline.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format
