Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

feat(shared): Esc navigates to footer, clamp preview scroll, detailed sync summary
  src/commands/shared.rs
  src/output/tui/collect_picker/input.rs
  src/output/tui/collect_picker/render.rs
  src/output/tui/collect_picker/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared): add TabBar focus for stub tabs in collect picker
  src/output/tui/collect_picker/input.rs
  src/output/tui/collect_picker/render.rs
  src/output/tui/collect_picker/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style(shared): restyle help legend in collect picker footer
  src/output/tui/collect_picker/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared): show all worktrees, smart materialization via deep compare
  src/commands/shared.rs
  src/core/shared.rs
  src/output/tui/collect_picker/render.rs
  src/output/tui/collect_picker/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared): cursor skips non-file worktrees, color distinction
  src/output/tui/collect_picker/render.rs
  src/output/tui/collect_picker/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared): add PgUp/PgDn and scrollbar to preview pane
  src/output/tui/collect_picker/input.rs
  src/output/tui/collect_picker/render.rs
  src/output/tui/collect_picker/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(shared): review fixes — deep compare errors, scroll reset, panic hook, unicode
  src/commands/shared.rs
  src/core/shared.rs
  src/output/tui/collect_picker/mod.rs
  src/output/tui/collect_picker/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: interactive sync for declared-but-uncollected shared files (#343)
  CLAUDE.md
  Cargo.toml
  docs/superpowers/plans/2026-03-28-sync-declared-collect.md
  src/commands/shared.rs
  src/core/shared.rs
  src/output/tui/collect_picker/highlight.rs
  src/output/tui/collect_picker/input.rs
  src/output/tui/collect_picker/mod.rs
  src/output/tui/collect_picker/render.rs
  src/output/tui/collect_picker/state.rs
  src/output/tui/mod.rs
  tests/manual/scenarios/shared/sync-collect-materialize.yml
  tests/manual/scenarios/shared/sync-collect-sibling.yml
  tests/manual/scenarios/shared/sync-collect.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs: add shared manage TUI design spec
  docs/superpowers/specs/2026-03-28-shared-manage-design.md
Due: prettier-format

docs: add Plan 1 — trait abstraction refactoring plan
  docs/superpowers/plans/2026-03-28-shared-manage-plan-1-trait-abstraction.md
Due: prettier-format

refactor(shared): extract PickerMode trait from collect picker
  src/commands/shared.rs
  src/output/tui/collect_picker/input.rs
  src/output/tui/collect_picker/mod.rs
  src/output/tui/mod.rs
  src/output/tui/shared_picker/collect_mode.rs
  src/output/tui/shared_picker/dialog.rs
  src/output/tui/shared_picker/highlight.rs
  src/output/tui/shared_picker/input.rs
  src/output/tui/shared_picker/mod.rs
  src/output/tui/shared_picker/render.rs
  src/output/tui/shared_picker/shell.rs
  src/output/tui/shared_picker/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add Plan 2 — manager core implementation plan
  docs/superpowers/plans/2026-03-28-shared-manage-plan-2-manager-core.md
Due: prettier-format

feat(shared): add manage TUI for shared file state across worktrees
  docs/cli/daft-shared.md
  man/daft-shared.1
  src/commands/shared.rs
  src/core/shared.rs
  src/output/tui/shared_picker/collect_mode.rs
  src/output/tui/shared_picker/manage_mode.rs
  src/output/tui/shared_picker/mod.rs
  src/output/tui/shared_picker/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(shared): add manage subcommand integration test
  tests/manual/scenarios/shared/manage-basic.yml
Due: prettier-format

feat(shared): add diff mode to manage TUI for cross-worktree comparison
  Cargo.toml
  src/output/tui/shared_picker/input.rs
  src/output/tui/shared_picker/manage_mode.rs
  src/output/tui/shared_picker/mod.rs
  src/output/tui/shared_picker/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared): add remove modal to manage TUI
  src/output/tui/shared_picker/manage_mode.rs
  src/output/tui/shared_picker/mod.rs
  src/output/tui/shared_picker/remove_modal.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared): add file modal to manage TUI
  src/commands/shared.rs
  src/output/tui/shared_picker/add_modal.rs
  src/output/tui/shared_picker/manage_mode.rs
  src/output/tui/shared_picker/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(shared): allow manage with no shared files, add completions
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/shared.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared): add persistent + tab in manage TUI for adding files
  src/output/tui/shared_picker/collect_mode.rs
  src/output/tui/shared_picker/input.rs
  src/output/tui/shared_picker/manage_mode.rs
  src/output/tui/shared_picker/mod.rs
  src/output/tui/shared_picker/render.rs
  src/output/tui/shared_picker/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(shared): fix virtual + tab focus and navigation in empty state
  src/output/tui/shared_picker/input.rs
  src/output/tui/shared_picker/manage_mode.rs
  src/output/tui/shared_picker/mod.rs
  src/output/tui/shared_picker/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared): overhaul add modal with fuzzy search, deep compare, and UI fixes
  Cargo.toml
  src/core/shared.rs
  src/output/tui/shared_picker/add_modal.rs
  src/output/tui/shared_picker/collect_mode.rs
  src/output/tui/shared_picker/manage_mode.rs
  src/output/tui/shared_picker/remove_modal.rs
  src/output/tui/shared_picker/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(shared): restore worktree list focus after add/remove/declare
  src/output/tui/shared_picker/manage_mode.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared): support Shift+Tab to toggle panels in picker TUI
  src/output/tui/shared_picker/input.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf(shared): lazy match indices and density-weighted search ranking
  src/output/tui/shared_picker/add_modal.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add inline file editor design spec
  docs/superpowers/specs/2026-03-28-inline-file-editor-design.md
Due: prettier-format

feat(shared): add inline file editor to manage TUI preview pane
  Cargo.toml
  docs/superpowers/plans/2026-03-28-inline-file-editor.md
  src/output/tui/shared_picker/editor.rs
  src/output/tui/shared_picker/input.rs
  src/output/tui/shared_picker/manage_mode.rs
  src/output/tui/shared_picker/mod.rs
  src/output/tui/shared_picker/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(shared): fix editor syntax highlighting, line numbers, and frame
  src/output/tui/shared_picker/editor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared): switch editor to simple mode, style line numbers
  src/output/tui/shared_picker/editor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared): add line numbers to preview pane
  src/output/tui/shared_picker/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style(shared): add leading spacer to editor line numbers
  src/output/tui/shared_picker/editor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(shared): match editor spacer background to gutter color
  src/output/tui/shared_picker/editor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

revert(shared): remove leading spacer from editor and preview line numbers
  src/output/tui/shared_picker/editor.rs
  src/output/tui/shared_picker/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(shared): filter key events to Press only in editor
  src/output/tui/shared_picker/editor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(shared): start editor in Insert mode for emacs keybindings
  src/output/tui/shared_picker/editor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(shared): merge editor header into frame title, skip unchanged saves
  src/output/tui/shared_picker/editor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style(shared): right-align status tags in worktree list
  src/output/tui/shared_picker/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(shared): fix status tag alignment using char count instead of byte len
  src/output/tui/shared_picker/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style(shared): add right margin to status tags in worktree list
  src/output/tui/shared_picker/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(shared): use fixed info row instead of expanding warning layout
  src/output/tui/shared_picker/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(shared): include worktree name in status change messages
  src/output/tui/shared_picker/manage_mode.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs
