Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

feat(list): add two-section layout with ownership divider
  src/commands/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(tui): add section boundary tracking to TuiState
  src/commands/prune.rs
  src/commands/sync.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(tui): render section divider between owned and unowned branches
  src/output/tui/driver.rs
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(core): add temp worktree module with cleanup guard
  src/core/worktree/mod.rs
  src/core/worktree/temp_worktree.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(list): remove ownership divider from list command
  src/commands/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: add YAML scenarios for ownership, local branches, and temp worktrees
  src/commands/sync.rs
  src/core/worktree/rebase.rs
  tests/manual/scenarios/list/owner-column.yml
  tests/manual/scenarios/prune/local-branch-visible.yml
  tests/manual/scenarios/sync/include-unowned.yml
  tests/manual/scenarios/sync/ownership-rebase-push.yml
  tests/manual/scenarios/sync/temp-worktree-rebase.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(tui): change divider to italic "Not included", sort default branch first
  src/commands/sync.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: update CLI reference for ownership and --include
  SKILL.md
  docs/cli/daft-list.md
  docs/cli/daft-sync.md
Due: prettier-format

feat(sync): use temp worktrees for local-only branch rebase
  src/commands/sync.rs
  src/core/worktree/sync_dag.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sandbox): add show-test command and fix setup-test shell env
  mise-tasks/sandbox/_default
  xtask/src/main.rs
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sandbox): add show-test command with completions
  mise-tasks/sandbox/_default
Due: none

feat: branch ownership, local branch sync, and --include flag (#312)
  SKILL.md
  docs/cli/daft-list.md
  docs/cli/daft-sync.md
  docs/cli/git-worktree-sync.md
  docs/superpowers/plans/2026-03-15-branch-ownership-and-local-branch-sync.md
  docs/superpowers/specs/2026-03-15-branch-ownership-and-local-branch-sync-design.md
  man/daft-sync.1
  man/git-worktree-sync.1
  mise-tasks/sandbox/_default
  src/commands/list.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/columns.rs
  src/core/worktree/list.rs
  src/core/worktree/mod.rs
  src/core/worktree/rebase.rs
  src/core/worktree/sync_dag.rs
  src/core/worktree/temp_worktree.rs
  src/output/format.rs
  src/output/tui/columns.rs
  src/output/tui/driver.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
  tests/manual/scenarios/list/owner-column.yml
  tests/manual/scenarios/prune/local-branch-visible.yml
  tests/manual/scenarios/sync/include-unowned.yml
  tests/manual/scenarios/sync/ownership-rebase-push.yml
  tests/manual/scenarios/sync/temp-worktree-rebase.yml
  xtask/src/main.rs
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(sandbox): reset ZDOTDIR in setup-test to prevent shell contamination
  mise-tasks/sandbox/_default
Due: none

fix(sync): clean stale lock files before aborting failed rebase
  src/core/worktree/checkout.rs
  src/core/worktree/rebase.rs
  tests/manual/scenarios/sync/rebase-conflict-lock-cleanup.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(go): navigate to worktrees in detached HEAD state
  src/core/worktree/checkout.rs
  tests/manual/scenarios/checkout/detached-head-worktree.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: navigate to detached HEAD worktrees and clean rebase lock files (#313)
  src/core/worktree/checkout.rs
  src/core/worktree/rebase.rs
  tests/manual/scenarios/checkout/detached-head-worktree.yml
  tests/manual/scenarios/sync/rebase-conflict-lock-cleanup.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: add optional size column with summary footer for list/sync/prune
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/list.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/columns.rs
  src/core/worktree/list.rs
  src/output/format.rs
  src/output/tui/columns.rs
  src/output/tui/driver.rs
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs: update SKILL.md with size column details
  SKILL.md
Due: prettier-format

fix: exclude pruned worktrees from size summary in TUI
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add optional size column with summary footer (#315)
  SKILL.md
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/list.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/columns.rs
  src/core/worktree/list.rs
  src/output/format.rs
  src/output/tui/columns.rs
  src/output/tui/driver.rs
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: add --sort flag to list, prune, and sync commands
  SKILL.md
  docs/cli/daft-list.md
  docs/cli/daft-prune.md
  docs/cli/daft-sync.md
  docs/cli/git-worktree-list.md
  docs/cli/git-worktree-prune.md
  docs/cli/git-worktree-sync.md
  docs/guide/configuration.md
  man/daft-list.1
  man/daft-prune.1
  man/daft-sync.1
  man/git-worktree-list.1
  man/git-worktree-prune.1
  man/git-worktree-sync.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/list.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/mod.rs
  src/core/settings.rs
  src/core/sort.rs
  src/core/worktree/list.rs
  src/output/tui/columns.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: extend activity sort to consider uncommitted file changes
  SKILL.md
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/list.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/sort.rs
  src/core/worktree/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

style: add brightness gradient to sort direction indicators
  src/commands/list.rs
  src/core/sort.rs
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style: rename Last Commit column header to Commit
  src/commands/list.rs
  src/output/tui/columns.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: make base, changes, and remote columns sortable
  docs/cli/git-worktree-list.md
  docs/cli/git-worktree-prune.md
  docs/cli/git-worktree-sync.md
  man/daft-list.1
  man/daft-prune.1
  man/daft-sync.1
  man/git-worktree-list.1
  man/git-worktree-prune.1
  man/git-worktree-sync.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/list.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/sort.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: show "Sorted by" summary line when headers are insufficient
  src/commands/list.rs
  src/core/sort.rs
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style: add spacer line below "Sorted by" summary
  src/commands/list.rs
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add --sort flag to list, prune, and sync commands (#317)
  SKILL.md
  docs/cli/daft-list.md
  docs/cli/daft-prune.md
  docs/cli/daft-sync.md
  docs/cli/git-worktree-list.md
  docs/cli/git-worktree-prune.md
  docs/cli/git-worktree-sync.md
  docs/guide/configuration.md
  man/daft-list.1
  man/daft-prune.1
  man/daft-sync.1
  man/git-worktree-list.1
  man/git-worktree-prune.1
  man/git-worktree-sync.1
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
  src/commands/list.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/mod.rs
  src/core/settings.rs
  src/core/sort.rs
  src/core/worktree/list.rs
  src/output/tui/columns.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs: add design spec for hash column and gitoxide commit metadata
  docs/superpowers/specs/2026-03-22-hash-column-and-gitoxide-commit-metadata-design.md
Due: prettier-format

docs: fix spec accuracy per review feedback
  docs/superpowers/specs/2026-03-22-hash-column-and-gitoxide-commit-metadata-design.md
Due: prettier-format

feat: add last_commit_hash to WorktreeInfo and commit info functions
  src/core/worktree/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add implementation plan for hash column and gitoxide commit metadata
  docs/superpowers/plans/2026-03-22-hash-column-and-gitoxide-commit-metadata.md
Due: prettier-format

feat: add Hash variant to ListColumn enum
  src/commands/list.rs
  src/core/columns.rs
  src/output/tui/columns.rs
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: tighten parsing fallback in commit info functions
  src/core/worktree/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add gitoxide fast path for commit metadata retrieval
  src/commands/sync.rs
  src/core/worktree/list.rs
  src/git/oxide.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add hash column to CLI table and TUI rendering
  src/commands/list.rs
  src/output/format.rs
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add Hash variant to SortColumn enum
  src/core/sort.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: add hash to shell completion definitions
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: add YAML manual test scenario for hash column
  mise-tasks/setup/rust
  tests/manual/scenarios/list/hash-column.yml
Due: prettier-format

docs: update help text and man pages for hash column
  docs/cli/git-worktree-list.md
  docs/cli/git-worktree-prune.md
  docs/cli/git-worktree-sync.md
  man/daft-list.1
  man/daft-prune.1
  man/daft-sync.1
  man/git-worktree-list.1
  man/git-worktree-prune.1
  man/git-worktree-sync.1
  src/commands/list.rs
  src/commands/prune.rs
  src/commands/sync.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
