Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

fix(prompt): make single_key_select non-blocking under cfg(test)
  src/core/progress.rs
  src/prompt.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(catalog): stop catalog read errors from hanging or hard-failing
  src/catalog/fleet.rs
  src/catalog/normalize.rs
  src/catalog/relations.rs
  src/catalog/service.rs
  src/commands/exec.rs
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(repo): keep repo list structured fields under a modifier --columns
  src/commands/repo/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(repo): make repo add --name all-or-nothing, and cover it
  src/commands/repo/add.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): scope the jobs current-worktree marker to the addressed repo
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(exec): resolve --repo default branch via the catalog like its siblings
  src/commands/exec.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(catalog): don't fail a fleet sweep when the action deletes the cwd
  src/catalog/fleet.rs
  tests/manual/scenarios/prune/fleet-from-pruned-cwd.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor(catalog): reuse one writer handle when tombstoning a repo
  src/catalog/registration.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(list): reject --all-repos with structured output instead of corrupting it
  src/commands/list.rs
  tests/manual/scenarios/list/fleet-repos.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(checkout): base --with-related branches on the related repo's default branch
  src/commands/checkout.rs
  tests/manual/scenarios/checkout-branch/start-with-related-default-base.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(prune): fix the C6 fleet-pruned-cwd scenario's fixture branch
  src/commands/shell_init.rs
  tests/manual/scenarios/prune/fleet-from-pruned-cwd.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(completions): narrow the prune no-branch assertion off the generic __complete marker
  tests/integration/test_completions.sh
Due: none

test(catalog): isolate DAFT_DATA_DIR in the bash integration harness
  tests/integration/test_framework.sh
Due: none

test: real-state tripwire + __dirs preflight to enforce suite isolation
  CLAUDE.md
  Cargo.lock
  mise-tasks/test/_state_guard_lib.sh
  mise-tasks/test/integration/_default
  mise-tasks/test/manual/_default
  mise-tasks/test/unit
  src/main.rs
  xtask/Cargo.toml
  xtask/src/main.rs
  xtask/src/real_state_guard.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test: lock catalog path to DAFT_DATA_DIR and isolate leaking hook/seed tests
  src/commands/install.rs
  src/core/worktree/branch_delete.rs
  src/store/paths.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: real-state tripwire + fix repo-catalog/state test-isolation leaks (#698)
  CLAUDE.md
  Cargo.lock
  mise-tasks/test/_state_guard_lib.sh
  mise-tasks/test/integration/_default
  mise-tasks/test/manual/_default
  mise-tasks/test/unit
  src/commands/install.rs
  src/core/worktree/branch_delete.rs
  src/main.rs
  src/store/paths.rs
  xtask/Cargo.toml
  xtask/src/main.rs
  xtask/src/real_state_guard.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix: atomic, lock-serialized trust/repo registry writes
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/flow_adopt.rs
  src/commands/flow_eject.rs
  src/commands/hooks/trust.rs
  src/commands/init.rs
  src/commands/layout.rs
  src/core/worktree/clone.rs
  src/core/worktree/remove_repo.rs
  src/hooks/executor.rs
  src/hooks/trust.rs
  src/trust_prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: address code-review findings on registry atomic writes
  src/commands/hooks/trust.rs
  src/hooks/trust.rs
  src/trust_prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: atomic, lock-serialized trust/repo registry writes (#703)
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/flow_adopt.rs
  src/commands/flow_eject.rs
  src/commands/hooks/trust.rs
  src/commands/init.rs
  src/commands/layout.rs
  src/core/worktree/clone.rs
  src/core/worktree/remove_repo.rs
  src/hooks/executor.rs
  src/hooks/trust.rs
  src/trust_prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(exec): presenter + scheduler seams for the rail path
  src/core/worktree/exec/mod.rs
  src/core/worktree/exec/progress_renderer.rs
  src/executor/presenter.rs
  src/output/timeline/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(output): plan-ordered receipts for out-of-order resolution
  src/output/timeline/mod.rs
  src/output/timeline/region.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(output): extract shared thread_block from rail_hook
  src/output/timeline/mod.rs
  src/output/timeline/rail_hook.rs
  src/output/timeline/thread_block.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(output): rail vocabulary for exec — ExecCommand stage + ⊘ cancelled face
  src/core/stage.rs
  src/output/timeline/mod.rs
  src/output/timeline/plan.rs
  src/output/timeline/region.rs
  src/output/timeline/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(exec): sanitize child output and flatten command labels on the rail
  src/commands/exec.rs
  src/core/worktree/exec/rail_presenter.rs
  src/output/timeline/mod.rs
  src/output/timeline/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(exec): render multi-worktree runs on the plan-then-execute rail
  SKILL.md
  docs/cli/git-worktree-exec.md
  docs/reference/configuration.md
  docs/reference/progress-timeline.md
  man/daft-exec.1
  man/git-worktree-exec.1
  src/commands/exec.rs
  src/core/worktree/exec/list_renderer.rs
  src/core/worktree/exec/mod.rs
  src/core/worktree/exec/progress_renderer.rs
  src/core/worktree/exec/rail_presenter.rs
  src/interrupt.rs
  test-plans/exec-rail-output.md
  tests/manual/scenarios/worktree-exec/show-output-success-dump.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(output): per-row output threads for exec rails
  src/output/timeline/mod.rs
  src/output/timeline/rail_hook.rs
  src/output/timeline/region.rs
  src/output/timeline/thread_block.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(exec): render the rail for a fan-out that resolves to one worktree
  docs/cli/git-worktree-exec.md
  docs/reference/progress-timeline.md
  man/daft-exec.1
  man/git-worktree-exec.1
  src/commands/exec.rs
  src/core/worktree/exec/mod.rs
  src/core/worktree/exec/rail_presenter.rs
  test-plans/exec-rail-output.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(exec): render multi-worktree runs on the plan-then-execute rail (#704)
  SKILL.md
  docs/cli/git-worktree-exec.md
  docs/reference/configuration.md
  docs/reference/progress-timeline.md
  man/daft-exec.1
  man/git-worktree-exec.1
  src/commands/exec.rs
  src/core/stage.rs
  src/core/worktree/exec/list_renderer.rs
  src/core/worktree/exec/mod.rs
  src/core/worktree/exec/progress_renderer.rs
  src/core/worktree/exec/rail_presenter.rs
  src/executor/presenter.rs
  src/interrupt.rs
  src/output/timeline/mod.rs
  src/output/timeline/plan.rs
  src/output/timeline/rail_hook.rs
  src/output/timeline/region.rs
  src/output/timeline/render.rs
  src/output/timeline/thread_block.rs
  test-plans/exec-rail-output.md
  tests/manual/scenarios/worktree-exec/show-output-success-dump.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(sync): cap concurrent hook-bearing pushes (governor stage 0)
  docs/cli/git-worktree-sync.md
  man/daft-sync.1
  man/git-worktree-sync.1
  src/commands/sync.rs
  src/core/settings.rs
  src/core/worktree/sync_dag.rs
  tests/manual/scenarios/sync/governor-flags.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(governor): memory-aware admission for parallel pre-push hooks (stage 1)
  Cargo.lock
  Cargo.toml
  src/commands/sync.rs
  src/core/worktree/sync_dag.rs
  src/git/cancel.rs
  src/git/mod.rs
  src/git/remote.rs
  src/governor/adapters/mod.rs
  src/governor/adapters/sysinfo_probe.rs
  src/governor/domain.rs
  src/governor/mod.rs
  src/governor/ports.rs
  src/lib.rs
  src/output/tui/columns.rs
  src/output/tui/operation_table.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync): wall-clock budget per push unit (daft.sync.pushTimeout)
  src/commands/sync.rs
  src/core/settings.rs
  src/core/worktree/push.rs
  src/git/cancel.rs
  src/git/mod.rs
  src/git/remote.rs
  tests/manual/scenarios/push-hooks/sync-push-timeout.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(governor): learn per-hook resource profiles (stage 2)
  src/commands/sync.rs
  src/git/remote.rs
  src/governor/adapters/mod.rs
  src/governor/adapters/sqlite_profiles.rs
  src/governor/adapters/sysinfo_probe.rs
  src/governor/domain.rs
  src/governor/mod.rs
  src/governor/ports.rs
  src/store/migrate.rs
  src/store/migrations/004_hook_profiles.sql
  src/store/models/governor_event.rs
  src/store/models/hook_profile.rs
  src/store/models/mod.rs
  src/store/repos/governor_events.rs
  src/store/repos/hook_profiles.rs
  src/store/repos/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(governor): freeze/thaw + kill-and-requeue containment (stage 3)
  src/commands/sync.rs
  src/core/worktree/sync_dag.rs
  src/git/cancel.rs
  src/git/mod.rs
  src/git/process_tree.rs
  src/git/remote.rs
  src/governor/domain.rs
  src/governor/mod.rs
  src/output/tui/state.rs
  tests/integration/pty_run.py
  tests/integration/test_all.sh
  tests/integration/test_sync_governor.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(sync): correct the opt-in batched push strategy (review findings)
  src/commands/sync.rs
  src/core/worktree/push.rs
  src/core/worktree/sync_dag.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(sync): exclude the checker from the push-timeout survivor probe
  tests/manual/scenarios/push-hooks/sync-push-timeout.yml
Due: prettier-format

fix(governor): overflow-safe pushTimeout + TUI state-race fixes
  src/core/settings.rs
  src/output/tui/state.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(governor): shared POSIX jobserver for concurrent hooks (stage 4)
  Cargo.toml
  src/commands/sync.rs
  src/core/settings.rs
  src/git/mod.rs
  src/git/remote.rs
  src/governor/jobserver.rs
  src/governor/mod.rs
  tests/integration/test_sync_governor.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(governor): document the sync push resource governor
  SKILL.md
  docs/cli/git-worktree-sync.md
  docs/reference/configuration.md
  docs/reference/progress-timeline.md
  man/daft-sync.1
  man/git-worktree-sync.1
  src/commands/sync.rs
  test-plans/sync-resource-governor.md
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(sync): opt-in batched push — one hook run for all branches
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/settings.rs
  src/core/worktree/push.rs
  src/core/worktree/sync_dag.rs
  src/git/remote.rs
  src/governor/mod.rs
  tests/manual/scenarios/push-hooks/sync-push-batched-rejected.yml
  tests/manual/scenarios/push-hooks/sync-push-batched.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
