Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    fmt-check:
      glob: "*.rs"
      run: mise run fmt:check
    clippy:
      glob: "*.rs"
      run: mise run clippy
    verify-man:
      glob: "*.rs"
      run: mise run man:verify
    verify-cli-docs:
      glob: "*.rs"
      run: mise run docs:cli:verify
    prettier-format:
      glob: "*.{md,yml,yaml}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    biome-check:
      glob: "docs/.vitepress/**/*.{ts,js,json}"
      root: "docs/"
      run: bunx biome check --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    conventional-commit:
      run: |
        message=$(head -1 {1})
        if ! echo "$message" | grep -qE '^(feat|fix|docs|style|refactor|perf|test|chore|ci|deps)(\(.+\))?!?: .+'; then
          echo "ERROR: Commit message must follow Conventional Commits format."
          echo ""
          echo "  <type>[scope]: <description>"
          echo "  Types: feat, fix, docs, style, refactor, perf, test, chore, ci, deps"
          echo ""
          echo "  Got: $message"
          exit 1
        fi

pre-push:
  commands:
    unit-tests:
      glob: "*.rs"
      run: mise run test:unit

feat(tui): add cancelled flag and mark_cancelled to LiveTable (#402)
  src/output/tui/live_table.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(tui): add is_cell_unloaded predicate to LiveTable (#402)
  src/output/tui/live_table.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(tui): add not_loaded_cell helper for cancelled-state placeholder (#402)
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(tui): wire is_cell_unloaded through render_cell for cancelled cells (#402)
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(tui): append cancelled suffix to verbose footer (#402)
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(tui): mark live table cancelled in driver Ctrl-C handler (#402)
  src/output/tui/driver.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(tui): write trailing newline after cancelled viewport teardown (#402)
  src/output/tui/driver.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(list): install SIGINT handler so Ctrl-C reaches the renderer (#402)
  src/commands/list_live.rs
  src/output/tui/driver.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(list): polish cancelled-state rendering and exit (#402)
  src/commands/list_live.rs
  src/output/tui/render.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: shared infrastructure for live list population (#402) (#410)
  SKILL.md
  docs/superpowers/plans/2026-04-25-live-list-population-phase-1-shared-infra.md
  docs/superpowers/plans/2026-04-26-list-cache-content-addressed.md
  docs/superpowers/plans/2026-04-26-live-list-population-phase-2-daft-list-live-ux.md
  docs/superpowers/plans/2026-04-26-live-list-population-phase-3-migrate-prune-sync.md
  docs/superpowers/plans/2026-04-27-graceful-cancellation.md
  docs/superpowers/specs/2026-04-25-live-list-population-design.md
  docs/superpowers/specs/2026-04-27-graceful-cancellation-design.md
  src/commands/clone.rs
  src/commands/list.rs
  src/commands/list_live.rs
  src/commands/mod.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/commands/sync_shared.rs
  src/core/cache.rs
  src/core/mod.rs
  src/core/sort.rs
  src/core/worktree/cell_cache.rs
  src/core/worktree/info_field.rs
  src/core/worktree/list.rs
  src/core/worktree/list_stream.rs
  src/core/worktree/mod.rs
  src/core/worktree/sync_dag.rs
  src/output/tui/columns.rs
  src/output/tui/driver.rs
  src/output/tui/live_table.rs
  src/output/tui/mod.rs
  src/output/tui/operation_table.rs
  src/output/tui/render.rs
  src/output/tui/state.rs
  tests/manual/scenarios/list/format-json-bypasses-live.yml
  tests/manual/scenarios/list/no-live-env-var.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(shell-init): skip update check and trust prune on shell startup
  CLAUDE.md
  src/lib.rs
  src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(completions): also skip startup tasks for shell-eval'd `completions`
  CLAUDE.md
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(shell-init,completions): skip update check and trust prune for shell-eval'd commands (#416)
  CLAUDE.md
  src/lib.rs
  src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(exec): isolate alias capture from rc-file stdout
  src/core/worktree/exec/alias_cache.rs
  src/core/worktree/exec/mod.rs
  src/exec.rs
  tests/manual/scenarios/worktree-exec/polluted-rcfile.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(exec): isolate alias capture from rc-file stdout (#418)
  src/core/worktree/exec/alias_cache.rs
  src/core/worktree/exec/mod.rs
  src/exec.rs
  tests/manual/scenarios/worktree-exec/polluted-rcfile.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(config): validate background job fields and detect foreground promotion
  src/hooks/yaml_config_validate.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(coordinator): add daft_state_dir() for XDG state directory
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(executor): add background and log fields to JobSpec
  src/executor/mod.rs
  src/hooks/job_adapter.rs
  src/hooks/yaml_config.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(config): add background, background_output, and log fields to YAML schema
  src/hooks/yaml_config.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(coordinator): implement coordinator state and fork-based background execution
  Cargo.toml
  src/coordinator/mod.rs
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(coordinator): add log store for background job persistence
  Cargo.toml
  src/coordinator/log_store.rs
  src/coordinator/mod.rs
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(executor): add foreground/background job partitioning
  src/hooks/yaml_executor/mod.rs
  src/hooks/yaml_executor/partition.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(coordinator): add IPC client and socket listener
  src/coordinator/client.rs
  src/coordinator/mod.rs
  src/coordinator/process.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(coordinator): add DAFT_IS_COORDINATOR guard to prevent recursive background spawning
  src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): integrate background job partitioning and coordinator dispatch
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(cli): add daft hooks jobs command for background job management
  src/commands/hooks/jobs.rs
  src/commands/hooks/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(config): merge log config across configuration layers
  src/hooks/yaml_config_loader.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): cancel background jobs when removing a worktree
  src/core/worktree/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(completions): add hooks jobs subcommand to shell completions
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: add YAML integration tests for background hook jobs
  tests/manual/scenarios/hooks/background-jobs.yml
Due: prettier-format

test: add scenario for DAFT_NO_BACKGROUND_JOBS escape hatch
  tests/manual/scenarios/hooks/background-jobs-disabled.yml
Due: prettier-format

docs: document background hook jobs feature
  SKILL.md
  docs/cli/daft-hooks-jobs.md
  docs/guide/configuration.md
  docs/guide/hooks.md
Due: prettier-format

feat(hooks): list background jobs by name before dispatching to coordinator
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: add design spec and implementation plan for background hook jobs
  docs/superpowers/plans/2026-03-27-background-hook-jobs.md
  docs/superpowers/specs/2026-03-27-background-hook-jobs-design.md
Due: prettier-format

style(hooks): use "(background)" label in live progress area
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/plain.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): show background jobs in summary with blue indicator
  Cargo.lock
  src/executor/cli_presenter.rs
  src/executor/presenter.rs
  src/executor/runner.rs
  src/hooks/yaml_executor/mod.rs
  src/output/hook_progress/formatting.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
  src/output/hook_progress/plain.rs
  src/output/tui/presenter.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): show background jobs in live progress area with blue tint
  src/executor/cli_presenter.rs
  src/output/hook_progress/interactive.rs
  src/output/hook_progress/mod.rs
  src/output/hook_progress/plain.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): resolve hook-level background default in job adapter
  docs/cli/daft-hooks.md
  man/daft-hooks.1
  src/hooks/job_adapter.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(hooks): register background jobs before on_phase_complete
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): use mp.println for background job progress lines
  src/output/hook_progress/interactive.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs
