Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

fix(cow_copy): gate Unix-only symlink + PermissionsExt for Windows compile
  src/cow_copy.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(test-runner): close cow_copy coverage gap on source-is-a-file
  xtask/src/manual_test/cow_copy.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(benches): standardize the #509 perf-PR measurement practice
  benches/README.md
Due: prettier-format

perf(test-runner): use APFS clonefile / Linux FICLONE for sandbox template snapshots (#562)
  Cargo.lock
  Cargo.toml
  benches/README.md
  src/cow_copy.rs
  src/lib.rs
  xtask/Cargo.toml
  xtask/src/manual_test/cow_copy.rs
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/sandbox.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

perf(test-runner): add namespace_of + interleave_by_namespace helpers
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf(test-runner): interleave scenarios across workers via dispatch_order
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(claude): add DAFT_MANUAL_TEST_DEBUG_DISPATCH to runner env-var inventory
  CLAUDE.md
Due: prettier-format

fix(test-runner): suppress dispatch debug print on TTY to avoid garbled output
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

ci(test): include xtask in build / msrv-check / windows-check gates
  .github/workflows/test.yml
Due: prettier-format

refactor(test-runner): address review feedback on interleave helpers
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf(test-runner): interleave scenarios across workers to flatten the parallel tail (#564)
  .github/workflows/test.yml
  CLAUDE.md
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(sync): refresh remote ahead/behind after successful Update task
  src/commands/sync.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(deps): bump shlex constraint to 2 and prevent grouped major-bump drift
  .github/dependabot.yml
  .github/workflows/test.yml
  Cargo.toml
Due: prettier-format

fix(sync): condense multi-line comments to one line
  src/commands/sync.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

ci: add --locked to mise clippy and test:unit tasks
  mise-tasks/clippy
  mise-tasks/test/unit
Due: none

fix(deps): bump shlex constraint to 2 and prevent grouped major-bump drift (#569)
  .github/dependabot.yml
  .github/workflows/test.yml
  Cargo.toml
  mise-tasks/clippy
  mise-tasks/test/unit
Due: prettier-format

fix(sync): refresh remote ahead/behind after Update task (#568)
  src/commands/sync.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf(test-runner): exec daft directly when no shell features are needed
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/manual_test/daft_executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf(test-runner): extend direct-exec fast path to handle 2>&1 and env-prefix
  xtask/src/manual_test/daft_executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore(deps): align xtask shlex with workspace at 2
  Cargo.lock
  xtask/Cargo.toml
Due: none

fix(test-runner): check execute bit in resolve_binary and cover the real merge path
  xtask/src/manual_test/daft_executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf(test-runner): exec daft directly when no shell features are needed (#570)
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/manual_test/daft_executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(test-runner): gate startup background work on DAFT_TESTING
  src/lib.rs
  src/main.rs
  xtask/src/manual_test/daft_executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(test-runner): update build_env assertions for DAFT_TESTING-only contract
  xtask/src/manual_test/daft_executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(test-runner): address review nits — refresh stale comment, symmetric assert messages
  src/main.rs
  xtask/src/manual_test/daft_executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(test-runner): gate startup background work on DAFT_TESTING (#573)
  src/lib.rs
  src/main.rs
  xtask/src/manual_test/daft_executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(test-runner): opt-in RAM-disk sandbox for the YAML test suite
  docs/about/contributing.md
  mise-tasks/test/manual/_default
  mise-tasks/test/manual/_ramdisk_lib.sh
  mise-tasks/test/manual/ramdisk
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(test-runner): derive sandbox slug from source path so duplicate scenario names don't collide
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(test-runner): address review polish on PR #574
  docs/about/contributing.md
  mise-tasks/test/manual/_ramdisk_lib.sh
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(test-runner): opt-in RAM-disk sandbox for the YAML test suite (#574)
  docs/about/contributing.md
  mise-tasks/test/manual/_default
  mise-tasks/test/manual/_ramdisk_lib.sh
  mise-tasks/test/manual/ramdisk
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

perf(test-runner): share fixture remotes across scenarios
  xtask/src/manual_test/fixture_cache.rs
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/repo_gen.rs
  xtask/src/manual_test/schema.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf(test-runner): address #575 review feedback
  xtask/src/manual_test/fixture_cache.rs
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf(test-runner): share fixture remotes across scenarios (#575)
  xtask/src/manual_test/fixture_cache.rs
  xtask/src/manual_test/mod.rs
  xtask/src/manual_test/repo_gen.rs
  xtask/src/manual_test/schema.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf(test-runner): share daft binary across worktrees
  docs/about/contributing.md
  mise-tasks/setup/_rust_symlink_lib.sh
  mise-tasks/setup/rust
  mise-tasks/test/manual/_default
  mise-tasks/test/manual/_shared_bin_lib.sh
  mise-tasks/test/manual/ramdisk
  tests/manual/scenarios/runner-output/end-to-end.yml
  xtask/src/manual_test/daft_executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

perf(test-runner): address #576 review feedback
  docs/about/contributing.md
  mise-tasks/test/manual/_shared_bin_lib.sh
Due: prettier-format

perf(test-runner): share daft binary across worktrees (#576)
  docs/about/contributing.md
  mise-tasks/setup/_rust_symlink_lib.sh
  mise-tasks/setup/rust
  mise-tasks/test/manual/_default
  mise-tasks/test/manual/_shared_bin_lib.sh
  mise-tasks/test/manual/ramdisk
  tests/manual/scenarios/runner-output/end-to-end.yml
  xtask/src/manual_test/daft_executor.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

perf(test-runner): parallelize fixture-cache priming
  xtask/src/manual_test/fixture_cache.rs
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(test-runner): simplify parallel prime per review
  xtask/src/manual_test/fixture_cache.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

perf(test-runner): parallelize fixture-cache priming (#578)
  xtask/src/manual_test/fixture_cache.rs
  xtask/src/manual_test/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
