Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

fix(sync): improve output with per-branch detail and accurate update status
  src/commands/fetch.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/worktree/fetch.rs
  src/core/worktree/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync): add --rebase <BRANCH> option to rebase worktrees after syncing
  docs/cli/git-sync.md
  man/daft-sync.1
  man/git-sync.1
  src/commands/sync.rs
  src/core/worktree/fetch.rs
  src/core/worktree/mod.rs
  src/core/worktree/rebase.rs
  src/git/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(update): preserve colors in captured git pull output
  src/git/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(sync): resolve remaining conflict markers from rebase
  .github/workflows/test.yml
  src/lib.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(update): use git -c color.diff=always instead of --color=always
  src/git/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(sync): create remote branches before checkout in integration tests
  tests/integration/test_sync.sh
Due: none

feat(sync): add daft sync / git sync command (#263)
  .github/workflows/test-homebrew.yml
  .github/workflows/test.yml
  docs/cli/git-sync.md
  docs/cli/git-worktree-fetch.md
  docs/cli/git-worktree-prune.md
  man/daft-sync.1
  man/git-sync.1
  mise-tasks/setup/rust
  packaging/aur/PKGBUILD
  packaging/deb/postinst
  packaging/deb/prerm
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  src/commands/fetch.rs
  src/commands/mod.rs
  src/commands/prune.rs
  src/commands/shell_init.rs
  src/commands/sync.rs
  src/core/worktree/fetch.rs
  src/core/worktree/mod.rs
  src/core/worktree/prune.rs
  src/core/worktree/rebase.rs
  src/doctor/installation.rs
  src/git/remote.rs
  src/lib.rs
  src/main.rs
  src/shortcuts.rs
  src/suggest.rs
  tests/integration/test_all.sh
  tests/integration/test_sync.sh
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(release-notes): add PR links to older changelog entries
  CHANGELOG.md
Due: prettier-format

refactor(cli): separate daft go/start from git-worktree-checkout
  docs/plans/2026-02-24-separate-daft-go-start-design.md
  docs/plans/2026-02-24-separate-daft-go-start-plan.md
  man/daft-go.1
  man/daft-start.1
  src/commands/checkout.rs
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/shell_init.rs
  src/main.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor(cli): separate daft go/start from git-worktree-checkout (#265)
  docs/plans/2026-02-24-separate-daft-go-start-design.md
  docs/plans/2026-02-24-separate-daft-go-start-plan.md
  man/daft-go.1
  man/daft-start.1
  src/commands/checkout.rs
  src/commands/complete.rs
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/shell_init.rs
  src/main.rs
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(list): add core worktree list data collection logic
  src/core/worktree/list.rs
  src/core/worktree/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: add tabled dependency for worktree list table rendering
  Cargo.toml
Due: none

feat(list): add gwtls shortcut alias
  src/shortcuts.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(list): use remote default branch for ahead/behind, fix ANSI width handling
  Cargo.toml
  src/commands/list.rs
  src/core/worktree/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(list): add list to help documentation
  src/commands/docs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(list): wire up command routing for daft list
  src/lib.rs
  src/main.rs
  src/suggest.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(list): add to xtask for man page and CLI doc generation
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(list): add daft list command module with table rendering
  src/commands/list.rs
  src/commands/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(list): generate man page and CLI docs for daft list
  docs/.vitepress/config.ts
  docs/cli/daft-list.md
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
Due: prettier-format

test(list): add integration tests for daft list command
  tests/integration/test_all.sh
  tests/integration/test_framework.sh
  tests/integration/test_list.sh
Due: none

fix(list): add missing registrations in SKILL.md, docs, doctor, and packaging
  Cargo.toml
  SKILL.md
  docs/cli/daft-setup.md
  docs/guide/shortcuts.md
  src/commands/list.rs
  src/doctor/installation.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(list): add shell completions for daft list
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: list command plan
  docs/plans/2026-02-24-daft-list-design.md
Due: prettier-format

feat(list): add dimmed column header row to table output
  src/commands/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(list): unify Age and Last Commit headers into single Last Commit heading
  src/commands/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(list): add daft list / git worktree-list command (#264)
  Cargo.toml
  SKILL.md
  docs/.vitepress/config.ts
  docs/cli/daft-list.md
  docs/cli/daft-setup.md
  docs/cli/git-worktree-list.md
  docs/guide/shortcuts.md
  docs/plans/2026-02-24-daft-list-design.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/completions/bash.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/docs.rs
  src/commands/list.rs
  src/commands/mod.rs
  src/core/worktree/list.rs
  src/core/worktree/mod.rs
  src/doctor/installation.rs
  src/lib.rs
  src/main.rs
  src/shortcuts.rs
  src/suggest.rs
  tests/integration/test_all.sh
  tests/integration/test_framework.sh
  tests/integration/test_list.sh
  xtask/src/main.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(docs): build issue and missing docs
  docs/.vitepress/config.ts
  docs/cli/daft-sync.md
Due: prettier-format

feat(list): add branch age column and shorthand durations
  SKILL.md
  docs/cli/daft-list.md
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/list.rs
  src/core/worktree/list.rs
  tests/integration/test_list.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(list): add head, remote, relative path columns and combine last commit
  Cargo.toml
  SKILL.md
  docs/cli/daft-list.md
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/list.rs
  src/core/worktree/list.rs
  tests/integration/test_list.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(list): replace head/remote columns with change counts and default branch marker
  SKILL.md
  docs/cli/daft-list.md
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/list.rs
  src/core/worktree/list.rs
  tests/integration/test_list.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(list): use worktrunk-style status indicators and ◉ default branch marker
  SKILL.md
  docs/cli/daft-list.md
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/list.rs
  src/core/worktree/list.rs
  tests/integration/test_list.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(list): enrich daft list with status indicators, branch age, and relative paths (#266)
  Cargo.toml
  SKILL.md
  docs/cli/daft-list.md
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/list.rs
  src/core/worktree/list.rs
  tests/integration/test_list.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(list): make table respect terminal width
  Cargo.toml
  man/daft-adopt.1
  man/daft-carry.1
  man/daft-clone.1
  man/daft-eject.1
  man/daft-go.1
  man/daft-init.1
  man/daft-list.1
  man/daft-prune.1
  man/daft-release-notes.1
  man/daft-remove.1
  man/daft-rename.1
  man/daft-start.1
  man/daft-sync.1
  man/daft-update.1
  man/git-sync.1
  man/git-worktree-branch-delete.1
  man/git-worktree-branch.1
  man/git-worktree-carry.1
  man/git-worktree-checkout.1
  man/git-worktree-clone.1
  man/git-worktree-fetch.1
  man/git-worktree-flow-adopt.1
  man/git-worktree-flow-eject.1
  man/git-worktree-init.1
  man/git-worktree-list.1
  man/git-worktree-prune.1
  src/commands/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(list): work from repo root outside any worktree
  src/commands/list.rs
  src/core/worktree/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(list): respect terminal width and work from repo root (#268)
  Cargo.toml
  man/daft-adopt.1
  man/daft-carry.1
  man/daft-clone.1
  man/daft-eject.1
  man/daft-go.1
  man/daft-init.1
  man/daft-list.1
  man/daft-prune.1
  man/daft-release-notes.1
  man/daft-remove.1
  man/daft-rename.1
  man/daft-start.1
  man/daft-sync.1
  man/daft-update.1
  man/git-sync.1
  man/git-worktree-branch-delete.1
  man/git-worktree-branch.1
  man/git-worktree-carry.1
  man/git-worktree-checkout.1
  man/git-worktree-clone.1
  man/git-worktree-fetch.1
  man/git-worktree-flow-adopt.1
  man/git-worktree-flow-eject.1
  man/git-worktree-init.1
  man/git-worktree-list.1
  man/git-worktree-prune.1
  src/commands/list.rs
  src/core/worktree/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs: expand CLI reference pages and update guides for v1.0.32 features
  SKILL.md
  docs/cli/daft-go.md
  docs/cli/daft-list.md
  docs/cli/daft-rename.md
  docs/cli/daft-sync.md
  docs/cli/daft-update.md
  docs/guide/shortcuts.md
  docs/guide/worktree-workflow.md
Due: prettier-format

docs: expand CLI reference pages and update guides for v1.0.32 features (#267)
  SKILL.md
  docs/cli/daft-go.md
  docs/cli/daft-list.md
  docs/cli/daft-rename.md
  docs/cli/daft-sync.md
  docs/cli/daft-update.md
  docs/guide/shortcuts.md
  docs/guide/worktree-workflow.md
Due: prettier-format

docs: removed old plans
  docs/plans/2026-02-23-go-auto-start-design.md
  docs/plans/2026-02-24-daft-list-design.md
  docs/plans/2026-02-24-separate-daft-go-start-design.md
  docs/plans/2026-02-24-separate-daft-go-start-plan.md
Due: prettier-format

feat: add spinners for long-running operations
  src/commands/branch_delete.rs
  src/commands/carry.rs
  src/commands/checkout.rs
  src/commands/clone.rs
  src/commands/fetch.rs
  src/commands/flow_adopt.rs
  src/commands/flow_eject.rs
  src/commands/init.rs
  src/commands/prune.rs
  src/commands/sync.rs
  src/commands/worktree_branch.rs
  src/git/mod.rs
  src/output/cli.rs
  src/output/mod.rs
  src/output/test.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: clear spinner before hook execution
  src/core/progress.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
