Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

fix(test): update retry-job-name assertion to match actual error message
  tests/manual/scenarios/hooks/retry-job-name.yml
Due: prettier-format

chore(deps): add uuid crate with v7 feature
  Cargo.toml
Due: none

feat(core): add repo_identity module with UUID v7 per-repo ID
  src/core/mod.rs
  src/core/repo_identity.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(hooks): implementation plan for repo identity in log store
  docs/superpowers/plans/2026-04-16-repo-identity-for-log-store.md
Due: prettier-format

fix(core): fix infinite loop in repo_identity when empty daft-id file exists
  src/core/repo_identity.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(hooks): fix race condition in repo-identity spec recipe
  docs/superpowers/specs/2026-04-16-repo-identity-for-log-store.md
Due: prettier-format

refactor(jobs): use compute_repo_id; filter non-UUID dirs in list
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(hooks): use compute_repo_id instead of path-based hash
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(prune): use compute_repo_id instead of inline hash
  src/core/worktree/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(core): use persist_noclobber for race-safe daft-id creation
  src/core/repo_identity.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(complete): use compute_repo_id in 5 helpers
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(jobs): serialize list_all_repo_hashes_filters_non_uuid_dirs
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: fix clippy warnings new in Rust 1.95
  src/commands/hooks/jobs.rs
  src/coordinator/log_store.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style: apply fmt to SKILL.md and trust.rs after master rebase
  SKILL.md
  src/commands/hooks/trust.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

test(hooks): integration scenario for repo identity on reclone
  tests/manual/scenarios/hooks/repo-identity-on-reclone.yml
Due: prettier-format

chore: regenerate Cargo.lock to match Cargo.toml
  Cargo.lock
Due: none

fix(test): use --trust-hooks in post-clone-visibility scenario
  tests/manual/scenarios/hooks/post-clone-visibility.yml
Due: prettier-format

feat(hooks)!: migrate daft hooks jobs to --format/--template emit
  SKILL.md
  docs/cli/daft-hooks-jobs.md
  docs/cli/daft-hooks.md
  src/commands/completions/bash.rs
  src/commands/completions/fig.rs
  src/commands/completions/fish.rs
  src/commands/completions/mod.rs
  src/commands/completions/zsh.rs
  src/commands/hooks/jobs.rs
  src/commands/hooks/mod.rs
  tests/manual/scenarios/hooks/jobs-format-csv.yml
  tests/manual/scenarios/hooks/jobs-format-errors.yml
  tests/manual/scenarios/hooks/jobs-format-json.yml
  tests/manual/scenarios/hooks/jobs-format-markdown.yml
  tests/manual/scenarios/hooks/jobs-format-ndjson.yml
  tests/manual/scenarios/hooks/jobs-format-template.yml
  tests/manual/scenarios/hooks/jobs-format-toon.yml
  tests/manual/scenarios/hooks/jobs-format-tsv.yml
  tests/manual/scenarios/hooks/jobs-format-yaml.yml
  tests/manual/scenarios/hooks/promoted-bg-to-fg.yml
  tests/manual/scenarios/hooks/retry-invocation-prefix.yml
  tests/manual/scenarios/hooks/retry-mixed-fg-bg.yml
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(exec): implement on_job_background for EventRecorder test impl
  src/core/worktree/exec/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(plans): add v1 implementation plan for hooks log maintenance
  docs/superpowers/plans/2026-04-25-hooks-jobs-log-maintenance-v1.md
Due: prettier-format

docs(specs): add log-maintenance spec covering v1 and v2
  docs/superpowers/specs/2026-04-25-hooks-jobs-log-maintenance.md
Due: prettier-format

docs: backport plan amendments into spec; switch to stacked branch
  docs/superpowers/plans/2026-04-25-hooks-jobs-log-maintenance-v1.md
  docs/superpowers/specs/2026-04-25-hooks-jobs-log-maintenance.md
Due: prettier-format

feat(hooks): add log-maintenance config schema and parsers
  Cargo.lock
  Cargo.toml
  src/coordinator/clean_policy.rs
  src/coordinator/mod.rs
  src/executor/mod.rs
  src/hooks/job_adapter.rs
  src/hooks/yaml_config.rs
  src/hooks/yaml_config_loader.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

style(hooks): redesign jobs listing icons and worktree heading
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): tighten clean_policy parsers per code review
  src/coordinator/clean_policy.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): capture per-job retention and repo policy at hook-fire time
  src/commands/hooks/jobs.rs
  src/coordinator/clean_policy.rs
  src/coordinator/log_store.rs
  src/coordinator/process.rs
  src/executor/log_sink.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): tighten log-policy capture per code review
  src/coordinator/clean_policy.rs
  src/coordinator/log_store.rs
  src/hooks/yaml_executor/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): policy-driven log cleanup with sanity floor and stale-Running
  src/commands/hooks/jobs.rs
  src/coordinator/clean_policy.rs
  src/coordinator/log_store.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): clean up truncation tmpfile on error path
  src/coordinator/log_store.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(hooks): strengthen keep_last_floor assertion to check survivors
  src/coordinator/log_store.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): defensive Duration::try_seconds + stale-Running test
  src/coordinator/log_store.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): per-log truncation with size cap and footer marker
  src/coordinator/log_store.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): per-repo size budget with LRU eviction
  Cargo.lock
  Cargo.toml
  src/coordinator/log_store.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): automatic background log cleanup
  src/lib.rs
  src/log_clean.rs
  src/main.rs
  src/trust_prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test(hooks): add does_not_panic parity test for log_clean
  src/log_clean.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(hooks): exclude .deleting-* orphans from budget calculation
  src/coordinator/log_store.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(hooks): `hooks jobs clean` gains --dry-run and --older-than
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

docs(hooks): document log-maintenance v1 config and behavior
  SKILL.md
  docs/cli/daft-hooks-jobs.md
  docs/guide/hooks.md
Due: prettier-format

test(hooks): YAML scenarios for log-maintenance v1
  tests/manual/scenarios/hooks/log-cleanup-budget-evicts-oldest.yml
  tests/manual/scenarios/hooks/log-cleanup-custom-path-untouched.yml
  tests/manual/scenarios/hooks/log-cleanup-dry-run.yml
  tests/manual/scenarios/hooks/log-cleanup-honors-keep-last.yml
  tests/manual/scenarios/hooks/log-cleanup-per-file-cap.yml
  tests/manual/scenarios/hooks/log-cleanup-respects-retention.yml
  tests/manual/scenarios/hooks/log-cleanup-skips-running.yml
  tests/manual/scenarios/hooks/log-cleanup-stale-running-detected.yml
Due: prettier-format

feat(hooks): show log size in `hooks jobs` listing and JSON
  src/commands/hooks/jobs.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
