Repository avihut/daft: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format, biome-check

fmt-check:
  run: mise run fmt:check

clippy:
  run: mise run clippy

verify-man:
  run: mise run man:verify

verify-cli-docs:
  run: mise run docs:cli:verify

prettier-format:
  run: bun run prettier --write {staged_files}
  stage_fixed: true

biome-check:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

chore: add mise.lock for reproducible tool versions
  mise.lock
Due: none

fix: align commit subjects in list command's Last Commit column
  src/commands/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat: renamed Head to Changes
  src/commands/list.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(list): add --unit flag to show line-level diff counts
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/list.rs
  src/core/worktree/list.rs
  tests/integration/test_list.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

refactor(list): rename --unit to --stat with summary/lines values
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/list.rs
  src/core/worktree/list.rs
  tests/integration/test_list.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(list): add -b, -r, -a flags to show branches without worktrees
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/list.rs
  src/core/worktree/list.rs
  tests/integration/test_list.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(list): add daft.list.stat config for default statistics mode
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  src/commands/list.rs
  src/core/settings.rs
  src/core/worktree/list.rs
  tests/integration/test_list.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat(list): enhance list command with stat modes, branch flags, and config (#280)
  docs/cli/git-worktree-list.md
  man/daft-list.1
  man/git-worktree-list.1
  mise.lock
  src/commands/list.rs
  src/core/settings.rs
  src/core/worktree/list.rs
  tests/integration/test_list.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

fix(ci): add version to xtask path dependency for cargo package compatibility
  xtask/Cargo.toml
Due: none

fix(ci): pin release-plz to 0.3.156 to fix release PR creation
  .github/workflows/release-plz.yml
Due: prettier-format

fix(completions): remote branches not matching when typing prefix
  src/commands/complete.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

chore: downgrade version from 1.1.0 to 1.0.34
  CHANGELOG.md
  Cargo.toml
  man/daft-adopt.1
  man/daft-carry.1
  man/daft-clone.1
  man/daft-eject.1
  man/daft-go.1
  man/daft-init.1
  man/daft-list.1
  man/daft-prune.1
  man/daft-release-notes.1
  man/daft-remove.1
  man/daft-rename.1
  man/daft-start.1
  man/daft-sync.1
  man/daft-update.1
  man/git-sync.1
  man/git-worktree-branch-delete.1
  man/git-worktree-branch.1
  man/git-worktree-carry.1
  man/git-worktree-checkout.1
  man/git-worktree-clone.1
  man/git-worktree-fetch.1
  man/git-worktree-flow-adopt.1
  man/git-worktree-flow-eject.1
  man/git-worktree-init.1
  man/git-worktree-list.1
  man/git-worktree-prune.1
  xtask/Cargo.toml
Due: prettier-format

chore: replace custom commit-msg regex with cocogitto
  cog.toml
  lefthook.yml
  mise.lock
  mise.toml
Due: prettier-format

fix: dev version format leaking to release builds
  build.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

test: add version format verification task
  mise-tasks/test/version-format
Due: none

fix: dev version format leaking to release builds (#282)
  build.rs
  mise-tasks/test/version-format
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix: sync symlink lists across all packaging configs
  .github/workflows/test-homebrew.yml
  Cargo.toml
  dist-workspace.toml
  packaging/aur/PKGBUILD
  packaging/deb/postinst
  packaging/deb/prerm
Due: prettier-format

feat: allow force-removal of default branch worktree
  SKILL.md
  docs/cli/daft-remove.md
  docs/cli/git-worktree-branch-delete.md
  docs/cli/git-worktree-branch.md
  man/daft-remove.1
  man/git-worktree-branch-delete.1
  man/git-worktree-branch.1
  src/commands/branch_delete.rs
  src/commands/worktree_branch.rs
  src/core/worktree/branch_delete.rs
  tests/integration/test_branch_delete.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

feat: allow force-removal of default branch worktree (#284)
  SKILL.md
  docs/cli/daft-remove.md
  docs/cli/git-worktree-branch-delete.md
  docs/cli/git-worktree-branch.md
  man/daft-remove.1
  man/git-worktree-branch-delete.1
  man/git-worktree-branch.1
  src/commands/branch_delete.rs
  src/commands/worktree_branch.rs
  src/core/worktree/branch_delete.rs
  tests/integration/test_branch_delete.sh
Due: fmt-check, clippy, verify-man, verify-cli-docs, prettier-format

docs: add rich TUI design for sync and prune commands
  docs/plans/2026-03-09-rich-sync-tui-design.md
Due: prettier-format

docs: add rich sync TUI implementation plan
  docs/plans/2026-03-09-rich-sync-tui-plan.md
Due: prettier-format

chore: relocked mise tools
  Cargo.toml
  mise.lock
Due: none

feat(sync): define sync DAG task types and operation phases
  src/core/worktree/mod.rs
  src/core/worktree/sync_dag.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync): implement sync DAG builder with dependency tracking
  src/core/worktree/sync_dag.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync): implement parallel DAG executor with dependency tracking
  src/core/worktree/sync_dag.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync): define TUI state model for sync renderer
  src/output/mod.rs
  src/output/tui.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync): implement TUI state update logic from DAG events
  src/output/tui.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync): implement TUI operation header renderer
  src/output/tui.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync): implement TUI worktree table with column priority
  src/output/tui.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync): implement TUI render loop with inline viewport
  src/output/tui.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(prune): extract per-branch prune logic for DAG workers
  src/core/worktree/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(fetch): expose per-worktree update for DAG workers
  src/core/worktree/fetch.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(rebase): extract per-worktree rebase for DAG workers
  src/core/worktree/rebase.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(sync): integrate DAG executor and TUI renderer
  src/commands/sync.rs
  src/core/mod.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

feat(prune): integrate DAG executor and TUI renderer
  src/commands/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(prune): handle deferred branch removal and cd_target in TUI mode
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/worktree/prune.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor(sync): update sequential fallback to use new status formatting
  src/commands/prune.rs
  src/commands/sync.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

refactor: extract shared column formatters from list.rs
  src/commands/list.rs
  src/output/format.rs
  src/output/mod.rs
  src/output/tui.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(sync): prevent CWD race condition in parallel workers
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/worktree/fetch.rs
  src/core/worktree/rebase.rs
  src/git/remote.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

fix(tui): show all operation phases immediately and fix viewport finalization
  src/commands/prune.rs
  src/commands/sync.rs
  src/core/worktree/list.rs
  src/core/worktree/sync_dag.rs
  src/output/tui.rs
Due: fmt-check, clippy, verify-man, verify-cli-docs

Path conditions:
  fmt-check: any of: *.rs
  clippy: any of: *.rs
  verify-man: any of: *.rs
  verify-cli-docs: any of: *.rs
  prettier-format: any of: *.{md,yml,yaml}
  biome-check: any of: docs/.vitepress/**/*.{ts,js,json} and ^docs/
